@media only screen and (max-width: 1600px) {
.lineCurve {
border: 0.75em solid silver;
}
}
@media only screen and (max-width: 1152px) {
.lineCurve {
border: 0.5em solid silver;
}
@media only screen and (max-width: 1024px) {
#lineCurve1 {
border-top-right-radius: 50px;
}
#lineCurve2 {
border-bottom-left-radius: 50px;
}
#liveCurve3 {
border-top-left-radius: 50px;
}
#lineCurve4 {
border-bottom-right-radius: 50px;
}
}