.heading {
background-color: red;
color: white;
}
.stationLinks {
background-color: red;
color: white;
width: 12%;
}
#centralLineStation1 {
top: 29%;
left: 8%;
}
#centralLineStation2 {
top: 29%;
left: 20%;
}
#centralLineStation3 {
top: 29%;
left: 32%;
}
#centralLineStation4 {
top: 29%;
left: 44%;
}
#centralLineStation5 {
top: 29%;
left: 56%;
}
#centralLineStation6 {
top: 29%;
left: 68%;
}
#centralLineStation7 {
top: 29%;
left: 80%;
}
#centralLineStation8 {
top: 35%;
left: 8%;
}
#centralLineStation9 {
top: 35%;
left: 20%;
}
#centralLineStation10 {
top: 35%;
left: 32%;
}
#centralLineStation11 {
top: 35%;
left: 44%;
}
#centralLineStation12 {
top: 35%;
left: 56%;
}
#centralLineStation13 {
top: 35%;
left: 68%;
}
#centralLineStation14 {
top: 35%;
left: 80%;
}
#centralLineStation15 {
top: 41%;
left: 8%;
}
#centralLineStation16 {
top: 41%;
left: 20%;
}
#centralLineStation17 {
top: 41%;
left: 32%;
}
#centralLineStation18 {
top: 41%;
left: 44%;
}
#centralLineStation19 {
top: 41%;
left: 56%;
}
#centralLineStation20 {
top: 41%;
left: 68%;
}
#centralLineStation21 {
top: 41%;
left: 80%;
}
#centralLineStation22 {
top: 47%;
left: 8%;
}
#centralLineStation23 {
top: 47%;
left: 20%;
}
#centralLineStation24 {
top: 47%;
left: 32%;
}
#centralLineStation25 {
top: 47%;
left: 44%;
}
#centralLineStation26 {
top: 47%;
left: 56%;
}
#centralLineStation27 {
top: 47%;
left: 68%;
}
#centralLineStation28 {
top: 47%;
left: 80%;
}
#centralLineStation29 {
top: 53%;
left: 8%;
}
#centralLineStation30 {
top: 53%;
left: 20%;
}
#centralLineStation31 {
top: 53%;
left: 32%;
}
#centralLineStation32 {
top: 53%;
left: 44%;
}
#centralLineStation33 {
top: 53%;
left: 56%;
}
#centralLineStation34 {
top: 53%;
left: 68%;
}
#centralLineStation35 {
top: 53%;
left: 80%;
}
#centralLineStation36 {
top: 59%;
left: 8%;
}
#centralLineStation37 {
top: 59%;
left: 20%;
}
#centralLineStation38 {
top: 59%;
left: 32%;
}
#centralLineStation39 {
top: 59%;
left: 44%;
}
#centralLineStation40 {
top: 59%;
left: 56%;
}
#centralLineStation41 {
top: 59%;
left: 68%;
}
#centralLineStation42 {
top: 59%;
left: 80%;
}
#centralLineStation43 {
top: 65%;
left: 8%;
}
#centralLineStation44 {
top: 65%;
left: 20%;
}
#centralLineStation45 {
top: 65%;
left: 32%;
}
#centralLineStation46 {
top: 65%;
left: 44%;
}
#centralLineStation47 {
top: 65%;
left: 56%;
}
#centralLineStation48 {
top: 65%;
left: 68%;
}
#centralLineStation49 {
top: 65%;
left: 80%;
}
#exitLink1 {
top: 81%;
left: 42%;
}