.heading {
background-color: red;
color: white;
width: 390%;
}
.nonInterchange {
background-color: red;
}
.lineEnd {
background-color: red;
}
.westRuislipBranchStnsTopPosition {
top: 33.3%;
}
.westRuislipBranchStnsOneLine {
top: 27%;
}
.westRuislipBranchStnsTwoLines {
top: 24%;
}
.westRuislipBranchNrLogo {
top: 20%;
}
.northActonToEppingStnsTopPosition {
top: 53.3%;
}
.northActonToEppingStnsOneLine {
top: 47%;
}
.northActonToEppingStnsTwoLines {
top: 44%;
}
#interchange1 {
left: 4.5%;
}
#nrLogo1 {
left: 4.8%;
}
#stn1Name {
left: 4.1%;
}
#nonInterchange1 {
left: 15%;
}
#stn2Name {
left: 13.1%;
}
#interchange2 {
left: 25%;
}
#nrLogo2 {
left: 25.3%;
}
#stn3Name {
left: 24.6%;
}
#interchange3 {
left: 35%;
}
#nrLogo3 {
left: 35.3%;
}
#stn4Name {
left: 34%;
}
#interchange4 {
left: 45%;
}
#nrLogo4 {
left: 45.3%;
}
#stn5Name {
left: 43.5%;
}
#nonInterchange2 {
left: 55%;
}
#stn6Name {
left: 53.1%;
}
#nonInterchange3 {
left: 65%;
}
#stn7Name {
left: 63.3%;
}
#nonInterchange4 {
top: 73.3%;
left: 65%;
}
#stn8Name {
top: 64%;
left: 63.7%;
}
#interchange5 {
top: 73.3%;
left: 54.5%;
}
#nrLogo5 {
top: 60%;
left: 54.8%;
}
#stn9Name {
top: 64%;
left: 53%;
}
#crossrail1 {
top: 80%;
left: 51.6%;
}
#district1 {
top: 89%;
left: 52.1%;
}
#nonInterchange5 {
left: 85%;
}
#stn10Name {
left: 83.7%;
}
#nonInterchange6 {
left: 95%;
}
#stn11Name {
left: 93.7%;
}
#interchange6 {
left: 105%;
}
#stn12Name {
left: 104.7%;
}
#circle1 {
top: 60%;
left: 102.6%;
}
#hsmith1 {
top: 63%;
left: 102.6%;
}
#interchange7 {
left: 115%;
}
#nrLogo6 {
top: 40%;
left: 115.3%;
}
#stn13Name {
left: 113.3%;
}
#londonOverground1 {
top: 60%;
left: 112.1%;
}
#nonInterchange7 {
left: 125%;
}
#stn14Name {
left: 123.1%;
}
#interchange8 {
left: 135%;
}
#stn15Name {
width: 8%;
left: 132.4%;
}
#circle2 {
top: 60%;
left: 132.6%;
}
#district2 {
top: 63%;
left: 132.6%;
}
#nonInterchange8 {
left: 145%;
}
#stn16Name {
left: 142%;
}
#nonInterchange9 {
left: 155%;
}
#stn17Name {
left: 152.5%;
}
#nonInterchange10 {
left: 165%;
}
#stn18Name {
left: 163.4%;
}
#interchange9 {
left: 175%;
}
#stn19Name {
left: 174.7%;
}
#crossrail2 {
top: 60%;
left: 172.1%;
}
#jubilee1 {
top: 69%;
left: 172.6%;
}
#interchange10 {
left: 185%;
}
#stn20Name {
left: 184.4%;
}
#bakerloo1 {
top: 60%;
left: 182.6%;
}
#victoria1 {
top: 63%;
left: 182.6%;
}
#interchange11 {
left: 195%;
}
#stn21Name {
width: 9%;
left: 191.8%;
}
#crossrail3 {
top: 60%;
left: 192.1%;
}
#northern1 {
top: 69%;
left: 192.6%;
}
#interchange12 {
left: 205%;
}
#stn22Name {
left: 204%;
}
#piccadilly1 {
top: 60%;
left: 202.6%;
}
#nonInterchange11 {
left: 215%;
}
#stn23Name {
left: 212.7%;
}
#nonInterchange12 {
left: 225%;
}
#stn24Name {
left: 223%;
width: 5%;
}
#interchange13 {
left: 235%;
}
#stn25Name {
left: 234.9%;
}
#circle3 {
top: 60%;
left: 232.6%;
}
#district3 {
top: 63%;
left: 232.6%;
}
#dlr1 {
top: 66%;
left: 232.1%;
}
#northern2 {
top: 75%;
left: 232.6%;
}
#wloo1 {
top: 78%;
left: 232.6%;
}
#interchange14 {
left: 245%;
}
#nrLogo7 {
top: 40%;
left: 245.3%;
}
#stn26Name {
left: 243.7%;
}
#circle4 {
top: 60%;
left: 242.6%;
}
#crossrail4 {
top: 63%;
left: 242.1%;
}
#hsmith2 {
top: 72%;
left: 242.6%;
}
#metropolitan1 {
top: 78%;
left: 242.6%;
}
#londonOverground2 {
top: 81%;
left: 242.1%;
}
#nonInterchange13 {
left: 255%;
}
#stn27Name {
left: 253.1%;
}
#interchange15 {
left: 265%;
}
#stn28Name {
left: 265.2%;
}
#district4 {
top: 60%;
left: 262.6%;
}
#hsmith3 {
top: 63%;
left: 262.6%;
}
#interchange16 {
left: 275%;
}
#nrLogo8 {
top: 40%;
left: 275.3%;
}
#stn29Name {
left: 273.9%;
}
#crossrail5 {
top: 60%;
left: 272.1%;
}
#dlr2 {
top: 69%;
left: 272.1%;
}
#jubilee2 {
top: 78%;
left: 272.6%;
}
#londonOverground3 {
top: 81%;
left: 272.1%;
}
#nonInterchange14 {
left: 285%;
}
#stn30Name {
left: 283.6%;
}
#nonInterchange15 {
left: 295%;
}
#stn31Name {
left: 291.8%;
}
#nonInterchange16 {
left: 310%;
}
#stn32Name {
left: 306.8%;
}
#nonInterchange17 {
left: 320%;
}
#stn33Name {
left: 317.3%;
}
#nonInterchange18 {
left: 330%;
}
#stn34Name {
left: 327.3%;
}
#nonInterchange19 {
top: 65%;
left: 305.7%;
}
#stn35Name {
top: 62%;
left: 309%;
}
#nonInterchange20 {
top: 73%;
left: 305.7%;
}
#stn36Name {
top: 70%;
left: 309%;
}
#nonInterchange21 {
top: 81%;
left: 305.7%;
}
#stn37Name {
top: 78%;
left: 308.7%;
width: 6%;
}
#nonInterchange22 {
top: 93.3%;
left: 312%;
}
#stn38Name {
top: 84%;
left: 309.8%;
}
#nonInterchange23 {
top: 93.3%;
left: 322%;
}
#stn39Name {
top: 87%;
left: 318.9%;
}
#nonInterchange24 {
top: 93.3%;
left: 332%;
}
#stn40Name {
top: 87%;
left: 330.5%;
}
#nonInterchange25 {
top: 84%;
left: 339%;
}
#stn41Name {
top: 81%;
left: 332.4%;
}
#nonInterchange26 {
top: 78%;
left: 339%;
}
#stn42Name {
top: 75%;
left: 330%;
width: 8%;
}
#nonInterchange27 {
top: 72%;
left: 339%;
}
#stn43Name {
top: 69%;
left: 332.2%;
}
#nonInterchange28 {
top: 66%;
left: 339%;
}
#stn44Name {
top: 62.6%;
left: 328.3%;
width: 10%;
}
#nonInterchange29 {
left: 345%;
}
#stn45Name {
left: 342.5%;
}
#nonInterchange30 {
left: 355%;
}
#stn46Name {
left: 352.6%;
}
#nonInterchange31 {
left: 365%;
}
#stn47Name {
left: 363%;
}
#nonInterchange32 {
left: 375%;
}
#stn48Name {
left: 372.9%;
}
#lineEnd1 {
top: 53%;
left: 385%;
}
#stn49Name {
left: 383.5%;
}
#exitLink1 {
top: 60%;
left: 10%;
}
#exitLink2 {
top: 25%;
left: 110%;
}
#exitLink3 {
top: 25%;
left: 240%;
}
#exitLink4 {
top: 25%;
left: 375%;
}