@media only screen and (max-width: 1680px) {
#nrLogo1 {
left: 4.6%;
}
#stn1Name {
left: 3.8%;
}
#stn2Name {
left: 12.7%;
}
#nrLogo2 {
left: 25.1%;
}
#stn3Name {
left: 24.3%;
}
#nrLogo3 {
left: 35.1%;
}
#stn4Name {
left: 33.6%;
}
#nrLogo4 {
left: 45.1%;
}
#stn5Name {
left: 43.1%;
}
#stn6Name {
left: 52.8%;
}
#stn7Name {
left: 63%;
}
#stn8Name {
left: 63.4%;
}
#nrLogo5 {
left: 54.6%;
}
#stn9Name {
left: 52.6%;
}
#stn10Name {
left: 83.4%;
}
#stn11Name {
left: 93.4%;
}
#nrLogo6 {
left: 115.1%;
}
#stn12Name {
left: 104.4%;
}
#stn13Name {
left: 112.9%;
}
#stn14Name {
left: 122.8%;
}
#stn15Name {
left: 132.3%;
}
#stn16Name {
left: 141.5%;
}
#stn17Name {
left: 152.2%;
}
#stn18Name {
left: 163.1%;
}
#stn19Name {
left: 174.4%;
}
#stn20Name {
left: 184.1%;
}
#stn22Name {
left: 203.7%;
}
#stn23Name {
left: 212.4%;
}
#stn24Name {
left: 222.4%;
width: 6%;
}
#stn25Name {
left: 234.7%;
}
#nrLogo7 {
left: 245.1%;
}
#stn26Name {
left: 243.3%;
}
#stn27Name {
left: 252.9%;
}
#stn28Name {
left: 265%;
}
#nrLogo8 {
left: 275.1%;
}
#stn29Name {
left: 273.6%;
}
#stn30Name {
left: 283.3%;
}
#stn31Name {
left: 291.4%;
}
#stn32Name {
left: 306.2%;
}
#stn33Name {
left: 316.9%;
}
#stn34Name {
left: 326.9%;
}
#nonInterchange19 {
left: 305.9%;
}
#stn35Name {
top: 61.8%;
}
#nonInterchange20 {
left: 305.9%;
}
#stn36Name {
top: 69.8%;
}
#nonInterchange21 {
left: 305.9%;
}
#stn37Name {
top: 77.8%;
left: 308.6%;
width: 7%;
}
#stn38Name {
left: 309.4%;
}
#stn39Name {
left: 318.5%;
}
#stn40Name {
left: 330.3%;
}
#nonInterchange25 {
left: 338.8%;
}
#stn41Name {
top: 80.8%;
left: 331.5%;
}
#nonInterchange26 {
left: 338.8%;
}
#stn42Name {
top: 74.8%;
left: 329.3%;
}
#nonInterchange27 {
left: 338.8%;
}
#stn43Name {
top: 68.8%;
left: 331.4%;
}
#nonInterchange28 {
left: 338.8%;
}
#stn44Name {
top: 62.3%;
left: 327.7%;
}
#stn45Name {
left: 342.1%;
}
#stn46Name {
left: 352.3%;
}
#stn47Name {
left: 362.7%;
}
#stn48Name {
left: 372.6%;
}
#lineEnd1 {
left: 385.2%;
}
#stn49Name {
left: 383.4%;
}
}
@media only screen and (max-width: 1600px) {
.westRuislipBranchStnsTopPosition {
top: 33.8%;
}
.westRuislipBranchStnsOneLine {
top: 28%;
}
.westRuislipBranchStnsTwoLines {
top: 25%;
}
.northActonToEppingStnsTopPosition {
top: 53.7%;
}
.northActonToEppingStnsOneLine {
top: 48%;
}
.northActonToEppingStnsTwoLines {
top: 45%;
}
#nrLogo1 {
left: 4.1%;
}
#stn1Name {
left: 3.7%;
}
#stn2Name {
left: 13.1%;
}
#nrLogo2 {
left: 24.6%;
}
#stn3Name {
left: 24.2%;
}
#nrLogo3 {
left: 34.6%;
}
#stn4Name {
left: 33.7%;
}
#nrLogo4 {
left: 44.6%;
}
#stn6Name {
left: 53.2%;
}
#stn7Name {
left: 63.3%;
}
#nonInterchange4 {
top: 73.8%;
}
#stn8Name {
top: 65%;
left: 63.7%;
}
#interchange5 {
top: 73.8%;
}
#nrLogo5 {
left: 54.1%;
}
#stn9Name {
top: 65%;
left: 52.8%;
}
#crossrail1 {
top: 79%;
left: 51.3%;
}
#district1 {
top: 88%;
left: 51.8%;
}
#stn10Name {
left: 83.7%;
}
#stn11Name {
left: 93.7%;
}
#circle1 {
top: 59%;
left: 102.3%;
}
#hsmith1 {
top: 62%;
left: 102.3%;
}
#nrLogo6 {
left: 114.6%;
}
#stn13Name {
left: 113.1%;
}
#londonOverground1 {
top: 59%;
left: 111.8%;
}
#stn14Name {
left: 123.2%;
}
#stn15Name {
left: 132.1%;
}
#circle2 {
top: 59%;
left: 132.3%;
}
#district2 {
top: 62%;
left: 132.3%;
}
#stn16Name {
left: 142%;
}
#stn17Name {
left: 152.6%;
}
#stn18Name {
left: 163.4%;
}
#stn19Name {
left: 174.3%;
}
#crossrail2 {
top: 59%;
left: 171.8%;
}
#jubilee1 {
top: 68%;
left: 172.3%;
}
#stn20Name {
left: 184%;
}
#bakerloo1 {
top: 59%;
left: 182.3%;
}
#victoria1 {
top: 62%;
left: 182.3%;
}
#stn21Name {
left: 191.4%;
}
#crossrail3 {
top: 59%;
left: 191.8%;
}
#northern1 {
top: 68%;
left: 192.3%;
}
#piccadilly1 {
top: 59%;
left: 202.3%;
}
#stn23Name {
left: 212.8%;
}
#stn25Name {
left: 234.6%;
}
#circle3 {
top: 59%;
left: 232.3%;
}
#district3 {
top: 62%;
left: 232.3%;
}
#dlr1 {
top: 65%;
left: 231.8%;
}
#northern2 {
top: 74%;
left: 232.3%;
}
#wloo1 {
top: 77%;
left: 232.3%;
}
#nrLogo7 {
left: 244.6%;
}
#stn26Name {
left: 243.4%;
}
#circle4 {
top: 59%;
left: 242.3%;
}
#crossrail4 {
top: 62%;
left: 241.8%;
}
#hsmith2 {
top: 71%;
left: 242.3%;
}
#metropolitan1 {
top: 77%;
left: 242.3%;
}
#londonOverground2 {
top: 80%;
left: 241.8%;
}
#stn27Name {
left: 253.2%;
}
#stn28Name {
left: 264.8%;
}
#district4 {
top: 59%;
left: 262.3%;
}
#hsmith3 {
top: 62%;
left: 262.3%;
}
#nrLogo8 {
left: 274.6%;
}
#stn29Name {
left: 273.7%;
}
#crossrail5 {
top: 59%;
left: 271.8%;
}
#dlr2 {
top: 68%;
left: 271.8%;
}
#jubilee2 {
top: 77%;
left: 272.3%;
}
#londonOverground3 {
top: 80%;
left: 271.8%;
}
#stn30Name {
left: 283.5%;
}
#stn31Name {
left: 291.8%;
}
#stn32Name {
left: 306.7%;
}
#stn33Name {
left: 317.2%;
}
#stn34Name {
left: 327.2%;
}
#nonInterchange19 {
left: 305.5%;
}
#stn35Name {
left: 308%;
}
#nonInterchange20 {
left: 305.5%;
}
#stn36Name {
left: 308%;
}
#nonInterchange21 {
left: 305.5%;
}
#stn37Name {
left: 307%;
}
#nonInterchange22 {
top: 93.8%;
}
#stn38Name {
top: 85%;
left: 309.8%;
}
#nonInterchange23 {
top: 93.8%;
left: 322%;
}
#stn39Name {
top: 88%;
left: 319%;
}
#nonInterchange24 {
top: 93.8%;
left: 332%;
}
#stn40Name {
top: 88%;
left: 330.5%;
}
#nonInterchange25 {
left: 339.2%;
}
#stn41Name {
left: 333%;
}
#nonInterchange26 {
left: 339.2%;
}
#stn42Name {
left: 330.5%;
}
#nonInterchange27 {
left: 339.2%;
}
#stn43Name {
top: 68.8%;
left: 332.7%;
}
#nonInterchange28 {
left: 339.2%;
}
#stn44Name {
top: 62.4%;
left: 328.7%;
}
#stn45Name {
left: 342.5%;
}
#stn46Name {
left: 352.6%;
}
#stn47Name {
left: 363.1%;
}
#stn48Name {
left: 372.9%;
}
#lineEnd1 {
top: 53.4%;
}
#stn49Name {
left: 383.6%;
}
}
@media only screen and (max-width: 1440px) {
#nrLogo1 {
left: 4%;
}
#stn1Name {
left: 3.5%;
}
#stn2Name {
left: 12.9%;
}
#nrLogo2 {
left: 24.5%;
}
#stn3Name {
left: 24.1%;
}
#nrLogo3 {
left: 34.5%;
}
#stn4Name {
left: 33.5%;
}
#nrLogo4 {
left: 44.5%;
}
#stn5Name {
left: 42.8%;
}
#stn6Name {
left: 53%;
}
#stn7Name {
left: 63.1%;
}
#stn8Name {
left: 63.6%;
}
#nrLogo5 {
left: 54%;
}
#stn9Name {
left: 52.6%;
}
#stn10Name {
left: 83.6%;
}
#stn11Name {
left: 93.6%;
}
#stn12Name {
left: 104.3%;
}
#nrLogo6 {
left: 114.5%;
}
#stn13Name {
left: 112.7%;
}
#stn14Name {
left: 123%;
}
#stn15Name {
left: 131.9%;
}
#stn16Name {
left: 141.7%;
}
#stn17Name {
left: 152.4%;
}
#stn18Name {
left: 163.2%;
}
#stn19Name {
left: 174.1%;
}
#stn20Name {
left: 183.9%;
}
#stn22Name {
left: 203.5%;
}
#stn23Name {
left: 212.5%;
}
#stn25Name {
left: 234.5%;
}
#nrLogo7 {
left: 244.5%;
}
#stn26Name {
left: 243.1%;
}
#stn27Name {
left: 253%;
}
#stn28Name {
left: 264.7%;
}
#nrLogo8 {
left: 274.5%;
}
#stn29Name {
left: 273.4%;
}
#stn30Name {
left: 283.3%;
}
#stn31Name {
left: 291.5%;
}
#stn32Name {
left: 306.5%;
}
#stn33Name {
left: 317%;
}
#stn34Name {
left: 327%;
}
#nonInterchange19 {
left: 305.6%;
}
#nonInterchange20 {
left: 305.6%;
}
#nonInterchange21 {
left: 305.6%;
}
#stn37Name {
left: 307.5%;
}
#stn38Name {
left: 309.5%;
}
#stn39Name {
left: 318.9%;
}
#stn40Name {
left: 330.4%;
}
#stn41Name {
left: 332.9%;
}
#stn43Name {
left: 332.5%;
}
#stn45Name {
left: 342.3%;
}
#stn46Name {
left: 352.4%;
}
#stn47Name {
left: 362.9%;
}
#stn48Name {
left: 372.7%;
}
#stn49Name {
left: 383.5%;
}
}
@media only screen and (max-width: 1366px) {
.westRuislipBranchStnsOneLine {
top: 27%;
}
.westRuislipBranchStnsTwoLines {
top: 23.5%;
}
.northActonToEppingStnsOneLine {
top: 47%;
}
.northActonToEppingStnsTwoLines {
top: 43.5%;
}
#nrLogo1 {
left: 3.9%;
}
#stn1Name {
left: 3.4%;
}
#stn2Name {
left: 12.7%;
}
#nrLogo2 {
left: 24.4%;
}
#stn3Name {
left: 24%;
}
#nrLogo3 {
left: 34.4%;
}
#stn4Name {
left: 33.3%;
}
#nrLogo4 {
left: 44.4%;
}
#stn5Name {
left: 42.6%;
}
#stn6Name {
left: 52.9%;
}
#stn7Name {
left: 63%;
}
#stn8Name {
top: 64%;
left: 63.4%;
}
#nrLogo5 {
left: 53.9%;
}
#stn9Name {
top: 64%;
left: 52.3%;
}
#stn10Name {
left: 83.4%;
}
#stn11Name {
left: 93.4%;
}
#stn12Name {
left: 104.1%;
}
#nrLogo6 {
left: 114.4%;
}
#stn13Name {
left: 112.4%;
}
#stn14Name {
left: 122.8%;
}
#stn15Name {
left: 132.1%;
}
#stn16Name {
left: 141.5%;
}
#stn17Name {
left: 152.2%;
}
#stn18Name {
left: 163.1%;
}
#stn19Name {
left: 173.9%;
}
#stn20Name {
left: 183.8%;
}
#stn22Name {
left: 203.3%;
}
#stn23Name {
left: 212.3%;
}
#stn25Name {
left: 234.4%;
}
#nrLogo7 {
left: 244.4%;
}
#stn26Name {
left: 242.9%;
}
#stn27Name {
left: 252.9%;
}
#stn28Name {
left: 264.6%;
}
#nrLogo8 {
left: 274.4%;
}
#stn29Name {
left: 273.2%;
}
#stn30Name {
left: 283.2%;
}
#stn31Name {
left: 291.3%;
}
#stn32Name {
left: 306.4%;
}
#stn33Name {
left: 316.8%;
}
#stn34Name {
left: 326.8%;
}
#stn35Name {
top: 61%;
}
#stn36Name {
top: 69%;
}
#stn37Name {
top: 77%;
}
#stn38Name {
top: 84%;
left: 309.3%;
}
#stn39Name {
top: 87%;
left: 318.6%;
}
#stn40Name {
top: 87%;
left: 330.3%;
}
#stn41Name {
top: 80%;
}
#stn42Name {
top: 74%;
}
#stn43Name {
top: 68%;
}
#stn44Name {
top: 61.5%;
}
#stn45Name {
left: 342%;
}
#stn46Name {
left: 352.1%;
}
#stn47Name {
left: 362.7%;
}
#stn48Name {
left: 372.5%;
}
#lineEnd1 {
top: 53.6%;
}
#stn49Name {
left: 383.2%;
}
}
@media only screen and (max-width: 1280px) {
#nrLogo1 {
left: 3.8%;
}
#stn2Name {
left: 12.6%;
}
#nrLogo2 {
left: 24.3%;
}
#stn3Name {
left: 23.9%;
}
#nrLogo3 {
left: 34.3%;
}
#stn4Name {
left: 33.2%;
}
#nrLogo4 {
left: 44.3%;
}
#stn5Name {
left: 42.5%;
}
#stn6Name {
left: 52.8%;
}
#stn7Name {
left: 62.9%;
}
#stn8Name {
left: 63.3%;
}
#nrLogo5 {
left: 53.8%;
}
#stn9Name {
left: 52.1%;
}
#stn10Name {
left: 83.3%;
}
#stn11Name {
left: 93.3%;
}
#stn12Name {
left: 104%;
}
#nrLogo6 {
left: 114.3%;
}
#stn13Name {
left: 112.3%;
}
#stn14Name {
left: 122.7%;
}
#stn15Name {
left: 132%;
}
#stn16Name {
left: 141.3%;
}
#stn17Name {
left: 152.1%;
}
#stn18Name {
left: 163%;
}
#stn20Name {
left: 183.7%;
}
#stn22Name {
left: 203.2%;
}
#stn23Name {
left: 212.2%;
}
#stn25Name {
left: 234.3%;
}
#nrLogo7 {
left: 244.3%;
}
#stn26Name {
left: 242.7%;
}
#stn27Name {
left: 252.7%;
}
#stn28Name {
left: 264.5%;
}
#nrLogo8 {
left: 274.3%;
}
#stn29Name {
left: 273.1%;
}
#stn30Name {
left: 283%;
}
#stn31Name {
left: 291%;
}
#stn32Name {
left: 306.1%;
}
#stn33Name {
left: 316.6%;
}
#stn34Name {
left: 326.6%;
}
#stn35Name {
top: 61.2%;
}
#stn36Name {
top: 69.2%;
}
#stn37Name {
top: 77.2%;
left: 307.8%;
}
#stn38Name {
left: 309.2%;
}
#stn39Name {
left: 318.3%;
}
#stn40Name {
left: 330.1%;
}
#stn41Name {
top: 80.2%;
left: 331.3%;
}
#stn42Name {
top: 74.2%;
left: 329.2%;
}
#stn43Name {
top: 68.2%;
left: 330.9%;
}
#stn44Name {
top: 61.7%;
left: 327.4%;
}
#stn45Name {
left: 341.9%;
}
#stn46Name {
left: 352%;
}
#stn47Name {
left: 362.5%;
}
#stn48Name {
left: 372.3%;
}
#stn49Name {
left: 383%;
}
}
@media only screen and (max-width: 1152px) {
.westRuislipBranchStnsTopPosition {
top: 34.2%;
}
.westRuislipBranchStnsOneLine {
top: 29%;
}
.westRuislipBranchStnsTwoLines {
top: 26%;
}
.westRuislipBranchNrLogo {
top: 22%;
}
.northActonToEppingStnsTopPosition {
top: 54.2%;
}
.northActonToEppingStnsOneLine {
top: 49%;
}
.northActonToEppingStnsTwoLines {
top: 46%;
}
#nrLogo1 {
left: 3.4%;
}
#stn1Name {
left: 3.3%;
}
#nrLogo2 {
left: 23.9%;
}
#stn3Name {
left: 23.7%;
}
#nrLogo3 {
left: 33.9%;
}
#stn4Name {
left: 33%;
}
#nrLogo4 {
left: 43.9%;
}
#stn5Name {
left: 42.4%;
}
#stn6Name {
left: 52.7%;
}
#nonInterchange4 {
top: 74.2%;
}
#stn8Name {
top: 66%;
}
#interchange5 {
top: 74.2%;
}
#nrLogo5 {
top: 62%;
left: 53.4%;
}
#stn9Name {
top: 66%;
left: 52%;
}
#crossrail1 {
top: 78%;
left: 51%;
}
#district1 {
top: 87%;
left: 51.5%;
}
#stn12Name {
left: 103.9%;
}
#circle1 {
top: 58%;
left: 102%;
}
#hsmith1 {
top: 61%;
left: 102%;
}
#nrLogo6 {
left: 113.9%;
}
#londonOverground1 {
top: 58%;
left: 111.5%;
}
#stn15Name {
left: 131.8%;
}
#circle2 {
top: 58%;
left: 132%;
}
#district2 {
top: 61%;
left: 132%;
}
#crossrail2 {
top: 58%;
left: 171.5%;
}
#jubilee1 {
top: 67%;
left: 172%;
}
#stn20Name {
left: 183.6%;
}
#bakerloo1 {
top: 58%;
left: 182%;
}
#victoria1 {
top: 61%;
left: 182%;
}
#stn21Name {
left: 191.2%;
}
#crossrail3 {
top: 58%;
left: 191.5%;
}
#northern1 {
top: 67%;
left: 192%;
}
#stn22Name {
left: 203.1%;
}
#piccadilly1 {
top: 58%;
left: 202%;
}
#stn24Name {
left: 222.3%;
}
#stn25Name {
left: 234.2%;
}
#circle3 {
top: 58%;
left: 232%;
}
#district3 {
top: 61%;
left: 232%;
}
#dlr1 {
top: 64%;
left: 231.5%;
}
#northern2 {
top: 73%;
left: 232%;
}
#wloo1 {
top: 76%;
left: 232%;
}
#nrLogo7 {
left: 243.9%;
}
#circle4 {
top: 58%;
left: 241.9%;
}
#crossrail4 {
top: 61%;
left: 241.5%;
}
#hsmith2 {
top: 70%;
left: 242%;
}
#metropolitan1 {
top: 76%;
left: 242%;
}
#londonOverground2 {
top: 79%;
left: 241.5%;
}
#district4 {
top: 58%;
left: 262%;
}
#hsmith3 {
top: 61%;
left: 262%;
}
#nrLogo8 {
left: 273.9%;
}
#stn29Name {
left: 273%;
}
#crossrail5 {
top: 58%;
left: 271.5%;
}
#dlr2 {
top: 67%;
left: 271.5%;
}
#jubilee2 {
top: 76%;
left: 272%;
}
#londonOverground3 {
top: 79%;
left: 271.5%;
}
#stn35Name {
top: 62%;
}
#stn36Name {
top: 70%;
}
#stn37Name {
top: 78%;
left: 307.6%;
}
#nonInterchange22 {
top: 94.2%;
}
#stn38Name {
top: 86%;
}
#nonInterchange23 {
top: 94.2%;
}
#stn39Name {
top: 89%;
}
#nonInterchange24 {
top: 94.2%;
}
#stn40Name {
top: 89%;
}
#nonInterchange25 {
left: 339.4%;
}
#stn41Name {
top: 81%;
}
#nonInterchange26 {
left: 339.4%;
}
#stn42Name {
top: 75%;
left: 329%;
}
#nonInterchange27 {
left: 339.4%;
}
#stn43Name {
top: 69%;
left: 331%;
}
#nonInterchange28 {
left: 339.4%;
}
#stn44Name {
top: 62.5%;
left: 327.3%;
}
#lineEnd1 {
top: 54.1%;
}
}
@media only screen and (max-width: 1024px) {
.westRuislipBranchStnsOneLine {
top: 28.5%;
}
.westRuislipBranchStnsTwoLines {
top: 25.5%;
}
.northActonToEppingStnsOneLine {
top: 48.5%;
}
.northActonToEppingStnsTwoLines {
top: 45.5%;
}
#nrLogo1 {
left: 3.1%;
}
#stn1Name {
left: 3.1%;
}
#stn2Name {
left: 12.3%;
}
#nrLogo2 {
left: 23.6%;
}
#stn3Name {
left: 23.5%;
}
#nrLogo3 {
left: 33.6%;
}
#stn4Name {
left: 32.8%;
}
#nrLogo4 {
left: 43.6%;
}
#stn5Name {
left: 42.1%;
}
#stn6Name {
left: 52.4%;
}
#stn7Name {
left: 62.7%;
}
#stn8Name {
top: 65.5%;
left: 63.2%;
}
#nrLogo5 {
left: 53.1%;
}
#stn9Name {
top: 65.5%;
left: 51.8%;
}
#stn10Name {
left: 83.2%;
}
#stn11Name {
left: 93.2%;
}
#stn12Name {
left: 103.7%;
}
#nrLogo6 {
left: 113.6%;
}
#stn13Name {
left: 112.1%;
}
#stn14Name {
left: 122.5%;
}
#stn16Name {
left: 141.1%;
}
#stn17Name {
left: 151.9%;
}
#stn18Name {
left: 162.9%;
}
#stn19Name {
left: 173.7%;
}
#stn20Name {
left: 183.4%;
}
#stn22Name {
left: 202.9%;
}
#stn23Name {
left: 211.9%;
}
#stn24Name {
left: 222.2%;
}
#stn25Name {
left: 234%;
}
#nrLogo7 {
left: 243.6%;
}
#stn26Name {
left: 242.4%;
}
#stn27Name {
left: 252.5%;
}
#stn28Name {
left: 264.3%;
}
#nrLogo8 {
left: 273.6%;
}
#stn29Name {
left: 272.7%;
}
#stn30Name {
left: 282.8%;
}
#stn31Name {
left: 290.7%;
}
#stn32Name {
left: 305.9%;
}
#stn33Name {
left: 316.3%;
}
#stn34Name {
left: 326.3%;
}
#stn35Name {
top: 61.5%;
}
#stn36Name {
top: 69.5%;
}
#stn37Name {
top: 77.5%;
left: 307.9%;
}
#stn38Name {
top: 85.5%;
left: 309%;
}
#stn39Name {
top: 88.5%;
left: 318.1%;
}
#stn40Name {
top: 88.5%;
left: 330%;
}
#stn41Name {
top: 80.5%;
}
#stn42Name {
top: 74.5%;
left: 328.8%;
width: 9%;
}
#stn43Name {
top: 68.5%;
}
#stn44Name {
top: 62%;
left: 327.4%;
}
#stn45Name {
left: 341.6%;
}
#stn46Name {
left: 351.7%;
}
#stn47Name {
left: 362.3%;
}
#stn48Name {
left: 372.1%;
}
#stn49Name {
left: 382.8%;
}
}
@media only screen and (max-width: 800px) {
.westRuislipBranchStnsOneLine {
top: 28%;
}
.westRuislipBranchStnsTwoLines {
top: 25%;
}
.westRuislipBranchNrLogo {
top: 19%;
}
.northActonToEppingStnsOneLine {
top: 47.5%;
}
.northActonToEppingStnsTwoLines {
top: 44.5%;
}
#nrLogo1 {
left: 2.6%;
}
#stn1Name {
left: 3%;
}
#stn2Name {
left: 12.2%;
}
#nrLogo2 {
left: 23.1%;
}
#nrLogo3 {
left: 33.1%;
}
#stn4Name {
left: 32.7%;
}
#nrLogo4 {
left: 43.1%;
}
#stn5Name {
left: 42%;
}
#stn6Name {
left: 52.3%;
}
#stn7Name {
left: 62.6%;
}
#stn8Name {
top: 64.5%;
left: 63.1%;
}
#nrLogo5 {
top: 60%;
left: 52.6%;
}
#stn9Name {
top: 64.5%;
left: 51.6%;
}
#stn10Name {
left: 83.1%;
}
#stn11Name {
left: 93.1%;
}
#nrLogo6 {
left: 113.1%;
}
#stn13Name {
left: 111.9%;
}
#stn14Name {
left: 122.4%;
}
#stn16Name {
left: 140.8%;
}
#stn17Name {
left: 151.7%;
}
#stn18Name {
left: 162.8%;
}
#nrLogo7 {
left: 243.1%;
}
#stn27Name {
left: 252.4%;
}
#nrLogo8 {
left: 273.1%;
}
#stn29Name {
left: 272.6%;
}
#stn32Name {
left: 305.7%;
}
#stn33Name {
left: 316.2%;
}
#stn34Name {
left: 326.2%;
}
#stn35Name {
top: 61.2%;
}
#stn36Name {
top: 69.2%;
}
#stn37Name {
top: 77.2%;
left: 307.7%;
width: 8%;
}
#stn38Name {
top: 85%;
left: 308.8%;
}
#stn39Name {
top: 88%;
left: 317.9%;
}
#stn40Name {
top: 88%;
left: 329.8%;
}
#stn41Name {
top: 80.5%;
}
#stn42Name {
top: 74.5%;
left: 328.7%;
}
#stn43Name {
top: 68.2%;
left: 330.8%;
}
#stn44Name {
top: 61.8%;
left: 326.8%;
width: 11%;
}
#stn45Name {
left: 341.5%;
}
#stn46Name {
left: 351.6%;
}
#stn47Name {
left: 362.2%;
}
#stn48Name {
left: 372%;
}
#stn49Name {
left: 382.7%;
}
}