.lineCurve {
position: absolute;
border: 1.2em solid red;
-webkit-box-sizing: 50%;
-moz-box-sizing: 50%;
-khtml-border-radius: 50%;
overflow: hidden;
}
#lineCurve1 {
width: 70%;
height: 10%; /* as the half of the width */
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 35%;
left: 5%;
}
#lineCurve2 {
width: 310%;
height: 10%; /* as the half of the width */
border-bottom-left-radius: 100px;
border-top: 0;
border-right: 0;
top: 45%;
left: 75%;
}
#lineCurve3 {
width: 9%;
height: 10%; /* as the half of the width */
border-top-left-radius: 100px;
border-bottom: 0;
border-right: 0;
top: 55%;
left: 75%;
}
#lineCurve4 {
width: 20%;
height: 10%; /* as the half of the width */
border-bottom-right-radius: 100px;
border-top: 0;
border-left: 0;
top: 65%;
left: 55%;
}
#lineCurve5 {
width: 10%;
height: 30%; /* as the half of the width */
border-top-right-radius: 50px;
border-bottom: 0;
border-left: 0;
top: 55.05%;
left: 295%;
}
#lineCurve6 {
width: 20%;
height: 10%; /* as the half of the width */
border-bottom-left-radius: 50px;
border-top: 0;
border-right: 0;
top: 85%;
left: 305%;
}
#lineCurve7 {
width: 15%;
height: 10%; /* as the half of the width */
border-bottom-right-radius: 50px;
border-top: 0;
border-left: 0;
top: 85%;
left: 325%;
}
#lineCurve8 {
width: 10%;
height: 30%; /* as the half of the width */
border-top-right-radius: 50px;
border-bottom: 0;
border-left: 0;
top: 55.05%;
left: 330%;
}