@media only screen and (max-width: 1680px) {
#stn1Name {
left: 2.8%;
}
#stn2Name {
left: 12.3%;
}
#stn3Name {
left: 22.4%;
}
#stn4Name {
left: 33.3%;
}
#stn5Name {
left: 43.2%;
}
#stn6Name {
left: 52.6%;
}
#stn7Name {
left: 63.8%;
}
#stn8Name {
left: 73.1%;
}
#nrLogo1 {
top: 20%;
left: 85.1%;
}
#stn9Name {
left: 83.5%;
}
#stn10Name {
left: 92.6%;
}
#stn11Name {
left: 102.6%;
}
#stn12Name {
left: 113.6%;
}
#stn13Name {
left: 123.4%;
}
#stn14Name {
left: 133.3%;
}
#stn15Name {
left: 133.4%;
}
#stn16Name {
left: 121.8%;
}
#stn17Name {
left: 113.1%;
}
#stn18Name {
left: 102.6%;
}
#stn19Name {
left: 92.2%;
}
#stn20Name {
left: 82%;
}
#stn21Name {
left: 72%;
}
#stn22Name {
left: 63.2%;
}
#nrLogo2 {
left: 45.1%;
}
#stn23Name {
left: 42.9%;
}
#nrLogo3 {
left: 45.1%;
}
#stn24Name {
left: 40.7%;
}
#stn25Name {
left: 22%;
}
#stn26Name {
left: 159.4%;
}
#stn27Name {
left: 168.4%;
}
#stn28Name {
left: 176.7%;
}
#stn29Name {
left: 189%;
}
#stn30Name {
left: 199.5%;
}
#stn31Name {
left: 207.8%;
}
#stn32Name {
left: 217.7%;
}
#stn33Name {
left: 226%;
}
#stn35Name {
left: 249.4%;
}
#stn36Name {
left: 258.2%;
}
#stn37Name {
left: 268.2%;
}
#stn38Name {
left: 278.1%;
}
#stn39Name {
left: 288.7%;
}
#stn40Name {
left: 297.9%;
}
#nrLogo4 {
left: 310.1%;
}
#stn41Name {
left: 306.7%;
}
#stn42Name {
left: 316.7%;
}
#stn43Name {
left: 327.4%;
}
#stn44Name {
left: 337.9%;
}
#nrLogo5 {
left: 350.1%;
}
#stn45Name {
left: 348.6%;
}
#stn46Name {
left: 358.3%;
}
#stn47Name {
left: 367.7%;
}
#stn48Name {
left: 378.4%;
}
#stn49Name {
left: 388%;
}
#stn50Name {
left: 398.5%;
}
#stn51Name {
left: 407%;
}
#stn52Name {
left: 417.2%;
}
#lineEnd2 {
left: 430.2%;
}
#stn53Name {
left: 426.4%;
}
}
@media only screen and (max-width: 1600px) {
.uxbridgeBranchStnsTopPosition {
top: 33.8%;
}
.uxbridgeBranchStnsOneLine {
top: 28%;
}
.uxbridgeBranchStnsTwoLines {
top: 25%;
}
.heathrowBranchStnsTopPosition {
top: 83.8%;
}
.heathrowBranchStnsOneLine {
top: 78%;
}
.heathrowBranchStnsTwoLines {
top: 75%;
}
.actonTownToCockfostersStnsTopPosition {
top: 53.8%;
}
.actonTownToCockfostersStnsOneLine {
top: 48%;
}
.actonTownToCockfostersStnsTwoLines {
top: 45%;
}
#metropolitan1 {
top: 39%;
left: 1.8%;
}
#stn2Name {
left: 12.7%;
}
#stn3Name {
left: 22.6%;
}
#stn4Name {
left: 33.5%;
}
#stn5Name {
left: 43.5%;
}
#stn6Name {
left: 52.9%;
}
#metropolitan2 {
top: 39%;
left: 62.3%;
}
#stn8Name {
left: 73.3%;
}
#nrLogo1 {
left: 84.6%;
}
#stn9Name {
left: 83.7%;
}
#stn10Name {
left: 93%;
}
#stn11Name {
left: 102.9%;
}
#stn12Name {
left: 113.8%;
}
#stn13Name {
left: 123.6%;
}
#stn14Name {
left: 133.5%;
}
#district1 {
top: 39%;
left: 132.3%;
}
#stn15Name {
left: 133.6%;
}
#stn16Name {
left: 122.3%;
}
#stn17Name {
left: 113.4%;
}
#stn18Name {
left: 102.9%;
}
#stn19Name {
left: 92.6%;
}
#stn20Name {
left: 82.5%;
}
#stn21Name {
left: 72.4%;
}
#stn22Name {
left: 63.5%;
}
#nrLogo2 {
left: 44.6%;
}
#stn23Name {
left: 43%;
}
#crossrail1 {
top: 89%;
left: 41.8%;
}
#interchange6 {
top: 53.8%;
}
#nrLogo3 {
left: 44.6%;
}
#stn24Name {
top: 45%;
left: 41%;
}
#crossrail2 {
top: 59%;
left: 41.8%;
}
#lineEnd1 {
top: 83.5%;
}
#stn25Name {
left: 22.4%;
}
#district2 {
top: 59%;
left: 157.3%;
}
#stn27Name {
left: 168.5%;
}
#district3 {
top: 59%;
left: 167.3%;
}
#stn28Name {
left: 177.1%;
}
#circle1 {
top: 59%;
left: 177.3%;
}
#district4 {
top: 62%;
left: 177.3%;
}
#hsmith1 {
top: 65%;
left: 177.3%;
}
#stn29Name {
left: 189.1%;
}
#district5 {
top: 59%;
left: 187.3%;
}
#district6 {
top: 59%;
left: 197.3%;
}
#stn31Name {
left: 208%;
}
#circle2 {
top: 59%;
left: 207.3%;
}
#stn32Name {
left: 217.9%;
}
#circle3 {
top: 59%;
left: 217.3%;
}
#district7 {
top: 62%;
left: 217.3%;
}
#stn33Name {
left: 226.4%;
}
#stn35Name {
left: 249.3%;
}
#jubilee1 {
top: 59%;
left: 247.3%;
}
#victoria1 {
top: 62%;
left: 247.3%;
}
#stn36Name {
left: 258.4%;
}
#bakerloo1 {
top: 59%;
left: 257.3%;
}
#stn37Name {
left: 268.4%;
}
#northern1 {
top: 59%;
left: 267.3%;
}
#stn38Name {
left: 278.3%;
}
#central1 {
top: 59%;
left: 287.3%;
}
#stn40Name {
left: 298.2%;
}
#nrLogo4 {
left: 309.6%;
}
#stn41Name {
left: 306.5%;
}
#circle4 {
top: 59%;
left: 307.3%;
}
#hsmith2 {
top: 62%;
left: 307.3%;
}
#metropolitan3 {
top: 68%;
left: 307.3%;
}
#northern2 {
top: 71%;
left: 307.3%;
}
#victoria2 {
top: 74%;
left: 307.3%;
}
#stn42Name {
left: 317.2%;
}
#stn43Name {
left: 327.7%;
}
#stn44Name {
left: 338.1%;
}
#nrLogo5 {
left: 349.6%;
}
#victoria3 {
top: 59%;
left: 347.3%;
}
#stn46Name {
left: 358.5%;
}
#stn47Name {
left: 368%;
}
#stn48Name {
left: 378.6%;
}
#stn49Name {
left: 388.2%;
}
#stn50Name {
left: 398.7%;
}
#stn51Name {
left: 407.4%;
}
#stn52Name {
left: 417.5%;
}
#lineEnd2 {
top: 53.5%;
}
#stn53Name {
left: 426.8%;
}
}
@media only screen and (max-width: 1440px) {
#stn1Name {
left: 2.7%;
}
#stn2Name {
left: 12.4%;
}
#stn3Name {
left: 22.4%;
}
#stn4Name {
left: 33.3%;
}
#stn5Name {
left: 43.3%;
}
#stn6Name {
left: 52.7%;
}
#stn7Name {
left: 63.6%;
}
#stn8Name {
left: 73.1%;
}
#nrLogo1 {
left: 84.5%;
}
#stn9Name {
left: 83.4%;
}
#stn10Name {
left: 92.7%;
}
#stn11Name {
left: 102.6%;
}
#stn12Name {
left: 113.7%;
}
#stn13Name {
left: 123.4%;
}
#stn14Name {
left: 133.2%;
}
#stn15Name {
left: 133.5%;
}
#stn16Name {
left: 122%;
}
#stn17Name {
left: 113.2%;
}
#stn18Name {
left: 102.7%;
}
#stn19Name {
left: 92.3%;
}
#stn20Name {
left: 82.2%;
}
#stn21Name {
left: 72.1%;
}
#stn22Name {
left: 63.3%;
}
#nrLogo2 {
left: 44.5%;
}
#stn23Name {
left: 42.9%;
}
#nrLogo3 {
left: 44.5%;
}
#stn24Name {
left: 40.7%;
}
#stn25Name {
left: 22.2%;
}
#stn26Name {
left: 159.2%;
}
#stn27Name {
left: 168.3%;
}
#stn28Name {
left: 176.8%;
}
#stn29Name {
left: 188.9%;
}
#stn30Name {
left: 199.3%;
}
#stn31Name {
left: 207.8%;
}
#stn32Name {
left: 217.6%;
}
#stn33Name {
left: 226.1%;
}
#stn35Name {
left: 249.2%;
}
#stn36Name {
left: 258.1%;
}
#stn37Name {
left: 268.2%;
}
#stn38Name {
left: 278.1%;
}
#stn39Name {
left: 288.5%;
}
#stn40Name {
left: 298.1%;
}
#nrLogo4 {
left: 309.5%;
}
#stn41Name {
left: 306.4%;
}
#stn42Name {
left: 317%;
}
#stn43Name {
left: 327.5%;
}
#stn44Name {
left: 337.9%;
}
#nrLogo5 {
left: 349.5%;
}
#stn45Name {
left: 348.4%;
}
#stn46Name {
left: 358.3%;
}
#stn47Name {
left: 367.8%;
}
#stn48Name {
left: 378.5%;
}
#stn49Name {
left: 388%;
}
#stn50Name {
left: 398.6%;
}
#stn51Name {
left: 407.2%;
}
#stn52Name {
left: 417.3%;
}
#stn53Name {
left: 426.6%;
}
}
@media only screen and (max-width: 1366px) {
.uxbridgeBranchStnsOneLine {
top: 27%;
}
.uxbridgeBranchStnsTwoLines {
top: 24%;
}
.heathrowBranchStnsOneLine {
top: 77%;
}
.heathrowBranchStnsTwoLines {
top: 74%;
}
.actonTownToCockfostersStnsOneLine {
top: 47%;
}
.actonTownToCockfostersStnsTwoLines {
top: 44%;
}
#stn1Name {
left: 2.5%;
}
#stn2Name {
left: 12.2%;
}
#stn3Name {
left: 22.2%;
}
#stn4Name {
left: 33.2%;
}
#stn5Name {
left: 43.2%;
}
#stn6Name {
left: 52.5%;
}
#stn7Name {
left: 63.4%;
}
#stn8Name {
left: 73%;
}
#nrLogo1 {
left: 84.4%;
}
#stn9Name {
left: 83.3%;
}
#stn10Name {
left: 92.5%;
}
#stn11Name {
left: 102.3%;
}
#stn12Name {
top: 23.5%;
left: 113.5%;
}
#stn13Name {
left: 123.3%;
}
#stn14Name {
left: 132.9%;
}
#stn15Name {
left: 133.3%;
}
#stn16Name {
left: 121.8%;
}
#stn17Name {
left: 113.1%;
}
#stn18Name {
left: 102.6%;
}
#stn19Name {
left: 92.1%;
}
#stn20Name {
left: 81.9%;
}
#stn21Name {
left: 72%;
}
#stn22Name {
left: 63.2%;
}
#nrLogo2 {
left: 44.4%;
}
#stn23Name {
left: 42.7%;
}
#nrLogo3 {
left: 44.4%;
}
#stn24Name {
top: 44%;
left: 40.3%;
}
#stn25Name {
left: 22%;
}
#stn26Name {
left: 159.1%;
}
#stn27Name {
left: 168.2%;
}
#stn28Name {
left: 176.5%;
}
#stn29Name {
left: 188.7%;
}
#stn30Name {
left: 199.2%;
}
#stn31Name {
left: 207.6%;
}
#stn32Name {
left: 217.4%;
}
#stn33Name {
left: 225.9%;
}
#stn34Name {
left: 236.2%;
}
#stn35Name {
left: 249.1%;
}
#stn36Name {
left: 257.9%;
}
#stn37Name {
left: 268%;
}
#stn38Name {
left: 278%;
}
#stn39Name {
left: 288.3%;
}
#stn40Name {
left: 298%;
}
#nrLogo4 {
left: 309.4%;
}
#stn42Name {
left: 316.7%;
}
#stn43Name {
left: 327.3%;
}
#stn44Name {
left: 337.8%;
}
#nrLogo5 {
left: 349.4%;
}
#stn45Name {
left: 348.3%;
}
#stn46Name {
left: 358.2%;
}
#stn47Name {
left: 367.7%;
}
#stn48Name {
left: 378.4%;
}
#stn49Name {
left: 387.9%;
}
#stn50Name {
left: 398.4%;
}
#stn51Name {
left: 406.9%;
}
#stn52Name {
left: 417%;
}
#stn53Name {
left: 426.4%;
}
}
@media only screen and (max-width: 1280px) {
#stn1Name {
left: 2.3%;
}
#stn2Name {
left: 12%;
}
#stn3Name {
left: 22.1%;
}
#stn4Name {
left: 33.1%;
}
#stn5Name {
left: 43.1%;
}
#stn6Name {
left: 52.4%;
}
#stn7Name {
left: 63.3%;
}
#stn8Name {
left: 72.9%;
}
#nrLogo1 {
left: 84.3%;
}
#stn9Name {
left: 83.1%;
}
#stn10Name {
left: 92.3%;
}
#stn13Name {
left: 123.2%;
}
#stn14Name {
left: 132.8%;
}
#stn16Name {
left: 121.6%;
}
#stn17Name {
left: 113%;
}
#stn18Name {
left: 102.5%;
}
#stn19Name {
left: 92%;
}
#stn20Name {
left: 81.8%;
}
#stn21Name {
left: 71.9%;
}
#stn22Name {
left: 63.1%;
}
#nrLogo2 {
left: 44.3%;
}
#stn23Name {
left: 42.5%;
}
#nrLogo3 {
left: 44.3%;
}
#stn24Name {
left: 40.1%;
}
#stn25Name {
left: 21.8%;
}
#stn27Name {
left: 168.1%;
}
#stn28Name {
left: 176.2%;
}
#stn29Name {
left: 188.6%;
}
#stn30Name {
left: 199.1%;
}
#stn31Name {
left: 207.3%;
}
#stn32Name {
left: 217.1%;
}
#stn33Name {
left: 225.6%;
}
#stn35Name {
left: 249%;
}
#stn36Name {
left: 257.7%;
}
#stn37Name {
left: 267.8%;
}
#stn38Name {
left: 277.9%;
}
#stn40Name {
left: 297.8%;
}
#nrLogo4 {
left: 309.3%;
}
#stn42Name {
left: 316.5%;
}
#stn43Name {
left: 327.1%;
}
#stn44Name {
left: 337.7%;
}
#nrLogo5 {
left: 349.3%;
}
#stn45Name {
left: 348.1%;
}
#stn46Name {
left: 358%;
}
#stn47Name {
left: 367.5%;
}
#stn48Name {
left: 378.2%;
}
#stn49Name {
left: 387.7%;
}
#stn50Name {
left: 398.3%;
}
#stn51Name {
left: 406.8%;
}
#stn52Name {
left: 416.9%;
}
#stn53Name {
left: 426.2%;
}
}
@media only screen and (max-width: 1152px) {
.uxbridgeBranchStnsTopPosition {
top: 34.2%;
}
.uxbridgeBranchStnsOneLine {
top: 29%;
}
.uxbridgeBranchStnsTwoLines {
top: 26%;
}
.heathrowBranchStnsTopPosition {
top: 84.2%;
}
.heathrowBranchStnsOneLine {
top: 79%;
}
.heathrowBranchStnsTwoLines {
top: 76%;
}
.actonTownToCockfostersStnsTopPosition {
top: 54.2%;
}
.actonTownToCockfostersStnsOneLine {
top: 49%;
}
.actonTownToCockfostersStnsTwoLines {
top: 46%;
}
#stn1Name {
left: 2.2%;
}
#metropolitan1 {
top: 38%;
left: 1.5%;
}
#metropolitan2 {
top: 38%;
left: 62%;
}
#nrLogo1 {
left: 83.9%;
}
#stn9Name {
left: 83%;
}
#stn10Name {
left: 92.5%;
}
#stn12Name {
top: 26%;
}
#district1 {
top: 38%;
left: 132%;
}
#stn16Name {
left: 121.7%;
}
#nrLogo2 {
left: 43.9%;
}
#crossrail1 {
top: 88%;
left: 41.5%;
}
#interchange6 {
top: 54.2%;
}
#nrLogo3 {
left: 43.9%;
}
#stn24Name {
top: 46.5%;
}
#crossrail2 {
top: 58%;
left: 41.5%;
}
#lineEnd1 {
top: 84.1%;
}
#stn26Name {
left: 158.9%;
}
#district2 {
top: 58%;
left: 157%;
}
#stn27Name {
left: 167.9%;
}
#district3 {
top: 58%;
left: 167%;
}
#circle1 {
top: 58%;
left: 177%;
}
#district4 {
top: 61%;
left: 177%;
}
#hsmith1 {
top: 64%;
left: 177%;
}
#stn29Name {
left: 188.5%;
}
#district5 {
top: 58%;
left: 187%;
}
#district6 {
top: 58%;
left: 197%;
}
#circle2 {
top: 58%;
left: 207%;
}
#circle3 {
top: 58%;
left: 217%;
}
#district7 {
top: 61%;
left: 217%;
}
#stn35Name {
left: 248.9%;
}
#jubilee1 {
top: 58%;
left: 247%;
}
#victoria1 {
top: 61%;
left: 247%;
}
#bakerloo1 {
top: 58%;
left: 257%;
}
#northern1 {
top: 58%;
left: 267%;
}
#stn39Name {
left: 288.1%;
}
#central1 {
top: 58%;
left: 287%;
}
#nrLogo4 {
left: 308.9%;
}
#stn41Name {
left: 306.2%;
}
#circle4 {
top: 58%;
left: 307%;
}
#hsmith2 {
top: 61%;
left: 307%;
}
#metropolitan3 {
top: 67%;
left: 307%;
}
#northern2 {
top: 70%;
left: 307%;
}
#victoria2 {
top: 73%;
left: 307%;
}
#stn43Name {
left: 327.2%;
}
#nrLogo5 {
left: 348.9%;
}
#stn45Name {
left: 348%;
}
#victoria3 {
top: 58%;
left: 347%;
}
#lineEnd2 {
top: 54.05%;
}
}
@media only screen and (max-width: 1024px) {
.uxbridgeBranchStnsOneLine {
top: 28.5%;
}
.uxbridgeBranchStnsTwoLines {
top: 25.5%;
}
.heathrowBranchStnsOneLine {
top: 78.5%;
}
.heathrowBranchStnsTwoLines {
top: 75.5%;
}
.actonTownToCockfostersStnsOneLine {
top: 48.5%;
}
.actonTownToCockfostersStnsTwoLines {
top: 45.5%;
}
#stn1Name {
left: 1.9%;
}
#stn2Name {
left: 11.6%;
}
#stn3Name {
left: 21.8%;
}
#stn4Name {
left: 33%;
}
#stn5Name {
left: 43%;
}
#stn6Name {
left: 52.1%;
}
#stn7Name {
left: 63%;
}
#stn8Name {
left: 72.7%;
}
#nrLogo1 {
left: 83.6%;
}
#stn9Name {
left: 82.7%;
}
#stn10Name {
left: 92.2%;
}
#stn11Name {
left: 102.1%;
}
#stn12Name {
left: 113.2%;
}
#stn13Name {
left: 123%;
}
#stn14Name {
left: 132.4%;
}
#stn15Name {
left: 133.1%;
}
#stn16Name {
left: 121.3%;
}
#stn17Name {
left: 112.8%;
}
#stn18Name {
left: 102.1%;
}
#stn19Name {
left: 91.7%;
}
#stn20Name {
left: 81.5%;
}
#stn21Name {
left: 71.6%;
}
#stn22Name {
left: 62.9%;
}
#stn23Name {
left: 42%;
}
#nrLogo2 {
left: 43.6%;
}
#nrLogo3 {
left: 43.6%;
}
#stn24Name {
top: 46%;
left: 39.6%;
}
#crossrail2 {
left: 41.5%;
}
#stn25Name {
left: 21.3%;
}
#stn26Name {
left: 158.7%;
}
#district2 {
left: 157%;
}
#stn27Name {
left: 167.6%;
}
#district3 {
left: 167%;
}
#stn28Name {
left: 175.6%;
}
#stn29Name {
left: 188.2%;
}
#stn30Name {
left: 198.7%;
}
#stn31Name {
left: 206.9%;
}
#stn32Name {
left: 216.6%;
}
#stn33Name {
left: 225.2%;
}
#stn34Name {
left: 236.1%;
}
#stn35Name {
left: 248.7%;
}
#stn36Name {
left: 257.4%;
}
#stn37Name {
left: 267.4%;
}
#stn38Name {
left: 277.5%;
}
#stn39Name {
left: 287.7%;
}
#stn40Name {
left: 297.5%;
}
#nrLogo4 {
left: 308.6%;
}
#stn41Name {
left: 306.2%;
}
#stn42Name {
left: 316.1%;
}
#stn43Name {
left: 326.8%;
}
#stn44Name {
left: 337.4%;
}
#nrLogo5 {
left: 348.6%;
}
#stn45Name {
left: 347.7%;
}
#stn46Name {
left: 357.7%;
}
#stn47Name {
left: 367.2%;
}
#stn48Name {
left: 377.9%;
}
#stn49Name {
left: 387.5%;
}
#stn50Name {
left: 398.1%;
}
#stn51Name {
left: 406.4%;
}
#stn52Name {
left: 416.7%;
}
#lineEnd2 {
left: 430.3%;
}
#stn53Name {
left: 425.7%;
}
}
@media only screen and (max-width: 800px) {
#stn1Name {
left: 1.8%;
}
#stn2Name {
left: 11.4%;
}
#stn3Name {
left: 21.7%;
}
#stn4Name {
left: 32.8%;
}
#stn5Name {
left: 42.8%;
}
#stn6Name {
left: 51.9%;
}
#stn7Name {
left: 62.9%;
}
#stn8Name {
left: 72.6%;
}
#nrLogo1 {
left: 83.1%;
}
#stn10Name {
left: 92%;
}
#stn11Name {
left: 102%;
}
#stn12Name {
left: 113.1%;
}
#stn13Name {
left: 122.9%;
}
#stn14Name {
left: 132.3%;
}
#stn15Name {
left: 132.9%;
}
#stn16Name {
left: 121.1%;
}
#stn17Name {
left: 112.5%;
}
#stn18Name {
left: 102%;
}
#stn19Name {
left: 91.5%;
}
#stn20Name {
left: 81.3%;
}
#stn21Name {
left: 71.3%;
}
#stn22Name {
left: 62.7%;
}
#stn24Name {
left: 39.3%;
}
#stn28Name {
left: 175.3%;
}
#stn30Name {
left: 198.8%;
}
#stn31Name {
left: 206.8%;
}
#stn32Name {
left: 216.5%;
}
#stn33Name {
left: 225%;
}
#stn40Name {
left: 297.4%;
}
#nrLogo4 {
left: 308.1%;
}
#nrLogo5 {
left: 348.1%;
}
#stn47Name {
left: 367.1%;
}
#stn51Name {
left: 406.3%;
}
#stn52Name {
left: 416.6%;
}
}