.heading {
background-color: darkgreen;
color: white;
}
.stationLinks {
background-color: darkgreen;
color: white;
border: 1px solid black;
}
#districtLineStation1 {
top: 20%;
left: 5%;
}
#districtLineStation2 {
top: 20%;
left: 20%;
}
#districtLineStation3 {
top: 20%;
left: 35%;
}
#districtLineStation4 {
top: 20%;
left: 50%;
}
#districtLineStation5 {
top: 20%;
left: 65%;
}
#districtLineStation6 {
top: 20%;
left: 80%;
}
#districtLineStation7 {
top: 26%;
left: 5%;
}
#districtLineStation8 {
top: 26%;
left: 20%;
}
#districtLineStation9 {
top: 26%;
left: 35%;
}
#districtLineStation10 {
top: 26%;
left: 50%;
}
#districtLineStation11 {
top: 26%;
left: 65%;
}
#districtLineStation12 {
top: 26%;
left: 80%;
}
#districtLineStation13 {
top: 32%;
left: 5%;
}
#districtLineStation14 {
top: 32%;
left: 20%;
}
#districtLineStation15 {
top: 32%;
left: 35%;
}
#districtLineStation16 {
top: 32%;
left: 50%;
}
#districtLineStation17 {
top: 32%;
left: 65%;
}
#districtLineStation18 {
top: 32%;
left: 80%;
}
#districtLineStation19 {
top: 38%;
left: 5%;
}
#districtLineStation20 {
top: 38%;
left: 20%;
}
#districtLineStation21 {
top: 38%;
left: 35%;
}
#districtLineStation22 {
top: 38%;
left: 50%;
}
#districtLineStation23 {
top: 38%;
left: 65%;
}
#districtLineStation24 {
top: 38%;
left: 80%;
}
#districtLineStation25 {
top: 44%;
left: 5%;
}
#districtLineStation26 {
top: 44%;
left: 20%;
}
#districtLineStation27 {
top: 44%;
left: 35%;
}
#districtLineStation28 {
top: 44%;
left: 50%;
}
#districtLineStation29 {
top: 44%;
left: 65%;
}
#districtLineStation30 {
top: 44%;
left: 80%;
}
#districtLineStation31 {
top: 50%;
left: 5%;
}
#districtLineStation32 {
top: 50%;
left: 20%;
}
#districtLineStation33 {
top: 50%;
left: 35%;
}
#districtLineStation34 {
top: 50%;
left: 50%;
}
#districtLineStation35 {
top: 50%;
left: 65%;
}
#districtLineStation36 {
top: 50%;
left: 80%;
}
#districtLineStation37 {
top: 56%;
left: 5%;
}
#districtLineStation38 {
top: 56%;
left: 20%;
}
#districtLineStation39 {
top: 56%;
left: 35%;
}
#districtLineStation40 {
top: 56%;
left: 50%;
}
#districtLineStation41 {
top: 56%;
left: 65%;
}
#districtLineStation42 {
top: 56%;
left: 80%;
}
#districtLineStation43 {
top: 62%;
left: 5%;
}
#districtLineStation44 {
top: 62%;
left: 20%;
}
#districtLineStation45 {
top: 62%;
left: 35%;
}
#districtLineStation46 {
top: 62%;
left: 50%;
}
#districtLineStation47 {
top: 62%;
left: 65%;
}
#districtLineStation48 {
top: 62%;
left: 80%;
}
#districtLineStation49 {
top: 68%;
left: 5%;
}
#districtLineStation50 {
top: 68%;
left: 20%;
}
#districtLineStation51 {
top: 68%;
left: 35%;
}
#districtLineStation52 {
top: 68%;
left: 50%;
}
#districtLineStation53 {
top: 68%;
left: 65%;
}
#districtLineStation54 {
top: 68%;
left: 80%;
}
#districtLineStation55 {
top: 74%;
left: 5%;
}
#districtLineStation56 {
top: 74%;
left: 20%;
}
#districtLineStation57 {
top: 74%;
left: 35%;
}
#districtLineStation58 {
top: 74%;
left: 50%;
}
#districtLineStation59 {
top: 74%;
left: 65%;
}
#districtLineStation60 {
top: 74%;
left: 80%;
}
#exitLink1 {
top: 86%;
left: 42%;
}