@media only screen and (max-width: 1680px) {
#nrLogo1 {
left: 4.6%;
}
#stn1Name {
left: 2.6%;
}
#stn2Name {
left: 13.3%;
}
#stn3Name {
left: 24.4%;
}
#stn4Name {
left: 32.6%;
}
#stn5Name {
left: 26.9%;
}
#stn6Name {
left: 17.7%;
}
#nrLogo2 {
left: 9.6%;
}
#stn7Name {
left: 7.4%;
}
#stn8Name {
left: 48.5%;
}
#stn9Name {
left: 57.4%;
}
#stn10Name {
left: 66.3%;
}
#stn11Name {
left: 76.7%;
}
#stn12Name {
left: 89%;
}
#stn13Name {
left: 96.6%;
}
#nrLogo3 {
left: 100.1%;
}
#stn14Name {
left: 98%;
}
#stn15Name {
left: 87.2%;
}
#stn16Name {
left: 77.8%;
}
#stn17Name {
left: 68.1%;
}
#stn18Name {
left: 58.1%;
}
#stn19Name {
left: 46.7%;
}
#stn20Name {
left: 36.4%;
}
#nrLogo4 {
left: 29.6%;
}
#stn21Name {
left: 26.8%;
}
#nrLogo5 {
left: 117.6%;
}
#stn22Name {
left: 115.1%;
}
#stn23Name {
left: 134.5%;
}
#stn24Name {
left: 152.6%;
}
#stn25Name {
left: 162.3%;
}
#stn26Name {
left: 172%;
}
#nrLogo6 {
left: 185.1%;
}
#stn27Name {
left: 182.6%;
}
#stn28Name {
left: 193.4%;
}
#stn29Name {
left: 152.8%;
}
#stn30Name {
left: 162.8%;
}
#stn31Name {
left: 173%;
}
#nrLogo7 {
left: 205.1%;
}
#stn32Name {
left: 203.8%;
}
#stn34Name {
left: 222.2%;
}
#nrLogo8 {
left: 235.1%;
}
#stn35Name {
left: 232%;
}
#stn36Name {
left: 243%;
}
#nrLogo9 {
left: 255.1%;
}
#stn37Name {
left: 253%;
}
#stn38Name {
left: 262.5%;
}
#nrLogo10 {
left: 275.1%;
}
#stn39Name {
left: 273.8%;
}
#stn40Name {
left: 282.7%;
}
#stn41Name {
left: 294.4%;
}
#stn42Name {
left: 303.7%;
}
#stn43Name {
left: 311.9%;
}
#stn44Name {
left: 322.6%;
}
#stn45Name {
left: 335%;
}
#stn46Name {
left: 344.6%;
}
#stn47Name {
left: 352.9%;
}
#nrLogo11 {
left: 365.1%;
}
#stn48Name {
left: 364.6%;
}
#stn49Name {
left: 372.7%;
}
#stn50Name {
left: 383.4%;
}
#stn51Name {
left: 393.9%;
}
#nrLogo12 {
left: 405.1%;
}
#stn52Name {
left: 403.9%;
}
#stn53Name {
left: 413.2%;
}
#stn54Name {
left: 421.6%;
}
#stn55Name {
left: 431.7%;
}
#stn56Name {
left: 441.8%;
}
#stn57Name {
left: 454%;
}
#stn58Name {
left: 461.4%;
}
#stn59Name {
left: 472%;
}
#nrLogo13 {
left: 485.1%;
}
#stn60Name {
left: 482.7%;
}
}
@media only screen and (max-width: 1600px) {
.upperPageStnsTopPosition {
top: 33.8%;
}
.upperPageStnsTwoLines {
top: 25%;
}
.middlePageStnsTopPosition {
top: 53.8%;
}
.middlePageStnsOneLine {
top: 48%;
}
.middlePageStnsTwoLines {
top: 45%;
}
.lowerPageStnsTopPosition {
top: 93.8%;
}
.lowerPageStnsTwoLines {
top: 85%;
}
.edgwareRoadStnsTopPosition {
top: 25.8%;
}
#nrLogo1 {
left: 4.1%;
}
#stn1Name {
left: 2.8%;
}
#crossrail1 {
top: 39%;
left: 1.3%;
}
#central1 {
top: 48%;
left: 1.8%;
}
#stn2Name {
left: 13.5%;
}
#piccadilly1 {
top: 39%;
left: 12.3%;
}
#piccadilly2 {
top: 39%;
left: 22.3%;
}
#stn4Name {
left: 32.9%;
}
#interchange4 {
top: 63.8%;
}
#stn5Name {
top: 58%;
left: 27.3%;
}
#londonOverground1 {
top: 69%;
left: 26.8%;
}
#nonInterchange2 {
top: 63.8%;
}
#stn6Name {
top: 55%;
left: 18.1%;
}
#interchange5 {
top: 63.8%;
}
#nrLogo2 {
left: 9.1%;
}
#stn7Name {
top: 58%;
left: 7.7%;
}
#londonOverground2 {
top: 69%;
left: 6.3%;
}
#piccadilly3 {
top: 39%;
left: 47.3%;
}
#stn9Name {
left: 57.8%;
}
#stn10Name {
left: 66.9%;
}
#stn11Name {
top: 28%;
left: 77.2%;
}
#circle1 {
top: 39%;
left: 77.3%;
}
#hsmith1 {
top: 42%;
left: 77.3%;
}
#piccadilly4 {
top: 48%;
left: 77.3%;
}
#stn12Name {
left: 89.1%;
}
#piccadilly5 {
top: 39%;
left: 87.3%;
}
#stn13Name {
left: 97.1%;
}
#nrLogo3 {
left: 99.6%;
}
#stn14Name {
left: 98.3%;
}
#londonOverground3 {
top: 99%;
left: 96.8%;
}
#stn15Name {
left: 87.7%;
}
#stn16Name {
left: 78.2%;
}
#stn17Name {
left: 68.5%;
}
#stn18Name {
left: 58.5%;
}
#stn19Name {
top: 88%;
left: 47.3%;
}
#stn20Name {
left: 37.1%;
}
#nrLogo4 {
left: 29.1%;
}
#stn21Name {
top: 88%;
left: 27.1%;
}
#tramlink1 {
top: 99%;
left: 26.3%;
}
#nrLogo5 {
left: 117.1%;
}
#stn22Name {
left: 115.4%;
}
#londonOverground4 {
top: 39%;
left: 114.3%;
}
#stn23Name {
left: 134.4%;
}
#piccadilly6 {
top: 59%;
left: 132.3%;
}
#stn24Name {
top: 17%;
left: 152.9%;
}
#circle2 {
top: 31%;
left: 152.3%;
}
#stn25Name {
top: 17%;
left: 162%;
}
#central2 {
top: 31%;
left: 162.3%;
}
#stn26Name {
top: 20%;
left: 172.4%;
}
#nrLogo6 {
left: 184.6%;
}
#stn27Name {
top: 20%;
left: 182.7%;
}
#bakerloo1 {
top: 31%;
left: 182.3%;
}
#circle3 {
top: 34%;
left: 182.3%;
}
#crossrail2 {
top: 37%;
left: 181.8%;
}
#hsmith2 {
top: 46%;
left: 182.3%;
}
#stn28Name {
top: 17%;
left: 193.5%;
}
#circle4 {
top: 31%;
left: 192.3%;
}
#circle5 {
top: 34%;
left: 192.3%;
}
#hsmith3 {
top: 40%;
left: 192.3%;
}
#stn29Name {
left: 153.1%;
}
#circle6 {
top: 59%;
left: 152.3%;
}
#stn30Name {
left: 163%;
}
#piccadilly7 {
top: 59%;
left: 162.3%;
}
#stn31Name {
left: 173.3%;
}
#nrLogo7 {
left: 204.6%;
}
#stn32Name {
left: 203.7%;
}
#victoria1 {
top: 59%;
left: 202.3%;
}
#stn34Name {
left: 222.4%;
}
#jubilee1 {
top: 59%;
left: 222.3%;
}
#nrLogo8 {
left: 234.6%;
}
#stn35Name {
left: 232.2%;
}
#bakerloo2 {
top: 59%;
left: 232.3%;
}
#northern1 {
top: 62%;
left: 232.3%;
}
#stn36Name {
left: 243.3%;
}
#nrLogo9 {
left: 254.6%;
}
#stn37Name {
left: 253%;
}
#stn38Name {
left: 263.1%;
}
#nrLogo10 {
left: 274.6%;
}
#stn40Name {
left: 282.8%;
}
#central3 {
top: 59%;
left: 282.3%;
}
#dlr1 {
top: 62%;
left: 281.8%;
}
#northern2 {
top: 71%;
left: 282.3%;
}
#wloo1 {
top: 74%;
left: 282.3%;
}
#stn41Name {
left: 294.3%;
}
#circle7 {
top: 59%;
left: 292.3%;
}
#stn42Name {
left: 303.9%;
}
#hsmith4 {
top: 59%;
left: 302.3%;
}
#stn43Name {
left: 312.2%;
}
#londonOverground5 {
top: 59%;
left: 311.8%;
}
#stn44Name {
left: 323%;
}
#stn45Name {
left: 334.8%;
}
#central4 {
top: 59%;
left: 332.3%;
}
#stn46Name {
left: 344.5%;
}
#dlr2 {
top: 59%;
left: 341.8%;
}
#stn47Name {
left: 353.1%;
}
#nrLogo11 {
left: 364.6%;
}
#stn48Name {
left: 364.6%;
}
#dlr3 {
top: 59%;
left: 361.8%;
}
#jubilee2 {
top: 68%;
left: 362.3%;
}
#stn49Name {
left: 373%;
}
#stn50Name {
left: 383.6%;
}
#stn51Name {
left: 394%;
}
#nrLogo12 {
left: 404.6%;
}
#stn52Name {
left: 403.8%;
}
#hsmith5 {
top: 59%;
left: 402.3%;
}
#londonOverground6 {
top: 65%;
left: 401.8%;
}
#stn53Name {
left: 413.5%;
}
#stn54Name {
left: 422.1%;
}
#stn55Name {
left: 432.2%;
}
#stn56Name {
left: 442.3%;
}
#stn57Name {
left: 454.2%;
}
#stn58Name {
left: 461.9%;
}
#stn59Name {
left: 472.4%;
}
#nrLogo13 {
left: 484.6%;
}
#stn60Name {
left: 482.9%;
}
#londonOverground7 {
top: 59%;
left: 481.8%;
}
}
@media only screen and (max-width: 1440px) {
#nrLogo1 {
left: 4%;
}
#stn1Name {
left: 2.5%;
}
#stn2Name {
left: 13.2%;
}
#stn3Name {
left: 24.2%;
}
#stn4Name {
left: 32.8%;
}
#stn5Name {
left: 26.9%;
}
#stn6Name {
left: 17.9%;
}
#nrLogo2 {
left: 9%;
}
#stn7Name {
left: 7.3%;
}
#stn8Name {
left: 48.3%;
}
#stn9Name {
left: 57.6%;
}
#stn10Name {
left: 66.6%;
}
#stn11Name {
left: 76.7%;
}
#stn12Name {
left: 88.9%;
}
#stn13Name {
left: 96.8%;
}
#nrLogo3 {
left: 99.5%;
}
#stn14Name {
left: 98%;
}
#stn15Name {
left: 87.4%;
}
#stn16Name {
left: 77.9%;
}
#stn17Name {
left: 68.2%;
}
#stn18Name {
left: 58.2%;
}
#stn19Name {
left: 46.9%;
}
#stn20Name {
left: 36.7%;
}
#nrLogo4 {
left: 29%;
}
#stn21Name {
left: 26.7%;
}
#nrLogo5 {
left: 117%;
}
#stn22Name {
left: 115.1%;
}
#stn23Name {
left: 134.3%;
}
#stn24Name {
left: 152.6%;
}
#stn26Name {
left: 172.2%;
}
#nrLogo6 {
left: 184.5%;
}
#stn27Name {
left: 182.4%;
}
#stn28Name {
left: 193.3%;
}
#stn29Name {
left: 152.8%;
}
#stn30Name {
left: 162.6%;
}
#stn31Name {
left: 173.1%;
}
#nrLogo7 {
left: 204.5%;
}
#stn32Name {
left: 203.5%;
}
#stn34Name {
left: 222.1%;
}
#nrLogo8 {
left: 234.5%;
}
#stn35Name {
left: 231.9%;
}
#stn36Name {
left: 243.1%;
}
nrLogo9 {
left: 254.5%;
}
#stn37Name {
left: 252.7%;
}
#stn38Name {
left: 262.7%;
}
#nrLogo10 {
left: 274.5%;
}
#stn39Name {
left: 273.6%;
}
#stn40Name {
left: 282.6%;
}
#stn41Name {
left: 294.1%;
}
#stn42Name {
left: 303.6%;
}
#stn43Name {
left: 311.9%;
}
#stn44Name {
left: 322.7%;
}
#stn46Name {
left: 344.4%;
}
#stn47Name {
left: 352.9%;
}
#nrLogo11 {
left: 364.5%;
}
#stn48Name {
left: 364.5%;
}
#stn49Name {
left: 372.8%;
}
#stn50Name {
left: 383.4%;
}
#stn51Name {
left: 393.9%;
}
#nrLogo12 {
left: 404.5%;
}
#stn52Name {
left: 403.6%;
}
#stn53Name {
left: 413.3%;
}
#stn54Name {
left: 421.8%;
}
#stn55Name {
left: 431.9%;
}
#stn56Name {
left: 442%;
}
#stn57Name {
left: 454.1%;
}
#stn58Name {
left: 461.6%;
}
#stn59Name {
left: 472.2%;
}
#nrLogo13 {
left: 484.5%;
}
#stn60Name {
left: 482.6%;
}
}
@media only screen and (max-width: 1366px) {
.upperPageStnsTwoLines {
top: 23.5%;
}
.middlePageStnsOneLine {
top: 46.5%;
}
.middlePageStnsTwoLines {
top: 43.5%;
}
.lowerPageStnsTwoLines {
top: 83.5%;
}
#nrLogo1 {
left: 3.9%;
}
#stn1Name {
left: 2.3%;
}
#stn2Name {
left: 13%;
}
#stn4Name {
left: 32.6%;
}
#stn5Name {
top: 56.5%;
left: 26.8%;
}
#stn6Name {
top: 53.5%;
left: 17.8%;
}
#nrLogo2 {
left: 8.9%;
}
#stn7Name {
top: 56.5%;
left: 7.1%;
}
#stn8Name {
left: 48.1%;
}
#stn9Name {
left: 57.4%;
}
#stn10Name {
left: 66.3%;
}
#stn11Name {
top: 26.5%;
left: 76.3%;
}
#stn12Name {
left: 88.7%;
}
#stn13Name {
left: 96.6%;
}
#nrLogo3 {
left: 99.4%;
}
#stn14Name {
left: 97.9%;
}
#stn15Name {
left: 87.2%;
}
#stn16Name {
left: 77.8%;
}
#stn17Name {
left: 68.1%;
}
#stn18Name {
left: 58.1%;
}
#stn19Name {
top: 86.5%;
left: 46.7%;
}
#stn20Name {
left: 36.5%;
}
#nrLogo4 {
left: 28.9%;
}
#stn21Name {
top: 86.5%;
left: 26.5%;
}
#nrLogo5 {
left: 116.9%;
}
#stn22Name {
left: 114.9%;
}
#stn23Name {
left: 134.2%;
}
#stn24Name {
top: 15.5%;
left: 152.4%;
}
#stn25Name {
top: 15.5%;
}
#stn26Name {
top: 18.5%;
left: 172%;
}
#nrLogo6 {
left: 184.4%;
}
#stn27Name {
top: 18.5%;
left: 182.1%;
}
#stn28Name {
top: 15.5%;
left: 193.1%;
}
#stn29Name {
left: 152.6%;
}
#stn30Name {
left: 162.4%;
}
#stn31Name {
left: 173%;
}
#nrLogo7 {
left: 204.4%;
}
#stn34Name {
left: 221.9%;
}
#nrLogo8 {
left: 234.4%;
}
#stn35Name {
left: 231.7%;
}
#stn36Name {
left: 243%;
}
#nrLogo9 {
left: 254.4%;
}
#stn37Name {
left: 252.6%;
}
#stn38Name {
left: 262.6%;
}
#nrLogo10 {
left: 274.4%;
}
#stn39Name {
left: 273.5%;
}
#stn40Name {
left: 282.4%;
}
#stn41Name {
left: 294%;
}
#stn42Name {
left: 303.5%;
}
#stn43Name {
left: 311.7%;
}
#stn44Name {
left: 322.6%;
}
#stn46Name {
left: 344.3%;
}
#stn47Name {
left: 352.8%;
}
#nrLogo11 {
left: 364.4%;
}
#stn48Name {
left: 364.4%;
}
#stn49Name {
left: 372.6%;
}
#stn50Name {
left: 383.3%;
}
#stn51Name {
left: 393.8%;
}
#nrLogo12 {
left: 404.4%;
}
#stn52Name {
left: 403.5%;
}
#stn53Name {
left: 413.1%;
}
#stn54Name {
left: 421.5%;
}
#stn55Name {
left: 431.7%;
}
#stn56Name {
left: 441.8%;
}
#stn57Name {
left: 454%;
}
#stn58Name {
left: 461.4%;
}
#stn59Name {
left: 472%;
}
#nrLogo13 {
left: 484.4%;
}
#stn60Name {
left: 482.4%;
}
}
@media only screen and (max-width: 1280px) {
#stn1Name {
left: 2.2%;
}
#stn2Name {
left: 12.8%;
}
#stn3Name {
left: 24%;
}
#stn4Name {
left: 32.4%;
}
#stn5Name {
left: 26.5%;
}
#stn6Name {
left: 17.6%;
}
#stn7Name {
left: 6.9%;
}
#stn8Name {
left: 48%;
}
#stn9Name {
left: 57.3%;
}
#stn10Name {
left: 66.1%;
}
#stn11Name {
left: 76%;
}
#stn12Name {
left: 88.5%;
}
#stn13Name {
left: 96.4%;
}
#stn14Name {
left: 97.8%;
}
#stn15Name {
left: 87%;
}
#stn16Name {
left: 77.6%;
}
#stn17Name {
left: 67.9%;
}
#stn18Name {
left: 57.9%;
}
#stn19Name {
left: 46.5%;
}
#stn20Name {
left: 36.3%;
}
#stn21Name {
left: 26.3%;
}
#stn22Name {
left: 114.7%;
}
#stn23Name {
left: 134.1%;
}
#stn24Name {
left: 152.3%;
}
#stn26Name {
left: 171.7%;
}
#stn27Name {
left: 181.9%;
}
#stn28Name {
left: 193%;
}
#stn29Name {
left: 152.4%;
}
#stn30Name {
left: 162.1%;
}
#stn31Name {
left: 173%;
}
#stn32Name {
left: 203.3%;
}
#stn34Name {
left: 221.6%;
}
#stn35Name {
left: 231.5%;
}
#stn36Name {
left: 242.8%;
}
#stn37Name {
left: 252.4%;
}
#stn38Name {
left: 262.4%;
}
#stn39Name {
left: 273.3%;
}
#stn40Name {
left: 282.2%;
}
#stn42Name {
left: 303.3%;
}
#stn43Name {
left: 311.5%;
}
#stn44Name {
left: 322.4%;
}
#stn45Name {
left: 334.7%;
}
#stn46Name {
left: 344.2%;
}
#stn47Name {
left: 352.6%;
}
#stn48Name {
left: 364.3%;
}
#stn49Name {
left: 372.4%;
}
#stn50Name {
left: 383.2%;
}
#stn51Name {
left: 393.7%;
}
#stn52Name {
left: 403.3%;
}
#stn53Name {
left: 413%;
}
#stn54Name {
left: 421.3%;
}
#stn55Name {
left: 431.5%;
}
#stn56Name {
left: 441.6%;
}
#stn57Name {
left: 453.9%;
}
#stn58Name {
left: 461.1%;
}
#stn59Name {
left: 471.8%;
}
#stn60Name {
left: 482.2%;
}
}
@media only screen and (max-width: 1152px) {
.upperPageStnsTopPosition {
top: 34.2%;
}
.upperPageStnsTwoLines {
top: 26%;
}
.middlePageStnsTopPosition {
top: 54.2%;
}
.middlePageStnsOneLine {
top: 49%;
}
.middlePageStnsTwoLines {
top: 46%;
}
.lowerPageStnsTopPosition {
top: 94.2%;
}
.lowerPageStnsTwoLines {
top: 86%;
}
.edgwareRoadStnsTopPosition {
top: 26.2%;
}
#nrLogo1 {
left: 3.4%;
}
#crossrail1 {
top: 38%;
left: 1%;
}
#central1 {
top: 47%;
left: 1.5%;
}
#piccadilly1 {
top: 38%;
left: 12%;
}
#stn3Name {
left: 23.9%;
}
#piccadilly2 {
top: 38%;
left: 22%;
}
#interchange4 {
top: 64.2%;
}
#stn5Name {
top: 59%;
left: 26.5%;
}
#londonOverground1 {
top: 68%;
left: 26.5%;
}
#nonInterchange2 {
top: 64.2%;
}
#stn6Name {
top: 56%;
}
#interchange5 {
top: 64.2%;
}
#nrLogo2 {
left: 8.4%;
}
#stn7Name {
top: 59%;
}
#londonOverground2 {
top: 68%;
left: 6%;
}
#piccadilly3 {
top: 38%;
left: 47%;
}
#stn10Name {
left: 66.2%;
}
#stn11Name {
top: 29%;
}
#circle1 {
top: 38%;
left: 77%;
}
#hsmith1 {
top: 41%;
left: 77%;
}
#piccadilly4 {
top: 47%;
left: 77%;
}
#piccadilly5 {
top: 38%;
left: 87%;
}
#stn13Name {
left: 96.5%;
}
#nrLogo3 {
left: 98.9%;
}
#stn14Name {
left: 97.6%;
}
#londonOverground3 {
top: 98%;
left: 96.5%;
}
#stn15Name {
left: 87.1%;
}
#stn16Name {
left: 77.7%;
}
#stn17Name {
left: 68%;
}
#stn18Name {
left: 58%;
}
#stn19Name {
top: 89%;
left: 46.6%;
}
#stn20Name {
left: 36.4%;
}
#nrLogo4 {
left: 28.4%;
}
#stn21Name {
top: 89%;
}
#tramlink1 {
top: 98%;
left: 26%;
}
#nrLogo5 {
left: 116.4%;
}
#londonOverground4 {
top: 38%;
left: 114%;
}
#stn23Name {
left: 134%;
}
#piccadilly6 {
top: 58%;
left: 132%;
}
#stn24Name {
top: 18%;
left: 152%;
}
#circle2 {
top: 30%;
left: 152%;
}
#stn25Name {
top: 18%;
left: 161.8%;
}
#central2 {
top: 30%;
left: 162%;
}
#stn26Name {
top: 21%;
}
#nrLogo6 {
left: 183.9%;
}
#stn27Name {
top: 21%;
left: 182%;
}
#bakerloo1 {
top: 30%;
left: 182%;
}
#circle3 {
top: 33%;
left: 182%;
}
#crossrail2 {
top: 36%;
left: 181.5%;
}
#hsmith2 {
top: 45%;
left: 182%;
}
#stn28Name {
top: 18%;
}
#circle4 {
top: 30%;
left: 192%;
}
#circle5 {
top: 33%;
left: 192%;
}
#hsmith3 {
top: 39%;
left: 192%;
}
#stn29Name {
left: 152.3%;
}
#circle6 {
top: 58%;
left: 152%;
}
#piccadilly7 {
top: 58%;
left: 162%;
}
#nrLogo7 {
left: 203.9%;
}
#stn32Name {
left: 203.2%;
}
#victoria1 {
top: 58%;
left: 202%;
}
#jubilee1 {
top: 58%;
left: 222%;
}
#nrLogo8 {
left: 233.9%;
}
#bakerloo2 {
top: 58%;
left: 232%;
}
#northern1 {
top: 61%;
left: 232%;
}
#nrLogo9 {
left: 253.9%;
}
#stn37Name {
left: 252.3%;
}
#nrLogo10 {
left: 273.9%;
}
#stn38Name {
left: 262.5%;
}
#stn39Name {
left: 273.2%;
}
#stn40Name {
left: 282.1%;
}
#central3 {
top: 58%;
left: 282%;
}
#dlr1 {
top: 61%;
left: 281.5%;
}
#northern2 {
top: 70%;
left: 282%;
}
#wloo1 {
top: 73%;
left: 282%;
}
#stn41Name {
left: 293.8%;
}
#circle7 {
top: 58%;
left: 292%;
}
#stn42Name {
left: 303.2%;
}
#hsmith4 {
top: 58%;
left: 302%;
}
#londonOverground5 {
top: 58%;
left: 311.5%;
}
#stn44Name {
left: 322.5%;
}
#stn45Name {
left: 334.5%;
}
#central4 {
top: 58%;
left: 332%;
}
#stn46Name {
left: 344.1%;
}
#dlr2 {
top: 58%;
left: 341.5%;
}
#nrLogo11 {
left: 363.9%;
}
#stn48Name {
left: 364.1%;
}
#dlr3 {
top: 58%;
left: 361.5%;
}
#jubilee2 {
top: 67%;
left: 362%;
}
#nrLogo12 {
left: 403.9%;
}
#hsmith5 {
top: 58%;
left: 402%;
}
#londonOverground6 {
top: 64%;
left: 401.5%;
}
#stn53Name {
left: 413.1%;
}
#stn54Name {
left: 421.4%;
}
#stn55Name {
left: 431.6%;
}
#stn56Name {
left: 441.7%;
}
#stn58Name {
left: 461.2%;
}
#stn59Name {
left: 471.9%;
}
#nrLogo13 {
left: 483.9%;
}
#londonOverground7 {
top: 58%;
left: 481.5%;
}
}
@media only screen and (max-width: 1024px) {
.upperPageStnsTwoLines {
top: 25%;
}
.middlePageStnsOneLine {
top: 48%;
}
.middlePageStnsTwoLines {
top: 45%;
}
.lowerPageStnsTwoLines {
top: 85%;
}
#nrLogo1 {
top: 20%;
left: 3.1%;
}
#stn1Name {
left: 1.9%;
}
#stn2Name {
left: 12.5%;
}
#stn3Name {
left: 23.8%;
}
#stn4Name {
left: 32.2%;
}
#stn5Name {
top: 58%;
left: 26%; 
}
#stn6Name {
top: 55%;
left: 17.4%;
}
#nrLogo2 {
left: 8.1%;
}
#stn7Name {
top: 58%;
left: 6.6%;
}
#stn8Name {
left: 47.7%;
}
#stn9Name {
left: 57%;
}
#stn10Name {
left: 65.8%;
}
#stn11Name {
top: 28%;
left: 75.5%;
}
#stn12Name {
left: 88.3%;
}
#stn13Name {
left: 96.2%;
}
#nrLogo3 {
left: 98.6%;
}
#stn14Name {
left: 97.3%;
}
#stn15Name {
left: 86.8%;
}
#stn16Name {
left: 77.4%;
}
#stn17Name {
left: 67.8%;
}
#stn18Name {
left: 57.7%;
}
#stn19Name {
top: 88%;
left: 46.2%;
}
#stn20Name {
left: 36.1%;
}
#nrLogo4 {
left: 28.1%;
}
#stn21Name {
top: 88%;
left: 25.9%;
}
#nrLogo5 {
left: 116.1%;
}
#stn22Name {
left: 114.3%;
}
#stn23Name {
left: 133.8%;
}
#stn24Name {
top: 17%;
left: 151.8%;
}
#stn25Name {
top: 17%;
}
#stn26Name {
top: 20%;
left: 171.5%;
}
#nrLogo6 {
left: 183.6%;
}
#stn27Name {
top: 20%;
left: 181.7%;
}
#stn28Name {
top: 17%;
left: 192.8%;
}
#stn29Name {
left: 152%;
}
#stn30Name {
left: 161.8%;
}
#stn31Name {
left: 172.7%;
}
#nrLogo7 {
left: 203.6%;
}
#stn32Name {
left: 202.9%;
}
#stn34Name {
left: 221.2%;
}
#nrLogo8 {
left: 233.6%;
}
#stn35Name {
left: 231.1%;
}
#stn36Name {
left: 242.6%;
}
#nrLogo9 {
left: 253.6%;
}
#stn37Name {
left: 252%;
}
#stn38Name {
left: 262.2%;
}
#nrLogo10 {
left: 273.6%;
}
#stn39Name {
left: 273%;
}
#stn40Name {
left: 281.8%;
}
#stn41Name {
left: 293.6%;
}
#stn42Name {
left: 302.9%;
}
#stn43Name {
left: 311.1%;
}
#stn44Name {
left: 322.2%;
}
#stn45Name {
left: 334.3%;
}
#stn46Name {
left: 343.9%;
}
#stn47Name {
left: 352.3%;
}
#nrLogo11 {
left: 363.6%;
}
#stn48Name {
left: 363.9%;
}
#stn49Name {
left: 372.2%;
}
#stn50Name {
left: 383%;
}
#stn51Name {
left: 393.5%;
}
#nrLogo12 {
left: 403.6%;
}
#stn52Name {
left: 403.1%;
}
#stn53Name {
left: 413%;
}
#stn54Name {
left: 421%;
}
#stn55Name {
left: 431.2%;
}
#stn56Name {
left: 441.4%;
}
#stn57Name {
left: 453.7%;
}
#stn58Name {
left: 460.8%;
}
#stn59Name {
left: 471.4%;
}
#nrLogo13 {
left: 483.6%;
}
#stn60Name {
left: 481.8%;
}
}
@media only screen and (max-width: 800px) {
.upperPageStnsTopPosition {
top: 34%;
}
.upperPageStnsTwoLines {
top: 24.5%;
}
.middlePageStnsTopPosition {
top: 54%;
}
.middlePageStnsOneLine {
top: 47.5%;
}
.middlePageStnsTwoLines {
top: 44.5%;
}
.middlePageStnsNrLogo {
top: 40%;
}
.lowerPageStnsTopPosition {
top: 94%;
}
.lowerPageStnsTwoLines {
top: 84.5%;
}
.edgwareRoadStnsTopPosition {
top: 26%;
}
#nrLogo1 {
left: 2.6%;
}
#stn1Name {
left: 1.7%;
}
#stn3Name {
left: 23.7%;
}
#stn4Name {
left: 32.1%;
}
#stn5Name {
left: 25.9%; 
}
#stn6Name {
left: 17.3%;
}
#nrLogo2 {
left: 7.6%;
}
#stn7Name {
left: 6.5%;
}
#stn8Name {
left: 47.6%;
}
#stn9Name {
left: 56.9%;
}
#stn10Name {
left: 65.7%;
}
#stn11Name {
top: 27.5%;
left: 75.4%;
}
#stn12Name {
left: 88.2%;
}
#stn13Name {
left: 95.9%;
}
#nrLogo3 {
top: 70%;
left: 98.1%;
}
#stn14Name {
left: 97.1%;
}
#stn15Name {
left: 86.6%;
}
#stn16Name {
left: 77.3%;
}
#stn17Name {
left: 67.6%;
}
#stn18Name {
left: 57.6%;
}
#stn19Name {
top: 87.5%;
left: 46%;
}
#stn20Name {
left: 35.9%;
}
#nrLogo4 {
left: 27.6%;
}
#stn21Name {
top: 87.5%;
left: 25.7%;
}
#nrLogo5 {
top: 20%;
left: 115.6%;
}
#stn22Name {
left: 114.1%;
}
#stn23Name {
left: 133.6%;
}
#stn24Name {
top: 16.5%;
left: 151.6%;
}
#stn25Name {
top: 16.5%;
}
#stn26Name {
top: 19.5%;
left: 171.4%;
}
#nrLogo6 {
top: 16%;
left: 183.1%;
}
#stn27Name {
top: 19.5%;
left: 181.5%;
}
#stn28Name {
top: 16.5%;
left: 192.6%;
}
#stn29Name {
left: 151.9%;
}
#stn30Name {
left: 161.7%;
}
#stn31Name {
left: 172.6%;
}
#nrLogo7 {
left: 203.1%;
}
#stn32Name {
left: 202.8%;
}
#stn34Name {
left: 221%;
}
#nrLogo8 {
left: 233.1%;
}
#stn35Name {
left: 230.9%;
}
#stn36Name {
left: 242.5%;
}
#nrLogo9 {
left: 253.1%;
}
#stn37Name {
left: 251.9%;
}
#stn38Name {
left: 262%;
}
#nrLogo10 {
left: 273.1%;
}
#stn43Name {
left: 311%;
}
#nrLogo11 {
left: 363.1%;
}
#nrLogo12 {
left: 403.1%;
}
#stn53Name {
left: 412.9%;
}
#stn54Name {
left: 420.8%;
}
#stn55Name {
left: 431%;
}
#stn56Name {
left: 441.1%;
}
#stn58Name {
left: 460.6%;
}
#nrLogo13 {
left: 483.1%;
}
#stn60Name {
left: 481.7%;
}
}
