@media only screen and (max-width: 1680px) {
#lineCurve5 {
top: 55%;
} 
}
@media only screen and (max-width: 1600px) {
.lineCurve {
border: 0.75em solid darkgreen;
}
#lineCurve1 {
border-top-right-radius: 50px;
}
#lineCurve2 {
border-top-left-radius: 50px;
}
#lineCurve3 {
border-bottom-right-radius: 50px;
}
#lineCurve4 {
border-bottom-left-radius: 50px;
}
#lineCurve5 {
border-top-left-radius: 50px;
}
#lineCurve6 {
border-bottom-right-radius: 50px;
}
#lineCurve7 {
border-bottom-left-radius: 50px;
}
#lineCurve9 {
border-bottom-right-radius: 50px;
}
#lineCurve10 {
border-top-left-radius: 50px;
}
@media only screen and (max-width: 1366px) {
#lineCurve8 {
width: 7.05%;
}
@media only screen and (max-width: 1280px) {
#lineCurve8 {
width: 7%;
}
}
@media only screen and (max-width: 1152px) {
.lineCurve {
border: 0.5em solid darkgreen;
}
}
@media only screen and (max-width: 1024px) {
#lineCurve1 {
border-top-right-radius: 25px;
}
#lineCurve2 {
border-top-left-radius: 25px;
}
#lineCurve3 {
border-bottom-right-radius: 25px;
}
#lineCurve4 {
border-bottom-left-radius: 25px;
}
#lineCurve5 {
border-top-left-radius: 25px;
}
#lineCurve6 {
border-bottom-right-radius: 25px;
}
#lineCurve7 {
border-bottom-left-radius: 25px;
}
#lineCurve8 {
border-top-right-radius: 25px;
}
#lineCurve9 {
border-bottom-right-radius: 25px;
}
#lineCurve10 {
border-top-left-radius: 25px;
}
}
@media only screen and (max-width: 800px) {
.lineCurve {
border: 0.3em solid darkgreen;
}
}
