@media only screen and (max-width: 1680px) {
.mainRouteStnsTopPosition {
top: 61.4%;
}
.aylesburyBranchStnsTopPosition {
top: 26.3%;
}
#stn1Name {
left: 1.8%;
}
#stn2Name {
left: 12.2%;
}
#stn3Name {
left: 23.9%;
}
#stn4Name {
left: 33.5%;
}
#interchange5 {
left: 44.2%;
}
#interchange6 {
left: 44.2%;
}
#interchange7 {
left: 44.2%;
}
#stn9Name {
left: 54%;
}
#stn10Name {
left: 62.5%;
}
#stn11Name {
left: 72.5%;
}
#stn12Name {
left: 82.3%;
}
#stn13Name {
left: 93.5%;
}
#stn14Name {
left: 104.2%;
}
#stn15Name {
left: 118.8%; 
}
#stn17Name {
left: 118.7%; 
}
#interchange12 {
left: 114.2%;
}
#interchange13 {
left: 114.2%;
}
#stn21Name {
left: 122.7%; 
}
#stn23Name {
left: 151.5%; 
}
#stn24Name {
left: 161.4%; 
}
#stn25Name {
left: 171.9%; 
}
#stn26Name {
left: 181.1%; 
}
#stn27Name {
left: 190%; 
}
#stn28Name {
left: 202.6%; 
}
#stn30Name {
left: 222.6%; 
}
#stn31Name {
left: 234.2%; 
}
#stn32Name {
left: 244.2%; 
}
#stn33Name {
left: 252.5%; 
}
#stn36Name {
left: 282.1%; 
}
#stn37Name {
left: 302.4%; 
}
#stn39Name {
left: 134.1%;
}
#stn40Name {
top: 36.8%;
left: 149%;
}
#stn41Name {
top: 46.8%;
left: 149%;
}
#stn42Name {
left: 151.8%;
}
#stn43Name {
left: 165.7%;
}
#stn44Name {
left: 179.7%;
}
#stn45Name {
left: 194.8%;
}
#stn47Name {
left: 220.9%;
}
#stn48Name {
left: 235.1%;
}
}
@media only screen and (max-width: 1600px) {
.mainRouteStnsTopPosition {
top: 61.7%;
}
.mainRouteStnsOneLine {
top: 56%;
}
.mainRouteStnsTwoLines {
top: 53%;
}
.aylesburyBranchStnsTopPosition {
top: 26.7%;
}
.aylesburyBranchStnsOneLine {
top: 21%;
}
.aylesburyBranchStnsTwoLines {
top: 18%;
}
#stn1Name {
left: 2%;
}
#londonMidland1 {
top: 67%;
left: 1.8%;
}
#stn2Name {
left: 12.5%;
}
#londonMidland2 {
top: 67%;
left: 12.3%;
}
#stn3Name {
left: 23.8%;
}
#londonMidland3 {
top: 67%;
left: 22.3%;
}
#londonMidland4 {
top: 67%;
left: 32.3%;
}
#interchange5 {
left: 44.35%;
}
#stn5Name {
top: 77%;
}
#londonMidland5 {
top: 78.3%;
}
#nonInterchange1 {
left: 45.5%;
}
#stn6Name {
top: 86.6%;
}
#interchange6 {
left: 44.35%;
}
#stn7Name {
top: 96.9%;
}
#londonMidland6 {
top: 98.3%;
}
#interchange7 {
left: 44.35%;
}
#stn8Name {
top: 107%;
}
#londonMidland7 {
top: 108.3%;
}
#londonMidland8 {
top: 67%;
left: 52.3%;
}
#stn10Name {
left: 62.9%;
}
#stn11Name {
left: 72.9%;
}
#stn12Name {
left: 82.5%;
}
#crosscountry1 {
top: 67%;
left: 82.3%;
}
#londonMidland9 {
top: 70%;
left: 82.3%;
}
#crosscountry2 {
top: 67%;
left: 92.3%;
}
#gwr1 {
top: 67%;
left: 102.3%;
}
#nonInterchange4 {
left: 115.5%;
}
#stn15Name {
left: 117.9%; 
}
#nonInterchange5 {
left: 115.5%;
}
#stn16Name {
top: 84.6%; 
}
#nonInterchange6 {
left: 115.5%;
}
#stn17Name {
top: 94.6%; 
left: 117.4%; 
}
#interchange12 {
left: 114.35%;
}
#stn18Name {
top: 106%; 
}
#gwr2 {
top: 105.75%;
left: 105%;
}
#nonInterchange7 {
left: 115.5%;
}
#interchange13 {
left: 114.35%;
}
#stn20Name {
top: 126%; 
}
#crosscountry3 {
top: 124.3%;
}
#gwr3 {
top: 127.3%;
}
#stn21Name {
left: 123%; 
}
#stn23Name {
left: 152.1%; 
}
#stn24Name {
left: 162%; 
}
#stn25Name {
left: 172.3%; 
}
#stn26Name {
left: 181.6%; 
}
#stn27Name {
left: 190.3%; 
}
#stn28Name {
left: 202.8%; 
}
#stn30Name {
left: 223%; 
}
#stn31Name {
left: 234.1%; 
}
#londonUnderground1 {
top: 67%;
left: 231.8%;
}
#stn32Name {
left: 244.1%; 
}
#londonUnderground2 {
top: 67%;
left: 241.8%;
}
#stn33Name {
left: 253%; 
}
#stn34Name {
width: 9%;
left: 261.3%; 
}
#londonUnderground3 {
top: 67%;
left: 261.8%;
}
#stn36Name {
left: 282.4%; 
}
#stn37Name {
left: 302.5%; 
}
#stn39Name {
left: 134.5%;
}
#nonInterchange22 {
left: 146%;
}
#stn40Name {
top: 36.6%;
left: 147.8%;
}
#nonInterchange23 {
left: 146%;
}
#stn41Name {
top: 46.6%;
left: 147.5%;
}
#stn42Name {
left: 152.2%;
}
#stn43Name {
left: 166.1%;
}
#stn44Name {
left: 180.1%;
}
#londonUnderground5 {
top: 32%;
left: 193.8%;
}
#stn46Name {
left: 207.5%;
}
#londonUnderground6 {
top: 32%;
left: 207.8%;
}
#stn47Name {
left: 221.4%;
}
#stn48Name {
left: 235.6%;
}
#londonUnderground7 {
top: 32%;
left: 235.8%;
}
#stn49Name {
left: 256.5%;
}
#londonUnderground8 {
top: 32%;
left: 256.8%;
}
}
@media only screen and (max-width: 1440px) {
#stn3Name {
left: 23.7%;
}
#stn4Name {
left: 33.3%;
}
#stn9Name {
left: 53.9%;
}
#stn10Name {
left: 62.7%;
}
#stn11Name {
left: 72.7%;
}
#stn12Name {
left: 82.3%;
}
#stn13Name {
left: 93.3%;
}
#stn14Name {
left: 104%;
}
#stn15Name {
left: 118.4%; 
}
#stn17Name {
left: 118%; 
}
#stn21Name {
left: 122.7%; 
}
#stn23Name {
left: 151.8%; 
}
#stn24Name {
left: 161.8%; 
}
#stn25Name {
left: 172.1%; 
}
#stn26Name {
left: 181.2%; 
}
#stn28Name {
left: 202.6%; 
}
#stn30Name {
left: 222.8%; 
}
#stn31Name {
left: 233.9%; 
}
#stn32Name {
left: 243.9%; 
}
#stn33Name {
left: 252.5%; 
}
#stn36Name {
left: 282.2%; 
}
#stn37Name {
left: 302.3%; 
}
#stn39Name {
left: 134.3%;
}
#nonInterchange22 {
left: 146.1%;
}
#nonInterchange23 {
left: 146.1%;
}
#stn42Name {
left: 151.9%;
}
#stn43Name {
left: 166%;
}
#stn44Name {
left: 179.9%;
}
#stn45Name {
left: 194.6%;
}
#stn47Name {
left: 221.2%;
}
#stn48Name {
left: 235.2%;
}
}
@media only screen and (max-width: 1366px) {
.mainRouteStnsOneLine {
top: 54.5%;
}
.mainRouteStnsTwoLines {
top: 51%;
}
.aylesburyBranchStnsOneLine {
top: 19.5%;
}
.aylesburyBranchStnsTwoLines {
top: 16.5%;
}
#stn1Name {
left: 1.7%;
}
#stn2Name {
left: 12.2%;
}
#stn3Name {
left: 23.5%;
}
#stn4Name {
left: 33.1%;
}
#stn5Name {
top: 76.4%;
}
#stn6Name {
top: 86%;
}
#stn7Name {
top: 96.3%;
}
#stn8Name {
top: 106.3%;
}
#stn10Name {
left: 62.5%;
}
#stn11Name {
left: 72.5%;
}
#stn12Name {
left: 82.1%;
}
#stn13Name {
left: 93.1%;
}
#stn14Name {
left: 103.8%;
}
#stn15Name {
top: 74%;
left: 118.6%;
}
#stn16Name {
top: 84%;
}
#stn17Name {
top: 94%;
left: 118.4%; 
}
#stn18Name {
top: 105.5%; 
}
#stn19Name {
top: 114%; 
}
#stn20Name {
top: 125.5%; 
}
#stn21Name {
left: 122.5%; 
}
#stn23Name {
left: 151.6%; 
}
#stn24Name {
left: 161.6%; 
}
#stn25Name {
left: 171.9%; 
}
#stn26Name {
left: 181%; 
}
#stn30Name {
left: 222.6%; 
}
#stn35Name {
left: 269.3%; 
}
#stn36Name {
left: 282.1%; 
}
#stn37Name {
left: 302.1%; 
}
#stn39Name {
left: 134.1%;
}
#stn40Name {
top: 35.9%;
}
#stn41Name {
top: 45.9%;
}
#stn42Name {
left: 151.7%;
}
#stn43Name {
left: 165.8%;
}
#stn44Name {
left: 179.7%;
}
#stn45Name {
left: 194.4%;
}
#stn47Name {
left: 220.9%;
}
#stn48Name {
left: 234.8%;
}
#exitLink3 {
top: 15%;
}
}
@media only screen and (max-width: 1280px) {
.mainRouteStnsOneLine {
top: 55%;
}
.mainRouteStnsTwoLines {
top: 51.5%;
}
.aylesburyBranchStnsOneLine {
top: 20%;
}
.aylesburyBranchStnsTwoLines {
top: 17%;
}
#stn1Name {
left: 1.5%;
}
#stn2Name {
left: 12%;
}
#stn5Name {
top: 76.5%;
}
#stn6Name {
top: 86.2%;
}
#stn7Name {
top: 96.5%;
}
#stn8Name {
top: 106.5%;
}
#stn9Name {
left: 53.6%;
}
#stn10Name {
left: 62.2%;
}
#stn11Name {
left: 72.2%;
}
#stn12Name {
left: 81.8%;
}
#nonInterchange4 {
left: 115.7%;
}
#stn15Name {
width: 12%;
top: 74.2%;
left: 118.6%;
}
#nonInterchange5 {
left: 115.7%;
}
#stn16Name {
top: 84.2%;
}
#nonInterchange6 {
left: 115.7%;
}
#stn17Name {
width: 16%;
top: 94.2%;
left: 118.7%; 
}
#interchange12 {
left: 114.4%;
}
#stn18Name {
top: 105.5%; 
}
#nonInterchange7 {
left: 115.7%;
}
#stn19Name {
top: 114%; 
}
#interchange13 {
left: 114.4%;
}
#stn20Name {
top: 125.5%; 
}
#stn23Name {
left: 151.4%; 
}
#stn24Name {
left: 161.3%; 
}
#stn26Name {
left: 180.7%; 
}
#stn28Name {
left: 202.3%; 
}
#stn30Name {
left: 222.4%; 
}
#stn31Name {
left: 233.7%; 
}
#stn32Name {
left: 243.7%; 
}
#stn33Name {
left: 252.3%; 
}
#stn36Name {
left: 281.8%; 
}
#stn37Name {
left: 301.8%; 
}
#stn39Name {
left: 133.9%;
}
#nonInterchange22 {
left: 146.3%;
}
#stn40Name {
top: 36.1%;
left: 148.4%;
}
#nonInterchange23 {
left: 146.3%;
}
#stn41Name {
top: 46.1%;
left: 148.5%;
}
#stn42Name {
left: 151.7%;
}
#stn43Name {
left: 165.6%;
}
#stn44Name {
left: 179.6%;
}
#stn45Name {
left: 194.2%;
}
#stn47Name {
left: 220.7%;
}
#stn48Name {
left: 234.6%;
}
}
@media only screen and (max-width: 1152px) {
.mainRouteStnsTopPosition {
top: 62.2%;
}
.mainRouteStnsOneLine {
top: 57%;
}
.mainRouteStnsTwoLines {
top: 54%;
}
.aylesburyBranchStnsTopPosition {
top: 27.2%;
}
.aylesburyBranchStnsOneLine {
top: 22%;
}
.aylesburyBranchStnsTwoLines {
top: 19%;
}
#londonMidland1 {
top: 66%;
left: 1.5%;
}
#londonMidland2 {
top: 66%;
left: 12%;
}
#londonMidland3 {
top: 66%;
left: 22%;
}
#stn4Name {
left: 32.9%;
}
#londonMidland4 {
top: 66%;
left: 32%;
}
#interchange5 {
left: 44.6%;
}
#stn5Name {
top: 76.8%;
}
#londonMidland5 {
top: 77.5%;
}
#nonInterchange1 {
left: 45.7%;
}
#stn6Name {
top: 86.8%;
}
#interchange6 {
left: 44.6%;
}
#stn7Name {
top: 96.8%;
}
#londonMidland6 {
top: 97.5%;
}
#interchange7 {
left: 44.6%;
}
#londonMidland7 {
top: 107.5%;
}
#londonMidland8 {
top: 66%;
left: 52%;
}
#crosscountry1 {
top: 66%;
left: 82%;
}
#londonMidland9 {
top: 69%;
left: 82%;
}
#crosscountry2 {
top: 66%;
left: 92%;
}
#stn14Name {
left: 103.6%;
}
#gwr1 {
top: 66%;
left: 102%;
}
#stn15Name {
top: 75%;
left: 118%;
}
#stn16Name {
top: 85%;
}
#stn17Name {
top: 95%;
left: 118%; 
}
#interchange12 {
left: 114.55%;
}
#stn18Name {
top: 105.8%;
}
#gwr2 {
top: 105%;
}
#stn19Name {
top: 115%;
}
#interchange13 {
left: 114.55%;
}
#stn25Name {
left: 171.7%; 
}
#stn29Name {
left: 211.2%; 
}
#londonUnderground1 {
top: 66%;
left: 231.5%;
}
#londonUnderground2 {
top: 66%;
left: 241.5%;
}
#londonUnderground3 {
top: 66%;
left: 261.5%;
}
#londonUnderground4 {
top: 66%;
left: 301.5%;
}
#lineEnd1 {
top: 26.3%;
}
#nonInterchange22 {
left: 146%;
}
#stn40Name {
top: 37%;
left: 148.4%;
}
#nonInterchange23 {
left: 146%;
}
#stn41Name {
top: 47%;
left: 148.5%;
}
#londonUnderground5 {
top: 31%;
left: 193.5%;
}
#londonUnderground6 {
top: 31%;
left: 207.5%;
}
#londonUnderground7 {
top: 31%;
left: 235.5%;
}
#stn49Name {
left: 256.3%;
}
#londonUnderground8 {
top: 31%;
left: 256.5%;
}
}
@media only screen and (max-width: 1024px) {
.mainRouteStnsOneLine {
top: 56%;
}
.mainRouteStnsTwoLines {
top: 53%;
}
.aylesburyBranchStnsOneLine {
top: 21%;
}
.aylesburyBranchStnsTwoLines {
top: 18%;
}
#stn1Name {
left: 1%;
}
#stn2Name {
left: 11.5%;
}
#stn3Name {
left: 23.3%;
}
#stn4Name {
left: 32.6%;
}
#stn5Name {
top: 76.5%;
}
#stn6Name {
top: 86.5%;
}
#stn7Name {
top: 96.5%;
}
#stn8Name {
top: 106.5%;
}
#stn9Name {
left: 53.3%;
}
#stn10Name {
left: 62%;
}
#stn11Name {
left: 72%;
}
#stn12Name {
left: 81.5%;
}
#stn13Name {
left: 92.8%;
}
#stn14Name {
left: 103.4%;
}
#stn15Name {
top: 74.4%;
left: 118.9%;
}
#stn16Name {
top: 84.4%;
}
#stn17Name {
width: 17%;
top: 94.4%;
left: 118.4%; 
}
#stn18Name {
top: 105.4%;
}
#stn19Name {
top: 114.4%;
}
#stn20Name {
top: 124.4%;
}
#stn21Name {
left: 122.3%; 
}
#stn23Name {
left: 151.2%; 
}
#stn24Name {
left: 161%; 
}
#stn25Name {
left: 171.4%; 
}
#stn26Name {
left: 180.4%; 
}
#stn28Name {
left: 202%; 
}
#stn30Name {
left: 222.2%; 
}
#stn31Name {
left: 233.4%; 
}
#stn32Name {
left: 243.4%; 
}
#stn33Name {
left: 252.1%; 
}
#stn36Name {
left: 281.5%; 
}
#stn37Name {
left: 301.4%; 
}
#stn39Name {
left: 133.5%;
}
#nonInterchange22 {
left: 146.2%;
}
#stn40Name {
top: 36.4%;
left: 148.9%;
}
#nonInterchange23 {
left: 146.2%;
}
#stn41Name {
width: 15%;
top: 46.4%;
left: 148.6%;
}
#stn42Name {
left: 151.4%;
}
#stn43Name {
left: 165.2%;
}
#stn44Name {
left: 179.3%;
}
#stn45Name {
left: 193.8%;
}
#stn46Name {
left: 207.4%;
}
#stn47Name {
left: 220.3%;
}
#stn48Name {
left: 234%;
}
}
@media only screen and (max-width: 800px) {
.stnNames {
font-size: 75%;
}
.aylesburyBranchStnsTopPosition {
top: 32.2%;
}
.aylesburyBranchStnsOneLine {
top: 26%;
}
.aylesburyBranchStnsTwoLines {
top: 23%;
}
#interchange5 {
left: 44.38%;
}
#nonInterchange1 {
left: 45.5%;
}
#interchange6 {
left: 44.38%;
}
#interchange7 {
left: 44.38%;
}
#nonInterchange4 {
left: 115.4%;
}
#stn15Name {
left: 118.6%;
}
#nonInterchange5 {
left: 115.4%;
}
#nonInterchange6 {
left: 115.4%;
}
#interchange12 {
left: 114.35%;
}
#nonInterchange7 {
left: 115.4%;
}
#interchange13 {
left: 114.35%;
}
#exitLink3 {
top: 12%;
}
#lineEnd1 {
top: 31.3%;
width: 0.7%;
}
#stn38Name {
top: 22.5%;
}
#nonInterchange22 {
top: 44.8%;
left: 146%;
}
#stn40Name {
top: 41.4%;
left: 148.9%;
}
#nonInterchange23 {
top: 52.8%;
left: 146%;
}
#stn41Name {
top: 49.4%;
left: 148.6%;
}
#londonUnderground5 {
top: 36%;
}
#londonUnderground6 {
top: 36%;
}
#londonUnderground7 {
top: 36%;
}
#londonUnderground8 {
top: 36%;
}