.lineCurve {
position: absolute;
border: 1.2em solid silver;
-webkit-box-sizing: 50%;
-moz-box-sizing: 50%;
-khtml-border-radius: 50%;
overflow: hidden;
}
#lineCurve1 {
width: 10%;
height: 47%; /* as the half of the width */
border-top-left-radius: 100px;
border-right: 0;
border-bottom: 0;
top: 63%;
left: 45%;
}
#lineCurve2 {
width: 10%;
height: 66%; /* as the half of the width */
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 63%;
left: 105%;
}
#lineCurve3 {
width: 9.5%;
height: 66%; /* as the half of the width */
border-top-left-radius: 100px;
border-right: 0;
border-bottom: 0;
top: 63%;
left: 115%;
}
#lineCurve4 {
width: 10%;
height: 20%; /* as the half of the width */
border-bottom-left-radius: 100px;
border-right: 0;
border-top: 0;
top: 42.9%;
left: 296%;
}
#lineCurve5 {
width: 171%;
height: 15%; /* as the half of the width */
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 27.9%;
left: 125%;
}
#lineCurve6 {
width: 5%;
height: 25%; /* as the half of the width */
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 27.9%;
left: 140.5%;
}
#lineCurve7 {
width: 9%;
height: 8.6%; /* as the half of the width */
border-bottom-left-radius: 100px;
border-top: 0;
border-right: 0;
top: 54.3%;
left: 145.5%;
}