@media only screen and (max-width: 1680px) {
#lineCurve5 {
width: 170.95%;
}
}
@media only screen and (max-width: 1600px) {
.lineCurve {
border: 0.75em solid silver;
}
}
@media only screen and (max-width: 1440px) {
#lineCurve3 {
height: 66.1%;
top: 62.9%;
}
}
@media only screen and (max-width: 1366px) {
#lineCurve1 {
border-top-left-radius: 50px;
}
#lineCurve2 {
border-top-right-radius: 50px;
}
#lineCurve3 {
height: 66.1%; 
border-top-left-radius: 50px;
top: 62.6%;
}
#lineCurve4 {
height: 18.2%;
top: 44.4%;
left: 295.9%;
}
#lineCurve7 {
height: 8.3%;
}
}
@media only screen and (max-width: 1280px) {
#lineCurve3 {
top: 62.8%;
}
#lineCurve4 {
height: 18%;
border-bottom-left-radius: 50px;
top: 44.6%;
left: 296%;
}
#lineCurve7 {
height: 8.5%;
}
}
@media only screen and (max-width: 1152px) {
.lineCurve {
border: 0.5em solid silver;
}
#lineCurve3 {
top: 62.9%;
}
#lineCurve4 {
height: 18.8%;
top: 44%;
left: 295.95%;
width: 9.5%;
}
#lineCurve5 {
border-top-right-radius: 50px;
}
#lineCurve6 {
height: 25.3%; /* as the half of the width */
}
#lineCurve7 {
height: 8.6%;
}
}
@media only screen and (max-width: 1024px) {
#lineCurve7 {
height: 8.5%;
}
}
@media only screen and (max-width: 800px) {
.lineCurve {
border: 0.3em solid silver;
}
#lineCurve5 {
height: 10.5%;
width: 171.1%;
top: 32.9%;
left: 124.8%;
}
#lineCurve6 {
height: 20.4%; /* as the half of the width */
top: 32.9%;
}
#lineCurve7 {
height: 8.6%;
}
}