.lineCurve {
position: absolute;
-webkit-box-sizing: 50%;
-moz-box-sizing: 50%;
-khtml-border-radius: 50%;
border: 1.2em solid limegreen;
overflow: hidden;
}
#lineCurve1 {
width: 202%;
height: 10%; /* as the half of the width */
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 82.5%;
left: 5%;
}
#lineCurve2 {
width: 10%;
height: 10%; /* as the half of the width */
border-bottom-right-radius: 100px;
border-top: 0;
border-left: 0;
top: 72.5%;
left: 125%;
}
#lineCurve3 {
width: 10%;
height: 10%; /* as the half of the width */
border-bottom-left-radius: 100px;
border-top: 0;
border-right: 0;
top: 72.5%;
left: 167.25%;
}
#lineCurve4 {
width: 70%;
height: 10%; /* as the half of the width */
border-bottom-left-radius: 100px;
border-top: 0;
border-right: 0;
top: 92.5%;
left: 207%;
}
#lineCurve5 {
width: 10%;
height: 10%; /* as the half of the width */
border-bottom-right-radius: 100px;
border-top: 0;
border-left: 0;
top: 72.5%;
left: 197%;
}
#lineCurve6 {
width: 100%;
height: 10%; /* as the half of the width */
border-top-left-radius: 100px;
border-right: 0;
border-bottom: 0;
top: 61%;
left: 207%;
}
#lineCurve7 {
width: 5%;
height: 5%; /* as the half of the width */
border-bottom-right-radius: 100px;
border-top: 0;
border-left: 0;
top: 56%;
left: 253%;
}
#lineCurve8 {
width: 10%;
height: 10%; /* as the half of the width */
border-top-left-radius: 100px;
border-right: 0;
border-bottom: 0;
top: 44.5%;
left: 258%;
}
