@media only screen and (max-width: 1680px) {
#stn1Name {
left: 1.9%;
}
#londonUnderground1 {
left: 1.3%;
}
#stn2Name {
left: 11.7%;
}
#stn3Name {
left: 23%;
}
#stn4Name {
left: 32.9%;
}
#stn5Name {
left: 43.2%;
}
#stn6Name {
left: 52.4%;
}
#stn7Name {
left: 62.6%;
}
#stn8Name {
left: 73.5%;
}
#stn9Name {
left: 81.7%;
}
#stn10Name {
left: 92.6%;
}
#stn11Name {
left: 102.7%;
}
#stn12Name {
left: 112.5%;
}
#stn13Name {
left: 122.9%;
}
#stn14Name {
left: 143%;
}
#stn15Name {
left: 153%;
}
#nonInterchange14 {
left: 136.1%;
}
#stn16Name {
left: 138.5%;
}
#stn17Name {
left: 142.6%;
}
#stn18Name {
left: 153.6%;
}
#stn20Name {
left: 173.7%;
}
#stn21Name {
left: 182.5%;
}
#stn22Name {
left: 192%;
}
#stn23Name {
left: 215.6%;
}
#stn24Name {
left: 224.7%;
}
#stn25Name {
left: 235.5%;
}
#stn26Name {
left: 244.1%;
}
#stn27Name {
left: 254.6%;
}
#stn28Name {
left: 265.1%;
}
#lineEnd1 {
left: 277.2%;
}
#stn29Name {
left: 274.2%;
}
#stn30Name {
left: 213.2%;
}
#stn31Name {
left: 223.9%;
}
#stn32Name {
left: 233.9%;
}
#stn33Name {
left: 245.5%;
}
#stn34Name {
left: 266.6%;
}
#stn35Name {
left: 263.9%;
}
#stn36Name {
left: 275.5%;
}
#stn37Name {
left: 283.9%;
}
#stn38Name {
left: 292.4%;
}
#stn39Name {
left: 303.4%;
}
}
@media only screen and (max-width: 1600px) {
.restOfTheLineStnsTopPosition {
top: 81.1%;
}
.restOfTheLineStnsOneLine {
top: 74.6%;
}
.restOfTheLineStnsTwoLines {
top: 71.6%;
}
.newAddingtonStnsTopPosition {
top: 101.1%;
}
.newAddingtonStnsTwoLines {
top: 92.1%;
}
.beckJunctionStnsTopPosition {
top: 59.6%;
}
.beckJunctionStnsOneLine {
top: 53.5%;
}
.beckJunctionStnsTwoLines {
top: 50.5%;
}
#stn1Name {
left: 2%;
}
#nrLogo1 {
left: 4.2%;
}
#londonUnderground1 {
top: 86%;
}
#stn2Name {
left: 12.2%;
}
#stn3Name {
left: 23.3%;
}
#stn4Name {
left: 33.2%;
}
#stn5Name {
left: 43.5%;
}
#stn6Name {
left: 52.7%;
}
#stn7Name {
left: 62.9%;
}
#nrLogo2 {
left: 74.7%;
}
#stn9Name {
left: 82.1%;
}
#stn10Name {
left: 92.9%;
}
#stn11Name {
left: 102.9%;
}
#stn12Name {
left: 112.8%;
}
#stn13Name {
left: 123.1%;
}
#route {
height: 29%;    
}
#stn14Name {
left: 143.2%;
}
#stn15Name {
left: 153.2%;
}
#nonInterchange14 {
left: 135.5%;
}
#stn16Name {
top: 60.2%;
left: 137.5%;
}
#nonInterchange15 {
top: 50.6%;
}
#stn17Name {
top: 44%;
left: 142.8%;
}
#interchange3 {
top: 50.7%;
}
#stn18Name {
top: 41%;
}
#nrLogo3 {
top: 36.9%;
left: 154.7%;
}
#londonOverground1 {
top: 55.7%;
left: 151.8%;
}
#nrLogo4 {
left: 174.8%;
}
#stn21Name {
left: 182.9%;
}
#stn22Name {
left: 192.3%;
}
#stn23Name {
left: 215.8%;
}
#stn24Name {
left: 224.9%;
}
#stn25Name {
left: 235.7%;
}
#stn26Name {
left: 244.4%;
}
#stn27Name {
top: 95.1%;
left: 254.9%;
}
#stn28Name {
top: 89.1%;
left: 265.3%;
}
#lineEnd1 {
top: 100.6%;
}
#stn29Name {
left: 274.6%;
}
#stn30Name {
left: 213.5%;
}
#stn31Name {
left: 224.2%;
}
#stn32Name {
left: 234.3%;
}
#stn33Name {
left: 245.7%;
}
#interchange5 {
top: 43.1%;
left: 267.5%;
}
#stn34Name {
top: 33.5%;
left: 266.5%;
}
#nrLogo5 {
left: 267.3%;
}
#stn35Name {
left: 264.4%;
}
#stn36Name {
left: 275.7%;
}
#nrLogo6 {
left: 276.8%;
}
#stn37Name {
left: 284.3%;
}
#stn38Name {
left: 292.9%;
}
#stn39Name {
left: 303.7%;
}
#nrLogo7 {
left: 305.8%;
}
}
@media only screen and (max-width: 1440px) {
#stn1Name {
left: 1.8%;
}
#stn2Name {
left: 11.9%;
}
#stn3Name {
left: 23.1%;
}
#stn4Name {
left: 33%;
}
#stn5Name {
left: 43.3%;
}
#stn6Name {
left: 52.5%;
}
#stn7Name {
left: 62.7%;
}
#nrLogo2 {
left: 74.6%;
}
#stn8Name {
left: 73.3%;
}
#stn9Name {
left: 81.8%;
}
#stn10Name {
left: 92.6%;
}
#stn11Name {
left: 102.7%;
}
#stn12Name {
left: 112.5%;
}
#stn13Name {
left: 122.9%;
}
#stn14Name {
left: 143%;
}
#stn15Name {
left: 153%;
}
#stn17Name {
left: 142.6%;
}
#stn18Name {
left: 153.4%;
}
#nrLogo3 {
left: 154.5%;
}
#stn20Name {
left: 173.5%;
}
#nrLogo4 {
left: 174.6%;
}
#stn21Name {
left: 182.7%;
}
#stn22Name {
left: 192%;
}
#stn23Name {
left: 215.6%;
}
#stn24Name {
left: 224.7%;
}
#stn25Name {
left: 235.5%;
}
#stn26Name {
left: 244.2%;
}
#stn27Name {
left: 254.7%;
}
#stn28Name {
left: 265.1%;
}
#stn29Name {
left: 274.3%;
}
#stn30Name {
left: 213.3%;
}
#stn31Name {
left: 223.9%;
}
#stn32Name {
left: 234%;
}
#stn33Name {
left: 245.5%;
}
#nrLogo5 {
left: 267.1%;
}
#stn35Name {
left: 264.1%;
}
#stn36Name {
left: 275.3%;
}
#nrLogo6 {
left: 276.5%;
}
#stn37Name {
left: 284%;
}
#stn38Name {
left: 292.7%;
}
#stn39Name {
left: 303.4%;
}
#nrLogo7 {
left: 305.5%;
}
}
@media only screen and (max-width: 1366px) {
.restOfTheLineStnsTopPosition {
top: 81.3%;
}
.restOfTheLineStnsOneLine {
top: 73.6%;
}
.restOfTheLineStnsTwoLines {
top: 70.6%;
}
.newAddingtonStnsTwoLines {
top: 90%;
}
.beckJunctionStnsOneLine {
top: 52.5%;
}
.beckJunctionStnsTwoLines {
top: 49.5%;
}
#stn1Name {
left: 1.6%;
}
#nrLogo1 {
left: 4%;
}
#stn2Name {
left: 11.7%;
}
#stn3Name {
left: 23%;
}
#stn4Name {
left: 32.8%;
}
#stn5Name {
left: 43.2%;
}
#stn6Name {
left: 52.3%;
}
#stn7Name {
left: 62.5%;
}
#stn8Name {
left: 73.2%;
}
#stn9Name {
left: 81.6%;
}
#stn10Name {
left: 92.5%;
}
#stn11Name {
left: 102.6%;
}
#stn12Name {
left: 112.4%;
}
#stn13Name {
left: 122.8%;
}
#route {
height: 28.6%;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;    
}
#stn15Name {
left: 152.9%;
}
#stn16Name {
top: 59.5%;
}
#stn17Name {
top: 43%;
left: 142.5%;
}
#stn18Name {
top: 40%;
left: 153.2%;
}
#nrLogo3 {
top: 36%;
left: 154.4%;
}
#stn19Name {
top: 63.5%;
}
#stn20Name {
left: 173.3%;
}
#nrLogo4 {
left: 174.5%;
}
#stn21Name {
left: 182.5%;
}
#stn22Name {
left: 191.8%;
}
#stn23Name {
left: 215.4%;
}
#stn24Name {
left: 224.5%;
}
#stn25Name {
left: 235.3%;
}
#stn26Name {
left: 244%;
}
#stn27Name {
top: 93%;
left: 254.6%;
}
#stn28Name {
top: 87%;
left: 265%;
}
#stn29Name {
left: 274.1%;
}
#stn30Name {
left: 213.2%;
}
#stn31Name {
left: 223.8%;
}
#stn32Name {
left: 233.9%;
}
#stn33Name {
left: 245.4%;
}
#stn34Name {
top: 33%;
left: 266.3%;
}
#stn35Name {
left: 263.8%;
}
#stn36Name {
left: 275.1%;
}
#nrLogo6 {
left: 276.3%;
}
#stn37Name {
left: 283.9%;
}
#stn38Name {
left: 292.5%;
}
#stn39Name {
left: 303.3%;
}
#nrLogo7 {
left: 305.3%;
}
}
@media only screen and (max-width: 1280px) {
#stn1Name {
left: 1.4%;
}
#nrLogo1 {
top: 66.6%;
}
#stn2Name {
left: 11.5%;
}
#stn3Name {
left: 22.8%;
}
#stn4Name {
left: 32.6%;
}
#stn5Name {
left: 43.1%;
}
#stn6Name {
left: 52.1%;
}
#stn7Name {
left: 62.3%;
}
#stn8Name {
left: 73%;
}
#nrLogo2 {
top: 66.6%;
}
#stn9Name {
left: 81.4%;
}
#stn10Name {
left: 92.3%;
}
#stn11Name {
left: 102.4%;
}
#stn12Name {
left: 112.2%;
}
#stn13Name {
left: 122.6%;
}
#stn14Name {
left: 142.8%;
}
#stn15Name {
left: 152.7%;
}
#nonInterchange14 {
left: 135.7%;
}
#stn16Name {
top: 59.3%;
width: 11%;
left: 138%;
}
#stn17Name {
left: 142.2%;
}
#stn18Name {
left: 153%;
}
#stn19Name {
top: 63.5%;
width: 12%;
left: 153.4%;
}
#stn20Name {
left: 173.1%;
}
#nrLogo4 {
top: 66.6%;
left: 174.4%;
}
#stn21Name {
left: 182.3%;
}
#stn22Name {
left: 191.5%;
}
#stn24Name {
left: 224.4%;
}
#stn25Name {
left: 235.2%;
}
#stn26Name {
left: 243.8%;
}
#stn27Name {
left: 254.4%;
}
#stn28Name {
left: 264.9%;
}
#lineEnd1 {
top: 101.1%;
}
#stn29Name {
left: 273.9%;
}
#stn30Name {
left: 213%;
}
#stn31Name {
left: 223.5%;
}
#stn32Name {
left: 233.7%;
}
#stn33Name {
left: 245.3%;
}
#stn34Name {
left: 266.2%;
}
#stn35Name {
left: 263.6%;
}
#stn36Name {
left: 274.9%;
}
#stn37Name {
left: 283.7%;
}
#stn38Name {
left: 292.2%;
}
#stn39Name {
left: 303%;
}
}
@media only screen and (max-width: 1152px) {
.restOfTheLineStnsTopPosition {
top: 81.7%;
}
.restOfTheLineStnsOneLine {
top: 76%;
}
.restOfTheLineStnsTwoLines {
top: 73%;
}
.newAddingtonStnsTopPosition {
top: 101.5%;
}
.newAddingtonStnsTwoLines {
top: 93%;
}
.beckJunctionStnsTopPosition {
top: 60%;
}
.beckJunctionStnsOneLine {
top: 54.5%;
}
.beckJunctionStnsTwoLines {
top: 51.5%;
}
#nrLogo1 {
left: 3.5%;
}
#londonUnderground1 {
top: 85%;
left: 1%;
}
#nrLogo2 {
left: 74.1%;
}
#route {
height: 29.4%;
}
#nonInterchange14 {
left: 135.5%;
}
#stn16Name {
top: 60.7%;
}
#nonInterchange15 {
top: 51%;
}
#stn17Name {
top: 45%;
}
#interchange3 {
top: 51%;
}
#stn18Name {
top: 42%;
}
#londonOverground1 {
top: 54.7%;
left: 151.5%;
}
#nrLogo3 {
left: 154%;
}
#nonInterchange16 {
left: 166%;
}
#stn19Name {
top: 64.8%;
left: 153%;
}
#stn20Name {
left: 172.9%;
}
#nrLogo4 {
left: 174%;
}
#stn27Name {
top: 96%;
}
#stn28Name {
top: 90%;
}
#lineEnd1 {
top: 101.6%;
}
#stn31Name {
left: 223.7%;
}
#interchange5 {
top: 43.6%;
}
#stn34Name {
top: 35%;
left: 266.1%;
}
#nrLogo5 {
left: 266.6%;
}
#stn35Name {
left: 263.8%;
}
#nrLogo6 {
left: 275.8%;
}
#stn37Name {
left: 283.9%;
}
#stn38Name {
left: 292.4%;
}
#nrLogo7 {
left: 304.8%;
}
}
@media only screen and (max-width: 1024px) {
#stn1Name {
left: 1%;
}
#nrLogo1 {
left: 3.3%;
}
#stn2Name {
left: 11.2%;
}
#stn3Name {
left: 22.6%;
}
#stn4Name {
left: 32.4%;
}
#stn5Name {
left: 42.9%;
}
#stn6Name {
left: 51.9%;
}
#stn7Name {
left: 62.1%;
}
#nrLogo2 {
left: 73.8%;
}
#stn8Name {
left: 72.7%;
}
#stn9Name {
left: 81.2%;
}
#stn10Name {
left: 92.1%;
}
#stn11Name {
left: 102.2%;
}
#stn12Name {
left: 112%;
}
#stn13Name {
left: 122.4%;
}
#route {
height: 29.3%;
}
#stn14Name {
left: 142.6%;
}
#stn15Name {
left: 152.5%;
}
#stn16Name {
top: 60.2%;
}
#stn17Name {
left: 141.9%;
}
#nrLogo3 {
left: 153.7%;
}
#stn18Name {
left: 152.7%;
}
#stn19Name {
top: 64.3%;
}
#nrLogo4 {
left: 173.7%;
}
#stn20Name {
left: 172.7%;
}
#stn21Name {
left: 182%;
}
#stn22Name {
left: 191.2%;
}
#stn23Name {
left: 215.2%;
}
#stn24Name {
left: 224.2%;
}
#stn25Name {
left: 235%;
}
#stn26Name {
left: 243.5%;
}
#stn27Name {
left: 254.1%;
}
#stn28Name {
left: 264.6%;
}
#lineEnd1 {
top: 101.6%;
left: 277.4%;
}
#stn29Name {
left: 273.7%;
}
#stn30Name {
left: 212.7%;
}
#stn31Name {
left: 223.5%;
}
#stn32Name {
left: 233.5%;
}
#stn33Name {
left: 245.1%;
}
#stn34Name {
left: 265.8%;
}
#nrLogo5 {
left: 266.3%;
}
#stn35Name {
left: 263.4%;
}
#nrLogo6 {
left: 275.5%;
}
#stn36Name {
left: 274.6%;
}
#stn37Name {
left: 283.5%;
}
#stn38Name {
left: 292%;
}
#nrLogo7 {
left: 304.5%;
}
#stn39Name {
left: 302.6%;
}
}
@media only screen and (max-width: 800px) {
.restOfTheLineStnsOneLine {
top: 75%;
}
.restOfTheLineStnsTwoLines {
top: 72%;
}
.newAddingtonStnsTwoLines {
top: 92%;
}
.beckJunctionStnsOneLine {
top: 53.5%;
}
.beckJunctionStnsTwoLines {
top: 50.5%;
}
#stn1Name {
left: 0.7%;
}
#nrLogo1 {
top: 65.5%;
left: 2.7%;
}
#londonUnderground1 {
top: 86%;
}
#stn2Name {
left: 11%;
}
#stn3Name {
left: 22.5%;
}
#stn4Name {
left: 32.2%;
}
#stn5Name {
left: 42.7%;
}
#stn6Name {
left: 51.8%;
}
#stn7Name {
left: 62%;
}
#nrLogo2 {
top: 65.5%;
left: 73.2%;
}
#stn9Name {
left: 80.8%;
}
#stn10Name {
left: 92%;
}
#stn11Name {
left: 102.1%;
}
#stn12Name {
left: 111.9%;
}
#stn13Name {
left: 122.3%;
}
#route {
height: 29%;
}
#stn14Name {
left: 142.5%;
}
#stn15Name {
left: 152.4%;
}
#nonInterchange14 {
left: 135.9%;
}
#stn16Name {
top: 59.7%;
width: 12%;
left: 139%;
}
#stn17Name {
top: 44%;
left: 141.8%;
}
#nrLogo3 {
top: 35%;
left: 153.1%;
}
#stn18Name {
top: 41%;
left: 152.6%;
}
#nonInterchange16 {
left: 166.4%;
}
#stn19Name {
width: 13%;
top: 63.9%;
left: 152%;
}
#nrLogo4 {
top: 65.5%;
left: 173.4%;
}
#stn21Name {
left: 181.9%;
}
#stn22Name {
left: 191.1%;
}
#stn23Name {
left: 215.1%;
}
#stn24Name {
left: 224.1%;
}
#stn26Name {
left: 243.3%;
}
#stn27Name {
top: 95%;
left: 254%;
}
#stn28Name {
top: 89%;
left: 264.5%;
}
#lineEnd1 {
top: 101.6%;
left: 277.6%;
}
#stn30Name {
left: 212.5%;
}
#stn31Name {
left: 223.1%;
}
#stn32Name {
left: 233.3%;
}
#stn33Name {
left: 245%;
}
#stn34Name {
top: 34%;
}
#nrLogo5 {
top: 28.5%;
left: 265.7%;
}
#stn35Name {
left: 263.2%;
}
#nrLogo6 {
top: 45%;
left: 274.9%;
}
#stn37Name {
left: 283.3%;
}
#stn38Name {
left: 291.7%;
}
#nrLogo7 {
top: 45%;
left: 303.9%;
}
#stn39Name {
left: 302.4%;
}