@media only screen and (max-width: 1680px) {
#nrLogo1 {
left: 4.6%;
}
#stn1Name {
left: 3%;
}
#stn2Name {
left: 11.7%;
}
#nrLogo2 {
left: 25.1%;
}
#stn3Name {
left: 24%;
}
#stn4Name {
left: 31.5%;
}
#stn5Name {
left: 43.4%;
}
#stn6Name {
left: 51.9%;
}
#nrLogo3 {
left: 65.1%;
}
#stn7Name {
left: 62.4%;
}
#stn8Name {
left: 73.1%;
}
#stn9Name {
left: 83.1%;
}
#stn10Name {
left: 92.1%;
}
#nrLogo4 {
left: 105.1%;
}
#stn11Name {
left: 103%;
}
#stn12Name {
left: 111.3%;
}
#stn13Name {
left: 121.8%;
}
#nrLogo5 {
left: 84.6%;
}
#stn14Name {
left: 82.3%;
}
#stn15Name {
left: 92.7%;
}
#stn16Name {
left: 102%;
}
#stn17Name {
left: 113.4%;
}
#stn18Name {
left: 123%;
}
#stn19Name {
left: 143%;
}
#stn20Name {
left: 168.2%;
}
#stn21Name {
left: 178.8%;
}
#stn23Name {
left: 196.6%;
}
#nrLogo6 {
left: 210.1%;
}
#stn24Name {
left: 209%;
}
#stn25Name {
left: 168.2%;
}
#stn26Name {
left: 176.1%;
}
#stn27Name {
left: 186%;
}
#nrLogo7 {
left: 200.1%;
}
#stn28Name {
left: 197.5%;
}
#stn29Name {
width: 10%;
left: 205.2%;
}
#stn30Name {
left: 216.6%;
}
#stn31Name {
left: 228%;
}
#stn32Name {
left: 247.2%;
}
#stn33Name {
left: 257.9%;
}
#stn35Name {
left: 276.8%;
}
#stn36Name {
left: 299.7%;
}
#stn37Name {
left: 310.9%;
}
#stn38Name {
left: 332.7%;
}
#stn39Name {
left: 341.3%;
}
#stn40Name {
left: 352.1%;
}
#stn41Name {
left: 361%;
}
#nrLogo8 {
left: 375.1%;
}
#stn42Name {
left: 373.8%;
}
#stn44Name {
left: 257.6%;
}
#stn45Name {
width: 12%;
left: 264.3%;
}
#nrLogo9 {
left: 280.1%;
}
#stn46Name {
left: 277.2%;
}
#stn47Name {
left: 286.7%;
}
#stn48Name {
left: 307.1%;
}
#stn49Name {
width: 12%;
left: 323%;
}
#stn50Name {
left: 312.8%;
}
#stn51Name {
left: 301.8%;
}
#stn52Name {
left: 292.4%;
}
#stn53Name {
top: 68.2%;
width: 9%;
left: 275.5%;
}
#stn54Name {
left: 278.3%;
}
#stn55Name {
left: 268.4%;
}
#stn56Name {
left: 258.4%;
}
#nrLogo12 {
left: 250.1%;
}
#stn57Name {
left: 247.9%;
}
#stn59Name {
left: 218.2%;
}
#stn60Name {
left: 232%;
}
#stn61Name {
left: 223.2%;
}
#stn62Name {
left: 211.8%;
}
#stn63Name {
left: 202.1%;
}
#stn64Name {
left: 322.8%;
}
#stn65Name {
width: 11%;
}
#nrLogo13 {
left: 340.1%;
}
#stn66Name {
left: 336.8%;
}
#stn67Name {
left: 348.2%;
}
#stn68Name {
left: 357.5%;
}
#stn69Name {
left: 367.2%;
}
#nrLogo14 {
left: 389.6%;
}
#stn70Name {
left: 387.8%;
}
#nrLogo15 {
left: 404.6%;
}
#stn71Name {
left: 402.3%;
}
#stn72Name {
left: 322.5%;
}
#stn73Name {
left: 332%;
}
#stn74Name {
left: 342.4%;
}
#nrLogo16 {
left: 355.1%;
}
#stn75Name {
left: 353.4%;
}
#nonInterchange54 {
left: 280.8%;
}
#stn76Name {
width: 10%;
left: 283.5%;
}
#nonInterchange55 {
left: 280.8%;
}
#stn77Name {
width: 13%;
left: 283.3%;
}
#nonInterchange56 {
left: 280.8%;
}
#stn78Name {
width: 10%;
left: 283.4%;
}
#interchange22 {
left: 279.1%;
}
#stn79Name {
left: 283.4%;
}
#nonInterchange57 {
left: 300.8%;
}
#stn80Name {
width: 12%;
left: 303.2%;
}
#nonInterchange58 {
left: 300.8%;
}
#nonInterchange59 {
left: 300.8%;
}
#nonInterchange60 {
left: 300.8%;
}
#stn83Name {
width: 16%;
}
#interchange23 {
left: 299.15%;
}
#stn85Name {
left: 288.2%;
}
#stn86Name {
left: 280.2%;
}
#stn87Name {
left: 271.4%;
}
#stn88Name {
left: 265.8%;
}
#stn89Name {
left: 257.3%;
}
#interchange26 {
left: 249.2%;
}
#nrLogo19 {
left: 240.1%;
}
#stn92Name {
left: 227.5%;
}
#stn94Name {
left: 208.3%;
}
#stn95Name {
left: 196.8%;
}
#nrLogo20 {
left: 179.6%;
}
#stn96Name {
left: 178.5%;
}
#stn97Name {
left: 183.2%;
}
#stn98Name {
left: 172.8%;
}
#nrLogo21 {
left: 165.1%;
}
#stn99Name {
left: 163.2%;
}
#nrLogo22 {
left: 154.6%;
}
#stn100Name {
left: 153%;
}
#nrLogo23 {
left: 235.1%;
}
#nrLogo24 {
left: 225.1%;
}
#stn103Name {
left: 223.3%;
}
#stn104Name {
left: 212.3%;
}
#nrLogo25 {
left: 205.1%;
}
#stn105Name {
left: 204.1%;
}
#stn107Name {
left: 181.2%;
}
#nrLogo26 {
left: 175.1%;
}
#stn108Name {
left: 173.3%;
}
#stn109Name {
left: 162.5%;
}
#stn111Name {
left: 135.6%;
}
}
@media only screen and (max-width: 1600px) {
.watfordJunctionRouteStnsTopPosition {
top: 51.8%;
}
.watfordJunctionRouteStnsOneLine {
top: 46%;
}
.watfordJunctionRouteStnsTwoLines {
top: 43%;
}
.richmondToStratfordRouteStnsTopPosition {
top: 111.8%;
}
.richmondToStratfordRouteStnsOneLine {
top: 106%;
}
.richmondToStratfordRouteStnsTwoLines {
top: 103%;
}
.eustonBranchStnsTopPosition {
top: 141.8%;
}
.eustonBranchStnsTwoLines {
top: 133%;
}
.barkingBranchStnsTopPosition {
top: 60.8%;
}
.barkingBranchStnsOneLine {
top: 55%;
}
.barkingBranchStnsTwoLines {
top: 52%;
}
.sHillToClaptonStnsTopPosition {
top: 90.3%;
}
.upperRoutesStnsTopPosition {
top: 33.8%;
}
.upperRoutesStnsOneLine {
top: 28%;
}
.upperRoutesStnsTwoLines {
top: 25%;
}
.southLondonUpperRouteStnsTopPosition {
top: 206.8%;
}
.southLondonUpperRouteStnsOneLine {
top: 201%;
}
.southLondonUpperRouteStnsTwoLines {
top: 198%;
}
.southLondonLowerRouteStnsTopPosition {
top: 228.8%;
}
.southLondonLowerRouteStnsOneLine {
top: 223%;
}
.southLondonLowerRouteStnsTwoLines {
top: 220%;
}
#nrLogo1 {
left: 4.1%;
}
#stn1Name {
left: 3.2%;
}
#stn2Name {
left: 12.1%;
}
#nrLogo2 {
left: 24.6%;
}
#stn3Name {
left: 23.9%;
}
#stn4Name {
left: 32.1%;
}
#stn5Name {
left: 43.7%;
}
#stn6Name {
left: 52.3%;
}
#nrLogo3 {
left: 64.6%;
}
#stn7Name {
left: 62.6%;
}
#londonUnderground1 {
top: 57%;
left: 61.8%;
}
#stn8Name {
left: 73.4%;
}
#stn9Name {
left: 83.4%;
}
#stn10Name {
left: 92.6%;
}
#nrLogo4 {
left: 104.6%;
}
#stn11Name {
left: 103.1%;
}
#stn12Name {
left: 111.8%;
}
#stn13Name {
left: 122.3%;
}
#nrLogo5 {
left: 84.1%;
}
#stn14Name {
left: 82.5%;
}
#londonUnderground2 {
top: 117%;
left: 81.3%;
}
#stn15Name {
left: 93%;
}
#stn16Name {
left: 102.2%;
}
#londonUnderground3 {
top: 117%;
left: 101.8%;
}
#stn17Name {
left: 113.6%;
}
#stn18Name {
left: 123.2%;
}
#londonUnderground4 {
top: 117%;
left: 141.8%;
}
#stn20Name {
left: 168.4%;
}
#londonUnderground5 {
top: 147%;
left: 176.8%;
}
#stn22Name {
left: 186.3%;
}
#stn23Name {
left: 197%;
}
#nrLogo6 {
left: 209.6%;
}
#stn24Name {
top: 136%;
}
#londonUnderground6 {
top: 147%;
left: 206.8%;
}
#stn25Name {
left: 168.5%;
}
#stn26Name {
left: 176.7%;
}
#stn27Name {
left: 186.6%;
}
#nrLogo7 {
left: 199.6%;
}
#stn28Name {
left: 197.7%;
}
#londonUnderground7 {
top: 117%;
left: 196.8%;
}
#stn30Name {
left: 217%;
}
#stn31Name {
left: 228.2%;
}
#stn32Name {
left: 247.6%;
}
#stn33Name {
left: 258.2%;
}
#stn34Name {
width: 10%;
left: 265.2%;
}
#stn35Name {
left: 277.2%;
}
#stn36Name {
left: 299.9%;
}
#londonUnderground8 {
top: 66%;
left: 298.8%;
}
#stn37Name {
left: 311.4%;
}
#stn38Name {
top: 49%;
left: 333.1%;
}
#stn39Name {
left: 341.6%;
}
#stn40Name {
left: 352.5%;
}
#stn41Name {
left: 361.6%;
}
#nrLogo8 {
left: 374.6%;
}
#londonUnderground9 {
top: 66%;
left: 371.8%;
}
#stn43Name {
left: 246.2%;
}
#stn44Name {
left: 258%;
}
#nrLogo9 {
left: 279.6%;
}
#stn46Name {
left: 276.9%;
}
#londonUnderground10 {
top: 117%;
left: 276.8%;
}
#stn47Name {
left: 287%;
}
#stn48Name {
left: 307.6%;
}
#interchange15 {
left: 319.3%;
}
#nrLogo10 {
top: 100%;
left: 314%;
}
#stn49Name {
top: 98%;
left: 321.8%;
}
#stn50Name {
top: 81.5%;
left: 313.1%;
}
#stn51Name {
top: 81.5%;
left: 302.3%;
}
#stn52Name {
top: 81.5%;
left: 292.8%;
}
#interchange16 {
left: 286.3%;
}
#nrLogo11 {
top: 69.6%;
}
#stn53Name {
top: 67.8%;
left: 276%;
}
#londonUnderground11 {
top: 67.6%;
left: 289.5%;
}
#stn54Name {
left: 278.6%;
}
#stn55Name {
top: 22%;
left: 268.7%;
}
#stn56Name {
left: 258.6%;
}
#nrLogo12 {
left: 249.6%;
}
#stn57Name {
left: 248.2%;
}
#nonInterchange43 {
top: 53.6%;
}
#stn58Name {
top: 44.5%;
left: 226.4%;
}
#lineEnd1 {
top: 53.5%;
}
#stn59Name {
top: 44.5%;
left: 218.4%;
}
#stn60Name {
left: 232.4%;
}
#stn61Name {
left: 223.5%;
}
#stn62Name {
left: 212.3%;
}
#lineEnd2 {
top: 33.5%;
}
#stn63Name {
left: 202.4%;
}
#stn64Name {
left: 323%;
}
#stn65Name {
top: 71.6%;
left: 332%;
}
#nrLogo13 {
left: 339.6%;
}
#stn66Name {
left: 337%;
}
#londonUnderground12 {
top: 39%;
left: 336.8%;
}
#stn67Name {
left: 348.5%;
}
#stn68Name {
left: 357.8%;
}
#lineEnd3 {
top: 33.5%;
}
#stn69Name {
left: 367.3%;
}
#nrLogo14 {
left: 389.1%;
}
#stn70Name {
left: 388%;
}
#crossrail1 {
top: 39%;
left: 386.3%;
}
#nrLogo15 {
left: 404.1%;
}
#stn71Name {
left: 402.4%;
}
#londonUnderground13 {
top: 39%;
left: 401.3%;
}
#stn72Name {
left: 322.8%;
}
#stn73Name {
left: 332.3%;
}
#stn74Name {
left: 342.7%;
}
#nrLogo16 {
left: 354.6%;
}
#stn75Name {
left: 353.5%;
}
#crossrail2 {
top: 117%;
left: 351.8%;
}
#dlr1 {
top: 126%;
left: 351.8%;
}
#londonUnderground14 {
top: 135%;
left: 351.8%;
}
#nonInterchange54 {
left: 280.6%;
}
#stn76Name {
top: 146.8%;
left: 283.2%;
}
#nonInterchange55 {
left: 280.6%;
}
#stn77Name {
top: 156.8%;
left: 282.5%;
}
#nonInterchange56 {
left: 280.6%;
}
#stn78Name {
top: 166.8%;
left: 283.1%;
}
#interchange22 {
left: 279.3%;
}
#nrLogo17 {
top: 180%;
left: 295%;
}
#stn79Name {
top: 177.8%;
left: 283%;
}
#crossrail3 {
top: 177.5%;
}
#londonUnderground15 {
top: 177.5%;
}
#nonInterchange57 {
left: 300.4%;
}
#stn80Name {
top: 141.8%;
left: 302.2%;
}
#nonInterchange58 {
left: 300.4%;
}
#stn81Name {
top: 151.8%;
}
#nonInterchange59 {
left: 300.4%;
}
#stn82Name {
top: 161.8%;
}
#nonInterchange60 {
left: 300.4%;
}
#stn83Name {
top: 171.8%;
left: 301.9%;
}
#interchange23 {
left: 299.3%;
}
#stn84Name {
top: 188%;
}
#crossrail4 {
top: 187.5%;
}
#londonUnderground16 {
top: 187.5%;
}
#stn85Name {
left: 288.3%;
}
#dlr2 {
top: 212%;
left: 286.8%;
}
#stn86Name {
left: 280.6%;
}
#stn87Name {
left: 272%;
}
#londonUnderground17 {
top: 212%;
left: 263.8%;
}
#stn89Name {
left: 257.5%;
}
#interchange26 {
left: 249.4%;
}
#nrLogo18 {
top: 247.2%;
}
#stn90Name {
top: 245%;
}
#nrLogo19 {
left: 239.6%;
}
#stn91Name {
left: 236.5%;
}
#stn92Name {
left: 227.8%;
}
#stn93Name {
left: 216.2%;
}
#stn94Name {
left: 208.6%;
}
#stn95Name {
left: 197.1%;
}
#nrLogo20 {
left: 179.1%;
}
#stn96Name {
top: 239.5%;
left: 178.4%;
}
#stn97Name {
left: 183.4%;
}
#stn98Name {
left: 173.1%;
}
#nrLogo21 {
left: 164.6%;
}
#stn99Name {
left: 163.4%;
}
#nrLogo22 {
left: 154.1%;
}
#stn100Name {
left: 153.1%;
}
#tramlink1 {
top: 234%;
left: 151.3%;
}
#nrLogo23 {
left: 234.6%;
}
#stn102Name {
left: 230.1%;
}
#nrLogo24 {
left: 224.6%;
}
#stn103Name {
left: 223.5%;
}
#stn104Name {
left: 212.8%;
}
#nrLogo25 {
left: 204.6%;
}
#stn105Name {
left: 204.1%;
}
#londonUnderground18 {
top: 212%;
left: 201.8%;
}
#stn107Name {
left: 181.7%;
}
#nrLogo26 {
left: 174.6%;
}
#stn109Name {
left: 162.9%;
}
#interchange35 {
left: 151.3%;
}
#stn110Name {
top: 178%;
left: 138.5%;
}
#londonUnderground19 {
top: 177.5%;
}
#interchange36 {
left: 151.3%;
}
#stn111Name {
top: 163%;
left: 135.8%;
}
#londonUnderground20 {
top: 162.5%;
}
#interchange37 {
left: 151.3%;
}
#nrLogo27 {
top: 149.7%;
}
#stn112Name {
top: 148%;
left: 136.8%;
}
#londonUnderground21 {
top: 147.5%;
}
}
@media only screen and (max-width: 1440px) {
#nrLogo1 {
left: 3.9%;
}
#stn1Name {
left: 2.8%;
}
#stn2Name {
left: 11.8%;
}
#nrLogo2 {
left: 24.4%;
}
#stn3Name {
left: 23.7%;
}
#stn4Name {
left: 31.8%;
}
#stn5Name {
left: 43.5%;
}
#stn6Name {
left: 52%;
}
#nrLogo3 {
left: 64.4%;
}
#stn7Name {
left: 62.2%;
}
#stn8Name {
left: 73.2%;
}
#stn9Name {
left: 83.2%;
}
#stn10Name {
left: 92.3%;
}
#nrLogo4 {
left: 104.4%;
}
#stn11Name {
left: 102.8%;
}
#stn12Name {
left: 111.5%;
}
#stn13Name {
left: 122%;
}
#nrLogo5 {
left: 83.9%;
}
#stn14Name {
left: 82.3%;
}
#stn15Name {
left: 92.8%;
}
#stn16Name {
left: 101.8%;
}
#stn17Name {
left: 113.4%;
}
#stn18Name {
left: 123%;
}
#stn19Name {
left: 142.7%;
}
#stn20Name {
left: 168.2%;
}
#stn21Name {
left: 178.6%;
}
#stn23Name {
left: 196.7%;
}
#nrLogo6 {
left: 209.4%;
}
#stn24Name {
left: 208.8%;
}
#stn25Name {
left: 168.3%;
}
#stn26Name {
left: 176.3%;
}
#stn27Name {
left: 186.2%;
}
#nrLogo7 {
left: 199.4%;
}
#stn28Name {
left: 197.3%;
}
#stn30Name {
left: 216.7%;
}
#stn31Name {
left: 228%;
}
#stn32Name {
left: 247.3%;
}
#stn33Name {
left: 258.1%;
}
#stn35Name {
left: 276.9%;
}
#stn36Name {
left: 299.5%;
}
#stn37Name {
left: 311.2%;
}
#stn38Name {
left: 332.9%;
}
#stn39Name {
left: 341.4%;
}
#stn40Name {
left: 352.3%;
}
#stn41Name {
left: 361.3%;
}
#nrLogo8 {
left: 374.4%;
}
#stn42Name {
left: 373.6%;
}
#stn43Name {
left: 246.1%;
}
#stn44Name {
left: 257.7%;
}
#stn45Name {
left: 264.1%;
}
#nrLogo9 {
left: 279.4%;
}
#stn47Name {
left: 286.8%;
}
#stn48Name {
left: 307.2%;
}
#stn50Name {
left: 312.9%;
}
#stn51Name {
left: 301.9%;
}
#stn52Name {
left: 292.5%;
}
#stn54Name {
left: 278.5%;
}
#stn55Name {
left: 268.5%;
}
#stn56Name {
left: 258.4%;
}
#nrLogo12 {
left: 249.4%;
}
#stn57Name {
left: 247.8%;
}
#stn59Name {
left: 218.2%;
}
#stn60Name {
left: 232.1%;
}
#stn61Name {
left: 223.3%;
}
#stn62Name {
left: 212%;
}
#stn63Name {
left: 202.2%;
}
#stn64Name {
left: 322.8%;
}
#nrLogo13 {
left: 339.4%;
}
#stn66Name {
left: 336.6%;
}
#stn67Name {
left: 348.3%;
}
#stn68Name {
left: 357.6%;
}
#stn69Name {
left: 367.1%;
}
#nrLogo14 {
left: 388.9%;
}
#stn70Name {
left: 387.8%;
}
#nrLogo15 {
left: 403.9%;
}
#stn71Name {
left: 402.1%;
}
#stn72Name {
left: 322.5%;
}
#stn73Name {
left: 331.9%;
}
#stn74Name {
left: 342.4%;
}
#nrLogo16 {
left: 354.4%;
}
#stn75Name {
left: 353.3%;
}
#stn77Name {
left: 282.8%;
}
#stn80Name {
left: 302.7%;
}
#stn83Name {
left: 302.4%;
}
#interchange23 {
left: 299.4%;
}
#stn85Name {
left: 288.1%;
}
#stn86Name {
left: 280.3%;
}
#stn87Name {
left: 271.7%;
}
#stn88Name {
left: 265.6%;
}
#stn89Name {
left: 257.4%;
}
#stn92Name {
left: 227.6%;
}
#stn94Name {
left: 208.4%;
}
#stn95Name {
left: 196.8%;
}
#nrLogo20 {
left: 178.9%;
}
#stn96Name {
left: 178.2%;
}
#stn97Name {
left: 183.2%;
}
#stn98Name {
left: 172.8%;
}
#nrLogo21 {
left: 164.4%;
}
#stn99Name {
left: 163.1%;
}
#nrLogo22 {
left: 153.9%;
}
#stn100Name {
left: 152.8%;
}
#stn101Name {
left: 239.7%;
}
#nrLogo23 {
left: 234.4%;
}
#stn102Name {
left: 229.9%;
}
#nrLogo24 {
left: 224.4%;
}
#stn103Name {
left: 223.2%;
}
#stn104Name {
left: 212.6%;
}
#nrLogo25 {
left: 204.4%;
}
#stn105Name {
left: 203.9%;
}
#stn106Name {
left: 191.2%;
}
#stn107Name {
left: 181.4%;
}
#nrLogo26 {
left: 174.4%;
}
#stn108Name {
left: 173.1%;
}
#stn109Name {
left: 162.7%;
}
#stn110Name {
left: 138.2%;
}
#stn111Name {
left: 135.6%;
}
}
@media only screen and (max-width: 1366px) {
.watfordJunctionRouteStnsOneLine {
top: 44.5%;
}
.watfordJunctionRouteStnsTwoLines {
top: 41.5%;
}
.richmondToStratfordRouteStnsOneLine {
top: 104.5%;
}
.richmondToStratfordRouteStnsTwoLines {
top: 101.5%;
}
.eustonBranchStnsTwoLines {
top: 131.5%;
}
.barkingBranchStnsOneLine {
top: 53.5%;
}
.barkingBranchStnsTwoLines {
top: 50.5%;
}
.upperRoutesStnsOneLine {
top: 26.5%;
}
.upperRoutesStnsTwoLines {
top: 23.5%;
}
.southLondonUpperRouteStnsOneLine {
top: 199.5%;
}
.southLondonUpperRouteStnsTwoLines {
top: 196.5%;
}
.southLondonLowerRouteStnsOneLine {
top: 221.5%;
}
.southLondonLowerRouteStnsTwoLines {
top: 218.5%;
}
#nrLogo1 {
left: 3.8%;
}
#stn1Name {
left: 2.6%;
}
#stn2Name {
left: 11.6%;
}
#nrLogo2 {
left: 24.3%;
}
#stn3Name {
left: 23.5%;
}
#stn4Name {
left: 31.5%;
}
#stn5Name {
left: 43.4%;
}
#stn6Name {
left: 51.8%;
}
#nrLogo3 {
left: 64.3%;
}
#stn7Name {
left: 62%;
}
#stn8Name {
left: 73%;
}
#stn9Name {
left: 83%;
}
#stn10Name {
left: 92.1%;
}
#nrLogo4 {
left: 104.3%;
}
#stn11Name {
left: 102.6%;
}
#stn12Name {
left: 111.3%;
}
#stn13Name {
left: 121.8%;
}
#nrLogo5 {
left: 83.8%;
}
#stn14Name {
left: 82.1%;
}
#stn15Name {
left: 92.7%;
}
#stn16Name {
left: 101.6%;
}
#stn17Name {
left: 113.3%;
}
#stn18Name {
left: 122.9%;
}
#stn19Name {
left: 142.5%;
}
#stn20Name {
left: 168%;
}
#stn21Name {
left: 178.4%;
}
#stn23Name {
left: 196.4%;
}
#nrLogo6 {
left: 209.3%;
}
#stn24Name {
top: 134.5%;
left: 208.6%;
}
#stn25Name {
left: 168.2%;
}
#stn26Name {
left: 176.1%;
}
#stn27Name {
left: 186%;
}
#nrLogo7 {
left: 199.3%;
}
#stn28Name {
left: 197.1%;
}
#stn30Name {
left: 216.5%;
}
#stn31Name {
left: 227.9%;
}
#stn32Name {
left: 247.1%;
}
#stn33Name {
left: 258%;
}
#stn35Name {
left: 276.7%;
}
#stn36Name {
left: 299.4%;
}
#stn37Name {
left: 310.8%;
}
#stn38Name {
top: 47%;
left: 332.7%;
}
#stn39Name {
left: 341.2%;
}
#stn40Name {
left: 352%;
}
#stn41Name {
left: 361%;
}
#nrLogo8 {
left: 374.3%;
}
#stn42Name {
left: 373.5%;
}
#stn43Name {
left: 246.2%;
}
#stn44Name {
left: 257.6%;
}
#nrLogo9 {
left: 279.3%;
}
#stn47Name {
left: 286.6%;
}
#stn48Name {
left: 307%;
}
#nrLogo10 {
top: 99.5%;
}
#stn49Name {
top: 97.2%;
}
#stn50Name {
top: 80%;
left: 312.7%;
}
#stn51Name {
top: 80%;
left: 301.7%;
}
#stn52Name {
top: 80%;
left: 292.4%;
}
#nrLogo11 {
top: 69.2%;
}
#stn53Name {
top: 67.1%;
width: 10%;
left: 275.5%;
}
#stn54Name {
left: 278.3%;
}
#stn55Name {
top: 20%;
left: 268.3%;
}
#stn56Name {
left: 258.3%;
}
#nrLogo12 {
left: 249.3%;
}
#stn57Name {
left: 247.6%;
}
#stn58Name {
top: 43%;
left: 226.3%;
}
#stn59Name {
top: 43%;
left: 218.1%;
}
#stn60Name {
left: 231.9%;
}
#stn61Name {
left: 223.1%;
}
#stn62Name {
left: 211.8%;
}
#stn63Name {
left: 202%;
}
#stn64Name {
top: 83%;
left: 322.7%;
}
#nonInterchange48 {
left: 330.4%;
}
#stn65Name {
top: 71%;
left: 332.5%;
}
#nrLogo13 {
left: 339.3%;
}
#stn66Name {
left: 336.4%;
}
#stn67Name {
left: 348.2%;
}
#stn68Name {
left: 357.4%;
}
#stn69Name {
left: 367%;
}
#nrLogo14 {
left: 388.8%;
}
#stn70Name {
left: 387.7%;
}
#nrLogo15 {
left: 403.8%;
}
#stn71Name {
left: 401.9%;
}
#stn72Name {
left: 322.3%;
}
#stn73Name {
left: 331.7%;
}
#stn74Name {
left: 342.3%;
}
#nrLogo16 {
left: 354.3%;
}
#stn75Name {
left: 353.2%;
}
#stn76Name {
top: 146%;
}
#stn77Name {
top: 156%;
}
#stn78Name {
top: 166%;
}
#nrLogo17 {
top: 179%;
}
#stn79Name {
top: 177%;
}
#stn80Name {
top: 141%;
left: 303%;
}
#stn81Name {
top: 151%;
}
#stn82Name {
top: 161%;
}
#stn83Name {
top: 171%;
left: 302.9%;
}
#interchange23 {
top: 189.5%;
left: 299.3%;
}
#stn84Name {
top: 186.6%;
}
#stn85Name {
left: 287.9%;
}
#stn86Name {
left: 280.2%;
}
#stn87Name {
left: 271.4%;
}
#stn88Name {
left: 265.4%;
}
#stn89Name {
left: 257.3%;
}
#interchange26 {
left: 249.3%;
}
#nrLogo18 {
top: 247%;
}
#stn90Name {
top: 244.3%;
}
#nrLogo19 {
left: 239.5%;
}
#stn92Name {
left: 227.5%;
}
#stn94Name {
left: 208.3%;
}
#stn95Name {
left: 196.7%;
}
#nrLogo20 {
left: 178.8%;
}
#stn96Name {
top: 238%;
left: 178.1%;
}
#stn97Name {
left: 183.1%;
}
#stn98Name {
left: 172.7%;
}
#nrLogo21 {
left: 164.3%;
}
#stn99Name {
left: 162.9%;
}
#nrLogo22 {
left: 153.8%;
}
#stn100Name {
left: 152.6%;
}
#stn101Name {
left: 239.6%;
}
#nrLogo23 {
left: 234.3%;
}
#nrLogo24 {
left: 224.2%;
}
#stn103Name {
left: 223%;
}
#stn104Name {
left: 212.3%;
}
#nrLogo25 {
left: 204.3%;
}
#stn105Name {
left: 203.7%;
}
#stn107Name {
left: 181.2%;
}
#nrLogo26 {
left: 174.3%;
}
#stn108Name {
left: 173%;
}
#stn109Name {
left: 162.5%;
}
#stn110Name {
top: 177%;
}
#stn111Name {
top: 162%;
left: 135.2%;
}
#nrLogo27 {
top: 149.4%;
left: 132%;
}
#stn112Name {
top: 147.2%;
}
}
@media only screen and (max-width: 1280px) {
#stn1Name {
left: 2.5%;
}
#stn2Name {
left: 11.4%;
}
#stn3Name {
left: 23.4%;
}
#stn4Name {
left: 31.3%;
}
#stn5Name {
left: 43.3%;
}
#stn6Name {
left: 51.6%;
}
#stn8Name {
left: 72.8%;
}
#stn9Name {
left: 82.8%;
}
#stn10Name {
left: 91.8%;
}
#stn11Name {
left: 102.3%;
}
#stn12Name {
left: 111%;
}
#stn13Name {
left: 121.5%;
}
#stn14Name {
left: 82.1%;
}
#stn15Name {
left: 92.6%;
}
#stn16Name {
left: 101.4%;
}
#stn17Name {
left: 113.2%;
}
#stn18Name {
left: 122.7%;
}
#stn19Name {
left: 142.4%;
}
#stn20Name {
left: 167.8%;
}
#stn21Name {
left: 178.2%;
}
#stn23Name {
left: 196.1%;
}
#stn24Name {
left: 208.5%;
}
#stn25Name {
left: 168.1%;
}
#stn26Name {
left: 175.9%;
}
#stn27Name {
left: 185.7%;
}
#stn28Name {
left: 196.9%;
}
#stn29Name {
width: 11%;
left: 205%;
}
#stn30Name {
left: 216.2%;
}
#stn31Name {
left: 227.8%;
}
#stn32Name {
left: 247%;
}
#stn33Name {
left: 257.8%;
}
#stn35Name {
left: 276.5%;
}
#stn36Name {
left: 299.2%;
}
#stn37Name {
left: 310.5%;
}
#stn38Name {
left: 332.5%;
}
#stn39Name {
left: 340.9%;
}
#stn40Name {
left: 351.7%;
}
#stn41Name {
left: 360.7%;
}
#stn42Name {
left: 373.3%;
}
#stn43Name {
width: 9%;
left: 245.7%;
}
#stn44Name {
left: 257.3%;
}
#stn45Name {
width: 13%;
left: 263.7%;
}
#stn46Name {
width: 9%;
left: 276.6%;
}
#stn47Name {
left: 286.3%;
}
#stn48Name {
left: 306.8%;
}
#stn49Name {
top: 97.5%;
}
#stn50Name {
left: 312.5%;
}
#stn51Name {
left: 301.5%;
}
#stn52Name {
left: 292.3%;
}
#nrLogo11 {
top: 69.5%;
}
#stn53Name {
top: 67.4%;
}
#stn54Name {
left: 278.2%;
}
#stn56Name {
left: 258.2%;
}
#stn57Name {
left: 247.4%;
}
#stn58Name {
left: 226.2%;
}
#stn59Name {
left: 217.9%;
}
#stn60Name {
left: 231.7%;
}
#stn61Name {
left: 222.9%;
}
#stn62Name {
left: 211.6%;
}
#stn63Name {
left: 201.8%;
}
#stn64Name {
left: 322.5%;
}
#stn65Name {
top: 71.2%;
}
#stn66Name {
left: 336%;
}
#stn67Name {
left: 348.1%;
}
#stn68Name {
left: 357.2%;
}
#stn69Name {
left: 366.8%;
}
#stn70Name {
left: 387.4%;
}
#stn71Name {
left: 401.6%;
}
#stn72Name {
left: 322.1%;
}
#stn73Name {
left: 331.5%;
}
#stn74Name {
left: 342.1%;
}
#stn75Name {
left: 353%;
}
#stn76Name {
top: 146.3%;
}
#stn77Name {
top: 156.3%;
}
#stn78Name {
top: 166.3%;
width: 11%;
left: 282.6%;
}
#nrLogo17 {
top: 179.6%;
}
#stn79Name {
top: 177.4%;
width: 12%;
left: 282.6%;
}
#stn80Name {
top: 141.3%;
left: 303.3%;
}
#stn81Name {
top: 151.3%;
}
#stn82Name {
top: 161.3%;
}
#stn83Name {
top: 171.3%;
left: 303.2%;
}
#stn84Name {
top: 187%;
}
#crossrail4 {
top: 187%;
}
#londonUnderground16 {
top: 187%;
}
#stn85Name {
left: 287.6%;
}
#stn86Name {
left: 279.9%;
}
#stn87Name {
left: 271%;
}
#stn88Name {
left: 265.3%;
}
#stn89Name {
left: 257.2%;
}
#stn90Name {
top: 244.5%;
}
#stn92Name {
left: 227.3%;
}
#stn94Name {
left: 208.2%;
}
#stn95Name {
left: 196.5%;
}
#stn96Name {
left: 177.9%;
}
#stn97Name {
left: 182.9%;
}
#stn98Name {
left: 172.5%;
}
#stn99Name {
left: 162.7%;
}
#stn100Name {
left: 152.4%;
}
#stn103Name {
left: 222.9%;
}
#stn104Name {
left: 212.2%;
}
#stn106Name {
width: 9%;
left: 190.8%;
}
#stn107Name {
left: 180.8%;
}
#stn108Name {
left: 172.7%;
}
#stn109Name {
left: 162.2%;
}
#stn110Name {
top: 177.2%;
width: 12%;
left: 137.9%;
}
#stn111Name {
top: 162.2%;
width: 15%;
left: 134.8%;
}
#stn112Name {
top: 147.4%;
}
}
@media only screen and (max-width: 1152px) {
.watfordJunctionRouteStnsTopPosition {
top: 52.2%;
}
.watfordJunctionRouteStnsOneLine {
top: 47%;
}
.watfordJunctionRouteStnsTwoLines {
top: 44%;
}
.richmondToStratfordRouteStnsTopPosition {
top: 112.2%;
}
.richmondToStratfordRouteStnsOneLine {
top: 107%;
}
.richmondToStratfordRouteStnsTwoLines {
top: 104%;
}
.eustonBranchStnsTopPosition {
top: 142.2%;
}
.eustonBranchStnsTwoLines {
top: 134%;
}
.barkingBranchStnsTopPosition {
top: 61.2%;
}
.barkingBranchStnsOneLine {
top: 56%;
}
.barkingBranchStnsTwoLines {
top: 53%;
}
.sHillToClaptonStnsTopPosition {
top: 90.7%;
}
.upperRoutesStnsTopPosition {
top: 34.2%;
}
.upperRoutesStnsOneLine {
top: 29%;
}
.upperRoutesStnsTwoLines {
top: 26%;
}
.southLondonUpperRouteStnsTopPosition {
top: 207.2%;
}
.southLondonUpperRouteStnsOneLine {
top: 202%;
}
.southLondonUpperRouteStnsTwoLines {
top: 199%;
}
.southLondonLowerRouteStnsTopPosition {
top: 229.2%;
}
.southLondonLowerRouteStnsOneLine {
top: 224%;
}
.southLondonLowerRouteStnsTwoLines {
top: 221%;
}
#nrLogo1 {
left: 3.4%;
}
#stn1Name {
left: 2.3%;
}
#stn2Name {
left: 11.2%;
}
#nrLogo2 {
left: 23.9%;
}
#stn3Name {
left: 23.2%;
}
#stn4Name {
left: 31.3%;
}
#stn5Name {
left: 43.3%;
}
#stn6Name {
left: 51.6%;
}
#nrLogo3 {
left: 63.9%;
}
#stn7Name {
left: 61.7%;
}
#londonUnderground1 {
top: 56%;
left: 61.5%;
}
#nrLogo4 {
left: 103.9%;
}
#nrLogo5 {
left: 83.4%;
}
#stn14Name {
left: 81.8%;
}
#londonUnderground2 {
top: 116%;
left: 81%;
}
#stn15Name {
left: 92.5%;
}
#stn16Name {
left: 101.2%;
}
#londonUnderground3 {
top: 116%;
left: 101.5%;
}
#stn19Name {
left: 142.3%;
}
#londonUnderground4 {
top: 116%;
left: 141.5%;
}
#nrLogo6 {
left: 208.9%;
}
#stn24Name {
top: 137%;
}
#londonUnderground5 {
top: 146%;
left: 176.5%;
}
#londonUnderground6 {
top: 146%;
left: 206.5%;
}
#nrLogo7 {
left: 198.9%;
}
#stn28Name {
left: 196.8%;
}
#londonUnderground7 {
top: 116%;
left: 196.5%;
}
#stn29Name {
left: 204.6%;
}
#stn31Name {
left: 227.7%;
}
#stn34Name {
left: 264.9%;
}
#londonUnderground8 {
top: 65%;
left: 298.5%;
}
#stn36Name {
left: 299.1%;
}
#stn37Name {
left: 310.4%;
}
#stn38Name {
top: 50%;
}
#nrLogo8 {
left: 373.9%;
}
#londonUnderground9 {
top: 65%;
left: 371.5%;
}
#stn43Name {
left: 245.5%;
}
#stn45Name {
left: 263.5%;
}
#nrLogo9 {
left: 278.9%;
}
#stn46Name {
left: 276.4%;
}
#londonUnderground10 {
top: 116%;
left: 276.5%;
}
#interchange15 {
left: 319.6%;
}
#nrLogo10 {
top: 99%;
}
#stn49Name {
top: 98%;
}
#stn50Name {
top: 82.5%;
}
#stn51Name {
top: 82.5%;
}
#stn52Name {
top: 82.5%;
}
#interchange16 {
left: 286.5%;
}
#nrLogo11 {
top: 69%;
}
#stn53Name {
top: 67.6%;
}
#londonUnderground11 {
top: 67%;
left: 289.5%;
}
#stn55Name {
top: 23.5%;
}
#nrLogo12 {
left: 248.9%;
}
#nonInterchange43 {
top: 54.1%;
}
#stn58Name {
top: 46%;
}
#lineEnd1 {
top: 54.1%;
}
#stn59Name {
top: 46%;
}
#lineEnd2 {
top: 34%;
}
#stn64Name {
top: 85.5%;
}
#nonInterchange48 {
left: 330.7%;
}
#stn65Name {
top: 72%;
}
#nrLogo13 {
left: 338.9%;
}
#londonUnderground12 {
top: 38%;
left: 336.5%;
}
#lineEnd3 {
top: 34%;
}
#nrLogo14 {
left: 388.4%;
}
#crossrail1 {
top: 38%;
left: 386%;
}
#nrLogo15 {
left: 403.4%;
}
#londonUnderground13 {
top: 38%;
left: 401%;
}
#nrLogo16 {
left: 353.9%;
}
#crossrail2 {
top: 116%;
left: 351.5%;
}
#dlr1 {
top: 125%;
left: 351.5%;
}
#londonUnderground14 {
top: 134%;
left: 351.5%;
}
#stn76Name {
top: 147%;
}
#stn77Name {
top: 157%;
}
#stn78Name {
top: 167%;
}
#interchange22 {
left: 279.5%;
}
#nrLogo17 {
top: 179.4%;
}
#stn79Name {
top: 178%;
}
#crossrail3 {
top: 177%;
}
#londonUnderground15 {
top: 177%;
}
#nonInterchange57 {
left: 300.6%;
}
#stn80Name {
top: 142%;
left: 303%;
}
#nonInterchange58 {
left: 300.6%;
}
#stn81Name {
top: 152%;
}
#nonInterchange59 {
left: 300.6%;
}
#stn82Name {
top: 162%;
}
#nonInterchange60 {
left: 300.6%;
}
#stn83Name {
top: 172%;
left: 302.9%;
}
#interchange23 {
left: 299.5%;
}
#stn84Name {
top: 187.5%;
}
#crossrail4 {
top: 186.5%;
}
#londonUnderground16 {
top: 186.5%;
}
#dlr2 {
top: 211%;
left: 286.5%;
}
#stn88Name {
left: 265.2%;
}
#londonUnderground17 {
top: 211%;
left: 263.5%;
}
#stn89Name {
left: 257.1%;
}
#interchange26 {
left: 249.5%;
}
#nrLogo18 {
top: 246.5%;
}
#stn90Name {
top: 245%;
}
#nrLogo19 {
left: 239.1%;
}
#stn91Name {
left: 236.3%;
}
#stn93Name {
left: 216.1%;
}
#interchange28 {
top: 249.1%;
}
#nrLogo20 {
left: 178.4%;
}
#stn96Name {
top: 241%;
}
#nrLogo21 {
left: 163.9%;
}
#nrLogo22 {
left: 153.4%;
}
#tramlink1 {
top: 233%;
left: 151%;
}
#stn101Name {
left: 239.5%;
}
#nrLogo23 {
left: 233.8%;
}
#stn102Name {
left: 229.8%;
}
#nrLogo24 {
left: 223.8%;
}
#stn103Name {
left: 222.8%;
}
#stn104Name {
left: 212.1%;
}
#nrLogo25 {
left: 203.9%;
}
#stn105Name {
left: 203.5%;
}
#londonUnderground18 {
top: 211%;
left: 201.5%;
}
#stn107Name {
left: 180.9%;
}
#nrLogo26 {
left: 173.9%;
}
#stn109Name {
left: 162.3%;
}
#interchange35 {
left: 151.5%;
}
#stn110Name {
top: 177.6%;
left: 137.6%;
}
#londonUnderground19 {
top: 177%;
}
#interchange36 {
left: 151.5%;
}
#stn111Name {
top: 162.6%;
}
#londonUnderground20 {
top: 162%;
}
#interchange37 {
left: 151.5%;
}
#nrLogo27 {
top: 149%;
}
#stn112Name {
top: 147.6%;
}
#londonUnderground21 {
top: 147%;
}
}
@media only screen and (max-width: 1024px) {
.watfordJunctionRouteStnsOneLine {
top: 46%;
}
.watfordJunctionRouteStnsTwoLines {
top: 43%;
}
.richmondToStratfordRouteStnsOneLine {
top: 106%;
}
.richmondToStratfordRouteStnsTwoLines {
top: 103%;
}
.eustonBranchStnsTwoLines {
top: 133%;
}
.barkingBranchStnsOneLine {
top: 55%;
}
.barkingBranchStnsTwoLines {
top: 52%;
}
.upperRoutesStnsOneLine {
top: 28%;
}
.upperRoutesStnsTwoLines {
top: 25%;
}
.southLondonUpperRouteStnsOneLine {
top: 201%;
}
.southLondonUpperRouteStnsTwoLines {
top: 198%;
}
.southLondonLowerRouteStnsOneLine {
top: 223%;
}
.southLondonLowerRouteStnsTwoLines {
top: 220%;
}
#nrLogo1 {
left: 3.1%;
}
#stn1Name {
left: 2.1%;
}
#stn2Name {
left: 11%;
}
#nrLogo2 {
left: 23.6%;
}
#stn3Name {
left: 23.1%;
}
#stn4Name {
left: 30.9%;
}
#stn5Name {
left: 43.1%;
}
#stn6Name {
left: 51.4%;
}
#nrLogo3 {
left: 63.6%;
}
#stn7Name {
left: 61.4%;
}
#stn8Name {
left: 72.6%;
}
#stn9Name {
left: 82.6%;
}
#stn10Name {
left: 91.5%;
}
#nrLogo4 {
left: 103.6%;
}
#stn11Name {
left: 102%;
}
#stn12Name {
left: 110.8%;
}
#stn13Name {
left: 121.2%;
}
#nrLogo5 {
left: 83.1%;
}
#stn14Name {
left: 81.5%;
}
#stn15Name {
left: 92.2%;
}
#stn16Name {
left: 100.8%;
}
#stn17Name {
left: 113%;
}
#stn18Name {
left: 122.5%;
}
#stn19Name {
left: 142%;
}
#stn20Name {
left: 167.6%;
}
#stn21Name {
left: 178%;
}
#stn22Name {
left: 186.2%;
}
#stn23Name {
left: 195.8%;
}
#nrLogo6 {
left: 208.6%;
}
#stn24Name {
top: 136%;
left: 208.3%;
}
#stn25Name {
left: 167.8%;
}
#stn26Name {
left: 175.5%;
}
#stn27Name {
left: 185.3%;
}
#nrLogo7 {
left: 198.6%;
}
#stn28Name {
left: 196.3%;
}
#stn29Name {
left: 204.5%;
}
#stn30Name {
left: 215.9%;
}
#stn31Name {
left: 227.4%;
}
#stn32Name {
left: 246.6%;
}
#stn33Name {
left: 257.5%;
}
#stn35Name {
left: 276.2%;
}
#stn36Name {
left: 298.7%;
}
#stn37Name {
left: 309.9%;
}
#stn38Name {
top: 49%;
left: 332.2%;
}
#stn39Name {
left: 340.6%;
}
#stn40Name {
left: 351.4%;
}
#stn41Name {
left: 360.4%;
}
#nrLogo8 {
left: 373.6%;
}
#stn42Name {
left: 373.1%;
}
#stn44Name {
left: 257%;
}
#stn45Name {
left: 263.4%;
}
#nrLogo9 {
left: 278.6%;
}
#stn46Name {
left: 276.3%;
}
#stn47Name {
left: 286%;
}
#stn48Name {
left: 306.4%;
}
#stn49Name {
top: 97.5%;
width: 13%;
left: 321.8%;
}
#nrLogo10 {
top: 98.8%;
left: 313%;
}
#stn50Name {
top: 81.5%;
left: 312.3%;
}
#stn51Name {
top: 81.5%;
left: 301.1%;
}
#stn52Name {
top: 81.5%;
left: 291.8%;
}
#nrLogo11 {
top: 68.6%;
}
#stn53Name {
top: 67.2%;
}
#stn54Name {
left: 278%;
}
#stn55Name {
top: 22%;
left: 268%;
}
#stn56Name {
left: 257.9%;
}
#nrLogo12 {
left: 248.6%;
}
#stn57Name {
left: 247%;
}
#stn58Name {
top: 45%;
left: 226%;
}
#lineEnd1 {
top: 54.2%;
}
#stn59Name {
top: 45%;
left: 217.6%;
}
#stn60Name {
left: 231.2%;
}
#stn61Name {
left: 222.7%;
}
#stn62Name {
left: 211.2%;
}
#lineEnd2 {
top: 34.1%;
}
#stn63Name {
left: 201.4%;
}
#stn64Name {
top: 84.5%;
left: 322.3%;
}
#stn65Name {
top: 71.5%;
width: 12%;
left: 332.5%;
}
#nrLogo13 {
left: 338.6%;
}
#stn66Name {
left: 335.7%;
}
#stn67Name {
left: 347.8%;
}
#stn68Name {
left: 356.9%;
}
#stn69Name {
left: 366.5%;
}
#nrLogo14 {
left: 388.1%;
}
#stn70Name {
left: 387.2%;
}
#nrLogo15 {
left: 403.1%;
}
#stn71Name {
left: 401.3%;
}
#stn72Name {
left: 321.9%;
}
#stn73Name {
left: 331.2%;
}
#stn74Name {
left: 341.8%;
}
#nrLogo16 {
left: 353.6%;
}
#stn75Name {
left: 352.8%;
}
#stn76Name {
top: 146.6%;
width: 11%;
left: 283.1%;
}
#stn77Name {
top: 156.6%;
width: 14%;
left: 282.8%;
}
#stn78Name {
top: 166.6%;
left: 283%;
}
#stn79Name {
top: 177.4%;
width: 13%;
left: 282.6%;
}
#nrLogo17 {
top: 179%;
left: 250%;
}
#stn80Name {
top: 141.6%;
width: 13%;
left: 303.3%;
}
#stn81Name {
top: 151.6%;
}
#stn82Name {
top: 161.6%;
}
#stn83Name {
top: 171.6%;
width: 18%;
left: 303.1%;
}
#stn84Name {
top: 186.8%;
}
#stn85Name {
left: 287.3%;
}
#stn86Name {
left: 279.6%;
}
#stn87Name {
left: 270.7%;
}
#stn88Name {
left: 264.9%;
}
#stn89Name {
left: 256.8%;
}
#nrLogo18 {
top: 246.1%;
left: 263%;
}
#stn90Name {
top: 244.2%;
width: 9%;
}
#nrLogo19 {
left: 238.8%;
}
#stn92Name {
left: 227%;
}
#stn93Name {
left: 216%;
}
#stn94Name {
left: 207.9%;
}
#stn95Name {
left: 196.1%;
}
#nrLogo20 {
left: 178.1%;
}
#stn96Name {
top: 240%;
left: 177.6%;
}
#stn97Name {
left: 182.6%;
}
#stn98Name {
left: 172.2%;
}
#nrLogo21 {
left: 163.6%;
}
#stn99Name {
left: 162.3%;
}
#nrLogo22 {
left: 153.1%;
}
#stn100Name {
left: 152.1%;
}
#nrLogo23 {
left: 233.5%;
}
#stn102Name {
left: 229.7%;
}
#nrLogo24 {
left: 223.5%;
}
#stn103Name {
left: 222.5%;
}
#stn104Name {
left: 211.8%;
}
#nrLogo25 {
left: 203.6%;
}
#stn105Name {
left: 203.3%;
}
#stn106Name {
left: 190.6%;
}
#stn107Name {
left: 180.5%;
}
#nrLogo26 {
left: 173.6%;
}
#stn108Name {
left: 172.4%;
}
#stn109Name {
left: 162%;
}
#stn110Name {
top: 177%;
left: 137.5%;
}
#stn111Name {
top: 162%;
width: 16%;
left: 134.1%;
}
#nrLogo27 {
top: 148.6%;
left: 130%;
}
#stn112Name {
top: 147.1%;
left: 136.5%;
}
}
@media only screen and (max-width: 800px) {
.watfordJunctionRouteStnsOneLine {
top: 45.5%;
}
.watfordJunctionRouteStnsTwoLines {
top: 42.5%;
}
.richmondToStratfordRouteStnsOneLine {
top: 105.5%;
}
.richmondToStratfordRouteStnsTwoLines {
top: 102.5%;
}
.eustonBranchStnsTwoLines {
top: 132.5%;
}
.barkingBranchStnsOneLine {
top: 54.5%;
}
.barkingBranchStnsTwoLines {
top: 51.5%;
}
.upperRoutesStnsOneLine {
top: 27.5%;
}
.upperRoutesStnsTwoLines {
top: 24.5%;
}
.southLondonUpperRouteStnsOneLine {
top: 200.5%;
}
.southLondonUpperRouteStnsTwoLines {
top: 197.5%;
}
.southLondonLowerRouteStnsOneLine {
top: 222.5%;
}
.southLondonLowerRouteStnsTwoLines {
top: 219.5%;
}
#nrLogo1 {
left: 2.6%;
}
#stn1Name {
left: 1.8%;
}
#stn2Name {
left: 10.7%;
}
#nrLogo2 {
left: 23.1%;
}
#stn3Name {
left: 22.9%;
}
#stn4Name {
left: 30.7%;
}
#stn5Name {
left: 43%;
}
#stn6Name {
left: 51.2%;
}
#nrLogo3 {
left: 63.1%;
}
#stn7Name {
left: 61.2%;
}
#stn8Name {
left: 72.4%;
}
#stn9Name {
left: 82.4%;
}
#stn10Name {
left: 91.3%;
}
#nrLogo4 {
left: 103.1%;
}
#stn11Name {
left: 101.8%;
}
#stn12Name {
left: 110.5%;
}
#stn13Name {
left: 121%;
}
#nrLogo5 {
left: 82.6%;
}
#stn14Name {
left: 81.3%;
}
#stn15Name {
left: 92.1%;
}
#stn16Name {
left: 100.7%;
}
#stn17Name {
left: 112.9%;
}
#stn18Name {
left: 122.4%;
}
#stn20Name {
left: 167.5%;
}
#stn21Name {
left: 177.9%;
}
#stn23Name {
left: 195.7%;
}
#nrLogo6 {
left: 208.1%;
}
#stn24Name {
top: 135.5%;
left: 208.2%;
}
#stn25Name {
left: 167.7%;
}
#stn26Name {
left: 175.3%;
}
#stn27Name {
left: 185.1%;
}
#nrLogo7 {
left: 198.1%;
}
#stn28Name {
left: 196.1%;
}
#stn29Name {
width: 12%;
left: 204%;
}
#stn30Name {
left: 215.8%;
}
#stn31Name {
left: 227.3%;
}
#stn32Name {
left: 246.5%;
}
#stn33Name {
left: 257.4%;
}
#stn34Name {
left: 264.8%;
}
#stn35Name {
left: 276%;
}
#stn36Name {
left: 298.6%;
}
#stn37Name {
left: 309.8%;
}
#stn38Name {
top: 48.5%;
left: 332.1%;
}
#stn39Name {
left: 340.5%;
}
#stn40Name {
left: 351.3%;
}
#stn41Name {
left: 360.3%;
}
#nrLogo8 {
left: 373.1%;
}
#stn42Name {
left: 373%;
}
#stn44Name {
left: 256.7%;
}
#stn45Name {
width: 14%;
left: 263.2%;
}
#nrLogo9 {
left: 278.1%;
}
#stn46Name {
left: 276.8%;
}
#stn47Name {
left: 285.8%;
}
#stn48Name {
left: 306.3%;
}
#interchange15 {
left: 319.4%;
}
#nrLogo10 {
top: 98.5%;
left: 312%;
}
#stn49Name {
top: 97.2%;
}
#stn50Name {
top: 81%;
left: 312.2%;
}
#stn51Name {
top: 81%;
left: 301%;
}
#stn52Name {
top: 81%;
left: 291.7%;
}
#interchange16 {
left: 286.3%;
}
#stn53Name {
width: 11%;
left: 275%;
}
#nrLogo11 {
top: 68.1%;
left: 268%;
}
#stn54Name {
left: 277.9%;
}
#stn55Name {
top: 21.5%;
left: 267.9%;
}
#stn56Name {
left: 257.8%;
}
#nrLogo12 {
left: 248.1%;
}
#stn57Name {
left: 246.9%;
}
#lineEnd1 {
top: 53.9%;
}
#stn61Name {
left: 222.6%;
}
#stn62Name {
left: 211.1%;
}
#lineEnd2 {
top: 34%;
}
#stn63Name {
left: 201.2%;
}
#stn64Name {
top: 84%;
left: 322.2%;
}
#nonInterchange48 {
left: 330.5%;
}
#stn65Name {
top: 71.1%;
width: 13%;
left: 332.1%;
}
#nrLogo13 {
left: 338.1%;
}
#stn66Name {
left: 335.5%;
}
#stn67Name {
left: 347.7%;
}
#stn68Name {
left: 356.8%;
}
#stn69Name {
left: 366.4%;
}
#nrLogo14 {
left: 387.6%;
}
#stn70Name {
left: 387.1%;
}
#nrLogo15 {
left: 402.6%;
}
#stn71Name {
left: 401.1%;
}
#stn72Name {
left: 321.8%;
}
#stn73Name {
left: 331.1%;
}
#stn74Name {
left: 341.7%;
}
#nrLogo16 {
left: 353.1%;
}
#stn75Name {
left: 352.7%;
}
#nonInterchange54 {
left: 280.4%;
}
#stn76Name {
top: 146.2%;
width: 12%;
left: 282.6%;
}
#nonInterchange55 {
left: 280.4%;
}
#stn77Name {
top: 156.2%;
}
#nonInterchange56 {
left: 280.4%;
}
#stn78Name {
top: 166.2%;
width: 12%;
left: 282.6%;
}
#nrLogo17 {
top: 178.7%;
}
#stn79Name {
top: 177.1%;
}
#crossrail3 {
top: 177.5%;
}
#londonUnderground15 {
top: 177.5%;
}
#nonInterchange57 {
left: 300.4%;
}
#stn80Name {
top: 141.1%;
width: 14%;
left: 302.9%;
}
#nonInterchange58 {
left: 300.4%;
}
#stn81Name {
top: 151.1%;
}
#nonInterchange59 {
left: 300.4%;
}
#stn82Name {
top: 161.1%;
}
#nonInterchange60 {
left: 300.4%;
}
#stn83Name {
top: 171.1%;
}
#interchange23 {
left: 299.4%;
}
#stn86Name {
left: 279.5%;
}
#nrLogo18 {
top: 245.5%;
}
#nrLogo19 {
left: 238.3%;
}
#stn94Name {
left: 207.7%;
}
#stn95Name {
left: 196%;
}
#nrLogo20 {
left: 177.6%;
}
#stn96Name {
top: 239.5%;
left: 177.5%;
}
#stn97Name {
left: 182.5%;
}
#stn98Name {
left: 172%;
}
#nrLogo21 {
left: 163.1%;
}
#stn99Name {
left: 162.2%;
}
#nrLogo22 {
left: 152.6%;
}
#stn100Name {
left: 151.9%;
}
#stn101Name {
left: 239.4%;
}
#nrLogo23 {
left: 233%;
}
#nrLogo24 {
left: 223%;
}
#stn103Name {
left: 222.4%;
}
#stn104Name {
left: 211.7%;
}
#nrLogo25 {
left: 203.1%;
}
#stn105Name {
left: 203.2%;
}
#nrLogo26 {
left: 173.1%;
}
#stn109Name {
left: 161.8%;
}
#stn110Name {
width: 13%;
left: 137%;
}
#londonUnderground19 {
top: 176.9%;
}
#stn111Name {
left: 134%;
}
#londonUnderground20 {
top: 161.9%;
}
#nrLogo27 {
top: 148.2%;
left: 129%;
}
#londonUnderground21 {
top: 146.9%;
}
}