@media only screen and (max-width: 1680px) {
#stn1Name {
left: 3.2%;
}
#nrLogo1 {
left: 4.6%;
}
#stn2Name {
left: 12.8%;
}
#stn3Name {
left: 21.2%;
}
#stn4Name {
left: 33.1%;
}
#stn5Name {
left: 42.4%;
}
#stn6Name {
left: 53.1%;
}
#stn7Name {
left: 62.7%;
}
#stn8Name {
left: 74.2%;
}
#stn9Name {
left: 82.7%;
}
#stn10Name {
left: 78%;
}
#nrLogo2 {
top: 58%;
left: 80.1%;
}
#stn11Name {
left: 67.9%;
}
#nrLogo3 {
left: 70.1%;
}
#stn12Name {
left: 97.8%;
}
#nrLogo4 {
left: 100.1%;
}
#stn13Name {
left: 107.6%;
}
#stn14Name {
left: 117.7%;
}
#stn15Name {
left: 129.3%;
}
#nrLogo5 {
left: 130.1%;
}
#stn16Name {
left: 138.1%;
}
#stn17Name {
left: 147.5%;
}
#nrLogo6 {
left: 150.1%;
}
#stn18Name {
left: 159.3%;
}
#nrLogo7 {
left: 180.1%;
}
#stn20Name {
left: 177.8%;
}
#nrLogo8 {
left: 190.1%;
}
#stn21Name {
left: 188.3%;
}
#stn22Name {
left: 197.2%;
}
#stn23Name {
left: 218.9%;
}
#stn25Name {
left: 237.1%;
}
#stn26Name {
left: 248.3%;
}
#nrLogo9 {
left: 215.1%;
}
#stn27Name {
left: 213.5%;
}
#stn28Name {
left: 222.3%;
}
#stn29Name {
left: 233.3%;
}
#stn30Name {
left: 243.3%;
}
#stn31Name {
left: 253.9%;
}
#stn32Name {
left: 263.5%;
}
#stn33Name {
left: 271.5%;
}
#stn34Name {
left: 282.3%;
}
#nrLogo10 {
left: 295.1%;
}
#stn35Name {
left: 293.5%;
}
#stn36Name {
left: 303.4%;
}
#stn37Name {
left: 313%;
}
#stn38Name {
left: 321.8%;
}
#nrLogo11 {
left: 335.1%;
}
#stn39Name {
left: 333.2%;
}
}
@media only screen and (max-width: 1600px) {
.mainRouteStnsTopPosition {
top: 43.8%;
}
.mainRouteStnsOneLine {
top: 38%;
}
.mainRouteStnsTwoLines {
top: 35%;
}
#nrLogo1 {
left: 4.3%;
}
#stn2Name {
left: 13%;
}
#stn3Name {
left: 21.8%;
}
#stn4Name {
left: 33.3%;
}
#stn5Name {
left: 42.7%;
}
#stn6Name {
left: 53.4%;
}
#stn7Name {
left: 63.2%;
}
#stn8Name {
left: 74.3%;
}
#stn9Name {
left: 83.1%;
}
#interchange2 {
top: 73.8%;
}
#stn10Name {
top: 62%;
left: 78.3%;
}
#londonUnderground1 {
top: 79%;
left: 76.8%;
}
#nrLogo2 {
left: 79.8%;
}
#interchange3 {
top: 73.8%;
}
#stn11Name {
top: 65%;
left: 67.9%;
}
#nrLogo3 {
left: 69.8%;
}
#londonUnderground2 {
top: 79%;
left: 66.8%;
}
#stn12Name {
left: 98.1%;
}
#nrLogo4 {
left: 99.8%;
}
#stn13Name {
left: 107.8%;
}
#stn14Name {
left: 118%;
}
#nrLogo5 {
left: 129.7%;
}
#stn16Name {
left: 138.3%;
}
#londonUnderground3 {
top: 49%;
left: 136.8%;
}
#stn17Name {
left: 147.8%;
}
#nrLogo6 {
left: 149.8%;
}
#londonUnderground4 {
top: 49%;
left: 146.8%;
}
#londonUnderground5 {
top: 49%;
left: 156.8%;
}
#stn19Name {
left: 167%;
}
#londonUnderground6 {
top: 49%;
left: 166.8%;
}
#stn20Name {
left: 178%;
}
#nrLogo7 {
left: 179.8%;
}
#londonUnderground7 {
top: 49%;
left: 176.8%;
}
#nrLogo8 {
left: 189.8%;
}
#londonOverground1 {
top: 49%;
left: 186.8%;
}
#londonUnderground8 {
top: 58%;
left: 186.8%;
}
#londonOverground2 {
top: 49%;
left: 196.8%;
}
#londonUnderground9 {
top: 58%;
left: 196.8%;
}
#interchange13 {
top: 83.8%;
}
#stn23Name {
top: 75%;
}
#dlr1 {
top: 89%;
left: 216.8%;
}
#londonUnderground10 {
top: 98%;
left: 216.8%;
}
#interchange14 {
top: 83.8%;
}
#stn24Name {
top: 72%;
left: 227%;
}
#dlr2 {
top: 89%;
left: 226.8%;
}
#nonInterchange11 {
top: 83.8%;
}
#stn25Name {
top: 78%;
left: 237.4%;
}
#lineEnd1 {
top: 83.4%;
}
#stn26Name {
top: 75%;
left: 248.4%;
}
#nrLogo9 {
left: 214.8%;
}
#stn27Name {
left: 213.6%;
}
#dlr3 {
top: 49%;
left: 211.8%;
}
#londonOverground3 {
top: 58%;
left: 211.8%;
}
#londonUnderground11 {
top: 67%;
left: 211.8%;
}
#stn28Name {
left: 222.6%;
}
#stn29Name {
left: 233.6%;
}
#stn30Name {
left: 243.5%;
}
#stn31Name {
left: 254.1%;
}
#stn32Name {
left: 263.8%;
}
#stn33Name {
left: 271.8%;
}
#stn34Name {
left: 282.7%;
}
#nrLogo10 {
left: 294.8%;
}
#londonOverground4 {
top: 49%;
left: 291.8%;
}
#stn36Name {
left: 303.6%;
}
#stn37Name {
left: 313.3%;
}
#stn38Name {
left: 322.2%;
}
#nrLogo11 {
left: 334.8%;
}
@media only screen and (max-width: 1440px) {
#stn1Name {
left: 2.9%;
}
#nrLogo1 {
left: 4.1%;
}
#stn2Name {
left: 12.8%;
}
#stn3Name {
left: 21.4%;
}
#stn4Name {
left: 33.1%;
}
#stn5Name {
left: 42.5%;
}
#stn6Name {
left: 53.2%;
}
#stn7Name {
left: 62.9%;
}
#stn9Name {
left: 82.9%;
}
#stn10Name {
left: 78%;
}
#nrLogo2 {
left: 79.6%;
}
#stn11Name {
left: 67.7%;
}
#nrLogo3 {
left: 69.6%;
}
#stn12Name {
left: 97.8%;
}
#nrLogo4 {
left: 99.6%;
}
#stn13Name {
left: 107.6%;
}
#stn14Name {
left: 117.7%;
}
#stn15Name {
left: 129.1%;
}
#nrLogo5 {
left: 129.6%;
}
#stn16Name {
left: 138%;
}
#stn17Name {
left: 147.5%;
}
#nrLogo6 {
left: 149.6%;
}
#stn18Name {
left: 159.2%;
}
#stn20Name {
left: 177.8%;
}
#nrLogo7 {
left: 179.6%;
}
#nrLogo8 {
left: 189.6%;
}
#stn21Name {
left: 188.1%;
}
#stn22Name {
left: 197.1%;
}
#stn23Name {
left: 218.8%;
}
#stn25Name {
left: 237.2%;
}
#nrLogo9 {
left: 214.6%;
}
#stn27Name {
left: 213.4%;
}
#stn28Name {
left: 222.4%;
}
#stn29Name {
left: 233.4%;
}
#stn30Name {
left: 243.3%;
}
#stn31Name {
left: 253.9%;
}
#stn32Name {
left: 263.6%;
}
#stn33Name {
left: 271.4%;
}
#stn34Name {
left: 282.4%;
}
#nrLogo10 {
left: 294.6%;
}
#stn35Name {
left: 293.3%;
}
#stn36Name {
left: 303.5%;
}
#stn37Name {
left: 313.1%;
}
#stn38Name {
left: 322%;
}
#nrLogo11 {
left: 334.6%;
}
#stn39Name {
left: 333%;
}
}
@media only screen and (max-width: 1366px) {
.mainRouteStnsOneLine {
top: 36.5%;
}
.mainRouteStnsTwoLines {
top: 33.5%;
}
#stn3Name {
left: 21.3%;
}
#stn5Name {
left: 42.4%;
}
#stn6Name {
left: 53.1%;
}
#stn7Name {
left: 62.8%;
}
#stn8Name {
left: 74.2%;
}
#stn9Name {
left: 82.8%;
}
#stn10Name {
top: 60.5%;
left: 77.9%;
}
#nrLogo2 {
top: 57%;
}
#stn11Name {
top: 63.5%;
left: 67.6%;
}
#nrLogo3 {
top: 57%;
}
#stn12Name {
left: 97.7%;
}
#stn13Name {
left: 107.5%;
}
#nrLogo4 {
left: 99.4%;
}
#stn14Name {
left: 117.6%;
}
#stn15Name {
left: 129%;
}
#nrLogo5 {
left: 129.4%;
}
#stn16Name {
left: 137.9%;
}
#stn17Name {
left: 147.4%;
}
#stn18Name {
left: 159.1%;
}
#stn20Name {
left: 177.6%;
}
#nrLogo7 {
left: 179.5%;
}
#nrLogo8 {
left: 189.5%;
}
#stn21Name {
left: 188%;
}
#stn22Name {
left: 196.9%;
}
#stn23Name {
top: 73.5%;
left: 218.7%;
}
#stn24Name {
top: 70.5%;
}
#stn25Name {
top: 76.5%;
left: 237.1%;
}
#lineEnd1 {
top: 83.5%;
}
#stn26Name {
top: 73.5%;
left: 248.2%;
}
#stn27Name {
left: 213.3%;
}
#stn28Name {
left: 222.3%;
}
#stn29Name {
left: 233.3%;
}
#stn31Name {
left: 253.8%;
}
#stn32Name {
left: 263.5%;
}
#stn33Name {
left: 271.3%;
}
#stn34Name {
left: 282.3%;
}
#nrLogo10 {
left: 294.5%;
}
#stn35Name {
left: 293.2%;
}
#stn36Name {
left: 303.4%;
}
#stn37Name {
left: 313%;
}
#stn38Name {
left: 321.9%;
}
#nrLogo11 {
left: 334.5%;
}
#stn39Name {
left: 332.9%;
}
}
@media only screen and (max-width: 1280px) {
#stn1Name {
left: 2.8%;
}
#nrLogo1 {
left: 3.9%;
}
#stn2Name {
left: 12.6%;
}
#stn3Name {
left: 21.1%;
}
#stn5Name {
left: 42.3%;
}
#stn6Name {
left: 52.9%;
}
#stn7Name {
left: 62.7%;
}
#stn8Name {
left: 74.1%;
}
#stn9Name {
left: 82.6%;
}
#stn10Name {
left: 77.7%;
}
#nrLogo2 {
left: 79.4%;
}
#stn11Name {
left: 67.2%;
}
#nrLogo3 {
left: 69.4%;
}
#stn12Name {
left: 97.5%;
}
#nrLogo4 {
left: 99.3%;
}
#stn13Name {
left: 107.4%;
}
#stn14Name {
left: 117.4%;
}
#stn15Name {
left: 128.9%;
}
#nrLogo5 {
left: 129.3%;
}
#stn16Name {
left: 137.7%;
}
#nrLogo6 {
left: 149.3%;
}
#stn17Name {
left: 147.1%;
}
#nrLogo5 {
left: 129.3%;
}
#stn18Name {
left: 159%;
}
#stn20Name {
left: 177.3%;
}
#nrLogo7 {
left: 179.3%;
}
#nrLogo8 {
left: 189.3%;
}
#stn21Name {
left: 187.8%;
}
#stn22Name {
left: 196.5%;
}
#stn23Name {
left: 218.6%;
}
#stn25Name {
left: 237%;
}
#stn26Name {
left: 248.1%;
}
#nrLogo9 {
left: 214.3%;
}
#stn27Name {
left: 213%;
}
#stn28Name {
left: 222.1%;
}
#stn29Name {
left: 233.2%;
}
#stn30Name {
left: 243.1%;
}
#stn31Name {
left: 253.6%;
}
#stn32Name {
left: 263.4%;
}
#stn33Name {
left: 271.2%;
}
#stn34Name {
left: 282.1%;
}
#nrLogo10 {
left: 294.3%;
}
#stn35Name {
left: 293%;
}
#stn36Name {
left: 303.2%;
}
#stn37Name {
left: 312.8%;
}
#stn38Name {
left: 321.7%;
}
#nrLogo11 {
left: 334.3%;
}
#stn39Name {
left: 332.7%;
}
}
@media only screen and (max-width: 1152px) {
.mainRouteStnsTopPosition {
top: 44.2%;
}
.mainRouteStnsOneLine {
top: 38.5%;
}
.mainRouteStnsTwoLines {
top: 35.5%;
}
#stn1Name {
left: 2.7%;
}
#nrLogo1 {
left: 3.6%;
}
#stn4Name {
left: 33%;
}
#interchange2 {
top: 74.2%;
}
#stn10Name {
top: 62.5%;
left: 77.6%;
}
#nrLogo2 {
left: 79.1%;
}
#londonUnderground1 {
top: 78%;
left: 76.5%;
}
#interchange3 {
top: 74.2%;
}
#stn11Name {
top: 65.5%;
left: 67.2%;
}
#nrLogo3 {
left: 69.1%;
}
#londonUnderground2 {
top: 78%;
left: 66.5%;
}
#stn12Name {
left: 97.3%;
}
#nrLogo4 {
left: 99%;
}
#stn15Name {
left: 128.8%;
}
#nrLogo5 {
left: 128.9%;
}
#stn16Name {
left: 137.6%;
}
#londonUnderground3 {
top: 48%;
left: 136.5%;
}
#stn17Name {
left: 146.9%;
}
#nrLogo6 {
left: 149%;
}
#londonUnderground4 {
top: 48%;
left: 146.5%;
}
#stn18Name {
left: 158.9%;
}
#londonUnderground5 {
top: 48%;
left: 156.5%;
}
#stn19Name {
left: 166.8%;
}
#londonUnderground6 {
top: 48%;
left: 166.5%;
}
#stn20Name {
left: 177.2%;
}
#nrLogo7 {
left: 179%;
}
#londonUnderground7 {
top: 48%;
left: 176.5%;
}
#nrLogo8 {
left: 189%;
}
#stn21Name {
left: 187.7%;
}
#londonOverground1 {
top: 48%;
left: 186.5%;
}
#londonUnderground8 {
top: 57%;
left: 186.5%;
}
#stn22Name {
left: 196.3%;
}
#londonOverground2 {
top: 48%;
left: 196.5%;
}
#londonUnderground9 {
top: 57%;
left: 196.5%;
}
#interchange13 {
top: 84.2%;
}
#stn23Name {
top: 76%;
left: 218.4%;
}
#dlr1 {
top: 88%;
left: 216.5%;
}
#londonUnderground10 {
top: 97%;
left: 216.5%;
}
#interchange14 {
top: 84.2%;
}
#stn24Name {
top: 73%;
left: 226.8%;
}
#dlr2 {
top: 88%;
left: 226.5%;
}
#nonInterchange11 {
top: 84.2%;
}
#stn25Name {
top: 79%;
left: 236.9%;
}
#lineEnd1 {
top: 84%;
}
#stn26Name {
top: 76%;
}
#nrLogo9 {
left: 214%;
}
#dlr3 {
top: 48%;
left: 211.5%;
}
#londonOverground3 {
top: 57%;
left: 211.5%;
}
#londonUnderground11 {
top: 66%;
left: 211.5%;
}
#nrLogo10 {
left: 294%;
}
#stn35Name {
left: 292.9%;
}
#londonOverground4 {
top: 48%;
left: 291.5%;
}
#stn36Name {
left: 303.5%;
}
#stn37Name {
left: 312.9%;
}
#nrLogo11 {
left: 334%;
}
#stn39Name {
left: 332.5%;
}
}
@media only screen and (max-width: 1024px) {
.mainRouteStnsOneLine {
top: 38%;
}
.mainRouteStnsTwoLines {
top: 35%;
}
#stn1Name {
left: 2.3%;
}
#nrLogo1 {
left: 3.2%;
}
#stn2Name {
left: 12.2%;
}
#stn3Name {
left: 20.7%;
}
#stn4Name {
left: 32.7%;
}
#stn5Name {
left: 42.1%;
}
#stn6Name {
left: 52.7%;
}
#stn7Name {
left: 62.5%;
}
#stn8Name {
left: 74%;
}
#stn9Name {
left: 82.3%;
}
#stn10Name {
left: 77.3%;
}
#nrLogo2 {
left: 78.8%;
}
#stn11Name {
left: 66.9%;
}
#nrLogo3 {
left: 68.8%;
}
#stn12Name {
left: 97.1%;
}
#nrLogo4 {
left: 98.6%;
}
#stn13Name {
left: 107.2%;
}
#stn14Name {
left: 117.2%;
}
#stn15Name {
left: 128.6%;
}
#nrLogo5 {
left: 128.6%;
}
#stn16Name {
left: 137.3%;
}
#stn17Name {
left: 146.6%;
}
#nrLogo6 {
left: 148.6%;
}
#stn18Name {
left: 158.7%;
}
#stn19Name {
width: 9%;
left: 166.4%;
}
#stn20Name {
left: 177%;
}
#nrLogo7 {
left: 178.6%;
}
#nrLogo8 {
left: 188.6%;
}
#stn21Name {
left: 187.5%;
}
#stn22Name {
left: 196%;
}
#stn23Name {
top: 75.5%;
left: 218.2%;
}
#stn24Name {
top: 72.5%;
left: 226.9%;
}
#stn25Name {
top: 78.5%;
left: 236.7%;
}
#lineEnd1 {
top: 84.1%;
}
#stn26Name {
top: 75.5%;
left: 247.9%;
}
#stn27Name {
left: 212.7%;
}
#nrLogo9 {
left: 213.6%;
}
#stn28Name {
left: 221.9%;
}
#stn29Name {
left: 232.9%;
}
#stn30Name {
left: 242.9%;
}
#stn31Name {
left: 253.6%;
}
#stn32Name {
left: 263.3%;
}
#stn33Name {
left: 271%;
}
#stn34Name {
left: 281.8%;
}
#nrLogo10 {
left: 293.6%;
}
#stn35Name {
left: 292.7%;
}
#stn36Name {
left: 303.1%;
}
#stn37Name {
left: 312.7%;
}
#stn38Name {
left: 321.4%;
}
#nrLogo11 {
left: 333.6%;
}
#stn39Name {
left: 332.3%;
}
}
@media only screen and (max-width: 800px) {
.mainRouteStnsTopPosition {
top: 44%;
}
.mainRouteStnsOneLine {
top: 37.5%;
}
.mainRouteStnsTwoLines {
top: 34.5%;
}
#stn1Name {
left: 2.1%;
}
#nrLogo1 {
left: 2.7%;
}
#stn3Name {
left: 20.5%;
}
#stn4Name {
left: 32.6%;
}
#stn5Name {
left: 41.9%;
}
#stn8Name {
left: 73.9%;
}
#interchange2 {
top: 74%;
}
#stn10Name {
top: 61.5%;
left: 77.2%;
}
#nrLogo2 {
left: 78.3%;
}
#interchange3 {
top: 74%;
}
#stn11Name {
top: 64.5%;
left: 66.8%;
}
#nrLogo3 {
left: 68.3%;
}
#stn12Name {
left: 96.9%;
}
#nrLogo4 {
left: 98.1%;
}
#stn13Name {
left: 107%;
}
#stn14Name {
left: 117.1%;
}
#stn15Name {
left: 128.5%;
}
#nrLogo5 {
left: 128.1%;
}
#stn16Name {
left: 137.2%;
}
#stn17Name {
left: 146.5%;
}
#nrLogo6 {
left: 148.1%;
}
#stn19Name {
left: 166.3%;
}
#stn20Name {
left: 176.8%;
}
#nrLogo7 {
left: 178.1%;
}
#nrLogo8 {
left: 188.1%;
}
#stn21Name {
left: 187.3%;
}
#stn22Name {
left: 195.8%;
}
#interchange13 {
top: 84%;
}
#stn23Name {
top: 75%;
left: 218.1%;
}
#interchange14 {
top: 84%;
}
#stn24Name {
top: 72%;
}
#nonInterchange11 {
top: 84%;
}
#stn25Name {
top: 78%;
left: 236.3%;
}
#lineEnd1 {
top: 84%;
}
#stn26Name {
top: 75%;
left: 247.7%;
}
#stn27Name {
left: 212.5%;
}
#nrLogo9 {
left: 213.1%;
}
#stn28Name {
left: 221.8%;
}
#stn29Name {
left: 232.8%;
}
#stn32Name {
left: 263.2%;
}
#stn33Name {
left: 270.8%;
}
#stn34Name {
left: 281.7%;
}
#nrLogo10 {
left: 293.1%;
}
#stn35Name {
left: 292.6%;
}
#stn36Name {
left: 303%;
}
#stn37Name {
left: 312.6%;
}
#stn38Name {
left: 321.3%;
}
#nrLogo11 {
left: 333.1%;
}
#stn39Name {
left: 332.2%;
}
}