@media only screen and (max-width: 1680px) {
#stn1Name {
left: 2.8%;
}
#stn2Name {
left: 11.4%;
}
#stn3Name {
left: 22.1%;
}
#stn4Name {
left: 32.6%;
}
#stn5Name {
left: 42.6%;
}
#stn6Name {
left: 37.5%;
}
#stn7Name {
left: 57.6%;
}
#stn8Name {
left: 67.4%;
}
#stn9Name {
left: 77.5%;
}
#stn10Name {
left: 88%;
}
#nrLogo1 {
left: 100.1%;
}
#stn11Name {
left: 98.9%;
}
#stn12Name {
left: 98.6%;
}
#stn13Name {
left: 88.1%;
}
#stn14Name {
left: 76.5%;
}
#stn15Name {
left: 67.8%;
}
#stn16Name {
left: 58.5%;
}
#stn17Name {
left: 47.7%;
}
#stn18Name {
left: 37%;
}
#stn19Name {
left: 28.6%;
}
#stn20Name {
left: 17.1%;
}
#stn21Name {
left: 117.6%;
}
#stn22Name {
left: 126.6%;
}
#nrLogo2 {
left: 140.1%;
}
#stn23Name {
left: 139.1%;
}
#nrLogo3 {
left: 160.1%;
}
#stn24Name {
left: 155.3%;
}
#stn25Name {
left: 168.5%;
}
#nrLogo4 {
left: 180.1%;
}
#stn26Name {
left: 179.4%;
}
#nrLogo5 {
left: 190.1%;
}
#stn27Name {
left: 188.2%;
}
#stn28Name {
left: 199.7%;
}
#nrLogo6 {
left: 210.1%;
}
#stn29Name {
left: 208.9%;
}
#stn30Name {
left: 217.6%;
}
#nrLogo7 {
left: 230.1%;
}
#stn31Name {
left: 228.4%;
}
#stn32Name {
left: 163.9%;
}
#stn33Name {
left: 172.7%;
}
#stn34Name {
left: 182.2%;
}
#stn35Name {
left: 193.4%;
}
#nrLogo8 {
left: 205.1%;
}
#stn36Name {
left: 203.8%;
}
#nrLogo9 {
left: 215.1%;
}
#stn37Name {
left: 212%;
}
#nrLogo10 {
left: 225.1%;
}
#stn38Name {
left: 223.3%;
}
#stn39Name {
left: 251.6%;
}
#stn40Name {
left: 263.9%;
}
#stn41Name {
left: 273.1%;
}
#stn42Name {
left: 282.5%;
}
#stn43Name {
left: 292.3%;
}
#stn44Name {
left: 302.5%;
}
#nrLogo11 {
left: 315.1%;
}
#stn45Name {
left: 313.9%;
}
#stn46Name {
left: 322.9%;
}
#stn47Name {
left: 332.1%;
}
#stn48Name {
left: 342.8%;
}
#stn49Name {
left: 351.5%;
}
#lineEnd4 {
top: 53.1%;
}
#stn50Name {
left: 362.9%;
}
}
@media only screen and (max-width: 1600px) {
.upperPageStnsTopPosition {
top: 33.8%;
}
.upperPageStnsOneLine {
top: 28%;
}
.upperPageStnsTwoLines {
top: 25%;
}
.middlePageStnsTopPosition {
top: 53.8%;
}
.middlePageStnsOneLine {
top: 48%;
}
.middlePageStnsTwoLines {
top: 45%;
}
.lowerPageStnsTopPosition {
top: 73.8%;
}
.lowerPageStnsOneLine {
top: 68%;
}
.lowerPageStnsTwoLines {
top: 65%;
}
#lineEnd1 {
top: 33.5%;
}
#stn1Name {
left: 3.1%;
}
#stn2Name {
left: 11.9%;
}
#stn3Name {
left: 22.6%;
}
#stn4Name {
left: 32.9%;
}
#stn5Name {
left: 42.9%;
}
#lineEnd2 {
top: 55%;
}
#stn6Name {
top: 46.5%;
left: 37.8%;
}
#stn7Name {
left: 57.9%;
}
#stn8Name {
left: 67.7%;
}
#stn9Name {
left: 77.8%;
}
#stn10Name {
left: 88.3%;
}
#nrLogo1 {
left: 99.6%;
}
#stn12Name {
left: 98.8%;
}
#stn13Name {
left: 88.4%;
}
#stn14Name {
left: 77%;
}
#stn15Name {
left: 68.2%;
}
#stn16Name {
left: 58.8%;
}
#stn17Name {
left: 48.1%;
}
#stn18Name {
left: 37.4%;
}
#stn19Name {
left: 28.8%;
}
#lineEnd3 {
top: 73.6%;
}
#stn20Name {
left: 17.4%;
}
#stn21Name {
left: 117.9%;
}
#stn22Name {
left: 127%;
}
#nrLogo2 {
left: 139.6%;
}
#londonOverground1 {
top: 59%;
left: 136.8%;
}
#victoria1 {
top: 68%;
left: 137.3%;
}
#nrLogo3 {
left: 159.6%;
}
#stn24Name {
left: 155%;
}
#circle1 {
top: 39%;
left: 157.3%;
}
#hsmith1 {
top: 42%;
left: 157.3%;
}
#metropolitan1 {
top: 48%;
left: 157.3%;
}
#piccadilly1 {
top: 51%;
left: 157.3%;
}
#victoria2 {
top: 54%;
left: 157.3%;
}
#stn25Name {
left: 168.6%;
}
#nrLogo4 {
left: 179.6%;
}
#stn26Name {
left: 179.2%;
}
#nrLogo5 {
left: 189.6%;
}
#stn27Name {
left: 188.1%;
}
#circle2 {
top: 39%;
left: 187.3%;
}
#hsmith2 {
top: 42%;
left: 187.3%;
}
#metropolitan2 {
top: 48%;
left: 187.3%;
}
#stn28Name {
left: 199.6%;
}
#central1 {
top: 39%;
left: 197.3%;
}
#circle3 {
top: 42%;
left: 197.3%;
}
#district1 {
top: 45%;
left: 197.3%;
}
#dlr1 {
top: 48%;
left: 196.8%;
}
#wloo1 {
top: 57%;
left: 197.3%;
}
#nrLogo6 {
left: 209.6%;
}
#jubilee1 {
top: 39%;
left: 207.3%;
}
#stn30Name {
left: 217.9%;
}
#nrLogo7 {
left: 229.6%;
}
#bakerloo1 {
top: 39%;
left: 227.3%;
}
#victoria3 {
top: 79%;
left: 162.3%;
}
#stn33Name {
left: 173%;
}
#stn34Name {
left: 181.9%;
}
#central2 {
top: 79%;
left: 182.3%;
}
#crossrail1 {
top: 82%;
left: 181.8%;
}
#piccadilly2 {
top: 79%;
left: 192.3%;
}
#interchange12 {
left: 205.5%;
}
#stn36Name {
left: 204.3%;
}
#bakerloo2 {
top: 79%;
left: 202.8%;
}
#stn37Name {
left: 212.3%;
}
#nrLogo9 {
left: 214.6%;
}
#circle4 {
top: 79%;
left: 212.3%;
}
#district2 {
top: 82%;
left: 212.3%;
}
#nrLogo10 {
left: 224.6%;
}
#stn38Name {
left: 223.4%;
}
#bakerloo3 {
top: 79%;
left: 222.3%;
}
#jubilee2 {
top: 82%;
left: 222.3%;
}
#wloo2 {
top: 85%;
left: 222.3%;
}
#stn39Name {
left: 252%;
}
#stn41Name {
left: 273.2%;
}
#victoria4 {
top: 59%;
left: 272.3%;
}
#stn42Name {
left: 282.8%;
}
#stn43Name {
left: 292.7%;
}
#stn44Name {
left: 302.8%;
}
#nrLogo11 {
left: 314.6%;
}
#stn46Name {
left: 323.2%;
}
#stn47Name {
left: 332.6%;
}
#stn48Name {
left: 343.1%;
}
#stn49Name {
left: 352%;
}
#lineEnd4 {
top: 53.6%;
}
#stn50Name {
left: 363.1%;
}
}
@media only screen and (max-width: 1440px) {
#stn1Name {
left: 2.9%;
}
#stn2Name {
left: 11.6%;
}
#stn3Name {
left: 22.3%;
}
#stn4Name {
left: 32.7%;
}
#stn5Name {
left: 42.6%;
}
#stn6Name {
left: 37.5%;
}
#stn7Name {
left: 57.7%;
}
#stn8Name {
left: 67.5%;
}
#stn9Name {
left: 77.6%;
}
#stn10Name {
left: 88.1%;
}
#nrLogo1 {
left: 99.5%;
}
#stn11Name {
left: 98.7%;
}
#stn12Name {
left: 98.6%;
}
#stn13Name {
left: 88.2%;
}
#stn14Name {
left: 76.6%;
}
#stn15Name {
left: 67.9%;
}
#stn16Name {
left: 58.6%;
}
#stn17Name {
left: 47.9%;
}
#stn18Name {
left: 37.2%;
}
#stn19Name {
left: 28.7%;
}
#stn20Name {
left: 17.2%;
}
#stn21Name {
left: 117.8%;
}
#stn22Name {
left: 126.8%;
}
#nrLogo2 {
left: 139.5%;
}
#stn23Name {
left: 139%;
}
#nrLogo3 {
left: 159.5%;
}
#stn25Name {
left: 168.5%;
}
#nrLogo4 {
left: 179.5%;
}
#stn26Name {
left: 179.1%;
}
#nrLogo5 {
left: 189.5%;
}
#stn27Name {
left: 188%;
}
#stn28Name {
left: 199.5%;
}
#nrLogo6 {
left: 209.5%;
}
#stn29Name {
left: 208.7%;
}
#stn30Name {
left: 217.7%;
}
#nrLogo7 {
left: 229.5%;
}
#stn31Name {
left: 228.2%;
}
#stn32Name {
left: 163.8%;
}
#stn33Name {
left: 172.8%;
}
#stn34Name {
left: 182%;
}
#stn35Name {
left: 193.2%;
}
#interchange12 {
left: 205.7%;
}
#bakerloo2 {
left: 203%;
}
#nrLogo9 {
left: 214.5%;
}
#stn37Name {
left: 212%;
}
#nrLogo10 {
left: 224.5%;
}
#stn38Name {
left: 223.2%;
}
#stn39Name {
left: 251.7%;
}
#stn41Name {
left: 273%;
}
#stn42Name {
left: 282.6%;
}
#stn43Name {
left: 292.5%;
}
#stn44Name {
left: 302.6%;
}
#nrLogo11 {
left: 314.5%;
}
#stn45Name {
left: 313.7%;
}
#stn46Name {
left: 323%;
}
#stn47Name {
left: 332.3%;
}
#stn48Name {
left: 342.9%;
}
#stn49Name {
left: 351.6%;
}
#stn50Name {
left: 362.9%;
}
}
@media only screen and (max-width: 1366px) {
.upperPageStnsOneLine {
top: 26.5%;
}
.upperPageStnsTwoLines {
top: 23.5%;
}
.middlePageStnsOneLine {
top: 46.5%;
}
.middlePageStnsTwoLines {
top: 43.5%;
}
.lowerPageStnsOneLine {
top: 66.5%;
}
.lowerPageStnsTwoLines {
top: 63.5%;
}
#stn1Name {
left: 2.7%;
}
#stn2Name {
left: 11.4%;
}
#stn3Name {
left: 22.1%;
}
#stn4Name {
left: 32.6%;
}
#stn5Name {
left: 42.5%;
}
#stn6Name {
top: 45%;
left: 37.4%;
}
#stn7Name {
left: 57.6%;
}
#stn8Name {
left: 67.3%;
}
#stn9Name {
left: 77.4%;
}
#stn10Name {
left: 87.9%;
}
#nrLogo1 {
left: 99.4%;
}
#stn11Name {
left: 98.6%;
}
#stn12Name {
left: 98.5%;
}
#stn13Name {
left: 88.1%;
}
#stn14Name {
left: 76.5%;
}
#stn15Name {
left: 67.8%;
}
#stn17Name {
left: 47.8%;
}
#stn18Name {
left: 37.1%;
}
#stn19Name {
left: 28.6%;
}
#stn20Name {
left: 17.1%;
}
#stn21Name {
left: 117.7%;
}
#stn22Name {
left: 126.6%;
}
#nrLogo2 {
left: 139.4%;
}
#stn23Name {
left: 138.8%;
}
#nrLogo3 {
left: 159.4%;
}
#stn25Name {
left: 168.4%;
}
#nrLogo4 {
left: 179.4%;
}
#stn26Name {
left: 179%;
}
#nrLogo5 {
left: 189.4%;
}
#stn27Name {
left: 187.8%;
}
#stn28Name {
left: 199.4%;
}
#nrLogo6 {
left: 209.4%;
}
#stn29Name {
left: 208.6%;
}
#stn30Name {
left: 217.6%;
}
#nrLogo7 {
left: 229.4%;
}
#stn31Name {
left: 228.1%;
}
#stn32Name {
left: 163.7%;
}
#stn33Name {
left: 172.7%;
}
#stn35Name {
left: 193.2%;
}
#interchange12 {
left: 205.8%;
}
#bakerloo2 {
left: 203.1%;
}
#nrLogo9 {
left: 214.4%;
}
#stn37Name {
left: 211.7%;
}
#nrLogo10 {
left: 224.4%;
}
#stn38Name {
left: 223%;
}
#stn39Name {
left: 251.5%;
}
#stn40Name {
left: 263.8%;
}
#stn41Name {
left: 272.9%;
}
#stn42Name {
left: 282.4%;
}
#stn43Name {
left: 292.3%;
}
#stn44Name {
left: 302.4%;
}
#nrLogo11 {
left: 314.4%;
}
#stn45Name {
left: 313.5%;
}
#stn47Name {
left: 332.1%;
}
#stn48Name {
left: 342.8%;
}
#stn49Name {
left: 351.5%;
}
#stn50Name {
left: 362.8%;
}
}
@media only screen and (max-width: 1280px) {
#stn1Name {
left: 2.5%;
}
#stn2Name {
left: 11.2%;
}
#stn3Name {
left: 21.9%;
}
#stn4Name {
left: 32.5%;
}
#stn5Name {
left: 42.4%;
}
#stn6Name {
left: 37.3%;
}
#stn7Name {
left: 57.5%;
}
#stn8Name {
left: 67.2%;
}
#stn9Name {
left: 77.3%;
}
#stn10Name {
left: 87.8%;
}
#nrLogo1 {
left: 99.3%;
}
#stn11Name {
left: 98.5%;
}
#stn12Name {
left: 98.4%;
}
#stn13Name {
left: 88%;
}
#stn14Name {
left: 76.2%;
}
#stn15Name {
left: 67.6%;
}
#stn16Name {
left: 58.4%;
}
#stn17Name {
left: 47.5%;
}
#stn18Name {
left: 36.8%;
}
#stn19Name {
left: 28.5%;
}
#stn20Name {
left: 17%;
}
#stn21Name {
left: 117.4%;
}
#stn22Name {
left: 126.3%;
}
#nrLogo2 {
left: 139.3%;
}
#stn23Name {
left: 138.6%;
}
#nrLogo3 {
left: 159.3%;
}
#stn25Name {
left: 168.3%;
}
#nrLogo4 {
left: 179.3%;
}
#stn26Name {
left: 178.9%;
}
#nrLogo5 {
left: 189.3%;
}
#stn27Name {
left: 187.7%;
}
#stn28Name {
left: 199.3%;
}
#nrLogo6 {
left: 209.3%;
}
#stn29Name {
left: 208.5%;
}
#stn30Name {
left: 217.4%;
}
#nrLogo7 {
left: 229.3%;
}
#stn31Name {
left: 227.9%;
}
#stn32Name {
left: 163.6%;
}
#stn33Name {
left: 172.6%;
}
#stn35Name {
left: 192.9%;
}
#nrLogo8 {
left: 205%;
}
#stn36Name {
left: 204%;
}
#stn37Name {
left: 211.3%;
}
#nrLogo10 {
left: 224.3%;
}
#stn38Name {
left: 222.8%;
}
#stn39Name {
left: 251.3%;
}
#stn40Name {
left: 263.7%;
}
#stn41Name {
left: 272.7%;
}
#stn42Name {
left: 282.2%;
}
#stn43Name {
left: 292.1%;
}
#stn44Name {
left: 302.2%;
}
#nrLogo11 {
left: 314.3%;
}
#stn45Name {
left: 313.4%;
}
#stn46Name {
left: 322.8%;
}
#stn47Name {
left: 331.8%;
}
#stn48Name {
left: 342.5%;
}
#stn49Name {
left: 351.2%;
}
#stn50Name {
left: 362.6%;
}
}
@media only screen and (max-width: 1152px) {
.upperPageStnsTopPosition {
top: 34.2%;
}
.upperPageStnsOneLine {
top: 29%;
}
.upperPageStnsTwoLines {
top: 26%;
}
.middlePageStnsTopPosition {
top: 54.2%;
}
.middlePageStnsOneLine {
top: 49%;
}
.middlePageStnsTwoLines {
top: 46%;
}
.lowerPageStnsTopPosition {
top: 74.2%;
}
.lowerPageStnsOneLine {
top: 69%;
}
.lowerPageStnsTwoLines {
top: 66%;
}
#lineEnd1 {
top: 34%;
}
#stn1Name {
left: 2.6%;
}
#stn6Name {
top: 47%;
}
#stn9Name {
left: 77.4%;
}
#nrLogo1 {
left: 98.9%;
}
#stn11Name {
left: 98.4%;
}
#stn14Name {
left: 76.3%;
}
#stn15Name {
left: 67.7%;
}
#stn17Name {
left: 47.6%;
}
#stn18Name {
left: 36.9%;
}
#lineEnd3 {
top: 74.1%;
}
#stn20Name {
left: 16.9%;
}
#stn22Name {
left: 126.4%;
}
#nrLogo2 {
left: 138.9%;
}
#londonOverground1 {
top: 58%;
left: 136.5%;
}
#victoria1 {
top: 67%;
left: 137%;
}
#nrLogo3 {
left: 158.9%;
}
#stn24Name {
left: 154.8%;
}
#circle1 {
top: 38%;
left: 157%;
}
#hsmith1 {
top: 41%;
left: 157%;
}
#metropolitan1 {
top: 47%;
left: 157%;
}
#piccadilly1 {
top: 50%;
left: 157%;
}
#victoria2 {
top: 53%;
left: 157%;
}
#stn25Name {
left: 168.2%;
}
#nrLogo4 {
left: 178.9%;
}
#stn26Name {
left: 178.8%;
}
#nrLogo5 {
left: 188.9%;
}
#circle2 {
top: 38%;
left: 187%;
}
#hsmith2 {
top: 41%;
left: 187%;
}
#metropolitan2 {
top: 47%;
left: 187%;
}
#stn28Name {
left: 199.2%;
}
#central1 {
top: 38%;
left: 197%;
}
#circle3 {
top: 41%;
left: 197%;
}
#district1 {
top: 44%;
left: 197%;
}
#dlr1 {
top: 47%;
left: 196.5%;
}
#wloo1 {
top: 56%;
left: 197%;
}
#nrLogo6 {
left: 208.9%;
}
#stn29Name {
left: 208.4%;
}
#jubilee1 {
top: 38%;
left: 207%;
}
#nrLogo7 {
left: 228.9%;
}
#stn31Name {
left: 227.8%;
}
#bakerloo1 {
top: 38%;
left: 227%;
}
#stn32Name {
left: 163.5%;
}
#victoria3 {
top: 78%;
left: 162%;
}
#stn34Name {
left: 181.7%;
}
#central2 {
top: 78%;
left: 182%;
}
#crossrail1 {
top: 81%;
left: 181.5%;
}
#stn35Name {
left: 192.8%;
}
#piccadilly2 {
top: 78%;
left: 192%;
}
#nrLogo8 {
left: 204.6%;
}
#bakerloo2 {
top: 78%;
left: 202.8%;
}
#nrLogo9 {
left: 213.9%;
}
#stn37Name {
left: 211.6%;
}
#circle4 {
top: 78%;
left: 212%;
}
#district2 {
top: 81%;
left: 212%;
}
#nrLogo10 {
left: 223.9%;
}
#stn38Name {
left: 222.7%;
}
#bakerloo3 {
top: 78%;
left: 222%;
}
#jubilee2 {
top: 81%;
left: 222%;
}
#wloo2 {
top: 84%;
left: 222%;
}
#stn39Name {
left: 251.4%;
}
#stn41Name {
left: 272.6%;
}
#victoria4 {
top: 58%;
left: 272%;
}
#stn42Name {
left: 282.3%;
}
#stn43Name {
left: 292.2%;
}
#stn44Name {
left: 302.3%;
}
#nrLogo11 {
left: 313.9%;
}
#stn45Name {
left: 313.3%;
}
#stn47Name {
left: 331.9%;
}
#stn48Name {
left: 342.6%;
}
#stn49Name {
left: 351.3%;
}
#lineEnd4 {
top: 54.1%;
}
#stn50Name {
left: 362.7%;
}
}
@media only screen and (max-width: 1024px) {
.upperPageStnsOneLine {
top: 28%;
}
.upperPageStnsTwoLines {
top: 25%;
}
.middlePageStnsOneLine {
top: 48.5%;
}
.middlePageStnsTwoLines {
top: 45.5%;
}
.lowerPageStnsOneLine {
top: 68.5%;
}
.lowerPageStnsTwoLines {
top: 65.5%;
}
#stn1Name {
left: 2.4%;
}
#stn2Name {
left: 10.8%;
}
#stn3Name {
left: 21.5%;
}
#stn4Name {
left: 32.1%;
}
#stn5Name {
left: 42.1%;
}
#stn6Name {
top: 46.5%;
left: 37%;
}
#stn7Name {
left: 57.2%;
}
#stn8Name {
left: 66.9%;
}
#stn9Name {
left: 77%;
}
#stn10Name {
left: 87.5%;
}
#nrLogo1 {
left: 98.6%;
}
#stn11Name {
left: 98.1%;
}
#stn12Name {
left: 98.1%;
}
#stn13Name {
left: 87.7%;
}
#stn14Name {
left: 76%;
}
#stn15Name {
left: 67.4%;
}
#stn16Name {
left: 58.2%;
}
#stn17Name {
left: 47.3%;
}
#stn18Name {
left: 36.6%;
}
#stn19Name {
left: 28.2%;
}
#stn20Name {
left: 16.5%;
}
#stn21Name {
left: 117.1%;
}
#stn22Name {
left: 126%;
}
#nrLogo2 {
left: 138.6%;
}
#stn23Name {
left: 138.3%;
}
#nrLogo3 {
left: 158.6%;
}
#stn24Name {
left: 154.7%;
}
#stn25Name {
left: 168%;
}
#nrLogo4 {
left: 178.6%;
}
#stn26Name {
left: 178.5%;
}
#nrLogo5 {
left: 188.6%;
}
#stn27Name {
left: 187.4%;
}
#stn28Name {
left: 199%;
}
#nrLogo6 {
left: 208.6%;
}
#stn29Name {
left: 208.1%;
}
#nrLogo7 {
left: 228.6%;
}
#stn31Name {
left: 227.4%;
}
#stn32Name {
left: 163.1%;
}
#stn33Name {
left: 172.2%;
}
#stn34Name {
left: 181.2%;
width: 9%;
}
#stn35Name {
left: 192.5%;
}
#interchange12 {
left: 206.8%;
}
#nrLogo8 {
left: 205.6%;
}
#stn36Name {
left: 204.7%;
}
#bakerloo2 {
left: 203.8%;
}
#nrLogo9 {
left: 213.6%;
}
#stn37Name {
left: 211%;
}
#nrLogo10 {
left: 223.6%;
}
#stn38Name {
left: 222.4%;
}
#stn39Name {
left: 251%;
}
#stn40Name {
left: 263.6%;
}
#stn41Name {
left: 272.2%;
}
#stn42Name {
left: 282%;
}
#stn43Name {
left: 291.9%;
}
#stn44Name {
left: 302%;
}
#nrLogo11 {
left: 313.6%;
}
#stn45Name {
left: 313%;
}
#stn46Name {
left: 322.5%;
}
#stn47Name {
left: 331.5%;
}
#stn48Name {
left: 342.3%;
}
#stn49Name {
left: 350.8%;
}
#stn50Name {
left: 362.3%;
}
}
@media only screen and (max-width: 800px) {
.upperPageStnsOneLine {
top: 27.5%;
}
.upperPageStnsTwoLines {
top: 24.5%;
}
.upperPageStnsNrLogo {
top: 19%;
}
.middlePageStnsOneLine {
top: 48%;
}
.middlePageStnsTwoLines {
top: 45%;
}
.lowerPageStnsOneLine {
top: 68%;
}
.lowerPageStnsTwoLines {
top: 65%;
}
#stn1Name {
left: 2.2%;
}
#stn2Name {
left: 10.6%;
}
#stn3Name {
left: 21.3%;
}
#stn4Name {
left: 31.9%;
}
#stn5Name {
left: 41.9%;
}
#stn6Name {
top: 45.5%;
left: 36.8%;
}
#stn7Name {
left: 57.1%;
}
#stn8Name {
left: 66.8%;
}
#stn9Name {
left: 76.9%;
}
#stn10Name {
left: 87.4%;
}
#nrLogo1 {
left: 98.1%;
}
#stn11Name {
left: 98%;
}
#stn12Name {
left: 98%;
}
#stn13Name {
left: 87.5%;
}
#stn14Name {
left: 75.8%;
}
#stn15Name {
left: 67.2%;
}
#stn16Name {
left: 58%;
}
#stn17Name {
left: 47.1%;
}
#stn18Name {
left: 36.4%;
}
#stn19Name {
left: 28%;
}
#stn20Name {
left: 16.3%;
}
#stn21Name {
left: 117%;
}
#stn22Name {
left: 125.8%;
}
#nrLogo2 {
left: 138.1%;
}
#stn23Name {
left: 138.2%;
}
#nrLogo3 {
left: 158.1%;
}
#stn25Name {
left: 167.9%;
}
#nrLogo4 {
left: 178.1%;
}
#stn26Name {
left: 178.4%;
}
#nrLogo5 {
left: 188.1%;
}
#stn27Name {
left: 187.2%;
}
#stn28Name {
left: 198.9%;
}
#nrLogo6 {
left: 208.1%;
}
#stn29Name {
left: 207.9%;
}
#nrLogo7 {
left: 228.1%;
}
#stn31Name {
left: 227.2%;
}
#stn32Name {
left: 163%;
}
#stn33Name {
left: 172.1%;
}
#stn35Name {
left: 192.4%;
}
#nrLogo8 {
left: 205.1%;
}
#stn36Name {
left: 204.6%;
}
#nrLogo9 {
left: 213.1%;
}
#stn37Name {
left: 210.6%;
}
#nrLogo10 {
left: 223.1%;
}
#stn38Name {
left: 222.3%;
}
#stn39Name {
left: 250.7%;
}
#stn40Name {
left: 263.5%;
}
#stn41Name {
left: 272%;
}
#stn42Name {
left: 281.8%;
}
#stn43Name {
left: 291.7%;
}
#stn44Name {
left: 301.8%;
}
#nrLogo11 {
left: 313.1%;
}
#stn45Name {
left: 312.9%;
}
#stn46Name {
left: 322.4%;
}
#stn47Name {
left: 331.4%;
}
#stn48Name {
left: 342.2%;
}
#stn49Name {
left: 350.6%;
}
#stn50Name {
left: 362.2%;
}
}