.heading {
background-color: black;
color: white;
}
.stationLinks {
background-color: black;
color: white;
border: 1px solid white;
}
#northernLineStation1 {
top: 20%;
left: 12.5%;
}
#northernLineStation2 {
top: 20%;
left: 27.5%;
}
#northernLineStation3 {
top: 20%;
left: 42.5%;
}
#northernLineStation4 {
top: 20%;
left: 57.5%;
}
#northernLineStation5 {
top: 20%;
left: 72.5%;
}
#northernLineStation6 {
top: 26%;
left: 12.5%;
}
#northernLineStation7 {
top: 26%;
left: 27.5%;
}
#northernLineStation8 {
top: 26%;
left: 42.5%;
}
#northernLineStation9 {
top: 26%;
left: 57.5%;
}
#northernLineStation10 {
top: 26%;
left: 72.5%;
}
#northernLineStation11 {
top: 32%;
left: 12.5%;
}
#northernLineStation12 {
top: 32%;
left: 27.5%;
}
#northernLineStation13 {
top: 32%;
left: 42.5%;
}
#northernLineStation14 {
top: 32%;
left: 57.5%;
}
#northernLineStation15 {
top: 32%;
left: 72.5%;
}
#northernLineStation16 {
top: 38%;
left: 12.5%;
}
#northernLineStation17 {
top: 38%;
left: 27.5%;
}
#northernLineStation18 {
top: 38%;
left: 42.5%;
}
#northernLineStation19 {
top: 38%;
left: 57.5%;
}
#northernLineStation20 {
top: 38%;
left: 72.5%;
}
#northernLineStation21 {
top: 44%;
left: 12.5%;
}
#northernLineStation22 {
top: 44%;
left: 27.5%;
}
#northernLineStation23 {
top: 44%;
left: 42.5%;
}
#northernLineStation24 {
top: 44%;
left: 57.5%;
}
#northernLineStation25 {
top: 44%;
left: 72.5%;
}
#northernLineStation26 {
top: 50%;
left: 12.5%;
}
#northernLineStation27 {
top: 50%;
left: 27.5%;
}
#northernLineStation28 {
top: 50%;
left: 42.5%;
}
#northernLineStation29 {
top: 50%;
left: 57.5%;
}
#northernLineStation30 {
top: 50%;
left: 72.5%;
}
#northernLineStation31 {
top: 56%;
left: 12.5%;
}
#northernLineStation32 {
top: 56%;
left: 27.5%;
}
#northernLineStation33 {
top: 56%;
left: 42.5%;
}
#northernLineStation34 {
top: 56%;
left: 57.5%;
}
#northernLineStation35 {
top: 56%;
left: 72.5%;
}
#northernLineStation36 {
top: 62%;
left: 12.5%;
}
#northernLineStation37 {
top: 62%;
left: 27.5%;
}
#northernLineStation38 {
top: 62%;
left: 42.5%;
}
#northernLineStation39 {
top: 62%;
left: 57.5%;
}
#northernLineStation40 {
top: 62%;
left: 72.5%;
}
#northernLineStation41 {
top: 68%;
left: 12.5%;
}
#northernLineStation42 {
top: 68%;
left: 27.5%;
}
#northernLineStation43 {
top: 68%;
left: 42.5%;
}
#northernLineStation44 {
top: 68%;
left: 57.5%;
}
#northernLineStation45 {
top: 68%;
left: 72.5%;
}
#northernLineStation46 {
top: 74%;
left: 12.5%;
}
#northernLineStation47 {
top: 74%;
left: 27.5%;
}
#northernLineStation48 {
top: 74%;
left: 42.5%;
}
#northernLineStation49 {
top: 74%;
left: 57.5%;
}
#northernLineStation50 {
top: 74%;
left: 72.5%;
}
#exitLink1 {
top: 86%;
left: 42%;
}