@media only screen and (max-width: 1680px) {
#nrLogo1 {
left: 4.6%;
}
#stn1Name {
left: 1.2%;
}
#stn2Name {
left: 12.7%;
}
#nrLogo2 {
left: 25.1%;
}
#stn3Name {
left: 22.9%;
}
#nrLogo3 {
left: 35.1%;
}
#stn4Name {
left: 34.3%;
}
#nrLogo4 {
left: 45.1%;
}
#stn5Name {
left: 43.5%;
}
#nrLogo5 {
left: 55.1%;
}
#stn6Name {
left: 52.7%;
}
#nrLogo6 {
left: 65.1%;
}
#stn7Name {
left: 62.6%;
}
#nrLogo7 {
left: 75.1%;
}
#stn8Name {
left: 74.1%;
}
#stn9Name {
left: 83.9%;
}
#stn10Name {
left: 94.1%;
}
#stn11Name {
left: 104.4%;
}
#nrLogo8 {
left: 115.1%;
}
#stn12Name {
left: 113.9%;
}
#stn13Name {
left: 123%;
}
#nrLogo9 {
left: 135.1%;
}
#stn14Name {
left: 133.4%;
}
#stn15Name {
left: 143.1%;
}
#nrLogo10 {
left: 155.1%;
}
#stn16Name {
left: 154.1%;
}
}
@media only screen and (max-width: 1600px) {
#nrLogo1 {
left: 4.1%;
}
#stn1Name {
left: 1.6%;
}
#stn2Name {
left: 13%;
}
#londonOverground1 {
top: 67%;
left: 11.8%;
}
#nrLogo2 {
left: 24.6%;
}
#stn3Name {
left: 23.1%;
}
#nrLogo3 {
left: 34.6%;
}
#stn4Name {
left: 34.2%;
}
#londonOverground2 {
top: 67%;
left: 31.8%;
}
#nrLogo4 {
left: 44.6%;
}
#stn5Name {
left: 43.6%;
}
#piccadilly1 {
top: 67%;
left: 42.3%;
}
#nrLogo5 {
left: 54.6%;
}
#stn6Name {
left: 53%;
}
#londonOverground3 {
top: 67%;
left: 51.8%;
}
#nrLogo6 {
left: 64.6%;
}
#stn7Name {
left: 62.8%;
}
#circle1 {
top: 67%;
left: 62.3%;
}
#hsmith1 {
top: 70%;
left: 62.3%;
}
#metropolitan1 {
top: 76%;
left: 62.3%;
}
#northern1 {
top: 79%;
left: 62.3%;
}
#piccadilly2 {
top: 82%;
left: 62.3%;
}
#nrLogo7 {
left: 74.6%;
}
#stn8Name {
left: 74.2%;
}
#northern2 {
top: 67%;
left: 72.3%;
}
#londonOverground4 {
top: 70%;
left: 71.8%;
}
#stn9Name {
left: 84%;
}
#northern3 {
top: 67%;
left: 82.3%;
}
#stn10Name {
left: 94.2%;
}
#bakerloo1 {
top: 67%;
left: 92.3%;
}
#central1 {
top: 70%;
left: 92.3%;
}
#jubilee1 {
top: 67%;
left: 102.3%;
}
#piccadilly3 {
top: 70%;
left: 102.3%;
}
#nrLogo8 {
left: 114.6%;
}
#stn12Name {
left: 113.8%;
}
#circle2 {
top: 67%;
left: 112.3%;
}
#district1 {
top: 70%;
left: 112.3%;
}
#stn13Name {
left: 123.3%;
}
#nrLogo9 {
left: 134.6%;
}
#stn14Name {
left: 133.6%;
}
#stn15Name {
left: 143.3%;
}
#northern4 {
top: 67%;
left: 142.3%;
}
#nrLogo10 {
left: 154.6%;
}
#stn16Name {
left: 154%;
}
#londonOverground5 {
top: 67%;
left: 151.8%;
}
}
@media only screen and (max-width: 1440px) {
#nrLogo1 {
left: 4%;
}
#stn1Name {
left: 1.1%;
}
#stn2Name {
left: 12.7%;
}
#nrLogo2 {
left: 24.5%;
}
#stn3Name {
left: 22.8%;
}
#nrLogo3 {
left: 34.5%;
}
#stn4Name {
left: 34%;
}
#nrLogo4 {
left: 44.5%;
}
#stn5Name {
left: 43.4%;
}
#nrLogo5 {
left: 54.5%;
}
#stn6Name {
left: 52.7%;
}
#nrLogo6 {
left: 64.5%;
}
#stn7Name {
left: 62.5%;
}
#nrLogo7 {
left: 74.5%;
}
#stn8Name {
left: 74%;
}
#stn9Name {
left: 83.7%;
}
#stn10Name {
left: 94%;
}
#stn11Name {
left: 104.2%;
}
#nrLogo8 {
left: 114.5%;
}
#stn12Name {
left: 113.6%;
}
#stn13Name {
left: 123.1%;
}
#nrLogo9 {
left: 134.5%;
}
#stn14Name {
left: 133.3%;
}
#stn15Name {
left: 142.9%;
}
#nrLogo10 {
left: 154.5%;
}
#stn16Name {
left: 153.8%;
}
}
@media only screen and (max-width: 1366px) {
#stn1Name {
left: 1%;
}
#stn2Name {
left: 12.4%;
}
#stn3Name {
left: 22.6%;
}
#stn5Name {
left: 43.3%;
}
#stn6Name {
left: 52.6%;
}
#stn7Name {
left: 62.3%;
}
#stn8Name {
left: 73.8%;
}
#stn9Name {
left: 83.6%;
}
#stn10Name {
left: 93.8%;
}
#stn11Name {
left: 104%;
}
#stn12Name {
left: 113.5%;
}
#stn14Name {
left: 133.3%;
}
#stn15Name {
left: 142.7%;
}
}
@media only screen and (max-width: 1280px) {
#nrLogo1 {
left: 3.8%;
}
#stn1Name {
left: 0.8%;
}
#stn2Name {
left: 12.2%;
}
#nrLogo2 {
left: 24.3%;
}
#stn3Name {
left: 22.3%;
}
#nrLogo3 {
left: 34.3%;
}
#stn4Name {
left: 33.9%;
}
#nrLogo4 {
left: 44.3%;
}
#stn5Name {
left: 43.1%;
}
#nrLogo5 {
left: 54.3%;
}
#stn6Name {
left: 52.3%;
}
#nrLogo6 {
left: 64.3%;
}
#stn7Name {
left: 62.1%;
}
#nrLogo7 {
left: 74.3%;
}
#stn8Name {
left: 73.7%;
}
#stn9Name {
left: 83.5%;
}
#stn10Name {
left: 93.7%;
}
#stn11Name {
left: 103.9%;
}
#nrLogo8 {
left: 114.3%;
}
#stn12Name {
left: 113.3%;
}
#stn13Name {
left: 122.9%;
}
#nrLogo9 {
left: 134.3%;
}
#stn14Name {
left: 133.1%;
}
#stn15Name {
left: 142.6%;
}
#nrLogo10 {
left: 154.3%;
}
#stn16Name {
left: 153.6%;
}
#exitLink1 {
top: 23%;
}
#exitLink2 {
top: 23%;
}
}
@media only screen and (max-width: 1152px) {
#nrLogo1 {
left: 3.4%;
}
#londonOverground1 {
top: 66%;
left: 11.5%;
}
#nrLogo2 {
left: 23.9%;
}
#nrLogo3 {
left: 33.9%;
}
#stn4Name {
left: 33.6%;
}
#londonOverground2 {
top: 66%;
left: 31.5%;
}
#nrLogo4 {
left: 43.9%;
}
#stn5Name {
left: 42.9%;
}
#piccadilly1 {
top: 66%;
left: 42%;
}
#nrLogo5 {
left: 53.9%;
}
#stn6Name {
left: 52.2%;
}
#londonOverground3 {
top: 66%;
left: 51.5%;
}
#nrLogo6 {
left: 64%;
}
#circle1 {
top: 66%;
left: 62%;
}
#hsmith1 {
top: 69%;
left: 62%;
}
#metropolitan1 {
top: 75%;
left: 62%;
}
#northern1 {
top: 78%;
left: 62%;
}
#piccadilly2 {
top: 81%;
left: 62%;
}
#nrLogo7 {
left: 74%;
}
#stn8Name {
left: 73.5%;
}
#northern2 {
top: 66%;
left: 72%;
}
#londonOverground4 {
top: 69%;
left: 71.5%;
}
#stn9Name {
left: 83.3%;
}
#northern3 {
top: 66%;
left: 82%;
}
#stn10Name {
left: 93.5%;
}
#bakerloo1 {
top: 66%;
left: 92%;
}
#central1 {
top: 69%;
left: 92%;
}
#stn11Name {
left: 103.8%;
}
#jubilee1 {
top: 66%;
left: 102%;
}
#piccadilly3 {
top: 69%;
left: 102%;
}
#nrLogo8 {
left: 113.9%;
}
#stn12Name {
left: 113.2%;
}
#circle2 {
top: 66%;
left: 112%;
}
#district1 {
top: 69%;
left: 112%;
}
#nrLogo9 {
left: 133.9%;
}
#stn14Name {
left: 133%;
}
#stn15Name {
left: 142.5%;
}
#northern4 {
top: 66%;
left: 142%;
}
#nrLogo10 {
left: 153.9%;
}
#londonOverground5 {
top: 66%;
left: 151.5%;
}
}
@media only screen and (max-width: 1024px) {
#nrLogo1 {
left: 3.1%;
}
#stn1Name {
left: 0.3%;
}
#stn2Name {
left: 11.9%;
}
#nrLogo2 {
left: 23.6%;
}
#stn3Name {
left: 22.1%;
}
#nrLogo3 {
left: 33.6%;
}
#stn4Name {
left: 33.4%;
}
#nrLogo4 {
left: 43.6%;
}
#stn5Name {
left: 42.7%;
}
#nrLogo5 {
left: 53.6%;
}
#stn6Name {
left: 52%;
}
#nrLogo6 {
left: 63.7%;
}
#stn7Name {
left: 61.7%;
}
#nrLogo7 {
left: 73.7%;
}
#stn8Name {
left: 73.3%;
}
#stn9Name {
left: 83.1%;
}
#stn10Name {
left: 93.4%;
}
#stn11Name {
left: 103.7%;
}
#nrLogo8 {
left: 113.6%;
}
#stn12Name {
left: 113%;
}
#stn13Name {
left: 122.6%;
}
#nrLogo9 {
left: 133.6%;
}
#stn14Name {
left: 132.7%;
}
#stn15Name {
left: 142.2%;
}
#nrLogo10 {
left: 153.6%;
}
#stn16Name {
left: 153.4%;
}
#exitLink1 {
top: 25%;
}
#exitLink2 {
top: 25%;
}
}
@media only screen and (max-width: 800px) {
#nrLogo1 {
left: 2.5%;
}
#nrLogo2 {
left: 23%;
}
#nrLogo3 {
left: 33%;
}
#nrLogo4 {
left: 43%;
}
#nrLogo5 {
left: 53%;
}
#nrLogo6 {
left: 63%;
}
#nrLogo7 {
left: 73%;
}
#nrLogo8 {
left: 113%;
}
#nrLogo9 {
left: 133%;
}
#nrLogo10 {
left: 153%;
}
}