@media only screen and (max-width: 1680px) {
#stn1Name {
left: 2.6%;
}
#stn2Name {
left: 4%;
}
#stn3Name {
left: 18.5%;
}
#nrLogo1 {
left: 30.1%;
}
#stn4Name {
left: 27.8%;
}
#stn5Name {
left: 43.3%;
}
#stn6Name {
left: 57.2%;
}
#stn7Name {
left: 68.7%;
}
#stn8Name {
left: 83.6%;
}
#stn9Name {
left: 96.9%;
}
#stn10Name {
left: 107.6%;
}
#nrLogo2 {
left: 140.1%;
}
#stn13Name {
left: 138.1%;
}
#stn14Name {
left: 63.7%;
}
#stn15Name {
left: 73.9%;
}
#stn16Name {
left: 83.4%;
}
#stn17Name {
left: 93.4%;
}
#stn18Name {
left: 100.8%;
}
#stn19Name {
left: 111.9%;
}
#stn20Name {
left: 122.7%;
}
#stn21Name {
left: 133.6%;
}
#nrLogo3 {
left: 145.1%;
}
#stn22Name {
left: 142.8%;
}
#stn23Name {
left: 152.4%;
}
#stn24Name {
left: 162.5%;
}
#nrLogo4 {
left: 175.1%;
}
#stn26Name {
left: 97.9%;
}
#stn28Name {
left: 118%;
}
#stn29Name {
left: 128.3%;
}
#stn30Name {
left: 137.6%;
}
#stn31Name {
left: 148%;
}
#stn32Name {
left: 157.8%;
}
#stn33Name {
left: 167.7%;
}
#nrLogo5 {
left: 19.6%;
}
#stn34Name {
left: 16.7%;
}
#nrLogo6 {
left: 30.1%;
}
#stn35Name {
left: 28.4%;
}
#stn36Name {
left: 41.5%;
}
#stn37Name {
left: 50.2%;
}
#nrLogo7 {
left: 60.1%;
}
#stn38Name {
left: 59.6%;
}
#stn39Name {
left: 67.6%;
}
#stn40Name {
top: 41.9%;
}
#stn41Name {
top: 48.6%;
left: 43.1%;
}
#stn42Name {
top: 56.9%;
}
#stn43Name {
top: 63.9%;
left: 43.1%;
}
#stn44Name {
top: 70.9%;
left: 43.2%;
}
}
@media only screen and (max-width: 1600px) {
.woolwichArsenalBranchStnsTopPosition {
top: 85.3%;
}
.woolwichArsenalBranchStnsOneLine {
top: 79.6%;
}
.woolwichArsenalBranchStnsTwoLines {
top: 76.6%;
}
.lewishamBranchStnsTopPosition {
top: 110.3%;
}
.lewishamBranchStnsOneLine {
top: 104%;
}
.lewishamBranchStnsTwoLines {
top: 101%;
}
.becktonBranchStnsTopPosition {
top: 55.3%;
}
.becktonBranchStnsTwoLines {
top: 46.2%;
}
.stratfordInternationalBranchTopPosition {
top: 33.8%;
}
.stratfordInternationalBranchTwoLines {
top: 25%;
}
#lineEnd1 {
top: 73.5%;
left: 5%;
}
#stn1Name {
top: 64.5%;
left: 2.9%;
}
#interchange1 {
top: 96.8%;
}
#stn2Name {
top: 91%;
left: 3.9%;
}
#londonUnderground1 {
top: 101.5%;
left: 1.1%;
}
#londonOverground1 {
top: 90%;
left: 16.8%;
}
#nrLogo1 {
left: 29.8%;
}
#stn5Name {
left: 43.5%;
}
#stn6Name {
left: 57.6%;
}
#stn7Name {
left: 68.9%;
}
#londonUnderground2 {
top: 90%;
left: 81.8%;
}
#stn9Name {
left: 97.3%;
}
#stn10Name {
left: 107.9%;
}
#stn11Name {
left: 115.8%;
}
#nrLogo2 {
left: 139.8%;
}
#stn14Name {
top: 98%;
left: 63.9%;
}
#crossrail1 {
top: 115%;
left: 71.8%;
}
#londonUnderground3 {
top: 124%;
left: 71.8%;
}
#stn16Name {
left: 83.7%;
}
#stn17Name {
left: 93.7%;
}
#stn18Name {
left: 101.3%;
}
#stn19Name {
left: 112.3%;
}
#stn20Name {
left: 123%;
}
#stn21Name {
left: 133.8%;
}
#nrLogo3 {
left: 144.8%;
}
#stn22Name {
left: 142.9%;
}
#stn23Name {
left: 152.9%;
}
#stn24Name {
left: 162.9%;
}
#nrLogo4 {
left: 174.8%;
}
#stn26Name {
left: 98.2%;
}
#stn27Name {
top: 43.2%;
left: 107.6%;
}
#crossrail2 {
top: 60%;
left: 106.8%;
}
#stn28Name {
left: 118.3%;
}
#stn29Name {
left: 128.6%;
}
#stn30Name {
left: 138%;
}
#stn31Name {
top: 49.2%;
left: 148.3%;
}
#stn32Name {
left: 158.1%;
}
#lineEnd2 {
top: 55%;
}
#stn33Name {
top: 49.2%;
left: 168%;
}
#nrLogo5 {
left: 19.2%;
}
#stn34Name {
left: 17%;
}
#nrLogo6 {
left: 29.7%;
}
#stn35Name {
top: 28%;
left: 28.6%;
}
#crossrail3 {
top: 39%;
left: 26.8%;
}
#londonOverground2 {
top: 48%;
left: 26.8%;
}
#londonUnderground4 {
top: 57%;
left: 26.8%;
}
#stn36Name {
left: 42%;
}
#stn37Name {
left: 50.5%;
}
#nrLogo7 {
left: 59.7%;
}
#londonUnderground5 {
top: 39%;
left: 56.8%;
}
#stn39Name {
left: 67.9%;
}
#stn40Name {
top: 41.8%;
}
#interchange13 {
left: 39.4%;
}
#stn41Name {
top: 48.1%;
left: 43%;
}
#londonUnderground6 {
top: 47.7%;
left: 52%;
}
#stn42Name {
top: 56.8%;
}
#stn43Name {
top: 63.8%;
left: 43%;
}
#stn44Name {
top: 70.9%;
left: 43.1%;
}
}
@media only screen and (max-width: 1440px) {
#stn1Name {
left: 2.6%;
}
#stn2Name {
left: 3.7%;
}
#stn3Name {
left: 18.2%;
}
#nrLogo1 {
left: 29.6%;
}
#stn4Name {
left: 27.5%;
}
#stn5Name {
left: 43.4%;
}
#stn6Name {
left: 57.4%;
}
#stn7Name {
left: 68.8%;
}
#stn8Name {
left: 83.4%;
}
#stn9Name {
left: 97%;
}
#stn10Name {
left: 107.6%;
}
#nrLogo2 {
left: 139.6%;
}
#stn13Name {
left: 137.9%;
}
#stn14Name {
left: 63.8%;
}
#stn15Name {
left: 73.7%;
}
#stn16Name {
left: 83.5%;
}
#stn17Name {
left: 93.5%;
}
#stn18Name {
left: 101%;
}
#stn19Name {
left: 112.1%;
}
#stn20Name {
left: 122.8%;
}
#stn21Name {
left: 133.6%;
}
#nrLogo3 {
left: 144.6%;
}
#stn22Name {
left: 142.6%;
}
#stn23Name {
left: 152.6%;
}
#stn24Name {
left: 162.6%;
}
#nrLogo4 {
left: 174.6%;
}
#stn25Name {
left: 172.8%;
}
#stn26Name {
left: 98%;
}
#stn28Name {
left: 118.1%;
}
#stn29Name {
left: 128.4%;
}
#stn30Name {
left: 137.7%;
}
#stn31Name {
left: 148.1%;
}
#stn32Name {
left: 157.9%;
}
#stn33Name {
left: 167.8%;
}
#nrLogo5 {
left: 19%;
}
#stn34Name {
left: 16.6%;
}
#nrLogo6 {
left: 29.5%;
}
#stn35Name {
left: 28.3%;
}
#stn36Name {
left: 41.7%;
}
#stn37Name {
left: 50.3%;
}
#nrLogo7 {
left: 59.5%;
}
#stn38Name {
left: 59.4%;
}
#stn39Name {
left: 67.8%;
}
#interchange13 {
left: 39.3%;
}
}
@media only screen and (max-width: 1366px) {
.woolwichArsenalBranchStnsOneLine {
top: 78.1%;
}
.woolwichArsenalBranchStnsTwoLines {
top: 75.1%;
}
.lewishamBranchStnsOneLine {
top: 103%;
}
.lewishamBranchStnsTwoLines {
top: 99.5%;
}
.becktonBranchStnsTwoLines {
top: 44.7%;
}
.stratfordInternationalBranchTwoLines {
top: 23.5%;
}
#stn1Name {
top: 63.5%;
left: 2.5%;
}
#stn2Name {
top: 90%;
}
#stn3Name {
left: 18.1%;
}
#nrLogo1 {
top: 76%;
left: 29.4%;
}
#stn4Name {
left: 27.3%;
}
#stn5Name {
left: 43.3%;
}
#stn6Name {
left: 57.2%;
}
#stn7Name {
left: 68.7%;
}
#stn8Name {
left: 83.2%;
}
#stn9Name {
left: 96.8%;
}
#stn10Name {
left: 107.5%;
}
#nrLogo2 {
left: 139.4%;
}
#stn13Name {
left: 137.7%;
}
#stn14Name {
top: 96.5%;
left: 63.6%;
}
#stn15Name {
left: 73.6%;
}
#stn16Name {
left: 83.3%;
}
#stn17Name {
left: 93.3%;
}
#stn18Name {
left: 100.7%;
}
#stn19Name {
left: 111.9%;
}
#stn20Name {
left: 122.6%;
}
#stn21Name {
left: 133.4%;
}
#nrLogo3 {
left: 144.4%;
}
#stn22Name {
left: 142.4%;
}
#stn23Name {
left: 152.4%;
}
#stn24Name {
left: 162.5%;
}
#nrLogo4 {
left: 174.4%;
}
#stn25Name {
left: 172.6%;
}
#stn26Name {
left: 97.9%;
}
#stn27Name {
top: 42.2%;
left: 107.5%;
}
#stn28Name {
left: 118%;
}
#stn29Name {
left: 128.3%;
}
#stn30Name {
left: 137.6%;
}
#stn31Name {
top: 48.2%;
left: 148%;
}
#stn32Name {
left: 157.7%;
}
#stn33Name {
top: 48.2%;
left: 167.6%;
}
#nrLogo5 {
top: 21%
}
#stn34Name {
left: 16.4%;
}
#nrLogo6 {
top: 21%
}
#stn35Name {
top: 27%;
left: 28.1%;
}
#stn36Name {
left: 41.5%;
}
#stn37Name {
left: 50.2%;
}
#nrLogo7 {
top: 21%;
left: 59.3%;
}
#stn38Name {
left: 59.3%;
}
#stn39Name {
left: 67.8%;
}
#stn40Name {
top: 41%;
}
#stn41Name {
top: 47.3%;
}
#stn42Name {
top: 56%;
}
#stn43Name {
top: 63%;
}
#stn44Name {
top: 70.1%;
}
}
@media only screen and (max-width: 1280px) {
#stn1Name {
left: 2.3%;
}
#stn2Name {
left: 3.5%;
}
#stn3Name {
left: 17.9%;
}
#stn4Name {
left: 27.1%;
}
#stn5Name {
left: 43.2%;
}
#stn6Name {
left: 57%;
}
#stn7Name {
left: 68.6%;
}
#stn9Name {
left: 96.7%;
}
#stn10Name {
left: 107.3%;
}
#stn13Name {
left: 137.5%;
}
#stn14Name {
left: 63.5%;
}
#stn15Name {
left: 73.4%;
}
#stn17Name {
left: 93.2%;
}
#stn18Name {
left: 100.5%;
}
#stn19Name {
left: 111.7%;
}
#stn20Name {
left: 122.5%;
}
#stn22Name {
left: 142.3%;
}
#stn23Name {
left: 152.2%;
}
#stn24Name {
left: 162.3%;
}
#stn25Name {
left: 172.5%;
}
#stn26Name {
left: 97.7%;
}
#stn28Name {
left: 117.9%;
}
#stn29Name {
left: 128.2%;
}
#stn30Name {
left: 137.4%;
}
#stn31Name {
left: 147.9%;
}
#stn32Name {
left: 157.5%;
}
#stn33Name {
left: 167.4%;
}
#nrLogo5 {
left: 18.8%;
}
#stn34Name {
left: 16.1%;
}
#nrLogo6 {
left: 29.3%;
}
#stn36Name {
left: 41.3%;
}
#stn37Name {
left: 50%;
}
#stn39Name {
left: 67.6%;
}
#stn40Name {
top: 41.1%;
}
#stn41Name {
top: 47.4%;
}
#stn42Name {
top: 56.1%;
}
#stn43Name {
top: 63.1%;
}
#stn44Name {
top: 70.2%;
}
}
@media only screen and (max-width: 1152px) {
.woolwichArsenalBranchStnsTopPosition {
top: 85.7%;
}
.woolwichArsenalBranchStnsOneLine {
top: 80%;
}
.woolwichArsenalBranchStnsTwoLines {
top: 77%;
}
.lewishamBranchStnsTopPosition {
top: 110.7%;
}
.lewishamBranchStnsOneLine {
top: 105%;
}
.lewishamBranchStnsTwoLines {
top: 102%;
}
.becktonBranchStnsTopPosition {
top: 55.7%;
}
.becktonBranchStnsTwoLines {
top: 47.5%;
}
.stratfordInternationalBranchTopPosition {
top: 34.2%;
}
.stratfordInternationalBranchTwoLines {
top: 25.5%;
}
#lineEnd1 {
top: 74%;
}
#stn1Name {
top: 66%;
}
#interchange1 {
top: 97.2%;
}
#stn2Name {
top: 92%;
}
#londonUnderground1 {
top: 100.5%;
left: 0.8%;
}
#stn3Name {
left: 17.8%;
}
#stn4Name {
left: 27%;
}
#londonOverground1 {
top: 89%;
left: 16.5%;
}
#nrLogo1 {
left: 28.9%;
}
#stn5Name {
left: 43.1%;
}
#stn8Name {
left: 83%;
}
#londonUnderground2 {
top: 89%;
left: 81.5%;
}
#stn10Name {
left: 107.4%;
}
#stn13Name {
left: 137.4%;
}
#nrLogo2 {
left: 138.9%;
}
#stn14Name {
top: 99%;
}
#crossrail1 {
top: 114%;
left: 71.5%;
}
#londonUnderground3 {
top: 123%;
left: 71.5%;
}
#nrLogo3 {
left: 144%;
}
#stn23Name {
left: 152.3%;
}
#stn24Name {
left: 162.4%;
}
#nrLogo4 {
left: 173.9%;
}
#stn27Name {
top: 44.5%;
left: 107.3%;
}
#crossrail2 {
top: 59%;
left: 106.5%;
}
#stn31Name {
top: 50.5%;
left: 148%;
}
#stn32Name {
left: 157.6%;
}
#lineEnd2 {
top: 55.5%;
}
#stn33Name {
top: 50.5%;
left: 167.4%;
}
#nrLogo5 {
top: 22%;
left: 18.3%;
}
#nrLogo6 {
top: 22%;
left: 29%;
}
#stn35Name {
top: 28.5%;
left: 27.9%;
}
#crossrail3 {
top: 38%;
left: 26.5%;
}
#londonOverground2 {
top: 47%;
left: 26.5%;
}
#londonUnderground4 {
top: 56%;
left: 26.5%;
}
#nrLogo7 {
top: 22%;
left: 58.8%;
}
#stn38Name {
left: 59.1%;
}
#londonUnderground5 {
top: 38%;
left: 56.5%;
}
#stn40Name {
top: 41.9%;
}
#interchange13 {
left: 39.6%;
}
#stn41Name {
top: 48%;
}
#londonUnderground6 {
top: 47.1%;
left: 54%;
}
#stn42Name {
top: 56.9%;
}
#stn43Name {
top: 63.9%;
}
#stn44Name {
top: 70.9%;
}

}
@media only screen and (max-width: 1024px) {
.becktonBranchStnsTwoLines {
top: 46.5%;
}
#stn1Name {
top: 65%;
left: 2%;
}
#stn2Name {
top: 91%;
left: 3.3%;
}
#stn3Name {
left: 17.6%;
}
#nrLogo1 {
left: 28.6%;
}
#stn4Name {
left: 26.8%;
}
#stn5Name {
left: 43%;
}
#stn6Name {
left: 56.8%;
}
#stn7Name {
left: 68.4%;
}
#stn8Name {
left: 82.8%;
}
#stn9Name {
left: 96.5%;
}
#stn10Name {
left: 107.1%;
}
#stn11Name {
left: 115.7%;
}
#stn12Name {
left: 126.8%;
}
#stn13Name {
left: 137.2%;
}
#nrLogo2 {
left: 138.6%;
}
#stn14Name {
left: 63.4%;
}
#stn15Name {
left: 73.2%;
}
#stn16Name {
left: 83%;
}
#stn17Name {
left: 93%;
}
#stn18Name {
left: 100.3%;
}
#stn19Name {
left: 111.5%;
}
#stn20Name {
left: 122.3%;
}
#stn21Name {
left: 133.2%;
}
#nrLogo3 {
left: 143.7%;
}
#stn22Name {
left: 142%;
}
#stn23Name {
left: 152%;
}
#stn24Name {
left: 162.1%;
}
#nrLogo4 {
left: 173.6%;
}
#stn25Name {
left: 172%;
}
#stn26Name {
left: 97.5%;
}
#stn27Name {
top: 43.5%;
}
#stn28Name {
left: 117.7%;
}
#stn29Name {
left: 128%;
}
#stn30Name {
left: 137.2%;
}
#stn31Name {
top: 49.5%;
left: 147.8%;
}
#stn32Name {
left: 157.3%;
}
#stn33Name {
top: 49.5%;
left: 167.1%;
}
#nrLogo5 {
top: 22%;
left: 18%;
}
#stn34Name {
left: 15.7%;
}
#nrLogo6 {
top: 22%;
left: 28.7%;
}
#stn35Name {
top: 28.5%;
left: 27.7%;
}
#stn36Name {
left: 41%;
}
#stn37Name {
left: 49.8%;
}
#nrLogo7 {
top: 22%;
left: 58.5%;
}
#stn38Name {
left: 58.9%;
}
#stn39Name {
left: 67.4%;
}
#stn40Name {
top: 41.5%;
}
#stn41Name {
top: 47.4%;
}
#stn42Name {
top: 56.5%;
}
#stn43Name {
top: 63.5%;
}
#stn44Name {
top: 70.5%;
}
}
@media only screen and (max-width: 800px) {
.woolwichArsenalBranchStnsOneLine {
top: 79.5%;
}
.woolwichArsenalBranchStnsTwoLines {
top: 76.5%;
}
.lewishamBranchStnsOneLine {
top: 104.5%;
}
.lewishamBranchStnsTwoLines {
top: 101.5%;
}
.stratfordInternationalBranchTopPosition {
top: 39.2%;
}
.stratfordInternationalBranchTwoLines {
top: 30%;
}
#lineEnd1 {
top: 74.1%;
}
#stn1Name {
left: 1.9%;
}
#interchange1 {
top: 96.8%;
}
#stn2Name {
top: 90.5%;
}
#stn3Name {
left: 17.5%;
}
#nrLogo1 {
top: 75%;
left: 28%;
}
#stn4Name {
left: 26.7%;
}
#stn5Name {
left: 42.8%;
}
#stn6Name {
left: 56.6%;
}
#stn7Name {
left: 68.3%;
}
#stn8Name {
left: 82.8%;
}
#stn9Name {
left: 96.3%;
}
#stn10Name {
left: 106.9%;
}
#stn11Name {
width: 10%;
left: 115.3%;
}
#stn12Name {
width: 8%;
left: 126.4%;
}
#nrLogo2 {
top: 72%;
left: 138.1%;
}
#stn13Name {
left: 137%;
}
#stn14Name {
top: 98.5%;
left: 63.3%;
}
#stn15Name {
left: 73%;
}
#stn16Name {
left: 82.8%;
}
#stn17Name {
left: 92.9%;
}
#stn18Name {
left: 100%;
}
#stn19Name {
left: 111.3%;
}
#stn20Name {
left: 122.1%;
}
#stn21Name {
left: 133%;
}
#stn22Name {
left: 141.8%;
}
#nrLogo3 {
left: 143%;
}
#stn23Name {
left: 151.9%;
}
#stn24Name {
left: 162%;
}
#nrLogo4 {
left: 173%;
}
#stn25Name {
left: 171.8%;
}
#stn26Name {
left: 97.3%;
}
#stn28Name {
left: 117.5%;
}
#stn29Name {
left: 127.8%;
}
#stn30Name {
left: 137%;
}
#stn31Name {
left: 147.7%;
}
#lineEnd2 {
top: 55.6%;
}
#stn33Name {
left: 167%;
}
#nrLogo5 {
top: 25%;
left: 17.4%;
}
#nrLogo6 {
top: 25%;
left: 28.1%;
}
#stn35Name {
top: 33%;
left: 27.6%;
}
#crossrail3 {
top: 43%;
}
#londonOverground2 {
top: 52%;
}
#londonUnderground4 {
top: 61%;
}
#nrLogo7 {
top: 25%;
left: 57.9%;
}
#stn38Name {
left: 58.9%;
}
#londonUnderground5 {
top: 43%;
left: 56.5%;
}
#stn39Name {
left: 67.3%;
}
#nonInterchange26 {
top: 50%;
left: 40.5%;
}
#stn40Name {
top: 46.2%;
}
#interchange13 {
top: 55%;
left: 39.4%;
}
#stn41Name {
top: 52.3%;
}
#londonUnderground6 {
top: 52.1%;
left: 56.5%;
}
#nonInterchange27 {
top: 63%;
left: 40.5%;
}
#stn42Name {
top: 59.2%;
}
#nonInterchange28 {
top: 69%;
left: 40.5%;
}
#stn43Name {
top: 65.1%;
}
#nonInterchange29 {
left: 40.5%;
}
}