.lineCurve {
position: absolute;
border: 1.2em solid limegreen;
-webkit-box-sizing: 50%;
-moz-box-sizing: 50%;
-khtml-border-radius: 50%;
overflow: hidden;
}
#lineCurve1 {
width: 240.6%;
height: 159.2%; /* as the half of the width */
border-bottom-right-radius: 100px;
border-left: 0;
border-top: 0;
top: 185%;
left: 5%;
}
#lineCurve2 {
width: 9%;
height: 140%;
border-bottom-left-radius: 100px;
border-top: 0;
border-right: 0;
top: 325%;
left: 150.9%;
}
#lineCurve3 {
width: 10%;
height: 20%;
border-top-left-radius: 100px;
border-bottom: 0;
border-right: 0;
top: 163%;
left: 245.6%;
}
#lineCurve4 {
width: 5%;
height: 5%;
border-top-right-radius: 100px;
border-bottom: 0;
border-left: 0;
top: 193%;
left: 240.6%;
}
#lineCurve5 {
width: 3%;
height: 13%;
border-bottom-left-radius: 50px;
border-top: 0;
border-right: 0;
top: 180%;
left: 237.6%;
}
#lineCurve6 {
width: 5%;
height: 15%;
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 163%;
left: 232.6%;
}
#lineCurve7 {
width: 8%;
height: 10%;
border-bottom-left-radius: 100px;
border-top: 0;
border-right: 0;
top: 153%;
left: 143%;
}
#lineCurve8 {
width: 40%;
height: 15%;
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 137%;
left: 103%;
}
#lineCurve9 {
width: 8%;
height: 15%;
border-top-left-radius: 100px;
border-right: 0;
border-bottom: 0;
top: 137%;
left: 95%;
}
#lineCurve10 {
width: 10%;
height: 10%;
border-bottom-right-radius: 100px;
border-top: 0;
border-left: 0;
top: 153%;
left: 85%;
}
#lineCurve11 {
width: 5%;
height: 40%;
border-top-right-radius: 100px;
border-bottom: 0;
border-left: 0;
top: 163%;
left: 160%;
}
#lineCurve12 {
width: 55%;
height: 10%;
border-bottom-right-radius: 100px;
border-top: 0;
border-left: 0;
top: 205%;
left: 110%;
}
#lineCurve13 {
width: 20%;
height: 80%;
border-top-left-radius: 100px;
border-right: 0;
border-bottom: 0;
top: 215%;
left: 90%;
}
#lineCurve14 {
width: 7%;
height: 59.2%;
border-bottom-left-radius: 100px;
border-right: 0;
border-top: 0;
top: 285%;
left: 90%;
}
#lineCurve15 {
width: 5%;
height: 118%;
border-bottom-right-radius: 100px;
border-left: 0;
border-top: 0;
top: 45%;
left: 310%;
}
#lineCurve16 {
width: 5%;
height: 67%;
border-bottom-right-radius: 100px;
border-left: 0;
border-top: 0;
top: 96%;
left: 395%;
}
#lineCurve17 {
width: 10%;
height: 45%;
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 163%;
left: 170%;
}
#lineCurve18 {
width: 5%;
height: 10%;
border-bottom-left-radius: 50px;
border-top: 0;
border-right: 0;
top: 209%;
left: 180.05%;
}
#lineCurve19 {
width: 5%;
height: 75%;
border-top-right-radius: 50px;
border-left: 0;
border-bottom: 0;
top: 219%;
left: 185%;
}
#lineCurve20 {
width: 10%;
height: 10%;
border-bottom-right-radius: 100px;
border-left: 0;
border-top: 0;
top: 264.9%;
left: 180%;
}
#lineCurve21 {
width: 5%;
height: 20%;
border-top-left-radius: 100px;
border-right: 0;
border-bottom: 0;
top: 274.95%;
left: 174.2%;
}
#lineCurve22 {
width: 8%;
height: 49.2%;
border-bottom-left-radius: 100px;
border-right: 0;
border-top: 0;
top: 295%;
left: 174.2%;
}
#lineCurve23 {
width: 4%;
height: 5%;
border-bottom-left-radius: 100px;
border-right: 0;
border-top: 0;
top: 296%;
left: 190%;
}
#lineCurve24 {
width: 7%;
height: 20%;
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 301%;
left: 194%;
}
#lineCurve25 {
width: 7%;
height: 21.2%;
border-bottom-right-radius: 100px;
border-left: 0;
border-top: 0;
top: 323%;
left: 194%;
}
#lineCurve26 {
width: 10%;
height: 37%;
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 163%;
left: 188%;
}
#lineCurve27 {
width: 7%;
height: 9%;
border-bottom-left-radius: 50px;
border-top: 0;
border-right: 0;
top: 202%;
left: 198%;
}
#lineCurve28 {
width: 8%;
height: 75%;
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 211%;
left: 206%;
}
#lineCurve29 {
width: 5%;
height: 13%;
border-bottom-right-radius: 50px;
border-left: 0;
border-top: 0;
top: 288%;
left: 209%;
}
#lineCurve30 {
width: 8.5%;
height: 10%;
border-top-left-radius: 100px;
border-right: 0;
border-bottom: 0;
top: 301%;
left: 201%;
}
#lineCurve31 {
width: 5%;
height: 135%;
border-top-left-radius: 100px;
border-right: 0;
border-bottom: 0;
top: 344.2%;
left: 175%;
}
#lineCurve32 {
width: 20%;
height: 10%;
border-bottom-left-radius: 100px;
border-right: 0;
border-top: 0;
top: 440%;
left: 175%;
}
#lineCurve33 {
width: 40%;
height: 15%;
border-bottom-left-radius: 100px;
border-right: 0;
border-top: 0;
top: 480%;
left: 175%;
}
#lineCurve34 {
width: 60%;
height: 15%;
border-bottom-right-radius: 100px;
border-left: 0;
border-top: 0;
top: 480%;
left: 115%;
}
#lineCurve35 {
width: 14.1%;
height: 5%;
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 465%;
left: 160.9%;
}
#lineCurve36 {
width: 10%;
height: 10%;
border-bottom-right-radius: 50px;
border-left: 0;
border-top: 0;
top: 400%;
left: 140.9%;
}
#lineCurve37 {
width: 10%;
height: 10%;
border-top-right-radius: 50px;
border-left: 0;
border-bottom: 0;
top: 410%;
left: 140.9%;
}
#lineCurve38 {
width: 22.2%;
height: 10%;
border-top-left-radius: 50px;
border-bottom: 0;
border-right: 0;
top: 314%;
left: 150.9%;
}
#lineCurve39 {
width: 19%;
height: 28%;
border-top-right-radius: 50px;
border-bottom: 0;
border-left: 0;
top: 314%;
left: 175.3%;
}
#lineCurve40 {
width: 110%;
height: 28%;
border-bottom-left-radius: 100px;
border-top: 0;
border-right: 0;
top: 346.4%;
left: 194.25%;
}
#lineCurve41 {
width: 10%;
height: 50.3%;
border-bottom-right-radius: 100px;
border-top: 0;
border-left: 0;
top: 324%;
left: 300%;
}
#lineCurve42 {
width: 10%;
height: 70%;
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 374.4%;
left: 235%;
}
#lineCurve43 {
width: 60%;
height: 10%;
border-bottom-left-radius: 100px;
border-top: 0;
border-right: 0;
top: 446%;
left: 245.05%;
}
#lineCurve44 {
width: 5%;
height: 40%;
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 456%;
left: 305%;
}
#lineCurve45 {
width: 5%;
height: 95%;
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 374.4%;
left: 305%;
}