.heading {
background: limegreen;
width: 442%;
}
.line {
background-color: limegreen;
}
#line1 {
top: 163%;
left: 20%;
width: 416%;
}
.lineEnd {
background-color: limegreen;
}
.heading {
background: limegreen;
}
.nonInterchange {
background: limegreen;
top: 161.3%;
}
.mainRouteStnsThreeLines {
top: 148.5%;
}
.mainRouteStnsTwoLines {
top: 151.5%;
}
.mainRouteStnsOneLine {
top: 155%;
}
.interchange {
top: 161.3%;
}
.viaStokeRouteStnsTopPosition {
top: 135.5%;
}
.viaStokeRouteStnsOneLine {
top: 129%;
}
.bhamCovWolvesRouteStnsTopPosition {
top: 342.5%;
}
.bhamCovWolvesRouteStnsOneLine {
top: 336%;
}
.bhamCovWolvesRouteStnsTwoLines {
top: 332.7%;
}
.herfordGloucesterRouteStnsTopPosition {
top: 493.5%;
}
.herfordGloucesterRouteStnsOneLine {
top: 487%;
}
.herfordGloucesterRouteStnsTwoLines {
top: 484%;
}
.bhamLSpaRouteStnsTopPosition {
top: 372.7%;
}
.bhamLSpaRouteStnsOneLine {
top: 366.3%;
}
.bhamLSpaRouteStnsTwoLines {
top: 363.3%;
}
.earlswoodWoottonWawenPartOfLineStnsTopPosition {
top: 454.3%;
}
.earlswoodWoottonWawenPartOfLineStnsTwoLines {
top: 444.5%;
}
#interchange1 {
left: 4.5%;
}
#stn1Name {
left: 2.3%;
}
#arrivaTrainWales1 {
top: 349%;
left: 1.9%;
}
#nonInterchange1 {
left: 15%;
}
#stn2Name {
left: 12.2%;
}
#nonInterchange2 {
left: 25%;
}
#stn3Name {
left: 21.7%;
}
#nonInterchange3 {
left: 35%;
}
#stn4Name {
left: 33.1%;
}
#nonInterchange4 {
left: 45%;
}
#stn5Name {
left: 43.3%;
}
#nonInterchange5 {
left: 55%;
}
#stn6Name {
left: 53%;
}
#nonInterchange6 {
left: 65%;
}
#stn7Name {
left: 62.4%;
}
#nonInterchange7 {
left: 75%;
}
#stn8Name {
left: 73%;
}
#nonInterchange8 {
left: 85%;
}
#stn9Name {
left: 82.9%;
}
#interchange2 {
left: 100%;
}
#stn10Name {
left: 96.5%;
}
#arrivaTrainWales2 {
top: 349%;
left: 97.4%;
}
#crosscountry1 {
top: 355%;
left: 97.4%;
}
#virginTrains1 {
top: 358%;
left: 97.4%;
}
#nonInterchange9 {
left: 110%;
}
#stn11Name {
left: 107.9%;
}
#nonInterchange10 {
left: 120%;
}
#stn12Name {
left: 118.6%;
}
#nonInterchange11 {
left: 130%;
}
#stn13Name {
left: 128.2%;
}
#interchange3 {
left: 140%;
}
#stn14Name {
width: 9%;
left: 136.8%;
}
#virginTrains2 {
top: 349%;
left: 137.4%;
}
#interchange4 {
left: 150%;
}
#stn15Name {
width: 10%;
left: 146.3%;
}
#arrivaTrainWales3 {
top: 349%;
left: 147.4%;
}
#nonInterchange12 {
left: 165%;
}
#stn16Name {
width: 10%;
left: 160.4%;
}
#interchange5 {
left: 185%;
}
#stn17Name {
left: 183%;
}
#arrivaTrainWales4 {
top: 349%;
left: 182.7%;
}
#crosscountry2 {
top: 355%;
left: 182.7%;
}
#virginTrains3 {
top: 358%;
left: 182.7%;
}
#nonInterchange13 {
left: 205%;
}
#stn18Name {
left: 202.7%;
}
#nonInterchange14 {
left: 215%;
}
#stn19Name {
left: 212.5%;
}
#nonInterchange15 {
left: 225%;
}
#stn20Name {
left: 224.2%;
}
#nonInterchange16 {
left: 235%;
}
#stn21Name {
left: 233%;
}
#interchange6 {
top: 315%;
left: 244.7%;
}
#stn22Name {
width: 17%;
top: 313.7%;
left: 248.5%;
}
#arrivaTrainWales5 {
top: 311%;
left: 233%;
}
#crosscountry3 {
top: 317%;
left: 233%;
}
#virginTrains4 {
top: 320%;
left: 233%;
}
#nonInterchange17 {
top: 295%;
left: 246.1%;
}
#stn23Name {
width: 14%;
top: 291.8%;
left: 248.3%;
}
#nonInterchange18 {
top: 275%;
left: 246.1%;
}
#stn24Name {
top: 271.8%;
left: 249.5%;
}
#nonInterchange19 {
top: 255%;
left: 246.1%;
}
#stn25Name {
width: 7%;
top: 251.8%;
left: 248%;
}
#nonInterchange20 {
top: 235%;
left: 246.1%;
}
#stn26Name {
top: 230.1%;
left: 249.5%;
}
#interchange7 {
top: 215%;
left: 244.7%;
}
#stn27Name {
top: 213.7%;
left: 249.5%;
}
#crosscountry4 {
top: 214.5%;
left: 233%;
}
#virginTrains5 {
top: 217.5%;
left: 233%;
}
#nonInterchange21 {
top: 191.5%;
left: 242%;
}
#stn28Name {
top: 185%;
left: 239.3%;
}
#interchange8 {
left: 230%;
}
#stn29Name {
left: 228.4%;
}
#virginTrains6 {
top: 168%;
left: 227.4%;
}
#nonInterchange22 {
left: 220%;
}
#stn30Name {
left: 217.1%;
}
#nonInterchange23 {
left: 211%;
}
#stn31Name {
left: 208.3%;
}
#interchange9 {
left: 202%;
}
#stn32Name {
left: 200.2%;
}
#crosscountry5 {
top: 168%;
left: 199.4%;
}
#virginTrains7 {
top: 171%;
left: 199.4%;
}
#interchange10 {
left: 185%;
}
#stn33Name {
left: 183.7%;
}
#virginTrains8 {
top: 168%;
left: 182.4%;
}
#nonInterchange24 {
left: 170%;
}
#stn34Name {
left: 167.9%;
}
#interchange11 {
left: 155%;
}
#stn35Name {
left: 154%;
}
#arrivaTrainWales6 {
top: 168%;
left: 152.4%;
}
#crosscountry6 {
top: 174%;
left: 152.4%;
}
#virginTrains9 {
top: 177%;
left: 152.4%;
}
#nonInterchange25 { 
left: 135%;
}
#stn36Name {
left: 133.6%;
}
#interchange12 {
left: 125%;
}
#stn37Name {
width: 8%;
top: 125.7%;
left: 122.5%;
}
#crosscountry7 {
top: 142%;
left: 122.4%;
}
#emid1 {
top: 145%;
left: 122.4%;
}
#northernRail1 {
top: 148%;
left: 122.4%;
}
#virginTrains10 {
top: 151%;
left: 122.4%;
}
#interchange13 {
left: 115%;
}
#stn38Name {
left: 113.3%;
}
#northernRail2 {
top: 142%;
left: 112.4%;
}
#nonInterchange26 {
left: 105%;
}
#stn39Name {
left: 103.1%;
}
#interchange14 {
left: 80%;
}
#stn40Name {
left: 79.4%;
}
#arrivaTrainWales7 {
top: 168%;
left: 77.4%;
}
#crosscountry8 {
top: 174%;
left: 77.4%;
}
#emid2 {
top: 177%;
left: 77.4%;
}
#northernRail3 {
top: 180%;
left: 77.4%;
}
#virginTrains11 {
top: 183%;
left: 77.4%;
}
#nonInterchange27 {
left: 70%;
}
#stn41Name {
left: 67.6%;
}
#nonInterchange28 {
left: 60%;
}
#stn42Name {
left: 58%;
}
#nonInterchange29 {
left: 50%;
}
#stn43Name {
left: 48.4%;
}
#interchange15 {
left: 40%;
}
#stn44Name {
left: 38.8%;
}
#northernRail4 {
top: 168%;
left: 37.4%;
}
#virginTrains12 {
top: 171%;
left: 37.4%;
}
#interchange16 {
left: 30%;
}
#stn45Name {
left: 28.7%;
}
#emid3 {
top: 168%;
left: 27.4%;
}
#merseyrail1 {
top: 171%;
left: 27.4%;
}
#northernRail5 {
top: 174%;
left: 27.4%;
}
#interchange17 {
left: 19.5%;
}
#stn46Name {
width: 10%;
left: 15.9%;
}
#emid4 {
top: 168%;
left: 16.9%;
}
#merseyrail2 {
top: 171%;
left: 16.9%;
}
#northernRail6 {
top: 174%;
left: 16.9%;
}
#transpenine1 {
top: 177%;
left: 16.9%;
}
#virginTrains13 {
top: 183%;
left: 16.9%;
}
#interchange18 {
left: 255%;
}
#stn47Name {
left: 254.5%;
}
#virginTrains14 {
top: 168%;
left: 252.4%;
}
#nonInterchange30 {
left: 265%;
}
#stn48Name {
left: 263.2%;
}
#interchange19 {
left: 275%;
}
#stn49Name {
left: 272.2%;
}
#virginTrains15 {
top: 168%;
left: 272.4%;
}
#nonInterchange31 {
left: 285%;
}
#stn50Name {
left: 282.3%;
}
#interchange20 {
left: 295%;
}
#stn51Name {
left: 294.2%;
}
#southernRail1 {
top: 168%;
left: 292.4%;
}
#virginTrains16 {
top: 171%;
left: 292.4%;
}
#interchange21 {
left: 305%;
}
#stn52Name {
left: 303.6%;
}
#southernRail2 {
top: 168%;
left: 302.4%;
}
#interchange22 {
left: 320%;
}
#stn53Name {
left: 318.7%;
}
#southernRail3 {
top: 168%;
left: 317.4%;
}
#nonInterchange32 {
left: 330%;
}
#stn54Name {
left: 326.3%;
}
#interchange23 {
left: 340%;
}
#stn55Name {
left: 339.9%;
}
#southernRail4 {
top: 168%;
left: 337.3%;
}
#nonInterchange33 {
left: 350%;
}
#stn56Name {
left: 346.1%;
}
#interchange24 {
left: 360%;
}
#stn57Name {
left: 358%;
}
#southernRail5 {
top: 168%;
left: 357.4%;
}
#nonInterchange34 {
left: 370%;
}
#stn58Name {
left: 368.3%;
}
#nonInterchange35 {
left: 380%;
}
#stn59Name {
left: 378.1%;
}
#interchange25 {
left: 390%;
}
#stn60Name {
left: 388.8%;
}
#londonOverground1 {
top: 168%;
left: 387%;
}
#southernRail6 {
top: 177%;
left: 387.4%;
}
#virginTrains17 {
top: 180%;
left: 387.4%;
}
#interchange26 {
left: 405%;
}
#stn61Name {
left: 404.2%;
}
#londonOverground2 {
top: 168%;
left: 402.1%;
}
#interchange27 {
left: 415%;
}
#stn62Name {
left: 412.7%;
}
#londonOverground3 {
top: 168%;
left: 412%;
}
#southernRail7 {
top: 177%;
left: 412.4%;
}
#londonUnderground1 {
top: 180%;
left: 412%;
}
#interchange28 {
left: 425%;
}
#stn63Name {
left: 423.4%;
}
#londonOverground4 {
top: 168%;
left: 422%;
}
#southernRail8 {
top: 177%;
left: 422.4%;
}
#londonUnderground2 {
top: 180%;
left: 422%;
}
#interchange29 {
left: 435%;
}
#stn64Name {
left: 434%;
}
#londonOverground5 {
top: 168%;
left: 432%;
}
#londonUnderground3 {
top: 177%;
left: 432%;
}
#virginTrains18 {
top: 186%;
left: 432.5%;
}
#nonInterchange36 {
top: 213.5%;
left: 130%;
}
#stn65Name {
top: 207%;
left: 127.4%;
}
#nonInterchange37 {
top: 145%;
left: 315.5%;
}
#stn66Name {
width: 10%;
top: 142%;
left: 318.4%;
}
#nonInterchange38 {
top: 135%;
left: 315.5%;
}
#stn67Name {
width: 8%;
top: 132%;
left: 318.8%;
}
#nonInterchange39 {
top: 125%;
left: 315.5%;
}
#stn68Name {
width: 10%;
top: 122%;
left: 318.4%;
}
#nonInterchange40 {
top: 115%;
left: 315.5%;
}
#stn69Name {
width: 8%;
top: 112%;
left: 318.9%;
}
#nonInterchange41 {
top: 105%;
left: 315.5%;
}
#stn70Name {
top: 102%;
left: 319%;
}
#nonInterchange42 {
top: 95%;
left: 315.5%;
}
#stn71Name {
top: 92%;
left: 319%;
}
#nonInterchange43 {
top: 85%;
left: 315.5%;
}
#stn72Name {
top: 82%;
left: 319%;
}
#nonInterchange44 {
top: 75%;
left: 315.5%;
}
#stn73Name {
top: 72%;
left: 319%;
}
#nonInterchange45 {
top: 65%;
left: 315.5%;
}
#stn74Name {
width: 13%;
top: 62%;
left: 318.5%;
}
#nonInterchange46 {
top: 55%;
left: 315.5%;
}
#stn75Name {
width: 11%;
top: 52%;
left: 318.4%;
}
#interchange30 {
top: 44.5%;
left: 314.1%;
}
#stn76Name {
top: 43%;
left: 319%;
}
#emid5 {
top: 44.5%;
left: 304%;
}
#thameslink1 {
top: 47.5%;
left: 304%;
}
#nonInterchange47 {
top: 146%;
left: 400.5%;
}
#stn77Name {
width: 9%;
top: 143%;
left: 403.6%;
}
#nonInterchange48 {
top: 136%;
left: 400.5%;
}
#stn78Name {
top: 133%;
left: 404%;
}
#nonInterchange49 {
top: 126%;
left: 400.5%;
}
#stn79Name {
width: 9%;
top: 123%;
left: 403.7%;
}
#nonInterchange50 {
top: 116%;
left: 400.5%;
}
#stn80Name {
width: 7%;
top: 113%;
left: 403.7%;
}
#nonInterchange51 {
top: 106%;
left: 400.5%;
}
#stn81Name {
width: 7%;
top: 103%;
left: 403.6%;
}
#lineEnd1 {
top: 96%;
left: 398.5%;
}
#stn82Name {
width: 11%;
top: 93%;
left: 403.3%;
}
#nonInterchange52 {
top: 173%;
left: 180.5%;
}
#stn83Name {
width: 9%;
top: 170%;
left: 183.7%;
}
#nonInterchange53 {
top: 183%;
left: 180.5%;
}
#stn84Name {
top: 180%;
left: 184%;
}
#nonInterchange54 {
top: 193%;
left: 180.5%;
}
#stn85Name {
top: 190%;
left: 184%;
}
#nonInterchange55 {
top: 203%;
left: 180.5%;
}
#stn86Name {
top: 200%;
left: 184%;
}
#nonInterchange56 {
top: 213%;
left: 180.5%;
}
#stn87Name {
width: 9%;
top: 210%;
left: 183.7%;
}
#nonInterchange57 {
top: 220.8%;
left: 185.5%;
}
#stn88Name {
top: 220%;
left: 183.3%;
}
#nonInterchange58 {
top: 230%;
left: 190.5%;
}
#stn89Name {
top: 227%;
left: 194%;
}
#nonInterchange59 {
top: 240%;
left: 190.5%;
}
#stn90Name {
width: 10%;
top: 237%;
left: 193.6%;
}
#nonInterchange60 {
top: 250%;
left: 190.5%;
}
#stn91Name {
width: 14%;
top: 247%;
left: 193.8%;
}
#nonInterchange61 {
top: 260%;
left: 190.5%;
}
#stn92Name {
top: 257%;
left: 194%;
}
#nonInterchange62 {
top: 280%;
left: 190.5%;
}
#stn93Name {
width: 6%;
top: 277%;
left: 193.6%;
}
#nonInterchange63 {
top: 290%;
left: 190.5%;
}
#stn94Name {
top: 287%;
left: 194%;
}
#nonInterchange64 {
top: 315%;
left: 201.5%;
}
#stn95Name {
top: 312%;
left: 205%;
}
#nonInterchange65 {
top: 325%;
left: 201.5%;
}
#stn96Name {
top: 322%;
left: 205%;
}
#nonInterchange66 {
top: 178%;
left: 198.5%;
}
#stn97Name {
width: 9%;
top: 175%;
left: 201.5%;
}
#nonInterchange67 {
top: 186%;
left: 198.5%;
}
#stn98Name {
top: 183%;
left: 202%;
}
#nonInterchange68 {
top: 195%;
left: 198.5%;
}
#stn99Name {
width: 8%;
top: 192%;
left: 201.6%;
}
#nonInterchange69 {
top: 203%;
left: 198.5%;
}
#stn100Name {
width: 8%;
top: 200%;
left: 201.7%;
}
#nonInterchange70 {
top: 212.6%;
left: 205%;
}
#stn101Name {
top: 212%;
left: 203.9%;
}
#nonInterchange71 {
top: 225%;
left: 214.5%;
}
#stn102Name {
width: 11%;
top: 222%;
left: 217.3%;
}
#nonInterchange72 {
top: 240%;
left: 214.5%;
}
#stn103Name {
width: 9%;
top: 237%;
left: 217.4%;
}
#nonInterchange73 {
top: 255%;
left: 214.5%;
}
#stn104Name {
width: 9%;
top: 252%;
left: 217.5%;
}
#nonInterchange74 {
top: 270%;
left: 214.5%;
}
#stn105Name {
top: 267%;
left: 218%;
}
#nonInterchange75 {
top: 285%;
left: 214.5%;
}
#stn106Name {
width: 8%;
top: 282%;
left: 217.5%;
}
#nonInterchange76 {
top: 365%;
left: 175.5%;
}
#stn107Name {
width: 7%;
top: 362%;
left: 178.6%;
}
#interchange31 {
top: 375%;
left: 174.1%;
}
#stn108Name {
top: 373.2%;
left: 178.8%;
}
#crosscountry9 {
top: 376%;
left: 187%;
}
#nonInterchange77 {
top: 385%;
left: 175.5%;
}
#stn109Name {
width: 6%;
top: 382%;
left: 178.8%;
}
#nonInterchange78 {
top: 395%;
left: 175.5%;
}
#stn110Name {
top: 392%;
left: 179%;
}
#nonInterchange79 {
top: 405%;
left: 175.5%;
}
#stn111Name {
width: 8%;
top: 402%;
left: 178.8%;
}
#nonInterchange80 {
top: 415%;
left: 175.5%;
}
#stn112Name {
top: 412%;
left: 179%;
}
#nonInterchange81 {
top: 425%;
left: 175.5%;
}
#stn113Name {
top: 422%;
left: 179%;
}
#nonInterchange82 {
top: 435%;
left: 175.5%;
}
#stn114Name {
width: 8%;
top: 432%;
left: 178.7%;
}
#nonInterchange83 {
top: 448.5%;
left: 185%;
}
#stn115Name {
top: 442%;
left: 182%;
}
#lineEnd2 {
top: 448%;
left: 195%;
}
#stn116Name {
top: 442%;
left: 192.8%;
}
#interchange32 {
top: 455%;
left: 174.1%;
}
#stn117Name {
top: 453.5%;
left: 179%;
}
#crosscountry10 {
top: 456%;
left: 188%;
}
#nonInterchange84 {
top: 475%;
left: 175.5%;
}
#stn118Name {
width: 9%;
top: 472%;
left: 178.7%;
}
#line2 {
top: 495%;
left: 170%;
width: 10%;
}
#interchange33 {
left: 185%;
}
#stn119Name {
width: 10%;
left: 181.3%;
}
#gwr1 {
top: 500%;
left: 182.4%;
}
#interchange34 {
left: 195%;
}
#stn120Name {
left: 193%;
}
#crosscountry11 {
top: 500%;
left: 192.4%;
}
#interchange35 {
left: 205%;
}
#stn121Name {
left: 202.7%;
}
#arrivaTrainWales8 {
top: 500%;
left: 202.4%;
}
#interchange36 {
left: 215%;
}
#stn122Name {
left: 213%;
}
#arrivaTrainWales9 {
top: 500%;
left: 212.4%;
}
#crosscountry12 {
top: 506%;
left: 212.4%;
}
#gwr2 {
top: 509%;
left: 212.4%;
}
#interchange37 {
left: 165%;
}
#stn123Name {
top: 481%;
left: 163.3%;
}
#gwr3 {
top: 500%;
left: 162.4%;
}
#nonInterchange85 {
left: 155%;
}
#stn124Name {
left: 153%;
}
#nonInterchange86 {
left: 145%;
}
#stn125Name {
left: 142.9%;
}
#nonInterchange87 {
left: 135%;
}
#stn126Name {
left: 133.1%;
}
#nonInterchange88 {
left: 125%;
}
#stn127Name {
left: 122.9%;
}
#interchange38 {
left: 114.5%;
}
#stn128Name {
left: 113.2%;
}
#arrivaTrainWales10 {
top: 500%;
left: 111.9%;
}
#gwr4 {
top: 506%;
left: 111.9%;
}
#nonInterchange89 {
top: 360%;
left: 151.4%;
}
#stn129Name {
width: 10%;
top: 357%;
left: 154.6%;
}
#nonInterchange90 {
top: 370%;
left: 151.4%;
}
#stn130Name {
width: 9%;
top: 367%;
left: 154.6%;
}
#nonInterchange91 {
top: 380%;
left: 151.4%;
}
#stn131Name {
width: 5%;
top: 377%;
left: 154.8%;
}
#nonInterchange92 {
top: 390%;
left: 151.4%;
}
#stn132Name {
width: 9%;
top: 387%;
left: 154.7%;
}
#nonInterchange93 {
top: 400%;
left: 151.4%;
}
#stn133Name {
top: 397%;
left: 155%;
}
#lineEnd3 {
top: 408%;
left: 140.9%;
}
#stn134Name {
top: 398%;
left: 137.8%;
}
#nonInterchange94 {
top: 420%;
left: 151.4%;
}
#stn135Name {
width: 13%;
top: 417%;
left: 154.4%;
}
#nonInterchange95 {
top: 430%;
left: 151.4%;
}
#stn136Name {
top: 427%;
left: 155%;
}
#nonInterchange96 {
top: 440%;
left: 151.4%;
}
#stn137Name {
top: 437%;
left: 155%;
}
#nonInterchange97 {
top: 450%;
left: 151.4%;
}
#stn138Name {
top: 447%;
left: 155%;
}
#nonInterchange98 {
top: 325%;
left: 151.4%;
}
#stn139Name {
width: 10%;
top: 321.8%;
left: 154.6%;
}
#nonInterchange99 {
top: 312.5%;
left: 162%;
}
#stn140Name {
top: 303%;
left: 160%;
}
#interchange39 {
top: 312.5%;
left: 182%;
}
#stn141Name {
top: 303.5%;
left: 179.9%;
}
#chilternRailways1 {
top: 319%;
left: 179.4%;
}
#interchange40 {
left: 205%;
}
#stn142Name {
left: 202.9%;
}
#chilternRailways2 {
top: 379%;
left: 202.4%;
}
#nonInterchange100 {
left: 215%;
}
#stn143Name {
left: 212.4%;
}
#nonInterchange101 {
left: 225%;
}
#stn144Name {
left: 223.6%;
}
#nonInterchange102 {
left: 235%;
}
#stn145Name {
left: 233.1%;
}
#nonInterchange103 {
left: 250%;
}
#stn146Name {
left: 248.2%;
}
#nonInterchange104 {
left: 260%;
}
#stn147Name {
left: 258.8%;
}
#interchange41 {
left: 270%;
}
#stn148Name {
left: 269.2%;
}
#chilternRailways3 {
top: 379%;
left: 267.4%;
}
#nonInterchange105 {
left: 280%;
}
#stn149Name {
left: 278%;
}
#interchange42 {
left: 290%;
}
#stn150Name {
left: 288.8%;
}
#chilternRailways4 {
top: 379%;
left: 287.4%;
}
#nonInterchange106 {
left: 300%;
}
#stn151Name {
left: 297.6%;
}
#interchange43 {
top: 355%;
left: 309.1%;
}
#stn152Name {
top: 353.5%;
left: 315%;
}
#chilternRailways5 {
top: 355%;
left: 299.5%;
}
#nonInterchange107 {
top: 345%;
left: 310.5%;
}
#stn153Name {
width: 11%;
top: 342%;
left: 314.6%;
}
#nonInterchange108 {
top: 335%;
left: 310.5%;
}
#stn154Name {
top: 332%;
left: 315%;
}
#interchange44 {
top: 320%;
left: 309.1%;
}
#stn155Name {
width: 10%;
top: 318.5%;
left: 314.7%;
}
#chilternRailways6 {
top: 318.5%;
left: 299.5%;
}
#crosscountry13 {
top: 324.5%;
left: 299.5%;
}
#nonInterchange109 {
top: 390%;
left: 245.5%;
}
#stn156Name {
width: 8%;
top: 386.8%;
left: 248.8%;
}
#nonInterchange110 {
top: 400%;
left: 245.5%;
}
#stn157Name {
width: 7%;
top: 397%;
left: 248.8%;
}
#nonInterchange111 {
top: 410%;
left: 245.5%;
}
#stn158Name {
width: 9%;
top: 406.8%;
left: 248.6%;
}
#nonInterchange112 {
top: 420%;
left: 245.5%;
}
#stn159Name {
top: 417%;
left: 249%;
}
#nonInterchange113 {
top: 430%;
left: 245.5%;
}
#stn160Name {
width: 10%;
top: 427%;
left: 248.3%;
}
#nonInterchange114 {
top: 440%;
left: 245.5%;
}
#stn161Name {
top: 437%;
left: 249%;
}
#nonInterchange115 {
left: 255%;
}
#stn162Name {
top: 447.5%;
left: 252.2%;
}
#nonInterchange116 {
left: 265%;
}
#stn163Name {
left: 263.8%;
}
#nonInterchange117 {
left: 275%;
}
#stn164Name {
left: 273.6%;
}
#nonInterchange118 {
left: 285%;
}
#stn165Name {
top: 447.5%;
left: 283.3%;
}
#nonInterchange119 {
left: 295%;
}
#stn166Name {
width: 7%;
left: 291.8%;
}
#nonInterchange120 {
left: 305%;
}
#stn167Name {
left: 302.6%;
}
#interchange45 {
top: 400%;
left: 309.1%;
}
#stn168Name {
top: 398.5%;
left: 315%;
}
#chilternRailways7 {
top: 400%;
left: 299.5%;
}
#nonInterchange121 {
top: 425%;
left: 310.5%;
}
#stn169Name {
top: 422%;
left: 315%;
}
#interchange46 {
top: 475%;
left: 309.1%;
}
#stn170Name {
top: 473.5%;
left: 315%;
}
#chilternRailways8 {
top: 474.5%;
left: 299.5%;
}
#interchange47 {
top: 495%;
left: 309.1%;
}
#stn171Name {
width: 11%;
top: 493.5%;
left: 314.3%;
}
#chilternRailways9 {
top: 494.5%;
left: 299.5%;
}
#exitLink1 {
top: 120%;
left: 50%;
}
#exitLink2 {
top: 120%;
left: 350%;
}
#exitLink3 {
top: 290%;
left: 150%;
}
#exitLink4 {
top: 370%;
left: 40%;
}
#exitLink5 {
top: 120%;
left: 200%;
}
#exitLink6 {
top: 520%;
left: 168%;
}
#exitLink7 {
top: 370%;
left: 320%;
}