@media only screen and (max-width: 1680px) {
#lineCurve3 {
left: 245.65%;
}
#lineCurve38 {
width: 22.1%;
}
#lineCurve39 {
width: 18.9%;
left: 175.4%;
}
#lineCurve40 {
height: 28.05%;
top: 346.35%;
}
#lineCurve43 {
width: 59.5%;
}
}
@media only screen and (max-width: 1600px) {
.lineCurve {
border: 0.75em solid limegreen;
}
#lineCurve3 {
height: 21%;
left: 245.6%;
}
#lineCurve6 {
height: 15.5%;
}
#lineCurve7 {
width: 13%;
}
#lineCurve10 {
height: 9.9%;
width: 14%;
left: 81%;
}
#lineCurve11 {
width: 10%;
height: 40.5%;
left: 155%;
}
#lineCurve15 {
width: 10%;
top: 44.9%;
left: 305%;
}
#lineCurve16 {
width: 10%;
left: 390%;
}
#lineCurve17 {
width: 20.05%;
left: 160%;
}
#lineCurve19 {
height: 75.5%;
}
#lineCurve24 {
height: 20.5%;
}
#lineCurve26 {
width: 12%;
height: 37.5%;
left: 186%;
}
#lineCurve27 {
width: 7.5%;
}
#lineCurve28 {
height: 75.5%;
}
#lineCurve35 {
width: 14.5%;
left: 160.5%;
}
#lineCurve38 {
width: 22.5%;
left: 150.9%;
}
#lineCurve39 {
width: 19.25%;
height: 28.5%;
top: 314%;
left: 175.05%;
}
#lineCurve40 {
height: 28.5%;
top: 345.9%;
}
#lineCurve42 {
width: 10.05%;
}
@media only screen and (max-width: 1366px) {
#lineCurve4 {
width: 4.6%;
left: 241%;
}
#lineCurve6 {
width: 6%;
border-top-right-radius: 50px;
left: 231.6%;
}
#lineCurve7 {
width: 12%;
height: 9.6%;
}
#lineCurve10 {
width: 13.5%;
height: 9.6%;
left: 81.5%;
}
#lineCurve17 {
border-top-right-radius: 50px;
}
#lineCurve25 {
border-bottom-right-radius: 50px;
}
#lineCurve30 {
height: 12%;
}
#lineCurve38 {
width: 22.35%;
left: 150.9%;
}
#lineCurve39 {
width: 19.15%;
height: 28.1%;
left: 175.15%;
}
#lineCurve40 {
height: 28.2%;
top: 346.2%;
}
}
@media only screen and (max-width: 1280px) {
#lineCurve15 {
top: 44.8%;
}
#lineCurve16 {
top: 95.8%;
}
#lineCurve28 {
height: 75.3%;
border-top-right-radius: 50px;
}
#lineCurve38 {
width: 22.25%;
}
#lineCurve39 {
width: 19.05%;
height: 28.2%;
left: 175.25%;
}
}
@media only screen and (max-width: 1152px) {
.lineCurve {
border: 0.5em solid limegreen;
}
#lineCurve6 {
height: 16%;
}
#lineCurve7 {
width: 12%;
height: 9.8%;
}
#lineCurve10 {
width: 13.8%;
height: 9.9%;
left: 81.2%;
}
#lineCurve11 {
height: 41%;
}
#lineCurve15 {
border-bottom-right-radius: 50px;
}
#lineCurve16 {
border-bottom-right-radius: 50px;
}
#lineCurve19 {
height: 76%;
}
#lineCurve21 {
width: 5.2%;
}
#lineCurve24 {
height: 21%;
}
#lineCurve26 {
height: 38%;
}
#lineCurve28 {
height: 76%;
}
#lineCurve38 {
width: 22.45%;
}
#lineCurve39 {
width: 19.33%;
height: 28.9%;
left: 175%;
}
#lineCurve40 {
height: 28.8%;
top: 345.5%;
}
#lineCurve41 {
height: 52.5%;
top: 321.8%;
}
#lineCurve42 {
height: 70.6%;
top: 374.3%;
}
#lineCurve45 {
width: 5.25%;
height: 95%;
border-top-right-radius: 100px;
top: 374.3%;
left: 304.8%;
}
}
@media only screen and (max-width: 1024px) {
#lineCurve1 {
border-bottom-right-radius: 50px;
}
#lineCurve11 {
border-top-right-radius: 50px;
}
#lineCurve17 {
width: 21.05%;
left: 159%;
}
#lineCurve26 {
border-top-right-radius: 50px;
}
#lineCurve33 {
border-bottom-left-radius: 50px;
}
#lineCurve34 {
border-bottom-right-radius: 50px;
}
#lineCurve38 {
width: 22.35%;
}
#lineCurve39 {
width: 19.18%;
height: 28.8%;
left: 175.1%;
}
#lineCurve40 {
height: 28.7%;
border-bottom-left-radius: 50px;
top: 345.6%;
}
#lineCurve41 {
border-bottom-right-radius: 50px;
}
}
@media only screen and (max-width: 800px) {
.lineCurve {
border: 0.3em solid limegreen;
}
#lineCurve3 {
height: 21.2%;
border-top-left-radius: 50px;
}
#lineCurve5 {
height: 13.3%;
top: 179.8%;
}
#lineCurve7 {
width: 12.1%;
height: 10%;
left: 142.95%;
}
#lineCurve8 {
height: 15.1%;
border-top-right-radius: 50px;
}
#lineCurve9 {
height: 15.1%;
border-top-left-radius: 50px;
}
#lineCurve12 {
height: 10.05%;
}
#lineCurve17 {
height: 45.2%;
}
#lineCurve18 {
height: 10.05%;
border-bottom-left-radius: 25px;
}
#lineCurve19 {
width: 5.05%;
height: 76.2%;
border-top-right-radius: 25px;
}
#lineCurve20 {
width: 10.15%;
top: 265%;
left: 179.9%;
}
#lineCurve22 {
width: 11%;
height: 49.1%;
border-bottom-left-radius: 50px;
}
#lineCurve24 {
height: 21.5%;
}
#lineCurve28 {
height: 77%;
}
#lineCurve30 {
width: 8%;
}
#lineCurve36 {
width: 10.1%;
border-bottom-right-radius: 25px;
}
#lineCurve37 {
border-top-right-radius: 25px;
}
#lineCurve38 {
width: 22.6%;
height: 10.2%;
}
#lineCurve39 {
width: 19.28%;
height: 29.1%;
left: 175%;
}
#lineCurve40 {
height: 28.9%;
top: 345.4%;
}
#lineCurve42 {
border-top-right-radius: 50px;
}
#lineCurve44 {
width: 5.05%;
}
}