@media only screen and (max-width: 1680px) {
#stn1Name {
left: 1.8%;
}
#arrivaTrainWales1 {
left: 1.8%;
}
#stn2Name {
left: 11.8%;
}
#stn3Name {
left: 21.4%;
}
#stn4Name {
left: 32.9%;
}
#stn5Name {
left: 43.1%;
}
#stn6Name {
left: 52.7%;
}
#stn7Name {
left: 62%;
}
#stn8Name {
left: 72.7%;
}
#stn9Name {
left: 82.7%;
}
#stn10Name {
left: 95.7%;
}
#stn11Name {
left: 107.6%;
}
#stn12Name {
left: 118.3%;
}
#stn13Name {
left: 127.9%;
}
#stn17Name {
left: 182.5%;
}
#nonInterchange13 {
left: 205.4%;
}
#stn19Name {
left: 212%;
}
#stn20Name {
left: 224%;
}
#stn21Name {
left: 232.6%;
}
#stn22Name {
left: 249.5%;
}
#arrivaTrainWales5 {
left: 233.5%;
}
#crosscountry3 {
left: 233.5%;
}
#virginTrains4 {
left: 233.5%;
}
#nonInterchange17 {
left: 246.3%;
}
#stn23Name {
left: 249.3%;
}
#nonInterchange18 {
left: 246.3%;
}
#stn24Name {
left: 250%;
}
#nonInterchange19 {
left: 246.3%;
}
#stn25Name {
left: 249%;
}
#nonInterchange20 {
left: 246.3%;
}
#stn26Name {
top: 232%;
left: 250%;
}
#stn27Name {
left: 250%;
}
#crosscountry4 {
left: 233.5%;
}
#virginTrains5 {
left: 233.5%;
}
#stn28Name {
font-size: 140%;
}
#stn29Name {
left: 227.9%;
}
#stn30Name {
left: 216.8%;
}
#stn31Name {
left: 208%;
}
#stn32Name {
left: 199.9%;
}
#stn33Name {
left: 183.3%;
}
#stn34Name {
left: 167.7%;
}
#stn35Name {
left: 153.8%;
}
#stn40Name {
left: 79.2%;
}
#stn41Name {
left: 67.2%;
}
#stn42Name {
left: 57.6%;
}
#stn43Name {
left: 48.3%;
}
#stn44Name {
left: 38.5%;
}
#stn45Name {
left: 28.3%;
}
#stn47Name {
left: 254.2%;
}
#stn48Name {
left: 262.9%;
}
#stn49Name {
left: 271.7%;
}
#stn50Name {
left: 281.9%;
}
#stn51Name {
left: 293.8%;
}
#stn52Name {
left: 303.1%;
}
#stn53Name {
left: 318.4%;
}
#stn54Name {
left: 326%;
}
#stn55Name {
left: 339.6%;
}
#stn56Name {
left: 345.5%;
}
#stn57Name {
left: 357.5%;
}
#stn58Name {
left: 368%;
}
#stn59Name {
left: 377.8%;
}
#stn60Name {
left: 388.4%;
}
#stn61Name {
left: 403.9%;
}
#stn62Name {
left: 412.2%;
}
#stn63Name {
left: 422.9%;
}
#stn64Name {
left: 433.7%;
}
#nonInterchange37 {
left: 315.8%;
}
#stn66Name {
width: 11%;
left: 318.3%;
}
#nonInterchange38 {
left: 315.8%;
}
#stn67Name {
width: 9%;
left: 318.6%;
}
#nonInterchange39 {
left: 315.8%;
}
#stn68Name {
width: 11%;
left: 318.5%;
}
#nonInterchange40 {
left: 315.8%;
}
#stn69Name {
width: 11%;
left: 318.2%;
}
#nonInterchange41 {
left: 315.8%;
}
#nonInterchange42 {
left: 315.8%;
}
#nonInterchange43 {
left: 315.8%;
}
#nonInterchange44 {
left: 315.8%;
}
#nonInterchange45 {
left: 315.8%;
}
#stn74Name {
width: 14%;
left: 318.7%;
}
#nonInterchange46 {
left: 315.8%;
}
#stn75Name {
width: 12%;
left: 318.6%;
}
#interchange30 {
left: 314.2%;
}
#emid5 {
top: 44%;
}
#thameslink1 {
top: 47%;
}
#nonInterchange47 {
left: 400.8%;
}
#stn77Name {
width: 10%;
left: 403.7%;
}
#nonInterchange48 {
left: 400.8%;
}
#nonInterchange49 {
left: 400.8%;
}
#stn79Name {
width: 10%;
left: 403.8%;
}
#nonInterchange50 {
left: 400.8%;
}
#stn80Name {
width: 8%;
left: 403.8%;
}
#nonInterchange51 {
left: 400.8%;
}
#stn81Name {
width: 8%;
left: 403.8%;
}
#stn82Name {
width: 12%;
left: 403.7%;
}
#nonInterchange52 {
left: 180.8%;
}
#stn83Name {
width: 10%;
left: 183.9%;
}
#nonInterchange53 {
left: 180.8%;
}
#nonInterchange54 {
left: 180.8%;
}
#nonInterchange55 {
left: 180.8%;
}
#nonInterchange56 {
left: 180.8%;
}
#stn87Name {
width: 11%;
left: 183.7%;
}
#stn88Name {
left: 183.1%;
}
#nonInterchange58 {
left: 190.8%;
}
#nonInterchange59 {
left: 190.8%;
}
#stn90Name {
width: 11%;
left: 193.7%;
}
#nonInterchange60 {
left: 190.8%;
}
#stn91Name {
width: 17%;
left: 193.4%;
}
#nonInterchange61 {
left: 190.8%;
}
#nonInterchange62 {
left: 190.8%;
}
#stn93Name {
width: 7%;
left: 193.5%;
}
#nonInterchange63 {
left: 190.8%;
}
#nonInterchange64 {
left: 201.8%;
}
#nonInterchange65 {
left: 201.8%;
}
#nonInterchange66 {
left: 198.8%;
}
#stn97Name {
width: 10%;
left: 201.6%;
}
#nonInterchange67 {
left: 198.8%;
}
#nonInterchange68 {
left: 198.8%;
}
#stn99Name {
width: 9%;
}
#nonInterchange69 {
left: 198.8%;
}
#stn100Name {
width: 9%;
}
#stn101Name {
left: 203.7%;
}
#nonInterchange71 {
left: 214.8%;
}
#stn102Name {
width: 12%;
left: 217.2%;
}
#nonInterchange72 {
left: 214.8%;
}
#stn103Name {
width: 10%;
left: 217.3%;
}
#nonInterchange73 {
left: 214.8%;
}
#stn104Name {
width: 10%;
left: 217.4%;
}
#nonInterchange74 {
left: 214.8%;
}
#nonInterchange75 {
left: 214.8%;
}
#stn106Name {
width: 9%;
left: 217.6%;
}
#nonInterchange76 {
left: 175.8%;
}
#stn107Name {
width: 8%;
left: 178.5%;
}
#interchange31 {
left: 174.2%;
}
#crosscountry9 {
left: 188%;
}
#nonInterchange77 {
top: 385%;
left: 175.8%;
}
#stn109Name {
width: 7%;
left: 178.7%;
}
#nonInterchange78 {
left: 175.8%;
}
#nonInterchange79 {
left: 175.8%;
}
#stn111Name {
width: 9%;
left: 178.9%;
}
#nonInterchange80 {
left: 175.8%;
}
#nonInterchange81 {
left: 175.8%;
}
#nonInterchange82 {
left: 175.8%;
}
#stn114Name {
width: 9%;
}
#stn115Name {
left: 181.5%;
}
#lineEnd2 {
left: 195.5%;
}
#crosscountry10 {
left: 189%;
}
#nonInterchange84 {
left: 175.8%;
}
#stn118Name {
width: 10%;
}
#line2 {
top: 495.1%;
width: 11%;
}
#stn119Name {
left: 181.1%;
}
#stn120Name {
left: 192.8%;
}
#stn121Name {
left: 202.1%;
}
#stn122Name {
left: 212.5%;
}
#stn123Name {
left: 162.7%;
}
#stn124Name {
left: 152.7%;
}
#stn125Name {
left: 142.6%;
}
#stn126Name {
left: 132.7%;
}
#stn127Name {
left: 122.4%;
}
#stn128Name {
left: 112.8%;
}
#nonInterchange89 {
left: 151.7%;
}
#stn129Name {
width: 11%;
left: 154.3%;
}
#nonInterchange90 {
left: 151.7%;
}
#stn130Name {
width: 10%;
left: 154.4%;
}
#nonInterchange91 {
left: 151.7%;
}
#stn131Name {
width: 6%;
left: 154.5%;
}
#nonInterchange92 {
left: 151.7%;
}
#stn132Name {
width: 10%;
left: 154.8%;
}
#nonInterchange93 {
left: 151.7%;
}
#stn134Name {
left: 137.2%;
}
#nonInterchange94 {
left: 151.7%;
}
#stn135Name {
width: 15%;
left: 154.5%;
}
#nonInterchange95 {
left: 151.7%;
}
#nonInterchange96 {
left: 151.7%;
}
#nonInterchange97 {
left: 151.7%;
}
#nonInterchange98 {
left: 151.7%;
}
#stn139Name {
width: 11%;
left: 154.5%;
}
#stn140Name {
left: 159.5%;
}
#stn141Name {
left: 179%;
}
#stn142Name {
left: 202%;
}
#stn143Name {
left: 211.7%;
}
#stn144Name {
left: 223.2%;
}
#stn145Name {
left: 232.6%;
}
#stn146Name {
left: 247.9%;
}
#stn147Name {
left: 258.5%;
}
#stn148Name {
left: 268.6%;
}
#stn149Name {
left: 277.7%;
}
#stn150Name {
left: 288.4%;
}
#stn151Name {
left: 297.1%;
}
#interchange43 {
left: 309.2%;
}
#nonInterchange107 {
left: 310.8%;
}
#stn153Name {
width: 13%;
left: 314.5%;
}
#nonInterchange108 {
left: 310.8%;
}
#interchange44 {
left: 309.2%;
}
#stn155Name {
width: 12%;
left: 314.5%;
}
#nonInterchange109 {
left: 245.8%;
}
#stn156Name {
width: 9%;
left: 248.7%;
}
#nonInterchange110 {
left: 245.8%;
}
#stn157Name {
width: 8%;
left: 248.7%;
}
#nonInterchange111 {
left: 245.8%;
}
#stn158Name {
width: 10%;
left: 248.8%;
}
#nonInterchange112 {
left: 245.8%;
}
#nonInterchange113 {
left: 245.8%;
}
#stn160Name {
left: 248.8%;
}
#nonInterchange114 {
left: 245.8%;
}
#stn162Name {
left: 251.9%;
}
#stn163Name {
left: 263.5%;
}
#stn164Name {
left: 273.3%;
}
#stn165Name {
left: 282.9%;
}
#stn167Name {
left: 302.3%;
}
#interchange45 {
left: 309.2%;
}
#nonInterchange121 {
left: 310.8%;
}
#interchange46 {
left: 309.2%;
}
#interchange47 {
left: 309.2%;
}
#stn171Name {
width: 13%;
left: 314.2%;
}
}
@media only screen and (max-width: 1600px) {
.bhamCovWolvesRouteStnsTopPosition {
top: 343%;
}
.bhamCovWolvesRouteStnsOneLine {
top: 337%;
}
.bhamCovWolvesRouteStnsTwoLines {
top: 334%;
}
.mainRouteStnsTopPosition {
top: 161.8%;
}
.mainRouteStnsThreeLines {
top: 149.5%;
}
.mainRouteStnsTwoLines {
top: 152.5%;
}
.mainRouteStnsOneLine {
top: 155.5%;
}
.viaStokeRouteStnsTopPosition {
top: 135.8%;
}
.viaStokeRouteStnsOneLine {
top: 130%;
}
.herfordGloucesterRouteStnsTopPosition {
top: 493.8%;
}
.herfordGloucesterRouteStnsOneLine {
top: 487.5%;
}
.herfordGloucesterRouteStnsTwoLines {
top: 484.5%;
}
.bhamLSpaRouteStnsTopPosition {
top: 373.1%;
}
.bhamLSpaRouteStnsOneLine {
top: 367%;
}
.bhamLSpaRouteStnsTwoLines {
top: 364%;
}
.earlswoodWoottonWawenPartOfLineStnsTopPosition {
top: 454.6%;
}
.earlswoodWoottonWawenPartOfLineStnsTwoLines {
top: 445.5%;
}
#stn1Name {
left: 2.2%;
}
#arrivaTrainWales1 {
top: 348%;
left: 1.6%;
}
#stn2Name {
left: 12%;
}
#stn3Name {
left: 21.7%;
}
#stn4Name {
left: 33.1%;
}
#stn5Name {
left: 43.3%;
}
#stn6Name {
left: 52.9%;
}
#stn7Name {
left: 62.3%;
}
#stn8Name {
left: 72.9%;
}
#stn9Name {
left: 82.9%;
}
#stn10Name {
left: 96.1%;
}
#arrivaTrainWales2 {
top: 348%;
left: 97.2%;
}
#crosscountry1 {
top: 354%;
left: 97.2%;
}
#virginTrains1 {
top: 357%;
left: 97.2%;
}
#stn11Name {
left: 107.8%;
}
#stn12Name {
left: 118.5%;
}
#stn13Name {
left: 128.1%;
}
#stn14Name {
left: 136.4%;
}
#virginTrains2 {
top: 348%;
left: 137.2%;
}
#interchange4 {
left: 150.3%;
}
#arrivaTrainWales3 {
top: 348%;
}
#stn16Name {
left: 160.2%;
}
#arrivaTrainWales4 {
top: 348%;
left: 182.3%;
}
#crosscountry2 {
top: 354%;
left: 182.3%;
}
#virginTrains3 {
top: 357%;
left: 182.3%;
}
#stn18Name {
left: 202.9%;
}
#stn19Name {
left: 212.6%;
}
#stn21Name {
left: 232.9%;
}
#interchange6 {
left: 244.9%;
}
#stn22Name {
top: 312.7%;
left: 248.5%;
}
#arrivaTrainWales5 {
left: 234%;
}
#crosscountry3 {
left: 234%;
}
#virginTrains4 {
left: 234%;
}
#nonInterchange17 {
left: 246.2%;
}
#stn23Name {
top: 291.6%;
left: 248.5%;
}
#nonInterchange18 {
left: 246.2%;
}
#stn24Name {
top: 271.6%;
}
#nonInterchange19 {
left: 246.2%;
}
#stn25Name {
top: 251.5%;
left: 248.5%;
}
#nonInterchange20 {
left: 246.2%;
}
#stn26Name {
top: 231.5%;
}
#interchange7 {
left: 244.9%;
}
#stn27Name {
top: 213%;
}
#crosscountry4 {
top: 214%;
left: 234%;
}
#virginTrains5 {
top: 217%;
left: 234%;
}
#stn28Name {
font-size: 120%;
}
#virginTrains6 {
top: 167%;
left: 227.3%;
}
#stn30Name {
left: 217%;
}
#stn31Name {
left: 208.3%;
}
#stn32Name {
left: 199.9%;
}
#crosscountry5 {
top: 167%;
left: 199.2%;
}
#virginTrains7 {
top: 170%;
left: 199.2%;
}
#virginTrains8 {
top: 167%;
left: 182.2%;
}
#stn34Name {
left: 167.9%;
}
#stn35Name {
left: 153.6%;
}
#arrivaTrainWales6 {
top: 167%;
left: 152.2%;
}
#crosscountry6 {
top: 173%;
left: 152.2%;
}
#virginTrains9 {
top: 176%;
left: 152.2%;
}
#stn37Name {
top: 127%;
left: 122%;
}
#crosscountry7 {
top: 141%;
left: 122.2%;
}
#emid1 {
top: 144%;
left: 122.2%;
}
#northernRail1 {
top: 147%;
left: 122.2%;
}
#virginTrains10 {
top: 150%;
left: 122.2%;
}
#stn38Name {
left: 113%;
}
#northernRail2 {
top: 141%;
left: 112.2%;
}
#stn40Name {
left: 79.1%;
}
#arrivaTrainWales7 {
top: 167%;
left: 77.2%;
}
#crosscountry8 {
top: 173%;
left: 77.2%;
}
#emid2 {
top: 176%;
left: 77.2%;
}
#northernRail3 {
top: 179%;
left: 77.2%;
}
#virginTrains11 {
top: 182%;
left: 77.2%;
}
#stn41Name {
left: 67.5%;
}
#stn42Name {
left: 57.9%;
}
#stn43Name {
left: 48.4%;
}
#northernRail4 {
top: 167%;
left: 37.2%;
}
#virginTrains12 {
top: 170%;
left: 37.2%;
}
#emid3 {
top: 167%;
left: 27.2%;
}
#merseyrail1 {
top: 170%;
left: 27.2%;
}
#northernRail5 {
top: 173%;
left: 27.2%;
}
#stn46Name {
left: 15.5%;
}
#emid4 {
top: 167%;
left: 16.7%;
}
#merseyrail2 {
top: 170%;
left: 16.7%;
}
#northernRail6 {
top: 173%;
left: 16.7%;
}
#transpenine1 {
top: 176%;
left: 16.7%;
}
#virginTrains13 {
top: 182%;
left: 16.7%;
}
#virginTrains14 {
top: 167%;
left: 252.2%;
}
#stn48Name {
left: 263.2%;
}
#stn49Name {
left: 272.1%;
}
#virginTrains15 {
top: 167%;
left: 272.2%;
}
#stn50Name {
left: 282.3%;
}
#southernRail1 {
top: 167%;
left: 292.2%;
}
#virginTrains16 {
top: 170%;
left: 292.2%;
}
#southernRail2 {
top: 167%;
left: 302.2%;
}
#southernRail3 {
top: 167%;
left: 317.2%;
}
#stn54Name {
left: 326.4%;
}
#stn55Name {
left: 339.5%;
}
#southernRail4 {
top: 167%;
left: 337.1%;
}
#stn56Name {
left: 345.9%;
}
#southernRail5 {
top: 167%;
left: 357.2%;
}
#stn58Name {
left: 368.3%;
}
#londonOverground1 {
top: 167%;
left: 386.7%;
}
#southernRail6 {
top: 176%;
left: 387.2%;
}
#virginTrains17 {
top: 179%;
left: 387.2%;
}
#stn61Name {
left: 403.7%;
}
#londonOverground2 {
top: 167%;
left: 401.8%;
}
#stn62Name {
left: 412.5%;
}
#londonOverground3 {
top: 167%;
left: 411.7%;
}
#southernRail7 {
top: 176%;
left: 412.2%;
}
#londonUnderground1 {
top: 179%;
left: 411.7%;
}
#londonOverground4 {
top: 167%;
left: 421.7%;
}
#southernRail8 {
top: 176%;
left: 422.2%;
}
#londonUnderground2 {
top: 179%;
left: 421.7%;
}
#londonOverground5 {
top: 167%;
left: 431.7%;
}
#londonUnderground3 {
top: 176%;
left: 431.7%;
}
#virginTrains18 {
top: 185%;
left: 432.3%;
}
#stn65Name {
left: 127.4%;
}
#nonInterchange37 {
left: 315.4%;
}
#stn66Name {
top: 141.7%;
left: 317.3%;
}
#nonInterchange38 {
left: 315.4%;
}
#stn67Name {
top: 131.7%;
left: 317.7%;
}
#nonInterchange39 {
left: 315.4%;
}
#stn68Name {
top: 121.7%;
left: 317.4%;
}
#nonInterchange40 {
left: 315.4%;
}
#stn69Name {
top: 111.7%;
left: 317.1%;
}
#nonInterchange41 {
left: 315.4%;
}
#stn70Name {
top: 101.7%;
}
#nonInterchange42 {
left: 315.4%;
}
#stn71Name {
top: 91.7%;
}
#nonInterchange43 {
left: 315.4%;
}
#stn72Name {
top: 81.7%;
}
#nonInterchange44 {
left: 315.4%;
}
#stn73Name {
top: 71.5%;
}
#nonInterchange45 {
left: 315.4%;
}
#stn74Name {
top: 61.7%;
left: 317.7%;
}
#nonInterchange46 {
left: 315.4%;
}
#stn75Name {
top: 51.7%;
left: 317.9%;
}
#interchange30 {
left: 314.2%;
}
#stn76Name {
top: 42.7%;
}
#emid5 {
top: 43.5%;
}
#thameslink1 {
top: 46.5%;
}
#nonInterchange47 {
left: 400.4%;
}
#stn77Name {
top: 142.7%;
left: 403%;
}
#nonInterchange48 {
left: 400.4%;
}
#stn78Name {
top: 132.7%;
}
#nonInterchange49 {
left: 400.4%;
}
#stn79Name {
top: 122.7%;
left: 403%;
}
#nonInterchange50 {
left: 400.4%;
}
#stn80Name {
top: 112.7%;
left: 403.3%;
}
#nonInterchange51 {
left: 400.4%;
}
#stn81Name {
top: 102.7%;
left: 403.3%;
}
#lineEnd1 {
left: 398.85%;
}
#stn82Name {
top: 92.5%;
left: 402.8%;
}
#nonInterchange52 {
top: 175%;
left: 180.3%;
}
#stn83Name {
top: 171.7%;
left: 182.9%;
}
#nonInterchange53 {
left: 180.3%;
}
#stn84Name {
top: 179.7%;
}
#nonInterchange54 {
left: 180.3%;
}
#stn85Name {
top: 189.7%;
}
#nonInterchange55 {
left: 180.3%;
}
#stn86Name {
top: 199.7%;
}
#nonInterchange56 {
left: 180.3%;
}
#stn87Name {
top: 209.7%;
left: 182.7%;
}
#nonInterchange57 {
top: 220.3%;
}
#stn88Name {
left: 183.4%;
}
#nonInterchange58 {
left: 190.4%;
}
#stn89Name {
top: 226.7%;
}
#nonInterchange59 {
left: 190.4%;
}
#stn90Name {
top: 236.7%;
left: 193%;
}
#nonInterchange60 {
left: 190.4%;
}
#stn91Name {
top: 246.7%;
left: 192.2%;
}
#nonInterchange61 {
left: 190.4%;
}
#stn92Name {
top: 256.7%;
}
#nonInterchange62 {
left: 190.4%;
}
#stn93Name {
top: 276.7%;
left: 193.2%;
}
#nonInterchange63 {
left: 190.4%;
}
#stn94Name {
top: 286.7%;
}
#nonInterchange64 {
left: 201.4%;
}
#stn95Name {
top: 311.7%;
}
#nonInterchange65 {
left: 201.4%;
}
#stn96Name {
top: 321.7%;
}
#nonInterchange66 {
left: 198.4%;
}
#stn97Name {
top: 174.7%;
left: 200.9%;
}
#nonInterchange67 {
left: 198.4%;
}
#stn98Name {
top: 182.7%;
}
#nonInterchange68 {
left: 198.4%;
}
#stn99Name {
top: 191.7%;
left: 200.9%;
}
#nonInterchange69 {
left: 198.4%;
}
#stn100Name {
top: 199.7%;
left: 201%;
}
#nonInterchange70 {
top: 212.1%;
}
#stn101Name {
left: 204%;
}
#nonInterchange71 {
left: 214.4%;
}
#stn102Name {
top: 221.7%;
left: 216.6%;
}
#nonInterchange72 {
left: 214.4%;
}
#stn103Name {
top: 236.7%;
left: 216.9%;
}
#nonInterchange73 {
left: 214.4%;
}
#stn104Name {
top: 251.7%;
left: 216.9%;
}
#nonInterchange74 {
left: 214.4%;
}
#stn105Name {
top: 266.7%;
}
#nonInterchange75 {
left: 214.4%;
}
#stn106Name {
top: 281.7%;
left: 216.8%;
}
#nonInterchange76 {
left: 175.3%;
}
#stn107Name {
top: 361.7%;
left: 177.7%;
}
#interchange31 {
left: 174.35%;
}
#stn108Name {
top: 373%;
}
#crosscountry9 {
top: 375.7%;
}
#nonInterchange77 {
left: 175.3%;
}
#stn109Name {
top: 381.7%;
left: 178.1%;
}
#nonInterchange78 {
left: 175.3%;
}
#stn110Name {
top: 391.7%;
left: 179%;
}
#nonInterchange79 {
left: 175.3%;
}
#stn111Name {
top: 401.7%;
left: 178.2%;
}
#nonInterchange80 {
left: 175.3%;
}
#stn112Name {
top: 411.7%;
}
#nonInterchange81 {
left: 175.3%;
}
#stn113Name {
top: 421.7%;
}
#nonInterchange82 {
left: 175.3%;
}
#stn114Name {
top: 431.7%;
left: 177.9%;
}
#stn115Name {
left: 182.2%;
}
#stn116Name {
top: 442%;
left: 192.8%;
}
#lineEnd2 {
top: 448%;
left: 195%;
}
#interchange32 {
top: 455.2%;
left: 174.35%;
}
#nonInterchange84 {
left: 175.3%;
}
#stn118Name {
top: 471.7%;
left: 177.7%;
}
#line2 {
top: 495%;
left: 170%;
width: 11%;
}
#stn119Name {
left: 180.8%;
}
#gwr1 {
top: 499%;
left: 182.2%;
}
#crosscountry11 {
top: 499%;
left: 192.2%;
}
#stn121Name {
left: 202.6%;
}
#arrivaTrainWales8 {
top: 499%;
left: 202.2%;
}
#stn122Name {
left: 212.9%;
}
#arrivaTrainWales9 {
top: 499%;
left: 212.2%;
}
#crosscountry12 {
top: 505%;
left: 212.2%;
}
#gwr2 {
top: 508%;
left: 212.2%;
}
#stn123Name {
top: 481.5%;
left: 163%;
}
#gwr3 {
top: 499%;
left: 162.2%;
}
#stn124Name {
left: 153.1%;
}
#stn125Name {
left: 143%;
}
#stn126Name {
left: 133.2%;
}
#stn127Name {
left: 123%;
}
#arrivaTrainWales10 {
top: 499%;
left: 111.7%;
}
#gwr4 {
top: 505%;
left: 111.7%;
}
#nonInterchange89 {
left: 151.3%;
}
#stn129Name {
top: 356.7%;
left: 153.6%;
}
#nonInterchange90 {
top: 370%;
left: 151.3%;
}
#stn130Name {
top: 366.7%;
left: 153.9%;
}
#nonInterchange91 {
left: 151.3%;
}
#stn131Name {
top: 376.7%;
left: 154%;
}
#nonInterchange92 {
left: 151.3%;
}
#stn132Name {
top: 386.7%;
left: 154%;
}
#nonInterchange93 {
left: 151.3%;
}
#stn133Name {
top: 396.7%;
}
#lineEnd3 {
top: 408.5%;
}
#stn134Name {
top: 399%;
left: 137.9%;
}
#nonInterchange94 {
left: 151.3%;
}
#stn135Name {
top: 416.7%;
left: 153.4%;
}
#nonInterchange95 {
left: 151.3%;
}
#stn136Name {
top: 426.7%;
}
#nonInterchange96 {
left: 151.3%;
}
#stn137Name {
top: 436.7%;
}
#nonInterchange97 {
left: 151.3%;
}
#stn138Name {
top: 446.7%;
}
#nonInterchange98 {
left: 151.3%;
}
#stn139Name {
top: 321.5%;
left: 154%;
}
#nonInterchange99 {
top: 313%;
left: 162%;
}
#stn140Name {
top: 304%;
left: 159.9%;
}
#interchange39 {
top: 312.8%;
}
#stn141Name {
top: 304%;
left: 179.5%;
}
#chilternRailways1 {
top: 318%;
left: 179.2%;
}
#stn142Name {
left: 202.5%;
}
#chilternRailways2 {
top: 378%;
left: 202.2%;
}
#stn143Name {
left: 212.4%;
}
#stn144Name {
left: 223.5%;
}
#stn145Name {
left: 233.2%;
}
#stn146Name {
left: 248.2%;
}
#stn147Name {
left: 258.6%;
}
#stn148Name {
left: 268.8%;
}
#chilternRailways3 {
top: 378%;
left: 267.2%;
}
#stn149Name {
left: 278%;
}
#chilternRailways4 {
top: 378%;
left: 287.2%;
}
#stn151Name {
left: 297.5%;
}
#interchange43 {
left: 309.35%;
}
#stn152Name {
top: 353.2%;
}
#chilternRailways5 {
top: 354%;
}
#nonInterchange107 {
left: 310.3%;
}
#stn153Name {
top: 341.7%;
left: 313.4%;
}
#nonInterchange108 {
left: 310.3%;
}
#stn154Name {
top: 331.7%;
}
#interchange44 {
top: 320.5%;
left: 309.35%;
}
#stn155Name {
top: 318.7%;
left: 313.4%;
}
#nonInterchange109 {
left: 245.3%;
}
#stn156Name {
top: 386.5%;
left: 248.1%;
}
#nonInterchange110 {
left: 245.3%;
}
#stn157Name {
top: 396.7%;
left: 248.1%;
}
#nonInterchange111 {
left: 245.3%;
}
#stn158Name {
top: 406.5%;
left: 248.1%;
}
#nonInterchange112 {
left: 245.3%;
}
#stn159Name {
top: 416.7%;
}
#nonInterchange113 {
left: 245.3%;
}
#stn160Name {
top: 426.7%;
left: 248.1%;
}
#nonInterchange114 {
left: 245.3%;
}
#stn161Name {
top: 436.7%;
}
#stn162Name {
top: 448.5%;
left: 252.4%;
}
#stn163Name {
left: 263.7%;
}
#stn164Name {
left: 273.6%;
}
#stn165Name {
top: 448.5%;
left: 283.2%;
}
#stn167Name {
left: 302.7%;
}
#interchange45 {
left: 309.35%;
}
#stn168Name {
top: 398.2%;
left: 314%;
}
#chilternRailways7 {
top: 399%;
left: 299.5%;
}
#nonInterchange121 {
left: 310.3%;
}
#stn169Name {
top: 421.7%;
left: 314%;
}
#interchange46 {
left: 309.35%;
}
#stn170Name {
top: 473.2%;
left: 314%;
}
#chilternRailways8 {
top: 474%;
left: 299.5%;
}
#interchange47 {
left: 309.35%;
}
#stn171Name {
top: 492.9%;
left: 312.4%;
}
#chilternRailways9 {
top: 494%;
}
}
@media only screen and (max-width: 1440px) {
#stn1Name {
left: 1.8%;
}
#stn10Name {
left: 95.8%;
}
#stn17Name {
left: 182.2%;
}
#stn33Name {
left: 183.1%;
}
#stn34Name {
left: 167.6%;
}
#stn40Name {
left: 78.9%;
}
#stn45Name {
left: 28.2%;
}
#stn49Name {
left: 271.8%;
}
#stn50Name {
left: 282%;
}
#lineEnd2 {
top: 448.45%;
left: 195.2%;
}
#line2 {
top: 495%;
left: 169%;
width: 12.5%;
}
#stn121Name {
left: 202.2%;
}
#stn122Name {
left: 212.5%;
}
#stn123Name {
top: 481.5%;
left: 162.7%;
}
#stn124Name {
left: 152.9%;
}
#stn125Name {
left: 142.8%;
}
#stn126Name {
left: 133%;
}
#stn127Name {
left: 122.8%;
}
}
@media only screen and (max-width: 1366px) {
.bhamCovWolvesRouteStnsTopPosition {
top: 343%;
}
.bhamCovWolvesRouteStnsOneLine {
top: 335.5%;
}
.bhamCovWolvesRouteStnsTwoLines {
top: 332.5%;
}
.mainRouteStnsTopPosition {
top: 161.7%;
}
.mainRouteStnsThreeLines {
top: 147%;
}
.mainRouteStnsTwoLines {
top: 150.5%;
}
.mainRouteStnsOneLine {
top: 154.5%;
}
.viaStokeRouteStnsTopPosition {
top: 135.7%;
}
.viaStokeRouteStnsOneLine {
top: 129%;
}
.herfordGloucesterRouteStnsTopPosition {
top: 493.8%;
}
.herfordGloucesterRouteStnsOneLine {
top: 486.5%;
}
.herfordGloucesterRouteStnsTwoLines {
top: 483.5%;
}
.bhamLSpaRouteStnsTopPosition {
top: 373.1%;
}
.bhamLSpaRouteStnsOneLine {
top: 365.5%;
}
.bhamLSpaRouteStnsTwoLines {
top: 362.5%;
}
.earlswoodWoottonWawenPartOfLineStnsTopPosition {
top: 454.6%;
}
.earlswoodWoottonWawenPartOfLineStnsTwoLines {
top: 444%;
}
#stn1Name {
left: 1.7%;
}
#stn2Name {
left: 11.7%;
}
#stn3Name {
left: 21.4%;
}
#stn4Name {
left: 32.9%;
}
#stn5Name {
left: 43.1%;
}
#stn6Name {
left: 52.7%;
}
#stn7Name {
left: 62.1%;
}
#stn8Name {
left: 72.7%;
}
#stn9Name {
left: 82.7%;
}
#stn10Name {
left: 95.4%;
}
#stn11Name {
left: 107.6%;
}
#stn12Name {
left: 118.3%;
}
#stn13Name {
left: 127.9%;
}
#stn15Name {
left: 146.1%;
}
#stn17Name {
left: 182%;
}
#stn18Name {
left: 202.7%;
}
#stn19Name {
left: 212.2%;
}
#stn21Name {
left: 232.5%;
}
#interchange6 {
left: 245%;
}
#stn22Name {
top: 312.4%;
left: 249.6%;
}
#stn23Name {
top: 291%;
left: 249.4%;
}
#stn24Name {
top: 271%;
}
#stn25Name {
top: 251%;
left: 249%;
}
#stn26Name {
top: 231%;
}
#interchange7 {
left: 245%;
}
#stn27Name {
top: 212.4%;
}
#stn28Name {
font-size: 110%;
}
#stn29Name {
left: 227.7%;
}
#stn30Name {
left: 216.8%;
}
#stn31Name {
left: 208%;
}
#stn32Name {
left: 199.6%;
}
#virginTrains7 {
top: 169.9%;
left: 199.2%;
}
#stn35Name {
left: 153.4%;
}
#stn36Name {
left: 133.4%;
}
#stn37Name {
top: 125.5%;
left: 121.8%;
}
#virginTrains10 {
top: 149.9%;
}
#stn38Name {
top: 128.5%;
left: 112.8%;
}
#stn39Name {
top: 128.5%;
left: 102.9%;
}
#stn41Name {
left: 67.3%;
}
#stn42Name {
left: 57.6%;
}
#stn43Name {
left: 48.2%;
}
#stn44Name {
left: 38.3%;
}
#virginTrains12 {
top: 169.9%;
}
#stn45Name {
left: 28%;
}
#stn47Name {
left: 254%;
}
#stn48Name {
left: 262.9%;
}
#stn49Name {
left: 271.6%;
}
#stn50Name {
left: 281.8%;
}
#stn51Name {
left: 293.6%;
}
#virginTrains16 {
top: 169.9%;
}
#stn52Name {
left: 302.9%;
}
#stn53Name {
left: 318.1%;
}
#stn54Name {
left: 326%;
}
#stn55Name {
left: 339.4%;
}
#stn56Name {
left: 345.4%;
}
#stn57Name {
left: 357.1%;
}
#stn58Name {
left: 368.1%;
}
#stn60Name {
left: 388.2%;
}
#stn61Name {
left: 403.5%;
}
#stn62Name {
left: 412%;
}
#stn63Name {
left: 422.7%;
}
#stn64Name {
left: 433.5%;
}
#stn65Name {
left: 127%;
}
#stn66Name {
top: 141%;
left: 318.5%;
}
#stn67Name {
top: 131%;
left: 318.7%;
}
#stn68Name {
top: 121%;
left: 318.3%;
}
#stn69Name {
top: 111%;
left: 317.9%;
}
#stn70Name {
top: 101%;
}
#stn71Name {
top: 91%;
}
#stn72Name {
top: 81%;
}
#stn73Name {
top: 71%;
}
#stn74Name {
top: 61%;
left: 318.6%;
}
#stn75Name {
top: 51%;
left: 318.6%;
}
#interchange30 {
left: 314.4%;
}
#stn76Name {
top: 42.2%;
}
#stn77Name {
top: 142%;
left: 403.8%;
}
#stn78Name {
top: 132%;
}
#stn79Name {
top: 122%;
left: 403.7%;
}
#stn80Name {
top: 112%;
left: 403.7%;
}
#stn81Name {
top: 102%;
left: 403.7%;
}
#lineEnd1 {
left: 398.9%;
}
#stn82Name {
top: 91.8%;
left: 403.6%;
}
#nonInterchange52 {
left: 180.4%;
}
#stn83Name {
top: 170.8%;
left: 183.7%;
}
#nonInterchange53 {
left: 180.4%;
}
#stn84Name {
top: 178.8%;
}
#nonInterchange54 {
left: 180.4%;
}
#stn85Name {
top: 188.8%;
}
#nonInterchange55 {
left: 180.4%;
}
#stn86Name {
top: 198.8%;
}
#nonInterchange56 {
left: 180.4%;
}
#stn87Name {
top: 208.8%;
left: 183.4%;
}
#stn88Name {
left: 183%;
}
#nonInterchange58 {
left: 190.5%;
}
#stn89Name {
top: 225.8%;
}
#nonInterchange59 {
left: 190.5%;
}
#stn90Name {
top: 235.8%;
left: 193.7%;
}
#nonInterchange60 {
left: 190.5%;
}
#stn91Name {
top: 245.8%;
left: 193.2%;
}
#nonInterchange61 {
left: 190.5%;
}
#stn92Name {
top: 255.8%;
}
#nonInterchange62 {
left: 190.5%;
}
#stn93Name {
top: 275.8%;
left: 193.5%;
}
#nonInterchange63 {
left: 190.5%;
}
#stn94Name {
top: 285.8%;
}
#nonInterchange64 {
left: 201.5%;
}
#stn95Name {
top: 310.8%;
}
#nonInterchange65 {
left: 201.5%;
}
#stn96Name {
top: 320.8%;
}
#nonInterchange66 {
left: 198.5%;
}
#stn97Name {
top: 173.8%;
left: 201.5%;
}
#nonInterchange67 {
left: 198.5%;
}
#stn98Name {
top: 181.8%;
}
#nonInterchange68 {
left: 198.5%;
}
#stn99Name {
top: 190.8%;
left: 201.5%;
}
#nonInterchange69 {
left: 198.5%;
}
#stn100Name {
top: 198.8%;
left: 201.6%;
}
#nonInterchange70 {
top: 212.2%;
}
#stn101Name {
left: 203.7%;
}
#nonInterchange71 {
left: 214.5%;
}
#stn102Name {
top: 220.8%;
left: 217.6%;
}
#nonInterchange72 {
left: 214.5%;
}
#stn103Name {
top: 235.8%;
left: 217.7%;
}
#nonInterchange73 {
left: 214.5%;
}
#stn104Name {
top: 250.8%;
left: 217.6%;
}
#nonInterchange74 {
left: 214.5%;
}
#stn105Name {
top: 265.8%;
}
#nonInterchange75 {
left: 214.5%;
}
#stn106Name {
top: 280.8%;
left: 217.4%;
}
#nonInterchange76 {
left: 175.4%;
}
#stn107Name {
top: 360.8%;
left: 178.2%;
}
#interchange31 {
left: 174.45%;
}
#stn108Name {
top: 372.2%;
}
#nonInterchange77 {
left: 175.4%;
}
#stn109Name {
top: 380.8%;
left: 178.6%;
}
#nonInterchange78 {
left: 175.4%;
}
#stn110Name {
top: 390.8%;
}
#nonInterchange79 {
left: 175.4%;
}
#stn111Name {
top: 400.8%;
left: 178.8%;
}
#nonInterchange80 {
left: 175.4%;
}
#stn112Name {
top: 410.8%;
}
#nonInterchange81 {
left: 175.4%;
}
#stn113Name {
top: 420.8%;
}
#nonInterchange82 {
left: 175.4%;
}
#stn114Name {
top: 430.8%;
left: 178.5%;
}
#nonInterchange83 {
top: 448.8%;
}
#stn115Name {
left: 181.7%;
}
#stn116Name {
top: 441.5%;
left: 192.4%;
}
#stn117Name {
top: 452.5%;
}
#nonInterchange84 {
left: 175.4%;
}
#stn118Name {
top: 470.8%;
left: 178.5%;
}
#line2 {
top: 495.4%;
left: 169%;
width: 13%;
}
#stn120Name {
left: 192.4%;
}
#stn121Name {
left: 201.9%;
}
#stn122Name {
left: 212.3%;
}
#stn123Name {
top: 480.5%;
left: 162.6%;
}
#stn124Name {
left: 152.8%;
}
#stn125Name {
left: 142.7%;
}
#stn126Name {
left: 132.8%;
}
#stn127Name {
left: 122.6%;
}
#stn128Name {
left: 112.6%;
}
#nonInterchange89 {
left: 151.4%;
}
#stn129Name {
top: 355.8%;
left: 154.4%;
}
#nonInterchange90 {
left: 151.4%;
}
#stn130Name {
top: 365.8%;
left: 154.5%;
}
#nonInterchange91 {
left: 151.4%;
}
#stn131Name {
top: 375.8%;
left: 154.5%;
}
#nonInterchange92 {
left: 151.4%;
}
#stn132Name {
top: 385.8%;
left: 154.7%;
}
#nonInterchange93 {
left: 151.4%;
}
#stn133Name {
top: 395.8%;
}
#stn134Name {
top: 398%;
left: 137.3%;
}
#nonInterchange94 {
left: 151.4%;
}
#stn135Name {
top: 415.8%;
left: 154.5%;
}
#nonInterchange95 {
left: 151.4%;
}
#stn136Name {
top: 425.8%;
}
#nonInterchange96 {
left: 151.4%;
}
#stn137Name {
top: 435.8%;
}
#nonInterchange97 {
left: 151.4%;
}
#stn138Name {
top: 445.8%;
}
#nonInterchange98 {
left: 151.4%;
}
#stn139Name {
top: 320.7%;
left: 154.6%;
}
#stn140Name {
top: 302.5%;
left: 159.5%;
}
#stn141Name {
top: 302.5%;
left: 178.9%;
}
#stn142Name {
left: 202%;
}
#stn143Name {
left: 212%;
}
#stn144Name {
left: 223.3%;
}
#stn145Name {
left: 232.8%;
}
#stn146Name {
left: 247.9%;
}
#stn147Name {
left: 258.4%;
}
#stn148Name {
left: 268.5%;
}
#stn149Name {
left: 277.7%;
}
#stn150Name {
left: 288%;
}
#stn151Name {
left: 297.1%;
}
#interchange43 {
left: 309.45%;
}
#stn152Name {
top: 352.4%;
}
#nonInterchange107 {
left: 310.4%;
}
#stn153Name {
top: 340.8%;
left: 314.4%;
}
#nonInterchange108 {
left: 310.4%;
}
#stn154Name {
top: 330.8%;
}
#interchange44 {
left: 309.45%;
}
#stn155Name {
top: 317.8%;
left: 314.4%;
}
#nonInterchange109 {
left: 245.5%;
}
#stn156Name {
top: 385.7%;
left: 248.6%;
}
#nonInterchange110 {
left: 245.5%;
}
#stn157Name {
top: 395.8%;
left: 248.6%;
}
#nonInterchange111 {
left: 245.5%;
}
#stn158Name {
top: 405.8%;
left: 248.7%;
}
#nonInterchange112 {
left: 245.5%;
}
#stn159Name {
top: 415.8%;
}
#nonInterchange113 {
left: 245.5%;
}
#stn160Name {
top: 425.8%;
left: 248.8%;
}
#nonInterchange114 {
left: 245.5%;
}
#stn161Name {
top: 435.8%;
}
#stn162Name {
top: 447%;
left: 252%;
}
#stn163Name {
left: 263.4%;
}
#stn164Name {
left: 273.3%;
}
#stn165Name {
top: 447%;
left: 282.9%;
}
#stn167Name {
left: 302.3%;
}
#interchange45 {
left: 309.45%;
}
#stn168Name {
top: 397.4%;
}
#nonInterchange121 {
left: 310.4%;
}
#stn169Name {
top: 420.9%;
}
#interchange46 {
left: 309.45%;
}
#stn170Name {
top: 472.4%;
}
#interchange47 {
left: 309.45%;
}
#stn171Name {
top: 492.1%;
left: 313.2%;
}
}
@media only screen and (max-width: 1280px) {
.mainRouteStnsTwoLines {
top: 151%;
}
.bhamLSpaRouteStnsOneLine {
top: 366%;
}
.bhamLSpaRouteStnsTwoLines {
top: 363%;
}
.earlswoodWoottonWawenPartOfLineStnsTwoLines {
top: 444.5%;
}
#stn1Name {
left: 1.3%;
}
#stn2Name {
left: 11.5%;
}
#stn3Name {
left: 21.2%;
}
#stn15Name {
width: 11%;
left: 145.9%;
}
#stn18Name {
left: 202.5%;
}
#stn19Name {
left: 211.7%;
}
#stn22Name {
width: 18.5%;
top: 312.6%;
left: 249.8%;
}
#stn23Name {
width: 15%;
left: 249.5%;
}
#stn28Name {
font-size: 100%;
}
#stn29Name {
left: 227.5%;
}
#stn30Name {
left: 216.4%;
}
#stn31Name {
left: 207.7%;
}
#stn32Name {
left: 199.5%;
}
#stn33Name {
top: 147.5%;
left: 182.7%;
}
#stn34Name {
top: 147.5%;
left: 167.4%;
}
#stn35Name {
left: 153.2%;
}
#stn36Name {
left: 133.3%;
}
#stn37Name {
left: 122.1%;
}
#stn38Name {
left: 112.4%;
}
#stn39Name {
left: 102.7%;
}
#stn40Name {
left: 78.5%;
}
#stn41Name {
left: 67.1%;
}
#stn42Name {
left: 57.3%;
}
#stn43Name {
left: 48%;
}
#stn44Name {
left: 38.1%;
}
#stn45Name {
top: 147.5%;
left: 27.8%;
}
#stn48Name {
left: 262.7%;
}
#stn49Name {
left: 271.3%;
}
#stn50Name {
left: 281.6%;
}
#stn51Name {
top: 147.5%;
left: 293.3%;
}
#stn52Name {
left: 302.7%;
}
#stn53Name {
left: 317.8%;
}
#stn54Name {
left: 325.6%;
}
#stn55Name {
left: 339.2%;
}
#stn56Name {
left: 345.2%;
}
#stn57Name {
left: 357%;
}
#stn58Name {
left: 368%;
}
#stn59Name {
left: 377.7%;
}
#stn60Name {
left: 388%;
}
#stn61Name {
left: 403.3%;
}
#stn62Name {
left: 411.8%;
}
#stn63Name {
left: 422.5%;
}
#stn64Name {
left: 433.3%;
}
#nonInterchange36 {
top: 213.8%;
}
#stn65Name {
top: 206.5%;
}
#nonInterchange37 {
left: 315.6%;
}
#stn66Name {
width: 12%;
left: 318.7%;
}
#nonInterchange38 {
left: 315.6%;
}
#stn67Name {
width: 10%;
left: 318.8%;
}
#nonInterchange39 {
left: 315.6%;
}
#stn68Name {
left: 318.7%;
}
#nonInterchange40 {
left: 315.6%;
}
#stn69Name {
left: 318.1%;
}
#nonInterchange41 {
left: 315.6%;
}
#nonInterchange42 {
left: 315.6%;
}
#nonInterchange43 {
left: 315.6%;
}
#nonInterchange44 {
left: 315.6%;
}
#nonInterchange45 {
left: 315.6%;
}
#stn74Name {
width: 15%;
left: 318.7%;
}
#nonInterchange46 {
left: 315.6%;
}
#stn75Name {
width: 13%;
left: 318.7%;
}
#nonInterchange47 {
left: 400.6%;
}
#stn77Name {
width: 11%;
left: 403.7%;
}
#nonInterchange48 {
left: 400.6%;
}
#nonInterchange49 {
left: 400.6%;
}
#stn79Name {
width: 11%;
left: 403.6%;
}
#nonInterchange50 {
left: 400.6%;
}
#stn80Name {
width: 9%;
left: 403.6%;
}
#nonInterchange51 {
left: 400.6%;
}
#stn81Name {
width: 9%;
left: 403.6%;
}
#stn82Name {
width: 13%;
left: 403.6%;
}
#nonInterchange52 {
left: 180.6%;
}
#stn83Name {
width: 11%;
top: 171%;
left: 183.6%;
}
#nonInterchange53 {
left: 180.6%;
}
#stn84Name {
top: 179.1%;
}
#nonInterchange54 {
left: 180.6%;
}
#stn85Name {
top: 189%;
}
#nonInterchange55 {
left: 180.6%;
}
#stn86Name {
top: 199%;
}
#nonInterchange56 {
left: 180.6%;
}
#stn87Name {
top: 209%;
left: 183.8%;
}
#stn88Name {
left: 182.8%;
}
#stn89Name {
top: 226%;
}
#stn90Name {
width: 12%;
top: 236%;
left: 193.7%;
}
#stn91Name {
top: 246%;
left: 193.8%;
}
#stn92Name {
top: 256%;
}
#stn93Name {
top: 276%;
left: 193.8%;
}
#stn94Name {
top: 286%;
}
#stn95Name {
top: 311%;
}
#stn96Name {
top: 321%;
}
#stn97Name {
top: 174%;
left: 201.8%;
}
#stn98Name {
top: 182%;
}
#stn99Name {
top: 191%;
left: 201.8%;
}
#stn100Name {
width: 10%;
top: 199%;
left: 201.5%;
}
#stn102Name {
top: 221%;
}
#stn103Name {
top: 236%;
}
#stn104Name {
top: 251%;
left: 217.8%;
}
#stn105Name {
top: 266%;
}
#stn106Name {
top: 281%;
left: 217.7%;
}
#nonInterchange76 {
left: 175.6%;
}
#stn107Name {
top: 361%;
left: 178.5%;
}
#interchange31 {
left: 174.35%;
}
#stn108Name {
top: 372.4%;
}
#nonInterchange77 {
left: 175.6%;
}
#stn109Name {
top: 381%;
left: 178.8%;
}
#nonInterchange78 {
left: 175.6%;
}
#stn110Name {
top: 391%;
}
#nonInterchange79 {
left: 175.6%;
}
#stn111Name {
width: 10%;
top: 401%;
left: 178.7%;
}
#nonInterchange80 {
left: 175.6%;
}
#stn112Name {
top: 411%;
}
#nonInterchange81 {
left: 175.6%;
}
#stn113Name {
top: 421%;
}
#nonInterchange82 {
left: 175.6%;
}
#stn114Name {
top: 431%;
left: 178.7%;
}
#stn115Name {
left: 181.4%;
}
#lineEnd2 {
top: 448.55%;
}
#stn116Name {
left: 192.2%;
}
#stn117Name {
top: 452.7%;
}
#nonInterchange84 {
left: 175.6%;
}
#stn118Name {
width: 11%;
top: 471%;
left: 178.3%;
}
#line2 {
top: 495.3%;
left: 168%;
width: 15%;
}
#stn120Name {
left: 192.2%;
}
#stn121Name {
left: 201.7%;
}
#stn122Name {
left: 212.2%;
}
#stn123Name {
left: 162.4%;
}
#stn124Name {
left: 152.6%;
}
#stn125Name {
left: 142.5%;
}
#stn126Name {
left: 132.7%;
}
#stn127Name {
left: 122.5%;
}
#stn128Name {
left: 112.5%;
}
#nonInterchange89 {
left: 151.6%;
}
#stn129Name {
top: 356%;
left: 154.6%;
}
#nonInterchange90 {
left: 151.6%;
}
#stn130Name {
top: 366%;
left: 154.7%;
}
#nonInterchange91 {
left: 151.6%;
}
#stn131Name {
top: 376%;
left: 154.6%;
}
#nonInterchange92 {
left: 151.6%;
}
#stn132Name {
width: 11%;
top: 386%;
left: 154.5%;
}
#nonInterchange93 {
left: 151.6%;
}
#stn133Name {
top: 396%;
}
#stn134Name {
left: 137%;
}
#nonInterchange94 {
left: 151.6%;
}
#stn135Name {
width: 16%;
top: 416%;
left: 154.4%;
}
#nonInterchange95 {
left: 151.6%;
}
#stn136Name {
top: 426%;
}
#nonInterchange96 {
left: 151.6%;
}
#stn137Name {
top: 436%;
}
#nonInterchange97 {
left: 151.6%;
}
#stn138Name {
top: 446%;
}
#nonInterchange98 {
left: 151.6%;
}
#stn139Name {
width: 12%;
top: 320.9%;
left: 154.3%;
}
#stn140Name {
top: 302.5%;
left: 159.5%;
}
#stn141Name {
top: 302.5%;
left: 178.7%;
}
#stn142Name {
left: 201.7%;
}
#stn143Name {
left: 211.6%;
}
#nonInterchange107 {
left: 310.6%;
}
#stn153Name {
top: 341%;
left: 314.7%;
}
#nonInterchange108 {
left: 310.6%;
}
#stn154Name {
top: 331%;
}
#stn155Name {
left: 314.9%;
}
#nonInterchange109 {
left: 245.7%;
}
#stn156Name {
top: 385.9%;
left: 248.9%;
}
#nonInterchange110 {
left: 245.7%;
}
#stn157Name {
top: 396%;
left: 248.8%;
}
#nonInterchange111 {
left: 245.7%;
}
#stn158Name {
width: 11%;
top: 406%;
left: 248.6%;
}
#nonInterchange112 {
left: 245.7%;
}
#stn159Name {
top: 416%;
}
#nonInterchange113 {
left: 245.7%;
}
#stn160Name {
width: 11%;
top: 426%;
left: 248.7%;
}
#nonInterchange114 {
left: 245.7%;
}
#stn161Name {
top: 436%;
}
#stn162Name {
top: 447.5%;
left: 251.8%;
}
#stn164Name {
left: 273.2%;
}
#stn165Name {
top: 447.5%;
}
#nonInterchange121 {
left: 310.6%;
}
#stn169Name {
top: 421.1%;
}
#interchange47 {
left: 309.35%;
}
#stn171Name {
left: 313.6%;
}
}
@media only screen and (max-width: 1152px) {
.bhamCovWolvesRouteStnsTopPosition {
top: 343.4%;
}
.bhamCovWolvesRouteStnsOneLine {
top: 338%;
}
.bhamCovWolvesRouteStnsTwoLines {
top: 335%;
}
.mainRouteStnsTopPosition {
top: 162.2%;
}
.mainRouteStnsThreeLines {
top: 150%;
}
.mainRouteStnsTwoLines {
top: 154%;
}
.mainRouteStnsOneLine {
top: 157%;
}
.viaStokeRouteStnsTopPosition {
top: 136.2%;
}
.viaStokeRouteStnsOneLine {
top: 131%;
}
.herfordGloucesterRouteStnsTopPosition {
top: 494.3%;
}
.herfordGloucesterRouteStnsOneLine {
top: 489%;
}
.herfordGloucesterRouteStnsTwoLines {
top: 486%;
}
.bhamLSpaRouteStnsTopPosition {
top: 373.6%;
}
.bhamLSpaRouteStnsOneLine {
top: 368%;
}
.bhamLSpaRouteStnsTwoLines {
top: 365.5%;
}
.earlswoodWoottonWawenPartOfLineStnsTopPosition {
top: 455.1%;
}
.earlswoodWoottonWawenPartOfLineStnsTwoLines {
top: 447.5%;
}
#arrivaTrainWales1 {
top: 347%;
left: 1.5%;
}
#arrivaTrainWales2 {
top: 347%;
left: 97%;
}
#crosscountry1 {
top: 353%;
left: 97%;
}
#virginTrains1 {
top: 356%;
left: 97%;
}
#virginTrains2 {
top: 347%;
left: 137%;
}
#arrivaTrainWales3 {
top: 347%;
left: 147%;
}
#arrivaTrainWales4 {
top: 347%;
left: 182.3%;
}
#crosscountry2 {
top: 353%;
left: 182.3%;
}
#virginTrains3 {
top: 356%;
left: 182.3%;
}
#interchange6 {
left: 245.2%;
}
#stn22Name {
top: 312.9%;
left: 249.3%;
}
#arrivaTrainWales5 {
top: 310%;
}
#crosscountry3 {
top: 316%;
}
#virginTrains4 {
top: 319%;
}
#stn23Name {
top: 292.1%;
left: 249%;
}
#stn24Name {
top: 272.1%;
}
#stn25Name {
top: 252.1%;
}
#stn26Name {
top: 232.1%;
}
#interchange7 {
left: 245.2%;
}
#stn27Name {
top: 212.9%;
}
#crosscountry4 {
top: 213%;
}
#virginTrains5 {
top: 216%;
}
#nonInterchange21 {
top: 192.2%;
}
#stn28Name {
font-size: 90%;
top: 187%;
}
#virginTrains6 {
top: 166%;
left: 227%;
}
#crosscountry5 {
top: 166%;
left: 199%;
}
#virginTrains7 {
top: 169%;
left: 199%;
}
#stn33Name {
top: 151.5%;
}
#virginTrains8 {
top: 166%;
}
#stn34Name {
top: 151.5%;
}
#arrivaTrainWales6 {
top: 166%;
left: 152%;
}
#crosscountry6 {
top: 172%;
left: 152%;
}
#virginTrains9 {
top: 175%;
left: 152%;
}
#stn37Name {
top: 128%;
left: 121.7%;
}
#crosscountry7 {
top: 140%;
left: 122%;
}
#emid1 {
top: 143%;
left: 122%;
}
#northernRail1 {
top: 146%;
left: 122%;
}
#virginTrains10 {
top: 149%;
left: 122%;
}
#stn38Name {
top: 130.5%;
}
#northernRail2 {
top: 140%;
left: 112%;
}
#stn39Name {
top: 130.5%;
}
#arrivaTrainWales7 {
top: 166%;
left: 77%;
}
#crosscountry8 {
top: 172%;
left: 77%;
}
#emid2 {
top: 175%;
left: 77%;
}
#northernRail3 {
top: 178%;
left: 77%;
}
#virginTrains11 {
top: 181%;
left: 77%;
}
#stn44Name {
left: 37.9%;
}
#northernRail4 {
top: 166%;
left: 37%;
}
#virginTrains12 {
top: 169%;
left: 37%;
}
#stn45Name {
top: 151.5%;
}
#emid3 {
top: 166%;
left: 27%;
}
#merseyrail1 {
top: 169%;
left: 27%;
}
#northernRail5 {
top: 172%;
left: 27%;
}
#stn46Name {
left: 15.3%;
}
#emid4 {
top: 166%;
left: 16.5%;
}
#merseyrail2 {
top: 169%;
left: 16.5%;
}
#northernRail6 {
top: 172%;
left: 16.5%;
}
#transpenine1 {
top: 175%;
left: 16.5%;
}
#virginTrains13 {
top: 181%;
left: 16.5%;
}
#stn47Name {
left: 253.7%;
}
#virginTrains14 {
top: 166%;
left: 252%;
}
#stn48Name {
left: 262.8%;
}
#stn49Name {
left: 271.4%;
}
#virginTrains15 {
top: 166%;
left: 272%;
}
#stn51Name {
top: 151.5%;
}
#southernRail1 {
top: 166%;
left: 292%;
}
#virginTrains16 {
top: 169%;
left: 292%;
}
#southernRail2 {
top: 166%;
left: 302%;
}
#southernRail3 {
top: 166%;
left: 317%;
}
#southernRail4 {
top: 166%;
left: 337%;
}
#southernRail5 {
top: 166%;
left: 357%;
}
#londonOverground1 {
top: 166%;
left: 386.5%;
}
#southernRail6 {
top: 175%;
left: 387%;
}
#virginTrains17 {
top: 178%;
left: 387%;
}
#londonOverground2 {
top: 166%;
left: 401.5%;
}
#londonOverground3 {
top: 166%;
left: 411.5%;
}
#southernRail7 {
top: 175%;
left: 412%;
}
#londonUnderground1 {
top: 178%;
left: 411.5%;
}
#londonOverground4 {
top: 166%;
left: 421.5%;
}
#southernRail8 {
top: 175%;
left: 422%;
}
#londonUnderground2 {
top: 178%;
left: 421.5%;
}
#londonOverground5 {
top: 166%;
left: 431.5%;
}
#londonUnderground3 {
top: 175%;
left: 431.5%;
}
#virginTrains18 {
top: 184%;
left: 432%;
}
#nonInterchange36 {
top: 214.2%;
}
#stn65Name {
top: 208.5%;
}
#stn66Name {
top: 142%;
left: 318.1%;
}
#stn67Name {
top: 132%;
left: 318.4%;
}
#stn68Name {
top: 122%;
left: 318.4%;
}
#stn69Name {
top: 112%;
left: 318%;
}
#stn70Name {
top: 102%;
}
#stn71Name {
top: 92%;
}
#stn72Name {
top: 82%;
}
#stn73Name {
top: 72%;
}
#stn74Name {
top: 62%;
left: 318%;
}
#stn75Name {
top: 52%;
left: 318%;
}
#interchange30 {
left: 314.5%;
}
#emid5 {
top: 43%;
}
#thameslink1 {
top: 46%;
}
#stn77Name {
top: 143%;
left: 403.3%;
}
#stn78Name {
top: 133%;
}
#stn79Name {
top: 123%;
left: 403.2%;
}
#stn80Name {
top: 113%;
left: 403.3%;
}
#stn81Name {
top: 103%;
left: 403.3%;
}
#lineEnd1 {
top: 95.7%;
left: 399.3%;
}
#stn82Name {
top: 92.7%;
left: 403.1%;
}
#stn83Name {
top: 171.8%;
left: 183.2%;
}
#stn84Name {
top: 179.8%;
}
#stn85Name {
top: 189.8%;
}
#stn86Name {
top: 199.8%;
}
#stn87Name {
top: 209.8%;
left: 183.2%;
}
#nonInterchange57 {
top: 220%;
}
#stn88Name {
top: 219%;
}
#stn89Name {
top: 227%;
}
#stn90Name {
top: 237%;
left: 193.1%;
}
#stn91Name {
top: 247%;
left: 193.1%;
}
#stn92Name {
top: 257%;
}
#stn93Name {
top: 277%;
left: 193.5%;
}
#stn94Name {
top: 287%;
}
#stn95Name {
top: 312%;
}
#stn96Name {
top: 322%;
}
#stn97Name {
top: 175%;
left: 201.6%;
}
#stn98Name {
top: 183%;
}
#stn99Name {
top: 191.8%;
left: 201.5%;
}
#stn100Name {
top: 200%;
left: 201.1%;
}
#nonInterchange70 {
top: 212%;
}
#stn101Name {
top: 211.5%;
left: 203.4%;
}
#stn102Name {
top: 222%;
left: 217.3%;
}
#stn103Name {
top: 236.8%;
left: 217.4%;
}
#stn104Name {
top: 251.8%;
left: 217.4%;
}
#stn105Name {
top: 266.8%;
}
#stn106Name {
top: 281.8%;
left: 217.3%;
}
#stn107Name {
top: 362%;
left: 178.3%;
}
#interchange31 {
left: 174.55%;
}
#stn108Name {
top: 373%;
}
#crosscountry9 {
top: 375%;
}
#stn109Name {
top: 382%;
left: 178.5%;
}
#stn110Name {
top: 392%;
}
#stn111Name {
top: 402%;
left: 178.3%;
}
#stn112Name {
top: 412%;
}
#stn113Name {
top: 422%;
}
#stn114Name {
top: 432%;
left: 178.5%;
}
#nonInterchange83 {
top: 449.1%;
}
#stn115Name {
top: 444%;
left: 181.6%;
}
#lineEnd2 {
top: 448.95%;
}
#stn116Name {
top: 444%;
left: 192.4%;
}
#interchange32 {
left: 174.55%;
}
#stn117Name {
top: 453.2%;
}
#crosscountry10 {
top: 455%;
}
#stn118Name {
top: 472%;
left: 178.1%;
}
#line2 {
top: 495.1%;
left: 167.5%;
width: 17%;
}
#gwr1 {
top: 498%;
left: 182%;
}
#crosscountry11 {
top: 498%;
left: 192%;
}
#arrivaTrainWales8 {
top: 498%;
left: 202%;
}
#arrivaTrainWales9 {
top: 498%;
left: 212%;
}
#crosscountry12 {
top: 504%;
left: 212%;
}
#gwr2 {
top: 507%;
left: 212%;
}
#stn123Name {
top: 484%;
left: 162.2%;
}
#gwr3 {
top: 498%;
left: 162%;
}
#arrivaTrainWales10 {
top: 498%;
left: 111.5%;
}
#gwr4 {
top: 504%;
left: 111.5%;
}
#stn129Name {
top: 357%;
left: 154.3%;
}
#stn130Name {
top: 367%;
left: 154.5%;
}
#stn131Name {
top: 377%;
left: 154.5%;
}
#stn132Name {
top: 387%;
left: 154.2%;
}
#stn133Name {
top: 397%;
}
#lineEnd3 {
top: 409%;
}
#stn134Name {
top: 401.5%;
left: 137.2%;
}
#stn135Name {
top: 417%;
left: 153.8%;
}
#stn136Name {
top: 427%;
}
#stn137Name {
top: 437%;
}
#stn138Name {
top: 447%;
}
#stn139Name {
top: 322%;
left: 154%;
}
#nonInterchange99 {
top: 313.1%;
}
#stn140Name {
top: 305%;
left: 159.5%;
}
#interchange39 {
top: 313.2%;
}
#stn141Name {
top: 305%;
left: 178.8%;
}
#chilternRailways1 {
top: 317%;
left: 179%;
}
#chilternRailways2 {
top: 377%;
left: 202%;
}
#chilternRailways3 {
top: 377%;
left: 267%;
}
#stn150Name {
left: 287.9%;
}
#chilternRailways4 {
top: 377%;
left: 287%;
}
#interchange43 {
left: 309.6%;
}
#stn152Name {
top: 352.8%;
}
#chilternRailways5 {
top: 353.5%;
}
#stn153Name {
top: 342%;
left: 314.3%;
}
#stn154Name {
top: 332%;
}
#interchange44 {
left: 309.6%;
}
#stn155Name {
top: 318.3%;
left: 314.2%;
}
#chilternRailways6 {
top: 317.5%;
left: 299.5%;
}
#crosscountry13 {
top: 323.5%;
left: 299.5%;
}
#stn156Name {
top: 387%;
left: 248.6%;
}
#stn157Name {
top: 397%;
left: 248.5%;
}
#stn158Name {
top: 407%;
left: 248.2%;
}
#stn159Name {
top: 417%;
}
#stn160Name {
top: 427%;
left: 248.2%;
}
#stn161Name {
top: 437%;
}
#stn162Name {
top: 449.5%;
}
#stn165Name {
top: 449.5%;
}
#interchange45 {
left: 309.6%;
}
#stn168Name {
top: 397.9%;
}
#chilternRailways7 {
top: 398.5%;
}
#stn169Name {
top: 421.9%;
}
#interchange46 {
left: 309.6%;
}
#stn170Name {
top: 472.9%;
}
#chilternRailways8 {
top: 473.5%;
}
#interchange47 {
left: 309.6%;
}
#stn171Name {
top: 492.7%;
left: 312.9%;
}
#chilternRailways9 {
top: 493.5%;
}
}
@media only screen and (max-width: 1024px) {
.bhamCovWolvesRouteStnsOneLine {
top: 337%;
}
.bhamCovWolvesRouteStnsTwoLines {
top: 334%;
}
.mainRouteStnsTwoLines {
top: 153%;
}
.mainRouteStnsOneLine {
top: 156%;
}
.viaStokeRouteStnsOneLine {
top: 130%;
}
.herfordGloucesterRouteStnsOneLine {
top: 488%;
}
.herfordGloucesterRouteStnsTwoLines {
top: 485%;
}
.bhamLSpaRouteStnsOneLine {
top: 367.5%;
}
.bhamLSpaRouteStnsTwoLines {
top: 364.5%;
}
.earlswoodWoottonWawenPartOfLineStnsTwoLines {
top: 446%;
}
#stn1Name {
left: 1%;
}
#stn2Name {
left: 11.3%;
}
#stn3Name {
left: 21%;
}
#stn4Name {
left: 32.4%;
}
#stn5Name {
left: 42.8%;
}
#stn6Name {
left: 52.3%;
}
#stn7Name {
left: 61.7%;
}
#stn8Name {
left: 72.4%;
}
#stn9Name {
left: 82.3%;
}
#stn10Name {
left: 94.8%;
}
#stn11Name {
left: 107.3%;
}
#stn12Name {
left: 117.9%;
}
#stn13Name {
left: 127.4%;
}
#stn14Name {
left: 136.1%;
}
#stn15Name {
left: 145.3%;
}
#stn16Name {
left: 160.1%;
}
#stn17Name {
left: 181.5%;
}
#stn18Name {
left: 202.2%;
}
#stn19Name {
left: 211.5%;
}
#stn20Name {
left: 223.8%;
}
#stn21Name {
left: 232.2%;
}
#stn22Name {
width: 20%;
top: 312.4%;
left: 249.1%;
}
#stn23Name {
top: 291.7%;
left: 249.8%;
}
#stn24Name {
top: 271.5%;
}
#stn25Name {
top: 251.5%;
left: 249.4%;
}
#stn26Name {
top: 231.5%;
}
#stn27Name {
top: 212.4%;
}
#stn28Name {
font-size: 80%;
}
#stn29Name {
left: 227.1%;
}
#stn30Name {
left: 216.2%;
}
#stn31Name {
left: 207.5%;
}
#stn32Name {
left: 199.1%;
}
#stn33Name {
top: 150%;
left: 182.4%;
}
#stn34Name {
top: 150%;
left: 167.1%;
}
#stn35Name {
left: 152.9%;
}
#stn36Name {
left: 133%;
}
#stn37Name {
top: 127%;
left: 122%;
}
#stn38Name {
top: 130%;
left: 112.2%;
}
#stn39Name {
top: 130%;
left: 102.5%;
}
#stn41Name {
left: 66.8%;
}
#stn42Name {
left: 57%;
}
#stn43Name {
left: 47.8%;
}
#stn44Name {
left: 37.6%;
}
#stn45Name {
top: 150%;
left: 27.4%;
}
#stn47Name {
left: 253.4%;
}
#stn48Name {
left: 262.5%;
}
#stn49Name {
left: 270.8%;
}
#stn50Name {
left: 281.3%;
}
#stn51Name {
top: 150%;
left: 293%;
}
#stn52Name {
left: 302.3%;
}
#stn53Name {
left: 317.5%;
}
#stn54Name {
left: 325.2%;
}
#stn55Name {
left: 338.9%;
}
#stn56Name {
left: 344.7%;
}
#stn57Name {
left: 356.5%;
}
#stn58Name {
left: 367.7%;
}
#stn59Name {
left: 377.3%;
}
#stn60Name {
left: 387.4%;
}
#stn61Name {
left: 403%;
}
#stn62Name {
left: 411.2%;
}
#stn63Name {
left: 422%;
}
#stn64Name {
left: 432.9%;
}
#stn65Name {
left: 126.4%;
}
#stn66Name {
top: 141.5%;
left: 318.7%;
}
#stn67Name {
top: 131.5%;
left: 318.9%;
}
#stn68Name {
width: 12%;
top: 121.5%;
left: 318.6%;
}
#stn69Name {
top: 111.5%;
left: 318.5%;
}
#stn70Name {
top: 101.5%;
}
#stn71Name {
top: 91.5%;
}
#stn72Name {
top: 81.5%;
}
#stn73Name {
top: 71.5%;
}
#stn74Name {
width: 16%;
top: 61.5%;
left: 318.6%;
}
#stn75Name {
top: 51.5%;
left: 318.9%;
}
#interchange30 {
left: 314.6%;
}
#stn76Name {
top: 41.8%;
}
#stn77Name {
top: 142.5%;
left: 403.8%;
}
#stn78Name {
top: 132.5%;
}
#stn79Name {
top: 122.5%;
left: 403.8%;
}
#stn80Name {
top: 112.5%;
left: 403.7%;
}
#stn81Name {
top: 102.5%;
left: 403.6%;
}
#lineEnd1 {
left: 399.43%;
}
#stn82Name {
top: 92.2%;
left: 403.7%;
}
#stn83Name {
top: 171.5%;
left: 183.8%;
}
#stn84Name {
top: 179.4%;
}
#stn85Name {
top: 189.4%;
}
#stn86Name {
top: 199.4%;
}
#stn87Name {
width: 12%;
top: 209.4%;
left: 183.5%;
}
#stn88Name {
left: 182.4%;
}
#stn89Name {
top: 226.3%;
}
#stn90Name {
width: 13%;
top: 236.3%;
left: 193.2%;
}
#stn91Name {
width: 18%;
top: 246.3%;
left: 193.5%;
}
#stn92Name {
top: 256.3%;
}
#stn93Name {
width: 8%;
top: 276.3%;
left: 193.3%;
}
#stn94Name {
top: 286.3%;
}
#stn95Name {
top: 311.3%;
}
#stn96Name {
top: 321.3%;
}
#stn97Name {
width: 11%;
top: 174.3%;
left: 201.7%;
}
#stn98Name {
top: 182.3%;
}
#stn99Name {
width: 10%;
top: 191.3%;
left: 201.7%;
}
#stn100Name {
top: 199.5%;
left: 201.8%;
}
#stn102Name {
width: 13%;
top: 221.5%;
left: 217.5%;
}
#stn103Name {
width: 11%;
top: 236.3%;
left: 217.5%;
}
#stn104Name {
width: 11%;
top: 251.3%;
left: 217.6%;
}
#stn105Name {
top: 266.3%;
}
#stn106Name {
width: 10%;
top: 281.3%;
left: 217.7%;
}
#stn107Name {
top: 361.5%;
left: 178.6%;
}
#stn108Name {
top: 372.5%;
}
#stn109Name {
width: 8%;
top: 381.5%;
left: 178.4%;
}
#stn110Name {
top: 391.5%;
}
#stn111Name {
top: 401.5%;
left: 178.8%;
}
#stn112Name {
top: 411.5%;
}
#stn113Name {
top: 421.5%;
}
#stn114Name {
width: 10%;
top: 431.5%;
left: 178.6%;
}
#stn115Name {
top: 443%;
left: 181.1%;
}
#lineEnd2 {
top: 449.1%;
left: 195.3%;
}
#stn116Name {
top: 443%;
left: 192.1%;
}
#stn117Name {
top: 452.7%;
}
#stn118Name {
top: 471.5%;
left: 178.7%;
}
#line2 {
top: 495.3%;
left: 166.5%;
width: 18%;
}
#stn120Name {
left: 192%;
}
#stn121Name {
left: 201.2%;
}
#stn122Name {
left: 211.9%;
}
#stn123Name {
top: 482.5%;
left: 162%;
}
#stn124Name {
left: 152.4%;
}
#stn125Name {
left: 142.3%;
}
#stn126Name {
left: 132.5%;
}
#stn127Name {
left: 122.3%;
}
#stn128Name {
left: 112.1%;
}
#stn129Name {
width: 12%;
top: 356.3%;
left: 154.6%;
}
#stn130Name {
width: 11%;
top: 366.3%;
left: 154.7%;
}
#stn131Name {
top: 376.3%;
left: 155%;
}
#stn132Name {
top: 386.3%;
left: 154.8%;
}
#stn133Name {
top: 396.3%;
}
#lineEnd3 {
top: 409.2%;
}
#stn134Name {
top: 400%;
left: 136.8%;
}
#stn135Name {
top: 416.3%;
left: 154.7%;
}
#stn136Name {
top: 426.3%;
}
#stn137Name {
top: 436.3%;
}
#stn138Name {
top: 446.3%;
}
#stn139Name {
top: 321.3%;
left: 154.6%;
}
#stn140Name {
top: 304%;
left: 159.1%;
}
#stn141Name {
top: 304%;
left: 178.3%;
}
#stn142Name {
left: 201.2%;
}
#stn143Name {
left: 211.3%;
}
#stn144Name {
left: 223%;
}
#stn145Name {
left: 232.4%;
}
#stn146Name {
left: 247.6%;
}
#stn147Name {
left: 258.2%;
}
#stn148Name {
left: 268%;
}
#stn149Name {
left: 277.3%;
}
#stn150Name {
left: 287.7%;
}
#stn151Name {
left: 296.8%;
}
#stn152Name {
top: 352.3%;
}
#stn153Name {
width: 14%;
top: 341.5%;
left: 314.5%;
}
#stn154Name {
top: 331.5%;
}
#stn155Name {
width: 13%;
top: 317.8%;
left: 314.5%;
}
#stn156Name {
width: 10%;
top: 386.5%;
left: 248.6%;
}
#stn157Name {
width: 9%;
top: 396.5%;
left: 248.5%;
}
#stn158Name {
top: 406.5%;
left: 248.8%;
}
#stn159Name {
top: 416.5%;
}
#stn160Name {
top: 426.5%;
left: 248.9%;
}
#stn161Name {
top: 436.5%;
}
#stn162Name {
top: 449%;
left: 251.5%;
}
#stn163Name {
left: 263.1%;
}
#stn164Name {
left: 273%;
}
#stn165Name {
top: 449%;
left: 282.6%;
}
#stn166Name {
left: 291.6%;
}
#stn167Name {
left: 301.9%;
}
#stn168Name {
top: 397.4%;
}
#stn169Name {
top: 421.4%;
}
#stn170Name {
top: 472.4%;
}
#stn171Name {
width: 14%;
top: 492.2%;
left: 313.3%;
}
}
@media only screen and (max-width: 800px) {
.herfordGloucesterRouteStnsTopPosition {
top: 494%;
}
.herfordGloucesterRouteStnsOneLine {
top: 487%;
}
.herfordGloucesterRouteStnsTwoLines {
top: 484%;
}
.bhamLSpaRouteStnsTopPosition {
top: 373.2%;
}
.bhamLSpaRouteStnsOneLine {
top: 366.5%;
}
.bhamLSpaRouteStnsTwoLines {
top: 363.5%;
}
.earlswoodWoottonWawenPartOfLineStnsTwoLines {
top: 445%;
}
#interchange6 {
left: 245%;
}
#stn22Name {
top: 312.1%;
left: 249.4%;
}
#nonInterchange17 {
left: 246.1%;
}
#stn23Name {
width: 16%;
top: 291.1%;
}
#nonInterchange18 {
left: 246.1%;
}
#stn24Name {
top: 271.1%;
}
#nonInterchange19 {
left: 246.1%;
}
#stn25Name {
top: 251.1%;
left: 249.4%;
}
#nonInterchange20 {
left: 246.1%;
}
#stn26Name {
top: 231.1%;
}
#interchange7 {
left: 245%;
}
#stn27Name {
top: 212.2%;
}
#stn28Name {
font-size: 65%;
top: 186.5%;
left: 239.1%;
}
#stn29Name {
left: 226.9%;
}
#stn30Name {
left: 216.1%;
}
#stn32Name {
left: 198.9%;
}
#stn33Name {
top: 149.5%;
}
#stn34Name {
top: 149.5%;
}
#stn65Name {
top: 207.5%;
}
#nonInterchange37 {
left: 315.5%;
}
#stn66Name {
width: 13%;
top: 141%;
left: 318.4%;
}
#nonInterchange38 {
left: 315.5%;
}
#stn67Name {
width: 11%;
top: 131%;
left: 318.5%;
}
#nonInterchange39 {
left: 315.5%;
}
#stn68Name {
top: 121%;
}
#nonInterchange40 {
left: 315.5%;
}
#stn69Name {
top: 111%;
}
#nonInterchange41 {
left: 315.5%;
}
#stn70Name {
top: 101%;
}
#nonInterchange42 {
left: 315.5%;
}
#stn71Name {
top: 91%;
}
#nonInterchange43 {
left: 315.5%;
}
#stn72Name {
top: 81%;
}
#nonInterchange44 {
left: 315.5%;
}
#stn73Name {
top: 71%;
}
#nonInterchange45 {
left: 315.5%;
}
#stn74Name {
top: 61%;
left: 318.8%;
}
#nonInterchange46 {
left: 315.5%;
}
#stn75Name {
width: 14%;
top: 51%;
left: 318.5%;
}
#interchange30 {
left: 314.4%;
}
#nonInterchange47 {
left: 400.5%;
}
#stn77Name {
width: 12%;
top: 142%;
left: 403.5%;
}
#nonInterchange48 {
left: 400.5%;
}
#stn78Name {
top: 132%;
}
#nonInterchange49 {
left: 400.5%;
}
#stn79Name {
width: 12%;
top: 122%;
left: 403.5%;
}
#nonInterchange50 {
left: 400.5%;
}
#stn80Name {
top: 112%;
left: 403.9%;
}
#nonInterchange51 {
left: 400.5%;
}
#stn81Name {
top: 102%;
left: 403.8%;
}
#lineEnd1 {
left: 399.3%;
}
#stn82Name {
top: 91.7%;
left: 404%;
}
#nonInterchange52 {
left: 180.5%;
}
#stn83Name {
width: 12%;
top: 171.1%;
left: 183.4%;
}
#nonInterchange53 {
left: 180.5%;
}
#stn84Name {
top: 179%;
}
#stn85Name {
top: 189%;
}
#stn86Name {
top: 199%;
}
#nonInterchange56 {
top: 210%;
left: 180.5%;
}
#stn87Name {
top: 206%;
left: 183.6%;
}
#nonInterchange57 {
top: 219.8%;
}
#stn88Name {
top: 220%;
}
#stn90Name {
left: 193.5%;
}
#stn91Name {
width: 19%;
top: 246.3%;
left: 193.4%;
}
#stn93Name {
left: 193.6%;
}
#stn97Name {
top: 173.8%;
}
#stn98Name {
top: 182%;
}
#stn99Name {
top: 191%;
left: 201.6%;
}
#stn100Name {
top: 199.1%;
}
#nonInterchange70 {
top: 211.8%;
}
#stn101Name {
top: 210.5%;
}
#stn102Name {
top: 221%;
left: 218%;
}
#stn103Name {
top: 235.8%;
left: 218%;
}
#stn104Name {
top: 250.8%;
left: 217.9%;
}
#stn105Name {
top: 265.8%;
}
#stn106Name {
top: 280.8%;
left: 217.5%;
}
#nonInterchange76 {
left: 175.4%;
}
#stn107Name {
top: 361%;
left: 178.8%;
}
#interchange31 {
left: 174.4%;
}
#stn108Name {
top: 372.2%;
}
#nonInterchange77 {
left: 175.4%;
}
#stn109Name {
top: 381%;
left: 178.6%;
}
#nonInterchange78 {
left: 175.4%;
}
#stn110Name {
top: 391%;
}
#nonInterchange79 {
left: 175.4%;
}
#stn111Name {
width: 11%;
top: 401%;
left: 178.5%;
}
#nonInterchange80 {
left: 175.4%;
}
#stn112Name {
top: 411%;
}
#nonInterchange81 {
left: 175.4%;
}
#stn113Name {
top: 421%;
}
#nonInterchange82 {
left: 175.4%;
}
#stn114Name {
top: 431%;
left: 178.7%;
}
#interchange32 {
left: 174.4%;
}
#stn117Name {
top: 452.2%;
}
#nonInterchange84 {
left: 175.4%;
}
#stn118Name {
top: 471.2%;
left: 178.7%;
}
#line2 {
top: 495%;
left: 166.5%;
width: 19%;
}
#stn123Name {
top: 481%;
}
#nonInterchange89 {
left: 151.4%;
}
#stn129Name {
top: 356%;
left: 154.7%;
}
#nonInterchange90 {
left: 151.4%;
}
#stn130Name {
top: 366%;
left: 154.7%;
}
#nonInterchange91 {
left: 151.4%;
}
#stn131Name {
top: 376%;
}
#nonInterchange92 {
left: 151.4%;
}
#stn132Name {
width: 12.5%;
top: 386%;
left: 154.5%;
}
#nonInterchange93 {
left: 151.4%;
}
#stn133Name {
top: 396%;
}
#lineEnd3 {
top: 408.9%;
}
#stn134Name {
top: 399%;
left: 136.8%;
}
#nonInterchange94 {
left: 151.4%;
}
#stn135Name {
width: 17%;
top: 416%;
left: 154.7%;
}
#nonInterchange95 {
left: 151.4%;
}
#stn136Name {
top: 426%;
}
#nonInterchange96 {
left: 151.4%;
}
#stn137Name {
top: 436%;
}
#nonInterchange97 {
left: 151.4%;
}
#stn138Name {
top: 446%;
}
#nonInterchange98 {
left: 151.4%;
}
#interchange43 {
left: 309.4%;
}
#nonInterchange107 {
left: 310.4%;
}
#stn153Name {
top: 341%;
left: 314.8%;
}
#nonInterchange108 {
left: 310.4%;
}
#stn154Name {
top: 331%;
}
#interchange44 {
left: 309.4%;
}
#stn155Name {
left: 315%;
}
#nonInterchange109 {
left: 245.5%;
}
#stn156Name {
top: 386.1%;
left: 249%;
}
#nonInterchange110 {
left: 245.5%;
}
#stn157Name {
top: 396.1%;
left: 248.9%;
}
#nonInterchange111 {
left: 245.5%;
}
#stn158Name {
top: 406.1%;
left: 249%;
}
#nonInterchange112 {
left: 245.5%;
}
#stn159Name {
top: 416.1%;
}
#nonInterchange113 {
left: 245.5%;
}
#stn160Name {
width: 12%;
top: 426.1%;
left: 248.7%;
}
#nonInterchange114 {
left: 245.5%;
}
#stn161Name {
top: 436.1%;
}
#stn162Name {
top: 448%;
left: 251.2%;
}
#stn163Name {
left: 262.9%;
}
#stn164Name {
left: 272.8%;
}
#stn165Name {
top: 448%;
left: 282.4%;
}
#interchange45 {
left: 309.4%;
}
#stn168Name {
top: 397.2%;
}
#interchange46 {
left: 309.4%;
}
#stn169Name {
top: 421.2%;
}
#interchange47 {
left: 309.4%;
}
}