.heading {
background: #641E16;
color: white;
}
.stationLinks {
background: #641E16;
color: white;
}
#bakerlooLineStation1 {
top: 32%;
left: 20%;
}
#bakerlooLineStation2 {
top: 32%;
left: 35%;
}
#bakerlooLineStation3 {
top: 32%;
left: 50%;
}
#bakerlooLineStation4 {
top: 32%;
left: 65%;
}
#bakerlooLineStation5 {
top: 38%;
left: 20%;
}
#bakerlooLineStation6 {
top: 38%;
left: 35%;
}
#bakerlooLineStation7 {
top: 38%;
left: 50%;
}
#bakerlooLineStation8 {
top: 38%;
left: 65%;
}
#bakerlooLineStation9 {
top: 44%;
left: 20%;
}
#bakerlooLineStation10 {
top: 44%;
left: 35%;
}
#bakerlooLineStation11 {
top: 44%;
left: 50%;
}
#bakerlooLineStation12 {
top: 44%;
left: 65%;
}
#bakerlooLineStation13 {
top: 50%;
left: 20%;
}
#bakerlooLineStation14 {
top: 50%;
left: 35%;
}
#bakerlooLineStation15 {
top: 50%;
left: 50%;
}
#bakerlooLineStation16 {
top: 50%;
left: 65%;
}
#bakerlooLineStation17 {
top: 56%;
left: 20%;
}
#bakerlooLineStation18 {
top: 56%;
left: 35%;
}
#bakerlooLineStation19 {
top: 56%;
left: 50%;
}
#bakerlooLineStation20 {
top: 56%;
left: 65%;
}
#bakerlooLineStation21 {
top: 62%;
left: 20%;
}
#bakerlooLineStation22 {
top: 62%;
left: 35%;
}
#bakerlooLineStation23 {
top: 62%;
left: 50%;
}
#bakerlooLineStation24 {
top: 62%;
left: 65%;
}
#exitLink1 {
top: 85%;
left: 42%;
}