.heading {
background-color: #641E16;
color: white;
width: 240%;
}
.line {
background: #641E16;
width: 231%;
left: 5%;
}
.nonInterchange {
background: #641E16;
}
#interchange1 {
left: 4.5%;
}
#nrLogo1 {
left: 4.8%;
}
#stn1Name {
left: 2.4%;
}
#londonOverground1 {
top: 68%;
left: 1.6%;
}
#nonInterchange1 {
left: 15%;
}
#stn2Name {
left: 13.4%;
}
#nonInterchange2 {
left: 25%;
}
#stn3Name {
left: 23.4%;
}
#nonInterchange3 {
left: 35%;
}
#stn4Name {
left: 32.6%;
}
#interchange2 {
left: 45%;
}
#nrLogo2 {
left: 45.3%;
}
#stn5Name {
left: 43.5%;
}
#nonInterchange4 {
left: 55%;
}
#stn6Name {
left: 51.8%;
}
#nonInterchange5 {
left: 65%;
}
#stn7Name {
left: 62.3%;
}
#interchange3 {
left: 75%;
}
#stn8Name {
left: 73.5%;
}
#londonOverground2 {
top: 68%;
left: 72.1%;
}
#nonInterchange6 {
left: 85%;
}
#stn9Name {
left: 83.4%;
}
#interchange4 {
left: 95%;
}
#stn10Name {
left: 94.2%;
}
#londonOverground3 {
top: 68%;
left: 92.1%;
}
#nonInterchange7 {
left: 105%;
}
#stn11Name {
left: 103.6%;
}
#nonInterchange8 {
left: 115%;
}
#stn12Name {
left: 112.9%;
}
#interchange5 {
left: 125%;
}
#nrLogo3 {
left: 125.3%;
}
#stn13Name {
left: 123%;
}
#circle1 {
top: 68%;
left: 122.6%;
}
#crossrail1 {
top: 71%;
left: 122.1%;
}
#district1 {
top: 80%;
left: 122.6%;
}
#hsmith1 {
top: 83%;
left: 122.6%;
}
#nonInterchange9 {
left: 135%;
}
#stn14Name {
left: 132.8%;
}
#interchange6 {
left: 145%;
}
#nrLogo4 {
left: 145.3%;
}
#stn15Name {
left: 142.9%;
}
#interchange7 {
left: 155%;
}
#stn16Name {
left: 154.7%;
}
#circle2 {
top: 68%;
left: 152.6%;
}
#hsmith2 {
top: 71%;
left: 152.6%;
}
#jubilee1 {
top: 77%;
left: 152.6%;
}
#metropolitan1 {
top: 80%;
left: 152.6%;
}
#nonInterchange10 {
left: 165%;
}
#stn17Name {
left: 163%;
}
#interchange8 {
left: 175%;
}
#stn18Name {
left: 174.4%;
}
#central1 {
top: 68%;
left: 172.6%;
}
#victoria1 {
top: 71%;
left: 172.6%
}
#interchange9 {
left: 185%;
}
#stn19Name {
left: 183.6%;
}
#piccadilly1 {
top: 68%;
left: 182.6%;
}
#interchange10 {
left: 195%;
}
#nrLogo5 {
left: 195.3%;
}
#stn20Name {
left: 194.1%;
}
#northern1 {
top: 68%;
left: 192.6%;
}
#interchange11 {
left: 205%;
}
#nrLogo6 {
left: 205.3%;
}
#stn21Name {
left: 202.5%;
}
#circle3 {
top: 68%;
left: 202.6%;
}
#district2 {
top: 71%;
left: 202.6%;
}
#interchange12 {
left: 215%;
}
#nrLogo7 {
left: 215.3%;
}
#stn22Name {
left: 213.7%;
}
#jubilee2 {
top: 68%;
left: 212.6%;
}
#northern2 {
top: 71%;
left: 212.6%;
}
#wloo1 {
top: 74%;
left: 212.6%;
}
#nonInterchange11 {
left: 225%;
}
#stn23Name {
left: 222.7%;
}
#interchange13 {
left: 235%;
}
#nrLogo8 {
left: 235.3%;
}
#stn24Name {
left: 233.7%;
}
#northern3 {
top: 68%;
left: 232.6%;
}
#exitLink1 {
top: 20%;
left: 2%;
}
#exitLink2 {
top: 20%;
left: 105%;
}
#exitLink3 {
top: 20%;
left: 225%;
}
