@media only screen and (max-width: 1680px) {
#stn1Name {
left: 14.5%;
}
#stn2Name {
left: 24%;
}
#stn3Name {
left: 33.6%;
}
#stn4Name {
left: 44.6%;
}
#stn5Name {
left: 52.8%;
}
#stn6Name {
left: 63.8%;
}
#stn7Name {
left: 72.9%;
}
#stn8Name {
left: 82.5%;
}
}
@media only screen and (max-width: 1600px) {
.interchange {
top: 51.8%;
}
.stnNames {
top: 46%;
}
#stn1Name {
left: 14.4%;
}
#northernRail1 {
top: 57%;
left: 11.8%;
}
#transpenine1 {
top: 60%;
left: 11.8%;
}
#virginTrains1 {
top: 66%;
left: 11.8%;
}
#northernRail2 {
top: 57%;
left: 22.3%;
}
#northernRail3 {
top: 57%;
left: 32.3%;
}
#stn4Name {
left: 44.4%;
}
#northernRail4 {
top: 57%;
left: 42.3%;
}
#transpenine2 {
top: 60%;
left: 42.3%;
}
#stn5Name {
left: 53%;
}
#crosscountry1 {
top: 57%;
left: 52.3%;
}
#gcr1 {
top: 60%;
left: 52.3%;
}
#northernRail5 {
top: 69%;
left: 52.3%;
}
#transpenine3 {
top: 72%;
left: 52.3%;
}
#virginTrains2 {
top: 78%;
left: 52.3%;
}
#virginTrains3 {
top: 57%;
left: 62.3%;
}
#stn7Name {
left: 73.1%;
}
#emid1 {
top: 57%;
left: 72.3%;
}
#virginTrains4 {
top: 60%;
left: 72.3%;
}
#stn8Name {
top: 43%;
left: 82.7%;
}
#gcr2 {
top: 57%;
left: 82.3%;
}
#greatNorthern1 {
top: 66%;
left: 82.3%;
}
#londonUnderground1 {
top: 72%;
left: 81.8%;
}
#virginTrains5 {
top: 81%;
left: 82.3%;
}
}
@media only screen and (max-width: 1440px) {
#stn1Name {
left: 14.2%;
}
#stn2Name {
left: 23.8%;
}
#stn3Name {
left: 33.4%;
}
#stn7Name {
left: 72.9%;
}
#stn8Name {
top: 43%;
left: 82.4%;
}
}
@media only screen and (max-width: 1366px) {
.stnNames {
top: 45%;
}
#stn2Name {
left: 23.7%;
}
#stn3Name {
left: 33.2%;
}
#stn4Name {
left: 44.3%;
}
#stn5Name {
left: 52.6%;
}
#stn6Name {
left: 63.6%;
}
#stn8Name {
top: 42%;
left: 82.2%;
}
}
@media only screen and (max-width: 1280px) {
#stn2Name {
left: 23.6%;
}
#stn3Name {
left: 33.1%;
}
#stn4Name {
left: 44.1%;
}
#stn5Name {
left: 52.4%;
}
#stn6Name {
left: 63.4%;
}
#stn7Name {
left: 72.6%;
}
#stn8Name {
left: 82%;
}
}
@media only screen and (max-width: 1152px) {
.interchange {
top: 52.2%;
}
.stnNames {
top: 47%;
}
#stn1Name {
left: 13.8%;
}
#northernRail1 {
top: 56%;
left: 11.5%;
}
#transpenine1 {
top: 59%;
left: 11.5%;
}
#virginTrains1 {
top: 65%;
left: 11.5%;
}
#stn2Name {
left: 23.4%;
}
#northernRail2 {
top: 56%;
left: 22%;
}
#stn3Name {
left: 33%;
}
#northernRail3 {
top: 56%;
left: 32%;
}
#stn4Name {
left: 43.9%;
}
#northernRail4 {
top: 56%;
left: 42%;
}
#transpenine2 {
top: 59%;
left: 42%;
}
#crosscountry1 {
top: 56%;
left: 52%;
}
#gcr1 {
top: 59%;
left: 52%;
}
#northernRail5 {
top: 68%;
left: 52%;
}
#transpenine3 {
top: 71%;
left: 52%;
}
#virginTrains2 {
top: 77%;
left: 52%;
}
#virginTrains3 {
top: 56%;
left: 62%;
}
#emid1 {
top: 56%;
left: 72%;
}
#stn7Name {
left: 72.5%;
}
#virginTrains4 {
top: 59%;
left: 72%;
}
#stn8Name {
top: 44%;
}
#gcr2 {
top: 56%;
left: 82%;
}
#greatNorthern1 {
top: 65%;
left: 82%;
}
#londonUnderground1 {
top: 71%;
left: 81.5%;
}
#virginTrains5 {
top: 80%;
left: 82%;
}
}
@media only screen and (max-width: 1024px) {
.stnNames {
top: 46%;
}
#stn1Name {
left: 13.7%;
}
#stn2Name {
left: 23.2%;
}
#stn3Name {
left: 32.7%;
}
#stn4Name {
left: 43.7%;
}
#stn5Name {
left: 52.1%;
}
#stn6Name {
left: 63.1%;
}
#stn7Name {
left: 72.2%;
}
#stn8Name {
top: 43%;
left: 81.6%;
}
}
@media only screen and (max-width: 800px) {
#stn5Name {
left: 52%;
}
#stn6Name {
left: 63%;
}
#stn7Name {
left: 72%;
}
#stn8Name {
left: 81.5%;
}
}