.heading {
background: red;
color: yellow;
}
.line {
background: red;
left: 25%;
width: 50%;
}
#interchange1 {
left: 24.5%;
}
#stn1Name {
top: 52%;
left: 23.5%;
}
#southeastern1 {
top: 68%;
left: 21.9%;
}
#southernRail1 {
top: 71%;
left: 21.9%;
}
#londonUnderground1 {
top: 74%;
left: 21.4%;
}
#interchange2 {
left: 49.5%;
}
#stn2Name {
top: 52%;
left: 48.6%;
}
#gwr1 {
top: 68%;
left: 46.9%;
}
#southernRail2 {
top: 77%;
left: 46.9%;
}
#thameslink1 {
top: 80%;
left: 46.9%;
}
#interchange3 {
left: 74.5%;
}
#stn3Name {
top: 55%;
left: 73.4%;
}
#gwr2 {
top: 68%;
left: 71.8%;
}
#southernRail3 {
top: 77%;
left: 71.9%;
}
#thameslink2 {
top: 80%;
left: 71.9%;
}
#exitLink1 {
top: 20%;
left: 1%;
}