@media only screen and (max-width: 1680px) {
#stn1Name {
left: 6.2%;
}
#stn2Name {
left: 17.1%;
}
#stn3Name {
left: 26.9%;
}
#stn4Name {
left: 39.4%;
}
#stn5Name {
left: 47.9%;
}
#stn6Name {
left: 57.4%;
}
#stn7Name {
left: 66.4%;
}
#stn8Name {
left: 78.6%;
}
#nrLogo1 {
left: 90.1%;
}
#stn9Name {
left: 87.6%;
}
#stn10Name {
left: 98.4%;
}
#stn11Name {
left: 109.3%;
}
#stn12Name {
left: 117.5%;
}
#nrLogo2 {
left: 130.1%;
}
#stn13Name {
left: 129.1%;
}
#nrLogo3 {
left: 140.1%;
}
#stn14Name {
left: 136.5%;
}
#nrLogo4 {
left: 150.1%;
}
#stn15Name {
left: 147.9%;
}
#stn16Name {
left: 157.5%;
}
#nrLogo5 {
left: 170.1%;
}
#stn17Name {
left: 168.2%;
}
#nrLogo6 {
left: 180.1%;
}
#stn18Name {
left: 178.2%;
}
#stn19Name {
left: 188.8%;
}
#stn20Name {
left: 197.1%;
}
#stn21Name {
left: 207.7%;
}
#stn22Name {
left: 220%;
}
#stn23Name {
left: 229.6%;
}
#stn24Name {
left: 237.9%;
}
#nrLogo7 {
left: 250.1%;
}
#stn25Name {
left: 249.7%;
}
#stn26Name {
left: 257.7%;
}
#stn27Name {
left: 268.3%;
}
#stn28Name {
left: 278.9%;
}
#nrLogo8 {
left: 290.1%;
}
#stn29Name {
left: 288.9%;
}
}
@media only screen and (max-width: 1600px) {
#stn1Name {
left: 6.5%;
}
#circle1 {
top: 67%;
left: 6.8%;
}
#district1 {
top: 70%;
left: 6.8%;
}
#piccadilly1 {
top: 73%;
left: 6.8%;
}
#stn2Name {
left: 17.6%;
}
#stn3Name {
left: 27.4%;
}
#central1 {
top: 67%;
left: 37.3%;
}
#stn5Name {
left: 48.3%;
}
#stn6Name {
left: 57.8%;
}
#stn7Name {
left: 66.9%;
}
#stn8Name {
left: 78.8%;
}
#nrLogo1 {
left: 89.6%;
}
#stn9Name {
left: 87.8%;
}
#bakerloo1 {
top: 67%;
left: 87.3%;
}
#circle2 {
top: 70%;
left: 87.3%;
}
#crossrail1 {
top: 76%;
left: 86.8%;
}
#district2 {
top: 85%;
left: 87.3%;
}
#stn10Name {
left: 98.6%;
}
#circle3 {
top: 67%;
left: 97.3%;
}
#district3 {
top: 73%;
left: 97.3%;
}
#bakerloo2 {
top: 67%;
left: 107.3%;
}
#jubilee1 {
top: 70%;
left: 107.3%;
}
#metropolitan1 {
top: 73%;
left: 107.3%;
}
#stn12Name {
left: 117.9%;
}
#nrLogo2 {
left: 129.6%;
}
#stn13Name {
left: 129%;
}
#nrLogo3 {
left: 139.6%;
}
#stn14Name {
left: 136.1%;
}
#northern1 {
top: 67%;
left: 137.3%;
}
#piccadilly2 {
top: 70%;
left: 137.3%;
}
#victoria1 {
top: 73%;
left: 137.3%;
}
#nrLogo4 {
left: 149.6%;
}
#crossrail2 {
top: 67%;
left: 146.8%;
}
#stn16Name {
left: 157.8%;
}
#nrLogo5 {
left: 169.6%;
}
#northern2 {
top: 67%;
left: 167.3%;
}
#nrLogo6 {
left: 179.6%;
}
#stn18Name {
left: 178.4%;
}
#central2 {
top: 67%;
left: 177.3%;
}
#circle4 {
top: 70%;
left: 177.3%;
}
#crossrail3 {
top: 73%;
left: 176.8%;
}
#metropolitan2 {
top: 82%;
left: 177.3%;
}
#district4 {
top: 67%;
left: 187.3%;
}
#stn20Name {
left: 197.3%;
}
#londonOverground1 {
top: 67%;
left: 196.8%;
}
#stn21Name {
left: 208%;
}
#stn22Name {
left: 219.8%;
}
#central3 {
top: 67%;
left: 217.3%;
}
#dlr1 {
top: 67%;
left: 226.8%;
}
#stn24Name {
left: 238.1%;
}
#nrLogo7 {
left: 249.6%;
}
#stn25Name {
left: 249.5%;
}
#dlr2 {
top: 67%;
left: 246.8%;
}
#jubilee2 {
top: 76%;
left: 247.3%;
}
#stn26Name {
left: 258%;
}
#stn27Name {
left: 268.6%;
}
#nrLogo8 {
left: 289.6%;
}
#district5 {
top: 67%;
left: 287.3%;
}
#londonOverground2 {
top: 70%;
left: 286.8%;
}
}
@media only screen and (max-width: 1440px) {
#stn1Name {
left: 6.2%;
}
#stn2Name {
left: 17.3%;
}
#stn3Name {
left: 27.1%;
}
#stn4Name {
left: 39.2%;
}
#stn5Name {
left: 48.1%;
}
#stn6Name {
left: 57.5%;
}
#stn7Name {
left: 66.6%;
}
#stn8Name {
left: 78.6%;
}
#stn9Name {
left: 87.6%;
}
#stn10Name {
left: 98.4%;
}
#stn11Name {
left: 109.1%;
}
#stn12Name {
left: 117.7%;
}
#stn13Name {
left: 128.8%;
}
#stn15Name {
left: 147.8%;
}
#stn16Name {
left: 157.7%;
}
#stn17Name {
left: 168.1%;
}
#stn18Name {
left: 178.1%;
}
#stn19Name {
left: 188.6%;
}
#stn20Name {
left: 197%;
}
#stn21Name {
left: 207.8%;
}
#stn23Name {
left: 229.4%;
}
#stn24Name {
left: 237.9%;
}
#stn26Name {
left: 257.9%;
}
#stn27Name {
left: 268.5%;
}
#stn29Name {
left: 288.7%;
}
}
@media only screen and (max-width: 1366px) {
#stn1Name {
left: 6%;
}
#stn2Name {
left: 17.1%;
}
#stn3Name {
left: 26.9%;
}
#stn4Name {
left: 39.1%;
}
#stn5Name {
left: 47.9%;
}
#stn6Name {
left: 57.3%;
}
#stn7Name {
left: 66.4%;
}
#stn8Name {
left: 78.5%;
}
#nrLogo1 {
left: 89.4%;
}
#stn9Name {
left: 87.3%;
}
#stn10Name {
left: 98.1%;
}
#stn12Name {
left: 117.6%;
}
#nrLogo2 {
left: 129.4%;
}
#stn13Name {
left: 128.7%;
}
#nrLogo3 {
left: 139.4%;
}
#nrLogo4 {
left: 149.4%;
}
#stn15Name {
left: 147.5%;
}
#stn16Name {
left: 157.6%;
}
#nrLogo5 {
left: 169.4%;
}
#stn17Name {
left: 167.9%;
}
#nrLogo6 {
left: 179.4%;
}
#stn18Name {
left: 177.9%;
}
#stn19Name {
left: 188.4%;
}
#stn20Name {
left: 196.7%;
}
#stn21Name {
left: 207.7%;
}
#stn22Name {
left: 219.7%;
}
#stn23Name {
left: 229.3%;
}
#stn24Name {
left: 237.8%;
}
#nrLogo7 {
left: 249.4%;
}
#stn25Name {
left: 249.3%;
}
#stn26Name {
left: 257.7%;
}
#stn27Name {
left: 268.3%;
}
#stn28Name {
left: 278.8%;
}
#nrLogo8 {
left: 289.4%;
}
#stn29Name {
left: 288.5%;
}
}
@media only screen and (max-width: 1280px) {
#stn1Name {
left: 5.7%;
}
#stn2Name {
left: 16.9%;
}
#stn3Name {
left: 26.7%;
}
#stn4Name {
left: 38.9%;
}
#stn5Name {
left: 47.7%;
}
#stn6Name {
left: 57.1%;
}
#stn7Name {
left: 66.1%;
}
#stn8Name {
left: 78.4%;
}
#nrLogo1 {
left: 89.3%;
}
#stn9Name {
left: 87.1%;
}
#stn10Name {
left: 98%;
}
#stn11Name {
left: 108.9%;
}
#stn12Name {
left: 117.4%;
}
#nrLogo2 {
left: 129.3%;
}
#stn13Name {
left: 128.5%;
}
#nrLogo3 {
left: 139.3%;
}
#nrLogo4 {
left: 149.3%;
}
#stn15Name {
left: 147.3%;
}
#stn16Name {
left: 157.4%;
}
#nrLogo5 {
left: 169.3%;
}
#stn17Name {
left: 167.7%;
}
#nrLogo6 {
left: 179.3%;
}
#stn18Name {
left: 177.7%;
}
#stn19Name {
left: 188.3%;
}
#stn20Name {
left: 196.4%;
}
#stn21Name {
left: 207.6%;
}
#stn22Name {
left: 219.6%;
}
#stn23Name {
left: 229.2%;
}
#stn24Name {
left: 237.6%;
}
#nrLogo7 {
left: 249.3%;
}
#stn26Name {
left: 257.6%;
}
#stn27Name {
left: 268.2%;
}
#stn28Name {
left: 278.7%;
}
#nrLogo8 {
left: 289.3%;
}
#stn29Name {
left: 288.4%;
}
#exitLink1 {
top: 23%;
}
#exitLink2 {
top: 23%;
}
#exitLink3 {
top: 23%;
}
}
@media only screen and (max-width: 1152px) {
#circle1 {
top: 66%;
left: 6.5%;
}
#district1 {
top: 69%;
left: 6.5%;
}
#piccadilly1 {
top: 72%;
left: 6.5%;
}
#central1 {
top: 66%;
left: 37%;
}
#stn5Name {
left: 47.8%;
}
#stn6Name {
left: 57.2%;
}
#stn7Name {
left: 66.2%;
}
#nrLogo1 {
left: 88.9%;
}
#bakerloo1 {
top: 66%;
left: 87%;
}
#circle2 {
top: 69%;
left: 87%;
}
#crossrail1 {
top: 75%;
left: 86.5%;
}
#district2 {
top: 84%;
left: 87%;
}
#circle3 {
top: 66%;
left: 97%;
}
#district3 {
top: 72%;
left: 97%;
}
#bakerloo2 {
top: 66%;
left: 107%;
}
#jubilee1 {
top: 69%;
left: 107%;
}
#metropolitan1 {
top: 72%;
left: 107%;
}
#nrLogo2 {
left: 128.9%;
}
#nrLogo3 {
left: 138.9%;
}
#stn14Name {
left: 135.8%;
}
#northern1 {
top: 66%;
left: 137%;
}
#piccadilly2 {
top: 69%;
left: 137%;
}
#victoria1 {
top: 72%;
left: 137%;
}
#nrLogo4 {
left: 148.9%;
}
#crossrail2 {
top: 66%;
left: 146.5%;
}
#nrLogo5 {
left: 168.9%;
}
#northern2 {
top: 66%;
left: 167%;
}
#nrLogo6 {
left: 178.9%;
}
#central2 {
top: 66%;
left: 177%;
}
#circle4 {
top: 69%;
left: 177%;
}
#crossrail3 {
top: 72%;
left: 176.5%;
}
#metropolitan2 {
top: 81%;
left: 177%;
}
#stn19Name {
left: 188.2%;
}
#district4 {
top: 66%;
left: 187%;
}
#stn20Name {
left: 196.6%;
}
#londonOverground1 {
top: 66%;
left: 196.5%;
}
#stn22Name {
left: 219.4%;
}
#central3 {
top: 66%;
left: 217%;
}
#stn23Name {
left: 229.1%;
}
#dlr1 {
top: 66%;
left: 226.5%;
}
#nrLogo7 {
left: 248.9%;
}
#stn25Name {
left: 249.1%;
}
#dlr2 {
top: 66%;
left: 246.5%;
}
#jubilee2 {
top: 75%;
left: 247%;
}
#nrLogo8 {
left: 288.9%;
}
#stn29Name {
left: 288.3%;
}
#district5 {
top: 66%;
left: 287%;
}
#londonOverground2 {
top: 69%;
left: 286.5%;
}
}
@media only screen and (max-width: 1024px) {
#stn1Name {
left: 5%;
}
#stn2Name {
left: 16.6%;
}
#stn3Name {
left: 26.3%;
}
#stn4Name {
left: 38.7%;
}
#stn5Name {
left: 47.5%;
}
#stn6Name {
left: 56.9%;
}
#stn7Name {
left: 65.9%;
}
#stn8Name {
left: 78.2%;
}
#nrLogo1 {
left: 88.6%;
}
#stn9Name {
left: 86.7%;
}
#stn10Name {
left: 97.7%;
}
#stn11Name {
left: 108.6%;
}
#stn12Name {
left: 117.2%;
}
#nrLogo2 {
left: 128.6%;
}
#stn13Name {
left: 128.3%;
}
#nrLogo3 {
left: 138.6%;
}
#nrLogo4 {
left: 148.6%;
}
#stn15Name {
left: 147%;
}
#stn16Name {
left: 157.1%;
}
#nrLogo5 {
left: 168.6%;
}
#stn17Name {
left: 167.4%;
}
#nrLogo6 {
left: 178.6%;
}
#stn18Name {
left: 177.4%;
}
#stn19Name {
left: 187.9%;
}
#stn20Name {
left: 196.1%;
}
#stn21Name {
left: 207.2%;
}
#stn22Name {
left: 219.3%;
}
#stn23Name {
left: 229%;
}
#stn24Name {
left: 237.4%;
}
#nrLogo7 {
left: 248.6%;
}
#stn25Name {
left: 249%;
}
#stn26Name {
left: 257.3%;
}
#stn27Name {
left: 268%;
}
#stn28Name {
left: 278.6%;
}
#nrLogo8 {
left: 288.6%;
}
#stn29Name {
left: 288.1%;
}
#exitLink1 {
top: 25%;
}
#exitLink2 {
top: 25%;
}
#exitLink3 {
top: 25%;
}
}
@media only screen and (max-width: 800px) {
#stn3Name {
left: 26.2%;
}
#stn4Name {
left: 38.6%;
}
#stn6Name {
left: 56.8%;
}
#stn7Name {
left: 65.8%;
}
#nrLogo1 {
left: 88%;
}
#stn9Name {
left: 86.6%;
}
#stn10Name {
left: 97.6%;
}
#stn12Name {
left: 117.1%;
}
#nrLogo2 {
left: 128%;
}
#nrLogo3 {
left: 138%;
}
#nrLogo4 {
left: 148%;
}
#stn16Name {
left: 157%;
}
#nrLogo5 {
left: 168%;
}
#stn17Name {
left: 167.2%;
}
#nrLogo6 {
left: 178%;
}
#stn18Name {
left: 177.3%;
}
#stn24Name {
left: 237.3%;
}
#nrLogo7 {
left: 248%;
}
#stn26Name {
left: 257.2%;
}
#stn27Name {
left: 267.9%;
}
#stn28Name {
left: 278.5%;
}
#nrLogo8 {
left: 288%;
}
#stn29Name {
left: 288%;
}
}
