.heading {
background-color: yellow;
width: 380%;
}
.line {
background: yellow;
width: 361%;
left: 10%;
}
.nonInterchange {
background: yellow;
}
#interchange1 {
left: 9.5%;
}
#stn1Name {
left: 6.8%;
}
#district1 {
top: 68%;
left: 7.1%;
}
#hsmith1 {
top: 71%;
left: 7.1%;
}
#piccadilly1 {
top: 77%;
left: 7.1%;
}
#nonInterchange1 {
left: 20%;
}
#stn2Name {
left: 17.5%;
}
#nonInterchange2 {
left: 30%;
}
#stn3Name {
left: 27.3%;
}
#interchange2 {
left: 40%;
}
#stn4Name {
left: 39.7%;
}
#central1 {
top: 68%;
left: 37.6%;
}
#nonInterchange3 {
left: 50%;
}
#stn5Name {
left: 48.2%;
}
#nonInterchange4 {
left: 60%;
}
#stn6Name {
left: 57.7%;
}
#nonInterchange5 {
left: 70%;
}
#stn7Name {
left: 66.8%;
}
#nonInterchange6 {
left: 80%;
}
#stn8Name {
left: 78.8%;
}
#interchange3 {
left: 90%;
}
#nrLogo1 {
left: 90.3%;
}
#stn9Name {
left: 88%;
}
#bakerloo1 {
top: 68%;
left: 87.6%;
}
#circle1 {
top: 71%;
left: 87.6%;
}
#crossrail1 {
top: 77%;
left: 87.1%;
}
#district2 {
top: 86%;
left: 87.6%;
}
#interchange4 {
left: 100%;
}
#stn10Name {
left: 98.9%;
}
#circle2 {
top: 68%;
left: 97.6%;
}
#district3 {
top: 74%;
left: 97.6%;
}
#interchange5 {
left: 110%;
}
#stn11Name {
left: 109.7%;
}
#bakerloo2 {
top: 68%;
left: 107.6%;
}
#jubilee1 {
top: 71%;
left: 107.6%;
}
#metropolitan1 {
top: 74%;
left: 107.6%;
}
#nonInterchange7 {
left: 120%;
}
#stn12Name {
left: 118%;
}
#interchange6 {
left: 130%;
}
#nrLogo2 {
left: 130.3%;
}
#stn13Name {
left: 129.4%;
}
#interchange7 {
left: 140%;
}
#nrLogo3 {
left: 140.3%;
}
#stn14Name {
width: 10%;
left: 136.3%;
}
#northern1 {
top: 68%;
left: 137.6%;
}
#piccadilly2 {
top: 71%;
left: 137.6%;
}
#victoria1 {
top: 74%;
left: 137.6%;
}
#interchange8 {
left: 150%;
}
#nrLogo4 {
left: 150.3%;
}
#stn15Name {
left: 148.4%;
}
#crossrail2 {
top: 68%;
left: 147.1%;
}
#nonInterchange8 {
left: 160%;
}
#stn16Name {
left: 157.8%;
}
#interchange9 {
left: 170%;
}
#nrLogo5 {
left: 170.3%;
}
#stn17Name {
left: 168.6%;
}
#northern2 {
top: 68%;
left: 167.6%;
}
#interchange10 {
left: 180%;
}
#nrLogo6 {
left: 180.3%;
}
#stn18Name {
left: 178.6%;
}
#central2 {
top: 68%;
left: 177.6%;
}
#crossrail3 {
top: 71%;
left: 177.1%;
}
#hsmith2 {
top: 80%;
left: 177.6%;
}
#londonOverground1 {
top: 86%;
left: 177.1%;
}
#interchange11 {
left: 190%;
}
#stn19Name {
left: 189%;
}
#metropolitan2 {
top: 68%;
left: 187.6%;
}
#interchange12 {
left: 200%;
}
#stn20Name {
left: 199.7%;
}
#district4 {
top: 68%;
left: 197.6%;
}
#interchange13 {
left: 210%;
}
#stn21Name {
left: 208.2%;
}
#central3 {
top: 68%;
left: 207.6%;
}
#dlr1 {
top: 71%;
left: 207.1%;
}
#northern3 {
top: 80%;
left: 207.6%;
}
#wloo1 {
top: 83%;
left: 207.6%;
}
#interchange14 {
left: 220%;
}
#nrLogo7 {
left: 220.3%;
}
#stn22Name {
left: 219.2%;
}
#nonInterchange9 {
left: 230%;
}
#stn23Name {
left: 227.9%;
}
#interchange15 {
left: 240%;
}
#nrLogo8 {
left: 240.3%;
}
#stn24Name {
left: 238.4%;
}
#nonInterchange10 {
left: 250%;
}
#stn25Name {
left: 248.3%;
}
#interchange16 {
left: 260%;
}
#nrLogo9 {
left: 260.3%;
}
#stn26Name {
left: 257.5%;
}
#bakerloo3 {
top: 68%;
left: 257.6%;
}
#northern4 {
top: 71%;
left: 257.6%;
}
#interchange17 {
left: 270%;
}
#stn27Name {
left: 267.6%;
}
#jubilee2 {
top: 68%;
left: 267.6%;
}
#nonInterchange11 {
left: 280%;
}
#stn28Name {
width: 7%;
left: 276.9%;
}
#interchange18 {
left: 290%;
}
#nrLogo10 {
left: 290.3%;
}
#stn29Name {
left: 289.2%;
}
#victoria2 {
top: 68%;
left: 287.6%;
}
#nonInterchange12 {
left: 300%;
}
#stn30Name {
left: 298.4%;
}
#interchange19 {
left: 310%;
}
#stn31Name {
left: 308.2%;
}
#piccadilly3 {
top: 68%;
left: 307.6%;
}
#interchange20 {
left: 320%;
}
#stn32Name {
left: 318.3%;
}
#district5 {
top: 68%;
left: 317.6%;
}
#piccadilly4 {
top: 71%;
left: 317.6%;
}
#interchange21 {
left: 330%;
}
#stn33Name {
left: 328.2%;
}
#district6 {
top: 68%;
left: 327.6%;
}
#interchange22 {
left: 340%;
}
#stn34Name {
width: 7%;
left: 338%;
}
#central4 {
top: 68%;
left: 337.6%;
}
#nonInterchange13 {
left: 350%;
}
#stn35Name {
left: 347.4%;
}
#interchange23 {
left: 360%;
}
#nrLogo11 {
left: 360.3%;
}
#stn36Name {
left: 358%;
}
#bakerloo4 {
top: 68%;
left: 357.6%;
}
#circle3 {
top: 71%;
left: 357.6%;
}
#crossrail4 {
top: 77%;
left: 357.1%;
}
#hsmith3 {
top: 86%;
left: 357.6%;
}
#interchange24 {
left: 370%;
}
#stn37Name {
left: 368.9%;
}
#circle4 {
top: 68%;
left: 367.6%;
}
#district7 {
top: 74%;
left: 367.6%;
}
#hsmith4 {
top: 77%;
left: 367.6%;
}
#exitLink1 {
top: 20%;
left: 2%;
}
#exitLink2 {
top: 20%;
left: 123%;
}
#exitLink3 {
top: 20%;
left: 244%;
}
#exitLink4 {
top: 20%;
left: 365%;
}