.heading {
background-color: yellow;
color: black;
}
.stationLinks {
background-color: yellow;
color: black;
}
#circleLineStation1 {
top: 26%;
left: 12.5%;
}
#circleLineStation2 {
top: 26%;
left: 27.5%;
}
#circleLineStation3 {
top: 26%;
left: 42.5%;
}
#circleLineStation4 {
top: 26%;
left: 57.5%;
}
#circleLineStation5 {
top: 26%;
left: 72.5%;
}
#circleLineStation6 {
top: 32%;
left: 12.5%;
}
#circleLineStation7 {
top: 32%;
left: 27.5%;
}
#circleLineStation8 {
top: 32%;
left: 42.5%;
}
#circleLineStation9 {
top: 32%;
left: 57.5%;
}
#circleLineStation10 {
top: 32%;
left: 72.5%;
}
#circleLineStation11 {
top: 38%;
left: 12.5%;
}
#circleLineStation12 {
top: 38%;
left: 27.5%;
}
#circleLineStation13 {
top: 38%;
left: 42.5%;
}
#circleLineStation14 {
top: 38%;
left: 57.5%;
}
#circleLineStation15 {
top: 38%;
left: 72.5%;
}
#circleLineStation16 {
top: 44%;
left: 12.5%;
}
#circleLineStation17 {
top: 44%;
left: 27.5%;
}
#circleLineStation18 {
top: 44%;
left: 42.5%;
}
#circleLineStation19 {
top: 44%;
left: 57.5%;
}
#circleLineStation20 {
top: 44%;
left: 72.5%;
}
#circleLineStation21 {
top: 50%;
left: 12.5%;
}
#circleLineStation22 {
top: 50%;
left: 27.5%;
}
#circleLineStation23 {
top: 50%;
left: 42.5%;
}
#circleLineStation24 {
top: 50%;
left: 57.5%;
}
#circleLineStation25 {
top: 50%;
left: 72.5%;
}
#circleLineStation26 {
top: 56%;
left: 12.5%;
}
#circleLineStation27 {
top: 56%;
left: 27.5%;
}
#circleLineStation28 {
top: 56%;
left: 42.5%;
}
#circleLineStation29 {
top: 56%;
left: 57.5%;
}
#circleLineStation30 {
top: 56%;
left: 72.5%;
}
#circleLineStation31 {
top: 62%;
left: 12.5%;
}
#circleLineStation32 {
top: 62%;
left: 27.5%;
}
#circleLineStation33 {
top: 62%;
left: 42.5%;
}
#circleLineStation34 {
top: 62%;
left: 57.5%;
}
#circleLineStation35 {
top: 62%;
left: 72.5%;
}
#circleLineStation36 {
top: 68.05%;
left: 12.5%;
}
#circleLineStation37 {
top: 68.05%;
left: 27.5%;
width: 14.95%;
}
#exitLink1 {
top: 85%;
left: 42%;
}