@media only screen and (max-width: 1680px) {
#stn1Name {
left: 1.8%;
}
#stn2Name {
left: 13.7%;
}
#stn3Name {
left: 24.1%;
}
#stn4Name {
left: 33%;
}
#stn5Name {
left: 43.8%;
}
#stn6Name {
left: 52.9%;
}
#stn7Name {
left: 62.8%;
}
#stn8Name {
left: 72.9%;
}
#stn9Name {
left: 21.9%;
}
#stn10Name {
left: 32.7%;
}
#stn11Name {
left: 42.5%;
}
#stn12Name {
left: 51.9%;
}
#stn13Name {
left: 63.4%;
}
#stn14Name {
left: 74.8%;
}
#stn15Name {
left: 89.1%;
}
}
@media only screen and (max-width: 1600px) {
.bradfordRouteStnsTopPosition {
top: 73.8%;
}
.bradfordRouteStnsOneLine {
top: 68%;
}
.bradfordRouteStnsTwoLines {
top: 65%;
}
.sunderlandRouteStnsTopPosition {
top: 23.8%;
}
.sunderlandRouteStnsOneLine {
top: 18%;
}
#stn1Name {
left: 2.1%;
}
#northernRail1 {
top: 78.5%;
left: 1.8%;
}
#stn2Name {
left: 13.9%;
}
#northernRail2 {
top: 78.5%;
left: 22.3%;
}
#northernRail3 {
top: 78.5%;
left: 32.3%;
}
#northernRail4 {
top: 78.5%;
left: 42.3%;
}
#stn6Name {
left: 53.1%;
}
#northernRail5 {
top: 78.5%;
left: 52.3%;
}
#stn7Name {
left: 63%;
}
#northernRail6 {
top: 78.5%;
left: 62.3%;
}
#stn8Name {
left: 73.1%;
}
#crosscountry1 {
top: 78.5%;
left: 72.3%;
}
#hullTrains1 {
top: 81.5%;
left: 72.3%;
}
#northernRail7 {
top: 84.5%;
left: 72.3%;
}
#transpenine1 {
top: 87.5%;
left: 72.3%;
}
#virginTrains1 {
top: 93.5%;
left: 72.3%;
}
#stn9Name {
left: 22.3%;
}
#northernRail8 {
top: 28.5%;
left: 21.8%;
}
#tyneAndWearMetro1 {
top: 31.5%;
left: 21.8%;
}
#virginTrains2 {
top: 37.5%;
left: 21.8%;
}
#stn10Name {
left: 33%;
}
#northernRail9 {
top: 28.5%;
left: 32.3%;
}
#stn11Name {
left: 42.7%;
}
#northernRail10 {
top: 28.5%;
left: 42.3%;
}
#stn12Name {
left: 52.4%;
}
#transpenine2 {
top: 28.5%;
left: 52.3%;
}
#virginTrains3 {
top: 34.5%;
left: 52.3%;
}
#stn13Name {
left: 63.6%;
}
#stn14Name {
left: 74.7%;
}
#crosscountry2 {
top: 28.5%;
left: 72.3%;
}
#northernRail11 {
top: 31.5%;
left: 72.3%;
}
#transpenine3 {
top: 34.5%;
left: 72.3%;
}
#virginTrains4 {
top: 40.5%;
left: 72.3%;
}
#interchange13 {
top: 49.8%;
}
#stn15Name {
top: 41%;
left: 89.3%;
}
#greatNorthern1 {
top: 54.5%;
left: 88.8%;
}
#hullTrains2 {
top: 60.5%;
left: 88.8%;
}
#londonUnderground1 {
top: 63.5%;
left: 88.3%;
}
#virginTrains5 {
top: 72.5%;
left: 88.8%;
}
}
@media only screen and (max-width: 1440px) {
#stn1Name {
left: 1.9%;
}
#stn2Name {
left: 13.8%;
}
#stn3Name {
left: 23.9%;
}
#stn4Name {
left: 32.8%;
}
#stn5Name {
left: 43.7%;
}
#stn6Name {
left: 52.9%;
}
#stn7Name {
left: 62.8%;
}
#stn8Name {
left: 72.8%;
}
#stn9Name {
left: 22%;
}
#stn10Name {
left: 32.7%;
}
#stn11Name {
left: 42.5%;
}
#stn12Name {
left: 52%;
}
#stn13Name {
left: 63.5%;
}
#stn14Name {
left: 74.6%;
}
#stn15Name {
left: 89%;
}
}
@media only screen and (max-width: 1366px) {
.bradfordRouteStnsOneLine {
top: 67%;
}
.bradfordRouteStnsTwoLines {
top: 64%;
}
.sunderlandRouteStnsOneLine {
top: 17%;
}
#stn1Name {
left: 1.7%;
}
#stn2Name {
left: 13.7%;
}
#stn3Name {
left: 23.8%;
}
#stn4Name {
left: 32.7%;
}
#stn5Name {
left: 43.6%;
}
#stn6Name {
left: 52.7%;
}
#stn7Name {
left: 62.6%;
}
#stn9Name {
left: 21.9%;
}
#stn10Name {
left: 32.6%;
}
#stn11Name {
left: 42.3%;
}
#stn12Name {
left: 51.8%;
}
#stn13Name {
left: 63.4%;
}
#stn15Name {
top: 39%;
left: 88.8%;
}
}
@media only screen and (max-width: 1280px) {
#stn1Name {
left: 1.5%;
}
#stn2Name {
left: 13.6%;
}
#stn3Name {
left: 23.7%;
}
#stn4Name {
left: 32.5%;
}
#stn5Name {
left: 43.4%;
}
#stn6Name {
left: 52.4%;
}
#stn7Name {
left: 62.3%;
}
#stn8Name {
left: 72.5%;
}
#stn9Name {
left: 21.7%;
}
#stn10Name {
left: 32.4%;
}
#stn11Name {
left: 42.1%;
}
#stn12Name {
left: 51.5%;
}
#stn13Name {
left: 63.3%;
}
#stn14Name {
left: 74.5%;
}
#stn15Name {
top: 39.5%;
left: 88.6%;
}
}
@media only screen and (max-width: 1152px) {
.bradfordRouteStnsTopPosition {
top: 74.2%;
}
.bradfordRouteStnsOneLine {
top: 69%;
}
.bradfordRouteStnsTwoLines {
top: 66%;
}
.sunderlandRouteStnsTopPosition {
top: 24.2%;
}
.sunderlandRouteStnsOneLine {
top: 19%;
}
#northernRail1 {
top: 77.5%;
left: 1.5%;
}
#stn3Name {
left: 23.5%;
}
#northernRail2 {
top: 77.5%;
left: 22%;
}
#northernRail3 {
top: 77.5%;
left: 32%;
}
#northernRail4 {
top: 77.5%;
left: 42%;
}
#northernRail5 {
top: 77.5%;
left: 52%;
}
#northernRail6 {
top: 77.5%;
left: 62%;
}
#stn8Name {
left: 72.4%;
}
#crosscountry1 {
top: 77.5%;
left: 72%;
}
#hullTrains1 {
top: 80.5%;
left: 72%;
}
#northernRail7 {
top: 83.5%;
left: 72%;
}
#transpenine1 {
top: 86.5%;
left: 72%;
}
#virginTrains1 {
top: 92.5%;
left: 72%;
}
#stn9Name {
left: 21.6%;
}
#northernRail8 {
top: 27.5%;
left: 21.5%;
}
#tyneAndWearMetro1 {
top: 30.5%;
left: 21.5%;
}
#virginTrains2 {
top: 36.5%;
left: 21.5%;
}
#northernRail9 {
top: 27.5%;
left: 32%;
}
#northernRail10 {
top: 27.5%;
left: 42%;
}
#transpenine2 {
top: 27.5%;
left: 52%;
}
#virginTrains3 {
top: 33.4%;
left: 52%;
}
#stn14Name {
left: 74.3%;
}
#crosscountry2 {
top: 27.5%;
left: 72%;
}
#northernRail11 {
top: 30.5%;
left: 72%;
}
#transpenine3 {
top: 33.5%;
left: 72%;
}
#virginTrains4 {
top: 39.5%;
left: 72%;
}
#interchange13 {
top: 50.2%;
}
#stn15Name {
top: 42%;
}
#greatNorthern1 {
top: 53.5%;
left: 88.5%;
}
#hullTrains2 {
top: 59.5%;
left: 88.5%;
}
#londonUnderground1 {
top: 62.5%;
left: 88%;
}
#virginTrains5 {
top: 71.5%;
left: 88.5%;
}
}
@media only screen and (max-width: 1024px) {
.bradfordRouteStnsOneLine {
top: 68%;
}
.bradfordRouteStnsTwoLines {
top: 65%;
}
.sunderlandRouteStnsOneLine {
top: 18%;
}
#stn1Name {
left: 1.1%;
}
#stn2Name {
left: 13.3%;
}
#stn3Name {
left: 23.3%;
}
#stn4Name {
left: 32.1%;
}
#stn5Name {
left: 43.1%;
}
#stn6Name {
left: 52.1%;
}
#stn7Name {
left: 62%;
}
#stn8Name {
left: 72.2%;
}
#stn9Name {
left: 21.2%;
}
#stn10Name {
left: 32.1%;
}
#stn11Name {
left: 41.8%;
}
#stn12Name {
left: 51.1%;
}
#stn13Name {
left: 63.1%;
}
#stn14Name {
left: 74.1%;
}
#stn15Name {
left: 88.1%;
}
}
@media only screen and (max-width: 800px) {
.sunderlandRouteStnsTopPosition {
top: 34.2%;
}
.sunderlandRouteStnsOneLine {
top: 28%;
}
#stn1Name {
left: 0.9%;
}
#stn4Name {
left: 31.9%;
}
#stn8Name {
left: 72.2%;
}
#stn9Name {
left: 21%;
}
#northernRail8 {
top: 37.5%;
}
#tyneAndWearMetro1 {
top: 40.5%;
}
#virginTrains2 {
top: 46.5%;
}
#stn10Name {
left: 31.9%;
}
#northernRail9 {
top: 37.5%;
}
#stn11Name {
left: 41.6%;
}
#northernRail10 {
top: 37.5%;
}
#stn12Name {
left: 51%;
}
#transpenine2 {
top: 37.5%;
}
#virginTrains3 {
top: 43.4%;
}
#stn13Name {
left: 62.9%;
}
#crosscountry2 {
top: 37.5%;
}
#northernRail11 {
top: 40.5%;
}
#transpenine3 {
top: 43.5%;
}
#virginTrains4 {
top: 49.5%;
}
}