.heading {
background-color: silver;
color: black;
}
.stationLinks {
background-color: silver;
color: black;
}
#jubileeLineStation1 {
top: 29%;
left: 20%;
}
#jubileeLineStation2 {
top: 29%;
left: 35%;
}
#jubileeLineStation3 {
top: 29%;
left: 50%;
}
#jubileeLineStation4 {
top: 29%;
left: 65%;
}
#jubileeLineStation5 {
top: 35%;
left: 20%;
}
#jubileeLineStation6 {
top: 35%;
left: 35%;
}
#jubileeLineStation7 {
top: 35%;
left: 50%;
}
#jubileeLineStation8 {
top: 35%;
left: 65%;
}
#jubileeLineStation9 {
top: 41%;
left: 20%;
}
#jubileeLineStation10 {
top: 41%;
left: 35%;
}
#jubileeLineStation11 {
top: 41%;
left: 50%;
}
#jubileeLineStation12 {
top: 41%;
left: 65%;
}
#jubileeLineStation13 {
top: 47%;
left: 20%;
}
#jubileeLineStation14 {
top: 47%;
left: 35%;
}
#jubileeLineStation15 {
top: 47%;
left: 50%;
}
#jubileeLineStation16 {
top: 47%;
left: 65%;
}
#jubileeLineStation17 {
top: 53%;
left: 20%;
}
#jubileeLineStation18 {
top: 53%;
left: 35%;
}
#jubileeLineStation19 {
top: 53%;
left: 50%;
}
#jubileeLineStation20 {
top: 53%;
left: 65%;
}
#jubileeLineStation21 {
top: 59%;
left: 20%;
}
#jubileeLineStation22 {
top: 59%;
left: 35%;
}
#jubileeLineStation23 {
top: 59%;
left: 50%;
}
#jubileeLineStation24 {
top: 59%;
left: 65%;
}
#jubileeLineStation25 {
top: 65.05%;
left: 20%;
}
#jubileeLineStation26 {
top: 65.05%;
left: 35%;
}
#jubileeLineStation27 {
top: 65.05%;
left: 50%;
width: 14.95%;
}
#exitLink1 {
top: 81%;
left: 42%;
}