.heading {
background: silver;
color: yellow;
width: 235%;
}
.line {
background: silver;
top: 85%;
left: 6.7%;
width: 119%;
}
.nonInterchange {
background: silver;
}
.mainRouteStnsTopPosition {
top: 83.3%;
}
.mainRouteStnsOneLine {
top: 77%;
}
.mainRouteStnsTwoLines {
top: 74%;
}
.topMainRouteStnsTopPosition {
top: 53.3%;
}
.topMainRouteStnsOneLine {
top: 47%;
}
.topMainRouteStnsTwoLines {
top: 44%;
}
.lineEnd {
background: silver;
}
#lineEnd1 {
top: 83%;
left: 6.7%;
}
#stn1Name {
width: 12%;
left: 1.2%;
}
#interchange1 {
left: 17%;
}
#stn2Name {
left: 15.1%;
}
#dlr1 {
top: 89.5%;
left: 13.9%;
}
#interchange2 {
top: 27.2%;
left: 6.5%;
}
#stn3Name {
width: 12%;
top: 18%;
left: 1.9%; 
}
#crossrail1 {
top: 33.5%;
left: 3.4%;
}
#greaterAnglia1 {
top: 42.8%;
left: 3.9%;
}
#londonOverground1 {
top: 49%;
left: 3.4%;
}
#londonUnderground1 {
top: 58%;
left: 3.4%;
}
#interchange3 {
top: 27.2%;
left: 35%;
}
#stn4Name {
top: 21%;
left: 33.8%;
}
#crossrail2 {
top: 33.5%;
left: 31.9%;
}
#dlr2 {
top: 42.5%;
left: 31.9%;
}
#greaterAnglia2 {
top: 51.8%;
left: 32.4%;
}
#londonOverground2 {
top: 58%;
left: 31.9%;
}
#londonUnderground2 {
top: 67%;
left: 31.9%;
}
#interchange4 {
left: 35%;
}
#stn5Name {
left: 34.9%;
}
#dlr3 {
top: 89.5%;
left: 31.9%;
}
#londonUnderground3 {
top: 98.5%;
left: 31.9%;
}
#interchange5 {
left: 57%;
}
#stn6Name {
left: 56.1%;
}
#londonOverground3 {
top: 89.5%;
left: 53.9%;
}
#londonUnderground4 {
top: 98.5%;
left: 53.9%;
}
#nonInterchange1 {
left: 71%;
}
#stn7Name {
left: 68.2%;
}
#nonInterchange2 {
left: 80%;
}
#stn8Name {
left: 78%;
}
#nonInterchange3 {
left: 88%;
}
#stn9Name {
left: 86.1%;
}
#interchange6 {
left: 85%;
}
#stn10Name {
left: 83.3%;
}
#londonOverground4 {
top: 60%;
left: 81.9%;
}
#londonUnderground5 {
top: 69%;
left: 81.9%;
}
#nonInterchange4 {
left: 105%;
}
#stn11Name {
left: 103.7%;
}
#nonInterchange5 {
left: 115%;
}
#stn12Name {
left: 113.3%;
}
#nonInterchange6 {
left: 125%;
}
#stn13Name {
left: 123.4%;
}
#nonInterchange7 {
left: 110%;
}
#stn14Name {
left: 107.7%;
}
#nonInterchange8 {
left: 120%;
}
#stn15Name {
left: 118.2%;
}
#nonInterchange9 {
left: 130%;
}
#stn16Name {
left: 127.9%;
}
#nonInterchange10 {
left: 150%;
}
#stn17Name {
left: 148.7%;
}
#nonInterchange11 {
left: 160%;
}
#stn18Name {
left: 157.9%;
}
#nonInterchange12 {
left: 170%;
}
#stn19Name {
width: 7%;
left: 167.1%;
}
#nonInterchange13 {
left: 180%;
}
#stn20Name {
left: 177.5%;
}
#nonInterchange14 {
left: 190%;
}
#stn21Name {
left: 187.7%;
}
#nonInterchange15 {
left: 200%;
}
#stn22Name {
left: 197.5%;
}
#nonInterchange16 {
left: 210%;
}
#stn23Name {
left: 207.5%;
}
#nonInterchange17 {
left: 220%;
}
#stn24Name {
left: 218.3%;
}
#lineEnd2 {
top: 53%;
left: 231%;
}
#stn25Name {
left: 227.1%;
}
#exitLink1 {
top: 30%;
left: 55%;
}
#exitLink2 {
top: 70%;
left: 175%;
}