.lineCurve {
position: absolute;
border: 1.2em solid silver;
-webkit-box-sizing: 50%;
-moz-box-sizing: 50%;
-khtml-border-radius: 50%;
overflow: hidden;
}
#lineCurve1 {
width: 10%;
height: 39%; /* as the half of the width */
border-bottom-right-radius: 100px;
border-top: 0;
border-left: 0;
top: 46%;
left: 17%;
}
#lineCurve2 {
width: 10%;
height: 28.5%; /* as the half of the width */
border-top-left-radius: 100px;
border-right: 0;
border-bottom: 0;
top: 29%;
left: 27%;
}
#lineCurve3 {
width: 40%;
height: 29.5%; /* as the half of the width */
border-top-right-radius: 100px;
border-left: 0;
border-bottom: 0;
top: 29%;
left: 6.7%;
}
#lineCurve4 {
width: 10%;
height: 26.4%; /* as the half of the width */
border-bottom-left-radius: 100px;
border-top: 0;
border-right: 0;
top: 58.5%;
left: 46.7%;
}
#lineCurve5 {
width: 11%;
height: 10%; /* as the half of the width */
border-bottom-right-radius: 100px;
border-left: 0;
border-top: 0;
top: 75%;
left: 54%;
}
#lineCurve6 {
width: 166%;
height: 19%; /* as the half of the width */
border-top-left-radius: 100px;
border-bottom: 0;
border-right: 0;
top: 55%;
left: 65%;
}
#lineCurve7 {
width: 8.5%;
height: 10%; /* as the half of the width */
border-bottom-right-radius: 100px;
border-left: 0;
border-top: 0;
top: 75%;
left: 88.5%;
}
#lineCurve8 {
width: 35%;
height: 19.5%; /* as the half of the width */
border-top-left-radius: 100px;
border-bottom: 0;
border-right: 0;
top: 55%;
left: 97%;
}
#lineCurve9 {
width: 17%;
height: 10%; /* as the half of the width */
border-bottom-right-radius: 100px;
border-top: 0;
border-left: 0;
top: 75%;
left: 125%;
}
#lineCurve10 {
width: 10%;
height: 20%; /* as the half of the width */
border-top-left-radius: 100px;
border-right: 0;
border-bottom: 0;
top: 55%;
left: 142%;
}