@media only screen and (max-width: 1680px) {
#lineCurve5 {
height: 9.9%; /* as the half of the width */
}
#lineCurve7 {
height: 9.9%; /* as the half of the width */
}
#lineCurve9 {
width: 16.95%;
height: 9.9%; /* as the half of the width */
}
}
@media only screen and (max-width: 1600px) {
.lineCurve {
border: 0.75em solid silver;
}
#lineCurve9 {
width: 17%;
height: 9.9%; /* as the half of the width */
}
#lineCurve10 {
height: 18.5%; /* as the half of the width */
}
}
@media only screen and (max-width: 1440px) {
#lineCurve5 {
border-bottom-right-radius: 50px;
}
#lineCurve10 {
border-top-left-radius: 50px;
}
}
@media only screen and (max-width: 1366px) {
#lineCurve1 {
height: 38.7%; /* as the half of the width */
border-bottom-right-radius: 50px;
}
#lineCurve2 {
border-top-left-radius: 50px;
}
#lineCurve4 {
height: 26.2%; /* as the half of the width */
border-bottom-left-radius: 50px;
}
#lineCurve5 {
width: 7%;
height: 9.7%; /* as the half of the width */
left: 58%;
}
#lineCurve7 {
height: 9.7%; /* as the half of the width */
border-bottom-right-radius: 50px;
}
#lineCurve9 {
height: 9.7%; /* as the half of the width */
}
}
@media only screen and (max-width: 1280px) {
#lineCurve1 {
width: 9%;
left: 18%;
}
#lineCurve9 {
height: 9.8%; /* as the half of the width */
}
}
@media only screen and (max-width: 1152px) {
.lineCurve {
border: 0.5em solid silver;
}
#lineCurve1 {
height: 38.9%; /* as the half of the width */
}
#lineCurve3 {
border-top-right-radius: 50px;
}
#lineCurve4 {
height: 26.4%; /* as the half of the width */
}
#lineCurve5 {
height: 9.9%; /* as the half of the width */
}
#lineCurve7 {
height: 9.9%; /* as the half of the width */
}
#lineCurve8 {
border-top-left-radius: 50px;
}
#lineCurve9 {
top: 74.5%;
height: 10.4%; /* as the half of the width */
}
}
@media only screen and (max-width: 1024px) {
#lineCurve1 {
height: 38.8%; /* as the half of the width */
}
#lineCurve4 {
height: 26.3%; /* as the half of the width */
}
#lineCurve5 {
height: 9.8%; /* as the half of the width */
}
#lineCurve7 {
height: 9.8%; /* as the half of the width */
}
#lineCurve9 {
height: 10.3%; /* as the half of the width */
}
}
@media only screen and (max-width: 800px) {
#lineCurve2 {
top: 32%;
}
#lineCurve3 {
height: 26.5%; /* as the half of the width */
top: 32%;
}
#lineCurve6 {
border-top-left-radius: 50px;
}
#lineCurve7 {
height: 9.9%; /* as the half of the width */
}
#lineCurve9 {
height: 10.4%; /* as the half of the width */
}
}