@media only screen and (max-width: 1680px) {
#stn2Name {
left: 14.7%;
}
#stn4Name {
left: 33.4%;
}
#stn5Name {
left: 34.7%;
}
#stn6Name {
left: 55.8%;
}
#stn7Name {
left: 67.8%;
}
#stn8Name {
left: 77.7%;
}
#stn9Name {
left: 85.8%;
}
#stn10Name {
left: 82.9%;
}
#stn12Name {
left: 113.1%;
}
#stn13Name {
left: 123.2%;
}
#stn14Name {
left: 107.5%;
}
#stn15Name {
left: 117.9%;
}
#stn16Name {
left: 127.7%;
}
#stn17Name {
left: 148.6%;
}
#stn18Name {
left: 157.6%;
}
#stn20Name {
left: 177.1%;
}
#stn21Name {
left: 187.4%;
}
#stn22Name {
left: 197.1%;
}
#stn23Name {
left: 207.1%;
}
#stn24Name {
left: 218.1%;
}
#lineEnd2 {
left: 231.5%;
}
#stn25Name {
left: 226.9%;
}
}
@media only screen and (max-width: 1600px) {
.mainRouteStnsTopPosition {
top: 83.8%;
}
.mainRouteStnsOneLine {
top: 77.5%;
}
.mainRouteStnsTwoLines {
top: 74.5%;
}
.topMainRouteStnsTopPosition {
top: 53.8%;
}
.topMainRouteStnsOneLine {
top: 47.5%;
}
.topMainRouteStnsTwoLines {
top: 44.5%;
}
#lineEnd1 {
top: 83.5%;
}
#dlr1 {
top: 88.5%;
left: 13.8%;
}
#interchange2 {
top: 27.7%;
}
#stn3Name {
top: 18.5%;
left: 1.6%; 
}
#crossrail1 {
top: 32.5%;
left: 3.3%;
}
#greaterAnglia1 {
top: 41.8%;
left: 3.8%;
}
#londonOverground1 {
top: 48%;
left: 3.3%;
}
#londonUnderground1 {
top: 57%;
left: 3.3%;
}
#interchange3 {
top: 27.7%;
}
#stn4Name {
top: 21.5%;
left: 33.6%;
}
#crossrail2 {
top: 32.5%;
left: 31.8%;
}
#dlr2 {
top: 41.5%;
left: 31.8%;
}
#greaterAnglia2 {
top: 50.8%;
left: 32.3%;
}
#londonOverground2 {
top: 57%;
left: 31.8%;
}
#londonUnderground2 {
top: 66%;
left: 31.8%;
}
#stn5Name {
left: 34.6%;
}
#dlr3 {
top: 88.5%;
left: 31.8%;
}
#londonUnderground3 {
top: 97.5%;
left: 31.8%;
}
#londonOverground3 {
top: 88.5%;
left: 53.8%;
}
#londonUnderground4 {
top: 97.5%;
left: 53.8%;
}
#stn7Name {
left: 68.2%;
}
#stn8Name {
left: 78%;
}
#stn9Name {
left: 86.1%;
}
#londonOverground4 {
top: 58.5%;
left: 81.8%;
}
#londonUnderground5 {
top: 67.5%;
left: 81.8%;
}
#stn11Name {
left: 103.8%;
}
#stn12Name {
left: 113.4%;
}
#stn13Name {
left: 123.4%;
}
#stn14Name {
left: 107.7%;
}
#stn15Name {
left: 118.2%;
}
#stn16Name {
left: 128%;
}
#stn17Name {
left: 148.8%;
}
#stn18Name {
left: 157.9%;
}
#stn20Name {
left: 177.5%;
}
#stn21Name {
left: 187.7%;
}
#stn22Name {
left: 197.5%;
}
#stn23Name {
left: 207.5%;
}
#stn24Name {
left: 218.3%;
}
#lineEnd2 {
top: 53.4%;
}
#stn25Name {
left: 227.5%;
}
}
@media only screen and (max-width: 1440px) {
#stn1Name {
left: 1.1%;
}
#stn2Name {
left: 14.6%;
}
#stn4Name {
left: 33.3%;
}
#stn5Name {
left: 34.5%;
}
#stn6Name {
left: 55.6%;
}
#stn7Name {
left: 68%;
}
#stn8Name {
left: 77.8%;
}
#stn9Name {
left: 85.9%;
}
#stn10Name {
left: 82.7%;
}
#stn11Name {
left: 103.7%;
}
#stn12Name {
left: 113.2%;
}
#stn13Name {
left: 123.2%;
}
#stn14Name {
left: 107.6%;
}
#stn15Name {
left: 118%;
}
#stn16Name {
left: 127.8%;
}
#stn17Name {
left: 148.5%;
}
#stn18Name {
left: 157.6%;
}
#stn20Name {
left: 177.3%;
}
#stn21Name {
left: 187.5%;
}
#stn22Name {
left: 197.3%;
}
#stn23Name {
left: 207.3%;
}
#stn24Name {
left: 218.1%;
}
#stn25Name {
left: 227.2%;
}
}
@media only screen and (max-width: 1366px) {
.mainRouteStnsOneLine {
top: 76.3%;
}
.mainRouteStnsTwoLines {
top: 73%;
}
.topMainRouteStnsOneLine {
top: 46%;
}
.topMainRouteStnsTwoLines {
top: 43%;
}
#stn2Name {
left: 14.4%;
}
#stn3Name {
top: 17.5%;
}
#stn4Name {
top: 20.5%;
left: 33.3%;
}
#stn5Name {
left: 34.3%;
}
#stn6Name {
left: 55.5%;
}
#stn7Name {
left: 67.8%;
}
#stn8Name {
left: 77.6%;
}
#stn9Name {
left: 85.8%;
}
#stn10Name {
left: 82.5%;
}
#stn11Name {
left: 103.6%;
}
#stn12Name {
left: 113%;
}
#stn13Name {
left: 123%;
}
#stn14Name {
left: 107.5%;
}
#stn15Name {
left: 117.9%;
}
#stn16Name {
left: 127.7%;
}
#stn18Name {
left: 157.5%;
}
#stn20Name {
left: 177.2%;
}
#stn21Name {
left: 187.3%;
}
#stn22Name {
left: 197.1%;
}
#stn23Name {
left: 207.1%;
}
#stn24Name {
left: 218%;
}
#lineEnd2 {
top: 53.6%;
}
#stn25Name {
left: 227.1%;
}
}
@media only screen and (max-width: 1280px) {
.mainRouteStnsOneLine {
top: 76.8%;
}
.mainRouteStnsTwoLines {
top: 73.5%;
}
.topMainRouteStnsOneLine {
top: 46.5%;
}
.topMainRouteStnsTwoLines {
top: 43.5%;
}
#stn1Name {
left: 0.7%;
width: 13%;
}
#stn2Name {
left: 14.2%;
}
#stn4Name {
left: 33%;
}
#stn6Name {
left: 55.4%;
}
#stn7Name {
left: 67.5%;
}
#stn8Name {
left: 77.5%;
}
#stn9Name {
left: 85.6%;
}
#stn10Name {
left: 82.3%;
}
#stn11Name {
left: 103.5%;
}
#stn12Name {
left: 112.8%;
}
#stn13Name {
left: 122.8%;
}
#stn14Name {
left: 107.4%;
}
#stn15Name {
left: 117.7%;
}
#stn16Name {
left: 127.4%;
}
#stn17Name {
left: 148.4%;
}
#stn18Name {
left: 157.3%;
}
#stn19Name {
left: 166.9%;
}
#stn20Name {
left: 177%;
}
#stn21Name {
left: 187.1%;
}
#stn22Name {
left: 196.9%;
}
#stn23Name {
left: 206.9%;
}
#stn24Name {
left: 217.8%;
}
#stn25Name {
left: 226.8%;
}
}
@media only screen and (max-width: 1152px) {
.mainRouteStnsTopPosition {
top: 84.2%;
}
.mainRouteStnsOneLine {
top: 78.7%;
}
.mainRouteStnsTwoLines {
top: 76%;
}
.topMainRouteStnsTopPosition {
top: 54.2%;
}
.topMainRouteStnsOneLine {
top: 49%;
}
.topMainRouteStnsTwoLines {
top: 46%;
}
#lineEnd1 {
top: 83.9%;
}
#stn1Name {
left: 0.6%;
}
#dlr1 {
top: 87.5%;
left: 13.5%;
}
#interchange2 {
top: 28.1%;
}
#stn3Name {
top: 20%;
left: 1.3%;
}
#crossrail1 {
top: 31.5%;
left: 3%;
}
#greaterAnglia1 {
top: 40.8%;
left: 3.5%;
}
#londonOverground1 {
top: 47%;
left: 3%;
}
#londonUnderground1 {
top: 56%;
left: 3%;
}
#interchange3 {
top: 28.1%;
}
#stn4Name {
top: 23%;
}
#crossrail2 {
top: 31.5%;
left: 31.5%;
}
#dlr2 {
top: 40.5%;
left: 31.5%;
}
#greaterAnglia2 {
top: 49.8%;
left: 32%;
}
#londonOverground2 {
top: 56%;
left: 31.5%;
}
#londonUnderground2 {
top: 65%;
left: 31.5%;
}
#stn5Name {
left: 34.1%;
}
#dlr3 {
top: 87.5%;
left: 31.5%;
}
#londonUnderground3 {
top: 96.5%;
left: 31.5%;
}
#stn6Name {
left: 55.3%;
}
#londonOverground3 {
top: 87.5%;
left: 53.5%;
}
#londonUnderground4 {
top: 96.5%;
left: 53.5%;
}
#londonOverground4 {
top: 57.5%;
left: 81.5%;
}
#londonUnderground5 {
top: 66.5%;
left: 81.5%;
}
#stn12Name {
left: 112.9%;
}
#stn13Name {
left: 122.9%;
}
#stn16Name {
left: 127.5%;
}
#lineEnd2 {
top: 54.1%;
}
}
@media only screen and (max-width: 1024px) {
.mainRouteStnsOneLine {
top: 78%;
}
.mainRouteStnsTwoLines {
top: 75%;
}
.topMainRouteStnsOneLine {
top: 48%;
}
.topMainRouteStnsTwoLines {
top: 45%;
}
#stn1Name {
top: 72%;
left: 1%;
width: 12%;
}
#stn2Name {
left: 13.8%;
}
#stn3Name {
top: 19%;
}
#stn4Name {
top: 22%;
left: 32.8%;
}
#stn5Name {
left: 33.9%;
}
#stn6Name {
left: 55%;
}
#stn7Name {
left: 67.3%;
}
#stn8Name {
left: 77.3%;
}
#stn9Name {
left: 85.3%;
}
#stn10Name {
left: 81.9%;
}
#stn11Name {
left: 103.3%;
}
#stn12Name {
left: 112.7%;
}
#stn13Name {
left: 122.7%;
}
#stn14Name {
left: 107.2%;
}
#stn15Name {
left: 117.5%;
}
#stn16Name {
left: 127.2%;
}
#stn17Name {
left: 148.2%;
}
#stn18Name {
left: 157%;
}
#stn20Name {
left: 176.7%;
}
#stn21Name {
left: 186.8%;
}
#stn22Name {
left: 196.6%;
}
#stn23Name {
left: 206.6%;
}
#stn24Name {
left: 217.5%;
}
#stn25Name {
left: 226.3%;
}
}
@media only screen and (max-width: 800px) {
.line {
height: 0.5em;
}
#lineEnd1 {
top: 84.2%;
}
#stn1Name {
left: 0.7%;
}
#stn2Name {
left: 13.6%;
}
#dlr1 {
top: 88.5%;
}
#interchange2 {
top: 31.4%;
}
#stn3Name {
top: 21.5%;
left: 0.5%; 
width: 14%;
}
#crossrail1 {
top: 35%;
}
#greaterAnglia1 {
top: 45.3%;
}
#londonOverground1 {
top: 51.5%;
}
#londonUnderground1 {
top: 60.5%;
}
#interchange3 {
top: 31.4%;
}
#stn4Name {
top: 24.5%;
left: 32.6%;
}
#crossrail2 {
top: 35%;
}
#dlr2 {
top: 44%;
}
#greaterAnglia2 {
top: 53.3%;
}
#londonOverground2 {
top: 59.5%;
}
#londonUnderground2 {
top: 68.5%;
}
#dlr3 {
top: 88.5%;
}
#londonUnderground3 {
top: 97.5%;
}
#londonOverground3 {
top: 88.5%;
}
#londonUnderground4 {
top: 97.5%;
}
#stn7Name {
left: 67.1%;
}
#stn8Name {
left: 77.1%;
}
#stn9Name {
left: 85.2%;
}
#londonOverground4 {
top: 58%;
}
#londonUnderground5 {
top: 67%;
}
#stn11Name {
left: 103.1%;
}
#stn12Name {
left: 112.5%;
}
#stn13Name {
left: 122.5%;
}
#stn14Name {
left: 107%;
}
#stn15Name {
left: 117.4%;
}
#stn16Name {
left: 127.1%;
}
#stn17Name {
left: 148.1%;
}
#stn18Name {
left: 156.9%;
}
#stn20Name {
left: 176.6%;
}
#stn22Name {
left: 196.4%;
}
#stn23Name {
left: 206.4%;
}
#lineEnd2 {
top: 54.2%;
}
}