@media only screen and (max-width: 1680px) {
#nrLogo1 {
left: 4.6%;
}
#stn1Name {
left: 2.3%;
}
#stn2Name {
left: 1.8%;
}
#nrLogo2 {
left: 25.1%;
}
#stn3Name {
left: 23.1%;
}
#stn4Name {
left: 31%;
}
#nrLogo3 {
left: 45.1%;
}
#stn5Name {
left: 41.4%;
}
#nonInterchange2 {
left: 55.8%;
}
#stn6Name {
top: 31.8%;
}
#stn7Name {
top: 21.6%;
}
#stn8Name {
left: 63.7%;
}
#stn9Name {
left: 71.7%;
}
#stn10Name {
left: 81.7%;
}
#stn11Name {
left: 93.4%;
}
#stn12Name {
left: 103.1%;
}
#stn13Name {
left: 103.1%;
}
#stn14Name {
left: 93.8%;
}
#stn15Name {
left: 82.7%;
}
#stn16Name {
left: 73.4%;
}
#stn17Name {
left: 63.4%;
}
#stn18Name {
left: 52.3%;
}
#stn19Name {
left: 42.2%;
}
#stn20Name {
left: 32.8%;
}
#nrLogo4 {
left: 125.1%;
}
#stn21Name {
left: 122.2%;
}
#stn22Name {
left: 132.1%;
}
#stn23Name {
left: 142.9%;
}
#stn24Name {
left: 153.3%;
}
#stn25Name {
left: 163.6%;
}
#stn26Name {
left: 174.4%;
}
#stn27Name {
left: 182.6%;
}
#nrLogo5 {
left: 195.1%;
}
#stn28Name {
left: 194%;
}
#nrLogo6 {
left: 205.1%;
}
#nrLogo7 {
left: 215.1%;
}
#stn30Name {
left: 212.9%;
}
#stn31Name {
left: 222.6%;
}
#nrLogo8 {
left: 235.1%;
}
#stn32Name {
left: 233.2%;
}
#nrLogo9 {
left: 245.1%;
}
#stn33Name {
left: 243.3%;
}
#stn34Name {
left: 253.7%;
}
}
@media only screen and (max-width: 1600px) {
.amershamBranchStnsTopPosition {
top: 48.8%;
}
.amershamBranchStnsOneLine {
top: 43%;
}
.amershamBranchStnsTwoLines {
top: 40%;
}
.uxbridgeBranchStnsTopPosition {
top: 88.8%;
}
.uxbridgeBranchStnsOneLine {
top: 83%;
}
.uxbridgeBranchStnsTwoLines {
top: 80%;
}
.harrowToAldgateRouteStnsTopPosition {
top: 68.8%;
}
.harrowToAldgateRouteStnsOneLine {
top: 63%;
}
.harrowToAldgateRouteStnsTwoLines {
top: 60%;
}
.harrowToAldateRouteNrLogo {
top: 56%;
}
#nrLogo1 {
top: 36%;
left: 4.1%;
}
#stn1Name {
left: 2.5%;
}
#lineEnd1 {
top: 28.5%;
}
#stn2Name {
top: 23%;
left: 2.2%;
}
#nrLogo2 {
left: 24.6%;
}
#stn3Name {
left: 23.2%;
}
#stn4Name {
left: 31.5%;
}
#nrLogo3 {
left: 44.6%;
}
#stn5Name {
left: 41.7%;
}
#nonInterchange2 {
left: 55.6%;
}
#lineEnd2 {
left: 53.8%;
}
#stn8Name {
left: 63.9%;
}
#stn9Name {
left: 72.1%;
}
#stn10Name {
left: 82.2%;
}
#stn11Name {
left: 93.6%;
}
#stn12Name {
left: 103.3%;
}
#stn13Name {
left: 103.3%;
}
#piccadilly1 {
top: 94%;
left: 92.3%;
}
#stn15Name {
left: 82.9%;
}
#stn16Name {
left: 73.5%;
}
#stn17Name {
left: 63.5%;
}
#stn18Name {
left: 52.6%;
}
#stn19Name {
left: 42.5%;
}
#stn20Name {
left: 33%;
}
#piccadilly2 {
top: 94%;
left: 31.8%;
}
#nrLogo4 {
left: 124.6%;
}
#stn21Name {
left: 122%;
}
#stn22Name {
left: 132.5%;
}
#stn23Name {
left: 143.2%;
}
#jubilee1 {
top: 74%;
left: 152.3%;
}
#jubilee2 {
top: 74%;
left: 162.3%;
}
#stn26Name {
left: 174.3%;
}
#bakerloo1 {
top: 74%;
left: 172.3%;
}
#circle1 {
top: 77%;
left: 172.3%;
}
#hsmith1 {
top: 80%;
left: 172.3%;
}
#jubilee3 {
top: 86%;
left: 172.3%;
}
#stn27Name {
top: 57%;
left: 182.9%;
}
#nrLogo5 {
left: 194.6%;
}
#nrLogo6 {
left: 204.6%;
}
#stn29Name {
left: 201%;
}
#northern1 {
top: 74%;
left: 202.3%;
}
#piccadilly3 {
top: 77%;
left: 202.3%;
}
#victoria1 {
top: 80%;
left: 202.3%;
}
#nrLogo7 {
left: 214.6%;
}
#stn30Name {
left: 213%;
}
#crossrail1 {
top: 74%;
left: 211.8%;
}
#stn31Name {
left: 222.8%;
}
#nrLogo8 {
left: 234.6%;
}
#northern2 {
top: 74%;
left: 232.3%;
}
#nrLogo9 {
left: 244.6%;
}
#central1 {
top: 74%;
left: 242.3%;
}
#crossrail2 {
top: 77%;
left: 241.8%;
}
#hsmith2 {
top: 86%;
left: 242.3%;
}
#circle2 {
top: 74%;
left: 252.3%;
}
}
@media only screen and (max-width: 1440px) {
#nrLogo1 {
left: 4%;
}
#stn1Name {
left: 2.2%;
}
#stn2Name {
left: 1.9%;
}
#nrLogo2 {
left: 24.5%;
}
#stn3Name {
left: 23%;
}
#stn4Name {
left: 31.2%;
}
#nrLogo3 {
left: 44.5%;
}
#stn5Name {
left: 41.3%;
}
#nonInterchange2 {
left: 55.7%;
}
#stn8Name {
left: 63.8%;
}
#stn9Name {
left: 71.9%;
}
#stn10Name {
left: 82%;
}
#stn11Name {
left: 93.5%;
}
#stn12Name {
left: 103.2%;
}
#stn13Name {
left: 103.2%;
}
#stn14Name {
left: 93.6%;
}
#stn15Name {
left: 82.7%;
}
#stn16Name {
left: 73.4%;
}
#stn17Name {
left: 63.4%;
}
#stn18Name {
left: 52.4%;
}
#stn19Name {
left: 42.3%;
}
#stn20Name {
left: 32.7%;
}
#nrLogo4 {
left: 124.5%;
}
#stn22Name {
left: 132.3%;
}
#stn23Name {
left: 143%;
}
#stn24Name {
left: 153.1%;
}
#stn25Name {
left: 163.4%;
}
#stn26Name {
left: 174.2%;
}
#stn27Name {
left: 182.7%;
}
#nrLogo5 {
left: 194.5%;
}
#stn28Name {
left: 193.8%;
}
#nrLogo6 {
left: 204.5%;
}
#nrLogo7 {
left: 214.5%;
}
#stn30Name {
left: 212.8%;
}
#stn31Name {
left: 222.6%;
}
#nrLogo8 {
left: 234.5%;
}
#stn32Name {
left: 233%;
}
#nrLogo9 {
left: 244.5%;
}
#stn33Name {
left: 243.1%;
}
#stn34Name {
left: 253.5%;
}
}
@media only screen and (max-width: 1366px) {
.amershamBranchStnsOneLine {
top: 41%;
}
.amershamBranchStnsTwoLines {
top: 38%;
}
.uxbridgeBranchStnsOneLine {
top: 81%;
}
.uxbridgeBranchStnsTwoLines {
top: 78%;
}
.harrowToAldgateRouteStnsOneLine {
top: 61%;
}
.harrowToAldgateRouteStnsTwoLines {
top: 58%;
}
.harrowToAldateRouteNrLogo {
top: 54%;
}
#nrLogo1 {
left: 3.9%;
}
#stn1Name {
left: 2.1%;
}
#stn2Name {
top: 21%;
left: 1.8%;
}
#nrLogo2 {
left: 24.4%;
}
#stn3Name {
left: 22.9%;
}
#stn4Name {
left: 31%;
}
#nrLogo3 {
left: 44.4%;
}
#stn5Name {
left: 41.1%;
}
#stn6Name {
top: 31%;
}
#lineEnd2 {
left: 53.9%;
}
#stn7Name {
top: 20.8%;
}
#stn8Name {
left: 63.7%;
}
#stn9Name {
left: 71.7%;
}
#stn10Name {
left: 81.8%;
}
#stn11Name {
left: 93.4%;
}
#stn12Name {
left: 103.1%;
}
#stn13Name {
left: 103.1%;
}
#stn14Name {
left: 93.5%;
}
#stn15Name {
left: 82.6%;
}
#stn16Name {
left: 73.3%;
}
#stn17Name {
left: 63.3%;
}
#stn18Name {
left: 52.3%;
}
#stn20Name {
left: 32.6%;
}
#nrLogo4 {
left: 124.4%;
}
#stn21Name {
left: 122.1%;
}
#stn22Name {
left: 132.1%;
}
#stn23Name {
left: 142.9%;
}
#stn24Name {
left: 153%;
}
#stn25Name {
left: 163.3%;
}
#stn26Name {
left: 174.1%;
}
#stn27Name {
top: 55%;
left: 182.5%;
}
#nrLogo5 {
left: 194.4%;
}
#nrLogo6 {
left: 204.4%;
}
#nrLogo7 {
left: 214.4%;
}
#stn30Name {
left: 212.6%;
}
#stn31Name {
left: 222.4%;
}
#nrLogo8 {
left: 234.4%;
}
#stn32Name {
left: 232.8%;
}
#nrLogo9 {
left: 244.4%;
}
#stn33Name {
left: 242.9%;
}
#stn34Name {
left: 253.4%;
}
}
@media only screen and (max-width: 1280px) {
#nrLogo1 {
left: 3.8%;
}
#stn1Name {
left: 1.9%;
}
#stn2Name {
left: 1.6%;
}
#nrLogo2 {
left: 24.3%;
}
#stn3Name {
left: 22.6%;
}
#stn4Name {
left: 30.7%;
}
#nrLogo3 {
left: 44.3%;
}
#stn5Name {
left: 40.8%;
}
#stn6Name {
top: 31.1%;
}
#stn7Name {
top: 20.9%;
}
#stn8Name {
left: 63.6%;
}
#stn9Name {
left: 71.6%;
}
#stn10Name {
left: 81.7%;
}
#stn11Name {
left: 93.3%;
}
#stn12Name {
left: 102.9%;
}
#stn13Name {
left: 102.9%;
}
#stn14Name {
left: 93.3%;
}
#stn15Name {
left: 82.4%;
}
#stn16Name {
left: 73.1%;
}
#stn17Name {
left: 63.1%;
}
#stn18Name {
left: 52%;
}
#stn19Name {
left: 42%;
}
#stn20Name {
left: 32.4%;
}
#nrLogo4 {
left: 124.3%;
}
#stn21Name {
left: 121.9%;
}
#stn22Name {
left: 131.9%;
}
#stn23Name {
left: 142.8%;
}
#stn24Name {
left: 152.8%;
}
#stn25Name {
left: 163.2%;
}
#stn26Name {
left: 174%;
}
#stn27Name {
left: 182.4%;
}
#nrLogo5 {
left: 194.3%;
}
#stn28Name {
left: 193.6%;
}
#nrLogo6 {
left: 204.3%;
}
#nrLogo7 {
left: 214.3%;
}
#stn30Name {
left: 212.3%;
}
#stn31Name {
left: 222.3%;
}
#nrLogo8 {
left: 234.3%;
}
#stn32Name {
left: 232.6%;
}
#nrLogo9 {
left: 244.3%;
}
#stn33Name {
left: 242.7%;
}
#stn34Name {
left: 253.3%;
}
}
@media only screen and (max-width: 1152px) {
.amershamBranchStnsTopPosition {
top: 49.2%;
}
.amershamBranchStnsOneLine {
top: 44%;
}
.amershamBranchStnsTwoLines {
top: 41%;
}
.uxbridgeBranchStnsTopPosition {
top: 89.2%;
}
.uxbridgeBranchStnsOneLine {
top: 84%;
}
.uxbridgeBranchStnsTwoLines {
top: 81%;
}
.harrowToAldgateRouteStnsTopPosition {
top: 69.2%;
}
.harrowToAldgateRouteStnsOneLine {
top: 64%;
}
.harrowToAldgateRouteStnsTwoLines {
top: 61%;
}
#nrLogo1 {
left: 3.4%;
}
#stn1Name {
left: 1.8%;
}
#lineEnd1 {
top: 29%;
}
#stn2Name {
top: 23%;
}
#nrLogo2 {
left: 23.9%;
}
#nrLogo3 {
left: 43.9%;
}
#stn6Name {
top: 32%;
}
#lineEnd2 {
left: 54.3%;
}
#stn7Name {
top: 21.8%;
}
#stn11Name {
left: 93.2%;
}
#stn14Name {
left: 93.2%;
}
#piccadilly1 {
top: 93%;
left: 92%;
}
#piccadilly2 {
top: 93%;
left: 31.5%;
}
#nrLogo4 {
left: 123.9%;
}
#stn24Name {
left: 152.7%;
}
#jubilee1 {
top: 73%;
left: 152%;
}
#stn25Name {
left: 163.1%;
}
#jubilee2 {
top: 73%;
left: 162%;
}
#stn26Name {
left: 173.9%;
}
#bakerloo1 {
top: 73%;
left: 172%;
}
#circle1 {
top: 76%;
left: 172%;
}
#hsmith1 {
top: 79%;
left: 172%;
}
#jubilee3 {
top: 85%;
left: 172%;
}
#stn27Name {
top: 58.5%;
left: 182.4%;
}
#nrLogo5 {
left: 193.9%;
}
#stn28Name {
left: 193.4%;
}
#nrLogo6 {
left: 203.9%;
}
#stn29Name {
left: 200.8%;
}
#northern1 {
top: 73%;
left: 202%;
}
#piccadilly3 {
top: 76%;
left: 202%;
}
#victoria1 {
top: 79%;
left: 202%;
}
#nrLogo7 {
left: 213.9%;
}
#crossrail1 {
top: 73%;
left: 211.5%;
}
#nrLogo8 {
left: 233.9%;
}
#northern2 {
top: 73%;
left: 232%;
}
#nrLogo9 {
left: 243.9%;
}
#stn33Name {
left: 242.6%;
}
#central1 {
top: 73%;
left: 242%;
}
#crossrail2 {
top: 76%;
left: 241.5%;
}
#hsmith2 {
top: 85%;
left: 242%;
}
#stn34Name {
left: 253.2%;
}
#circle2 {
top: 73%;
left: 252%;
}
}
@media only screen and (max-width: 1024px) {
.amershamBranchStnsOneLine {
top: 43%;
}
.amershamBranchStnsTwoLines {
top: 40%;
}
.uxbridgeBranchStnsOneLine {
top: 83%;
}
.uxbridgeBranchStnsTwoLines {
top: 80%;
}
.harrowToAldgateRouteStnsOneLine {
top: 63%;
}
.harrowToAldgateRouteStnsTwoLines {
top: 60%;
}
#nrLogo1 {
left: 3.1%;
}
#stn1Name {
left: 1.5%;
}
#lineEnd1 {
top: 29.1%;
}
#stn2Name {
left: 1.3%;
}
#nrLogo2 {
left: 23.6%;
}
#stn3Name {
left: 22.3%;
}
#stn4Name {
left: 30.3%;
}
#nrLogo3 {
left: 43.6%;
}
#stn5Name {
left: 40.4%;
}
#stn6Name {
top: 31.5%;
}
#stn7Name {
top: 21.4%;
}
#stn8Name {
left: 63.4%;
}
#stn9Name {
left: 71.3%;
}
#stn10Name {
left: 81.3%;
}
#stn11Name {
left: 93.1%;
}
#stn12Name {
left: 102.6%;
}
#stn13Name {
left: 102.6%;
}
#stn14Name {
left: 93%;
}
#stn15Name {
left: 82.2%;
}
#stn16Name {
left: 72.9%;
}
#stn17Name {
left: 62.9%;
}
#stn18Name {
left: 51.8%;
}
#stn19Name {
left: 41.8%;
}
#stn20Name {
left: 32%;
}
#nrLogo4 {
left: 123.6%;
}
#stn21Name {
left: 121.8%;
}
#stn22Name {
left: 131.7%;
}
#stn23Name {
left: 142.6%;
}
#stn24Name {
left: 152.4%;
}
#stn25Name {
left: 162.8%;
}
#stn26Name {
left: 173.7%;
}
#stn27Name {
top: 57%;
left: 182.1%;
}
#nrLogo5 {
left: 193.6%;
}
#stn28Name {
left: 193.2%;
}
#nrLogo6 {
left: 203.6%;
}
#nrLogo7 {
left: 213.6%;
}
#stn30Name {
left: 211.9%;
}
#stn31Name {
left: 222%;
}
#nrLogo8 {
left: 233.6%;
}
#stn32Name {
left: 232.2%;
}
#nrLogo9 {
left: 243.6%;
}
#stn33Name {
left: 242.3%;
}
#stn34Name {
left: 252.9%;
}
}
@media only screen and (max-width: 800px) {
.amershamBranchStnsTopPosition {
top: 49.1%;
}
.uxbridgeBranchStnsTopPosition {
top: 89.1%;
}
.harrowToAldgateRouteStnsTopPosition {
top: 69.1%;
}
#nrLogo1 {
left: 2.6%;
}
#stn1Name {
left: 1.3%;
}
#lineEnd1 {
top: 29%;
}
#stn2Name {
left: 1.2%;
}
#nrLogo2 {
left: 23.1%;
}
#stn3Name {
left: 22.2%;
}
#stn4Name {
left: 30.1%;
}
#nrLogo3 {
left: 43.1%;
}
#stn5Name {
left: 40.2%;
}
#nonInterchange2 {
left: 55.6%;
}
#stn6Name {
top: 31.3%;
}
#stn7Name {
top: 21.2%;
}
#stn8Name {
left: 63.3%;
}
#stn9Name {
left: 71.1%;
}
#stn10Name {
left: 81.1%;
}
#stn11Name {
left: 93%;
}
#stn12Name {
left: 102.5%;
}
#stn13Name {
left: 102.5%;
}
#stn14Name {
left: 92.9%;
}
#stn15Name {
left: 82.1%;
}
#stn16Name {
left: 72.8%;
}
#stn17Name {
left: 62.8%;
}
#stn18Name {
left: 51.7%;
}
#stn19Name {
left: 41.7%;
}
#stn20Name {
left: 31.9%;
}
#nrLogo4 {
left: 123.1%;
}
#stn21Name {
left: 121.9%;
}
#stn22Name {
left: 131.6%;
}
#stn23Name {
left: 142.5%;
}
#stn24Name {
left: 152.3%;
}
#nrLogo5 {
left: 193.1%;
}
#nrLogo6 {
left: 203.1%;
}
#nrLogo7 {
left: 213.1%;
}
#nrLogo8 {
left: 233.1%;
}
#nrLogo9 {
left: 243.1%;
}
}